:root,
html {
  /* ========================================================================
     Motion Duration Variables
     ======================================================================= */

  /* Instantaneous */
  --tds-motion-duration-instant: 0ms;

  /* Fast durations */
  --tds-motion-duration-fast-01: 100ms;
  --tds-motion-duration-fast-02: 150ms;

  /* Moderate durations */
  --tds-motion-duration-moderate-01: 200ms;
  --tds-motion-duration-moderate-02: 300ms;

  /* Slow durations */
  --tds-motion-duration-slow-01: 400ms;
  --tds-motion-duration-slow-02: 500ms;

  /* ========================================================================
     Motion Easing Variables
     ======================================================================= */

  /* Scania-standard easing */
  --tds-motion-easing-scania: cubic-bezier(0.4, 0, 0, 1);

  /* Easing for entering elements (e.g., sliding in or zooming in) */
  --tds-motion-easing-enter: cubic-bezier(0.1, 0.9, 0.2, 1);

  /* Easing for exiting elements (e.g., sliding out or zooming out) */
  --tds-motion-easing-exit: cubic-bezier(0.7, 0, 1, 0.5);

  /* General-purpose easing for smooth animations */
  --tds-motion-easing-easy: cubic-bezier(0.33, 0, 0.67, 1);

  /* Linear easing for uniform motion */
  --tds-motion-easing-linear: cubic-bezier(0, 0, 1, 1);

  /* Ease-in-out easing for combined smooth entrance and exit */
  --tds-motion-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  /* ========================================================================
      Motion Animations Variables
     ======================================================================= */

  /* ### Fade ### */
  --fade-in-animation: tds-fade-in var(--tds-motion-duration-moderate-01)
    var(--tds-motion-easing-linear) forwards;
  --fade-out-animation: tds-fade-out var(--tds-motion-duration-moderate-01)
    var(--tds-motion-easing-linear) forwards;

  /* ### Zoom ### */
  --zoom-in-animation: tds-zoom-in var(--tds-motion-duration-fast-02) var(--tds-motion-easing-enter)
    forwards;
  --zoom-out-animation: tds-zoom-out var(--tds-motion-duration-fast-02)
    var(--tds-motion-easing-exit) forwards;

  /* ### Slide ### */
  --slide-in-top-animation: tds-slide-in-top var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-enter) forwards;
  --slide-in-bottom-animation: tds-slide-in-bottom var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-enter) forwards;
  --slide-in-left-animation: tds-slide-in-left var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-enter) forwards;
  --slide-in-right-animation: tds-slide-in-right var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-enter) forwards;
  --slide-out-top-animation: tds-slide-out-top var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-exit) forwards;
  --slide-out-bottom-animation: tds-slide-out-bottom var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-exit) forwards;
  --slide-out-left-animation: tds-slide-out-left var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-exit) forwards;
  --slide-out-right-animation: tds-slide-out-right var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-exit) forwards;

  /* ### Slide Short ### */
  --slide-top-short-animation: tds-slide-top-short var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-enter) forwards;
  --slide-bottom-short-animation: tds-slide-bottom-short var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-enter) forwards;
  --slide-left-short-animation: tds-slide-left-short var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-enter) forwards;
  --slide-right-short-animation: tds-slide-right-short var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-enter) forwards;

  /* ### Collapse ### */
  --collapse-in-animation: tds-collapse-in var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-enter) forwards;
  --collapse-out-animation: tds-collapse-out var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-exit) forwards;

  /* ### Rotate ### */
  --rotate-animation: tds-rotate var(--tds-motion-duration-slow-02) var(--tds-motion-easing-linear)
    forwards;

  /* ### Shake ### */
  --shake-animation: tds-shake var(--tds-motion-duration-slow-02) var(--tds-motion-easing-linear)
    forwards;

  /* ### Blink ### */
  --blink-animation: tds-blink calc(var(--tds-motion-duration-slow-02) * 2)
    var(--tds-motion-easing-scania) infinite;

  /* ### Pulse ### */
  --pulse-animation: tds-pulse calc(var(--tds-motion-duration-slow-02) * 2)
    var(--tds-motion-easing-scania) infinite;

  /* ### Elevate ### */
  --elevate-enter-animation: tds-fade-in var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-linear) forwards,
    tds-slide-in-bottom-hidden var(--tds-motion-duration-slow-02) var(--tds-motion-easing-scania)
    forwards,
    tds-zoom-in-hidden var(--tds-motion-duration-slow-02) var(--tds-motion-easing-scania) forwards;
  --elevate-exit-animation: tds-fade-out var(--tds-motion-duration-slow-02)
    var(--tds-motion-easing-exit) forwards,
    tds-slide-out-bottom-hidden var(--tds-motion-duration-slow-02) var(--tds-motion-easing-exit)
    forwards,
    tds-zoom-out var(--tds-motion-duration-slow-02) var(--tds-motion-easing-exit) forwards;
}
