tds-badge {
  --tds-badge-background-color: var(--component-badge-background-default);
  --tds-badge-color-text: var(--component-badge-text-default);
  --tds-badge-border-radius: var(--component-badge-border-radius-default);
}
