@use '../../../../mixins/focus-state' as *;
@use '../../../../mixins/box-sizing' as *;
@use '../../../../../../../typography/mixins/type-styles' as *;

:host {
  @include tds-box-sizing;

  position: relative;

  ::slotted(*) {
    all: unset;
    min-width: 142px;
    display: block;
    width: calc(100% - 32px);

    /* !important is needed here to prevent this from being overwritten by our CSS-reset. */
    @include title-01;

    cursor: pointer;
    padding: 16px;
    white-space: nowrap;
    text-decoration: none;
    text-align: left;
    outline: none;
    border: none;
  }

  ::slotted(*:focus-within)::before {
    @include tds-focus-state;

    content: '';
    position: absolute;
    inset: 3px;
  }

  div:not(.selected) {
    background-color: var(--tds-folder-tab-background);
    position: relative;
    border-left: 1px solid var(--tds-folder-tab-divider-color);

    ::slotted(*) {
      border-top: 2px solid transparent;
      color: var(--tds-folder-tab-item-color);
    }

    &:hover:not(.disabled) {
      background-color: var(--tds-folder-tab-background-hover);
      cursor: pointer;

      ::slotted(*) {
        color: var(--tds-folder-tab-item-color);
      }
    }

    &.disabled {
      background-color: var(--tds-folder-tab-item-background-disabled);
      opacity: var(--tds-folder-tab-item-opacity-disabled);
      border-left: 1px solid var(--tds-folder-tab-divider-color);

      ::slotted(*) {
        color: var(--tds-folder-tab-item-color);
      }

      ::slotted(*:focus-visible)::before {
        outline: none;
      }

      ::slotted(*:hover) {
        cursor: not-allowed;
      }

      ::slotted(*::after) {
        content: none;
      }
    }
  }

  .selected {
    background-color: var(--tds-folder-tab-background-selected);
    border-top: 2px solid var(--tds-folder-tab-border-selected);

    ::slotted(*) {
      color: var(--tds-folder-tab-item-color-selected);
    }
  }
}

:host(.first) {
  ::slotted(*) {
    border-left-color: transparent;
  }

  .selected {
    border-left: none;
  }
}
