@use '../../../../mixins/focus-state' as *;
@use '../../../../mixins/box-sizing' as *;

:host {
  @include tds-box-sizing;

  position: relative;

  ::slotted(*) {
    all: unset;
    min-width: 142px;
    display: block;
    width: calc(100% - 32px);

    /* !important is needed here to prevent this from being overwritten by our CSS-reset. */
    font: var(--tds-headline-07) !important;
    letter-spacing: var(--tds-headline-07-ls) !important;
    cursor: pointer;
    padding: 16px;
    white-space: nowrap;
    text-decoration: none;
    text-align: left;
    outline: none;
    border: none;
  }

  ::slotted(*:focus-within)::before {
    @include tds-focus-state;

    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
  }

  div:not(.selected) {
    background-color: var(--tds-folder-tab-background);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: var(--tds-folder-tab-divider-color);
    }

    ::slotted(*) {
      border-top: 2px solid transparent;
      color: var(--tds-folder-tab-item-color);
    }

    &:hover:not(.disabled) {
      background-color: var(--tds-folder-tab-background-hover);
      cursor: pointer;

      ::slotted(*) {
        border-top: 2px solid var(--tds-folder-tab-top-border-hover);
        color: var(--tds-folder-tab-color);
      }
    }

    &.disabled {
      background-color: var(--tds-folder-tab-item-background-disabled);

      ::slotted(*) {
        color: var(--tds-folder-tab-item-color-disabled);
      }

      ::slotted(*:focus-visible) {
        outline: none;
      }

      ::slotted(*:hover) {
        cursor: not-allowed;
      }

      ::slotted(*::after) {
        content: none;
      }
    }
  }

  .selected {
    background-color: var(--tds-folder-tab-background-selected);
    border-top: 2px solid var(--tds-folder-tab-border-selected);

    &::after {
      content: ' ';
      background-color: var(--tds-folder-tab-divider-color);
      width: 1px;
      top: 0;
      bottom: 0;
      right: -1px;
      display: block;
      position: absolute;
      z-index: 1;
    }

    ::slotted(*) {
      color: var(--tds-folder-tab-color);
    }

    // Hover
    &:hover:not(.disabled) {
      background-color: var(--tds-folder-tab-background-hover);
      cursor: pointer;

      ::slotted(*) {
        color: var(--tds-folder-tab-color);
      }
    }
  }
}

:host(.first) {
  ::slotted(*) {
    border-left-color: transparent;
  }

  .selected {
    border-left: none;
  }
}
