@import '../../../../mixins/focus-state';
@import '../../../../mixins/box-sizing';

:host {
  @include tds-box-sizing;

  position: relative;

  ::slotted(*) {
    all: unset;
    min-width: 142px;
    display: block;
    width: calc(100% - 32px);

    /* !important is needed here to prevent this from being overwritten by our CSS-reset. */
    font-family: var(--headline-07-font-family) !important;
    font-size: var(--headline-07-font-size) !important;
    line-height: var(--headline-07-line-height) !important;
    font-weight: var(--headline-07-font-weight) !important;
    letter-spacing: var(--headline-07-letter-spacing) !important;
    text-transform: var(--headline-07-text-transform) !important;
    cursor: pointer;
    padding: 16px;
    white-space: nowrap;
    text-decoration: none;
    text-align: left;
    outline: none;
    border: none;
    border-left: 1px solid;
    border-left-color: transparent;
  }

  ::slotted(*:focus-visible) {
    @include tds-focus-state;
  }

  div:not(.selected) {
    background-color: var(--folder-tab-surface);

    ::slotted(*) {
      border-left-color: var(--folder-tab-divider-text);
      border-top: 2px solid var(--folder-tab-surface);
      color: var(--folder-tab-item-text);
    }

    &:hover:not(.disabled) {
      background-color: var(--folder-tab-surface-hover);
      cursor: pointer;

      ::slotted(*) {
        border-top-color: var(--folder-tab-surface-hover);
        color: var(--folder-tab-text);
      }
    }

    &.disabled {
      ::slotted(*) {
        color: var(--folder-tab-item-text-disabled);
      }

      ::slotted(*:focus-visible) {
        outline: none;
      }

      ::slotted(*:hover) {
        cursor: not-allowed;
      }

      ::slotted(*::after) {
        content: none;
      }
    }
  }

  .selected {
    background-color: var(--folder-tab-surface-selected);
    border-top: 2px solid var(--folder-tab-border-selected);

    &::after {
      content: ' ';
      background-color: var(--folder-tab-surface-selected);
      width: 1px;
      top: 0;
      bottom: 0;
      right: -1px;
      display: block;
      position: absolute;
      z-index: 1;
    }

    ::slotted(*) {
      color: var(--folder-tab-text);
    }
  }
}

:host(.first) {
  :not(.selected) {
    ::slotted(*) {
      border-left-color: transparent;
    }
  }
}
