@mixin tds-dropdown-border {
  border-bottom: var(--tds-dropdown-border-bottom-width) solid var(--tds-dropdown-border-color);
  border-left: var(--tds-dropdown-border-left-width) solid var(--tds-dropdown-border-color);
  border-right: var(--tds-dropdown-border-right-width) solid var(--tds-dropdown-border-color);
  border-top: var(--tds-dropdown-border-top-width) solid var(--tds-dropdown-border-color);
  border-radius: var(--tds-dropdown-border-radius);
}

@mixin tds-dropdown-border-hover {
  border-bottom: var(--tds-dropdown-border-bottom-width) solid
    var(--tds-dropdown-border-color-hover);
  border-left: var(--tds-dropdown-border-left-width) solid var(--tds-dropdown-border-color-hover);
  border-right: var(--tds-dropdown-border-right-width) solid var(--tds-dropdown-border-color-hover);
  border-top: var(--tds-dropdown-border-top-width) solid var(--tds-dropdown-border-color-hover);
  border-radius: var(--tds-dropdown-border-radius);
}

@mixin tds-dropdown-border-error {
  border-bottom: var(--tds-dropdown-border-bottom-width) solid var(--tds-dropdown-error);
  border-left: var(--tds-dropdown-border-left-width) solid var(--tds-dropdown-error);
  border-right: var(--tds-dropdown-border-right-width) solid var(--tds-dropdown-error);
  border-top: var(--tds-dropdown-border-top-width) solid var(--tds-dropdown-error);
  border-radius: var(--tds-dropdown-border-radius);
}

@mixin tl-dropdown-border {
  border-bottom: var(--dropdown-border-bottom-width) solid var(--dropdown-border);
  border-left: var(--dropdown-border-left-width) solid var(--dropdown-border);
  border-right: var(--dropdown-border-right-width) solid var(--dropdown-border);
  border-top: var(--dropdown-border-top-width) solid var(--dropdown-border);
  border-radius: var(--dropdown-border-radius);
}

@mixin tl-dropdown-border-hover {
  border-bottom: var(--dropdown-border-bottom-width) solid var(--dropdown-border-hover);
  border-left: var(--dropdown-border-left-width) solid var(--dropdown-border-hover);
  border-right: var(--dropdown-border-right-width) solid var(--dropdown-border-hover);
  border-top: var(--dropdown-border-top-width) solid var(--dropdown-border-hover);
  border-radius: var(--dropdown-border-radius);
}

@mixin tl-dropdown-border-error {
  border-bottom: var(--dropdown-border-bottom-width) solid var(--dropdown-error);
  border-left: var(--dropdown-border-left-width) solid var(--dropdown-error);
  border-right: var(--dropdown-border-right-width) solid var(--dropdown-error);
  border-top: var(--dropdown-border-top-width) solid var(--dropdown-error);
  border-radius: var(--dropdown-border-radius);
}
