@use '../../../../../../tokens/scss/component/stepper';

.tl-stepper {
  // Current
  --stepper-current-number-with-border: var(--color-border-strong);

  // Warning
  --stepper-icon-step-border-warning: var(--color-system-danger-default);

  // Success
  --stepper-icon-step-border-success: var(--component-stepper-success);
  --stepper-icon-step-checkmark: var(--color-icon-inverse-strong);

  // Upcoming
  --stepper-label-text-upcoming: var(--color-text-disabled);
  --stepper-label-border-upcoming: var(--color-border-discrete);

  // Divider
  --stepper-divider-line: var(--color-icon-disabled);
}
