@use '../../../../../../tokens/scss/component/stepper';

.tl-stepper {
  // Current
  --stepper-icon-step-border-color-current: var(--component-stepper-border-current-default);
  --stepper-icon-step-background-color-current: var(--component-stepper-background-current-default);
  --stepper-icon-step-color-current: var(--component-stepper-text-index-current-default);

  // Warning
  --stepper-icon-step-border-warning: var(--color-system-danger-default);
  --stepper-icon-step-color-warning: var(--component-stepper-icon-error-default);
  --stepper-icon-step-backgound-warning: var(--component-stepper-background-error-default);

  // Success
  --stepper-icon-step-border-success: var(--component-stepper-border-success-default);
  --stepper-icon-step-color-success: var(--component-stepper-icon-success-default);
  --stepper-icon-step-background-succes: var(--component-stepper-background-success-default);

  // Upcoming
  --stepper-label-text-upcoming: var(--component-stepper-text-index-default);
  --stepper-label-border-upcoming: var(--component-stepper-border-item-default);
  --stepper-label-background-upcoming: var(--component-stepper-background-item-default); // new

  // Divider
  --stepper-divider-line: var(--component-stepper-border-divider-default);
  --stepper-border-radius: calc(var(--component-stepper-border-radius-default) * 1px);
}
