@use '../../../mixins/box-sizing' as *;
@use '../../../../../../typography/mixins/type-styles' as *;
@use './tl-stepper-vars' as *;

@mixin divider {
  content: ' ';
  position: absolute;
  background-color: var(--stepper-divider-line);
}

.tl-stepper__step {
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .tl-stepper--label-below & {
    flex-direction: column;
  }

  .tl-stepper--lg & {
    @include detail-01;

    padding: 0 20px;
  }

  .tl-stepper--sm & {
    @include detail-05;

    padding: 0 20px;
  }

  .tl-stepper--horizontal:not(.tl-stepper--label-aside) .tl-stepper__list > & {
    flex: 1 1 0;
    min-inline-size: 60px; // Prevent overlap: node (30px) + label + spacing
  }

  .tl-stepper--horizontal.tl-stepper--label-aside .tl-stepper__list > & {
    flex: 0 0 auto;
    min-inline-size: auto;
  }

  .tl-stepper--horizontal.tl-stepper--label-aside.tl-stepper--hide-labels .tl-stepper__list > & {
    min-inline-size: 40px;
  }

  .tl-stepper--horizontal.tl-stepper--sm:not(.tl-stepper--label-aside) .tl-stepper__list > & {
    min-inline-size: 40px;
  }

  .tl-stepper--horizontal.tl-stepper--sm.tl-stepper--label-aside.tl-stepper--hide-labels
  .tl-stepper__list
  > & {
    min-inline-size: 48px;
  }

  .tl-stepper--lg &:last-of-type,
  .tl-stepper--sm &:last-of-type {
    &::after {
      display: none;
    }
  }

  .tl-stepper--vertical.tl-stepper--lg &:last-of-type,
  .tl-stepper--vertical.tl-stepper--sm &:last-of-type {
    &::after {
      display: none;
    }
  }

  .tl-stepper--lg & {
    &::after {
      @include divider;
    }
  }

  .tl-stepper--lg.tl-stepper--vertical & {
    &::after {
      height: 36px;
      width: 1px;
      top: 40px;
      left: 36px;
    }
  }

  .tl-stepper--lg.tl-stepper--horizontal & {
    &::after {
      height: 1px;
      left: calc(50% + 15px + 8px);
      right: calc(-100% + 50% + 15px + 8px);
      top: 16px;
    }
  }

  .tl-stepper--lg.tl-stepper--horizontal.tl-stepper--label-aside:not(.tl-stepper--hide-labels) & {
    &::after {
      height: 1px;
      top: 16px;
      width: 10px;
      left: auto;
      right: -10px;
    }
  }

  .tl-stepper--sm.tl-stepper--vertical & {
    &::after {
      @include divider;

      height: 20px;
      width: 1px;
      top: 34px;
      left: 32px;
    }
  }

  .tl-stepper--sm.tl-stepper--horizontal & {
    &::after {
      @include divider;

      height: 1px;
      left: calc(50% + 12px + 8px);
      right: calc(-100% + 50% + 12px + 8px);
      top: 13px;
    }
  }

  .tl-stepper--sm.tl-stepper--horizontal.tl-stepper--label-aside:not(.tl-stepper--hide-labels) & {
    &::after {
      @include divider;

      height: 1px;
      top: 13px;
      width: 10px;
      left: auto;
      right: -10px;
    }
  }
}

.tl-stepper__node {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  position: relative;

  .tl-stepper--lg & {
    height: 30px;
    min-width: 30px;
    font-size: 14px;
  }

  .tl-stepper--sm & {
    height: 24px;
    min-width: 24px;
  }

  .tl-stepper__step--error & {
    border-color: var(--stepper-icon-step-border-warning);
    color: var(--stepper-icon-step-border-warning);
  }

  .tl-stepper__step--success & {
    background-color: var(--stepper-icon-step-border-success);
    border-color: var(--stepper-icon-step-border-success);
    color: var(--stepper-icon-step-checkmark);
  }

  .tl-stepper__step--current & {
    color: var(--stepper-current-number-with-border);
  }

  .tl-stepper__step--upcoming & {
    border-color: var(--stepper-label-border-upcoming);
    color: var(--stepper-label-text-upcoming);
  }

  .tl-stepper__step--success &,
  .tl-stepper__step--error & {
    justify-content: center;

    &::after {
      content: '';
      display: block;
      width: 20px; // Default to lg size
      height: 20px;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      background-color: currentcolor;
    }
  }

  .tl-stepper__step--success &::after {
    mask-image: var(--icon-tick-svg);
  }

  .tl-stepper__step--error &::after {
    mask-image: var(--icon-warning-svg);
  }
}

// Override icon size for small variant
.tl-stepper--sm .tl-stepper__step--success .tl-stepper__node::after,
.tl-stepper--sm .tl-stepper__step--error .tl-stepper__node::after {
  width: 16px;
  height: 16px;
}

.tl-stepper__label {
  text-align: center;

  .tl-stepper--lg & {
    @include detail-01;

    font-size: 14px;
  }

  .tl-stepper--sm & {
    @include detail-05;
  }

  .tl-stepper__step--upcoming & {
    color: var(--stepper-label-text-upcoming);
    opacity: var(--tds-stepper-label-text-opacity-upcoming);
  }

  .tl-stepper--hide-labels & {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }
}
