h4 {
  box-sizing: border-box;
  color: var(--header-nav-item);
  font-weight: var(--component-header-font-weight);
  font-family: var(--component-header-font-family-headline);
  text-transform: var(--component-header-text-transform);
  letter-spacing: normal;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  slot {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 32px 0 16px;
  }
}
