@use '../../../../../../typography/mixins/type-styles' as *;

h4 {
  @include headline-06;

  box-sizing: border-box;
  color: var(--tds-header-nav-item-color);
  font-family: var(--tds-header-title-font-family);
  font-weight: var(--tds-header-title-font-weight);
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  slot {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 32px 0 24px;
  }
}
