@use '../../../../../../typography/mixins/type-styles' as *;
@use '../../../../../../grid-deprecated/vars' as *;

.tl-footer__group {
  display: block;

  &.tl-footer__main-top--start {
    display: flex;
  }
}

.tl-footer__top-title {
  @include headline-07;

  color: var(--footer-top-links-desktop);
  margin: 0;
}

.tl-footer__link {
  @include headline-07;

  color: var(--footer-top-links);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: var(--dimension-radius-focus-width) solid var(--color-foreground-border-accent-focus);
    box-shadow: 0 0 0 1px var(--color-brand-neutral-white);
    outline-offset: 1px;
    z-index: 1;
  }
}

@media (max-width: $grid-lg) {
  .tl-footer__group .tl-footer__link {
    display: none;
  }

  .tl-footer__group--expanded .tl-footer__link {
    display: block;
    border-bottom: 1px solid var(--footer-top-divider);
    padding: 19.5px 40px;
    font-weight: normal;

    &:hover {
      background-color: var(--footer-top-links-background-hover);
    }
  }

  .tl-footer__top-title {
    @include headline-07;

    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    color: var(--footer-top-links);
    padding: 19.5px 52px 19.5px 24px;
    position: relative;
    border-bottom: 1px solid var(--footer-top-divider);
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-color: var(--footer-top-links);
      mask-image: var(--icon-chevron_down-svg);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      transition: transform 0.3s ease;
    }

    &:active {
      background-color: var(--footer-top-button-active);
    }

    &:focus-visible {
      outline: var(--dimension-radius-focus-width) solid var(--color-foreground-border-accent-focus);
      box-shadow: 0 0 0 1px var(--color-brand-neutral-white);
      outline-offset: 1px;
      z-index: 1;
    }
  }

  .tl-footer__group--expanded .tl-footer__top-title::after {
    transform: translateY(-50%) rotate(180deg);
  }
}
