@use '../../../../../../typography/mixins/type-styles';

.tl-footer__group {
  display: block;

  &.tl-footer__main-top--start {
    display: flex;
  }
}

.tl-footer__top-title {
  @include headline-07;

  color: var(--footer-top-links-desktop);
  margin: 0;
}

@media (max-width: $grid-lg) {
  .tl-footer__top-title-button {
    @include headline-07;

    border: none;
    width: 100%;
    color: var(--footer-top-links);
    background-color: transparent;
    text-align: left;
    padding: 19px 24px;
    justify-content: space-between;
    border-bottom: 1px solid var(--footer-top-divider);

    * {
      margin: 0;
    }

    &--expanded .tl-icon {
      transform: rotateZ(180deg);
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: var(--footer-top-button-active);
    }

    &:focus-visible {
      outline: var(--dimension-radius-focus-width) solid var(--color-foreground-border-accent-focus);
      box-shadow: 0 0 0 1px var(--color-brand-neutral-white);
      outline-offset: 1px;
      z-index: 1;
    }
  }

  .tl-footer__top-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    &--closed {
      display: none;
    }
  }

  .tl-footer__group--mobile-view {
    & button.tl-footer__top-title-button {
      display: flex;
      align-items: center;
    }
  }
}
