@use '../../../../../../typography/mixins/type-styles' as *;
@use '../../../mixins/focus-state' as *;

.tl-footer__main {
  .tl-footer__link {
    @include headline-07;

    display: inline-block;
    color: var(--footer-main-links);
    text-decoration: none;

    &:focus-visible {
      @include tds-focus-state;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
