@use '../../../../../../tokens/scss/component/footer';

.tl-footer {
  --footer-top-background-primary: var(--component-footer-background-top-default);
  --footer-top-background-secondary: var(--component-footer-background-top-secondary);
  --footer-top-background: var(--component-footer-background-top-default);
  --footer-top-divider: var(--color-border-discrete);
  --footer-top-links-desktop: var(--component-footer-text-title-default);
  --footer-top-links: var(--component-footer-text-link-default);
  --footer-top-links-background-hover: var(--component-footer-background-list-item-active);
  --footer-top-button-active: var(--component-footer-background-list-item-active);
  --footer-main-background: var(--component-footer-background-main-default);
  --footer-main-links: var(--component-footer-text-inverse-link-default);
  --footer-main-divider: var(--component-footer-border-divider-default);
  --footer-main-copyright: var(--component-footer-text-copyright-default);

  &.tl-footer--primary {
    --footer-top-background: var(--footer-top-background-primary);
  }

  &.tl-footer--secondary {
    --footer-top-background: var(--footer-top-background-secondary);
  }
}
