tds-accordion {
  /* Border & Background */
  --accordion-border: var(--color-foreground-border-discrete);
  --accordion-background: transparent;

  /* Hover backgrounds */
  --accordion-background-hover-primary: var(--color-background-layer-01);
  --accordion-background-hover-secondary: var(--color-background-base);
  --accordion-background-hover: var(--accordion-background-hover-primary);

  /* Focus & Active states */
  --accordion-background-focus: var(--color-background-surface-100);
  --accordion-background-active: var(--color-background-surface-100);

  /* Text & Icon colours */
  --accordion-text: var(--color-foreground-text-strong);
  --accordion-icon: var(--foreground-elements-transparparent-strong); /* icon */

  /* Borders & Disabled */
  --accordion-border-focus: var(--tds-grey-500);
  --accordion-text-disabled: var(--color-foreground-text-disabled);
}

// Override global background colors for accordion specifically with higher specificity
.tds-mode-light tds-accordion.tds-mode-variant-primary,
.tds-mode-light tds-accordion .tds-mode-variant-primary {
  background-color: var(---accordion-background-hover-secondary);

  --accordion-background-hover: var(--accordion-background-hover-primary);
}

.tds-mode-light tds-accordion.tds-mode-variant-secondary,
.tds-mode-light tds-accordion .tds-mode-variant-secondary {
  background-color: var(--accordion-background-hover-primary);

  --accordion-background-hover: var(--accordion-background-hover-secondary);
}

.tds-mode-dark tds-accordion.tds-mode-variant-primary,
.tds-mode-dark tds-accordion .tds-mode-variant-primary {
  background-color: var(--accordion-background-hover-secondary);

  --accordion-background-hover: var(--accordion-background-hover-primary);
}

.tds-mode-dark tds-accordion.tds-mode-variant-secondary,
.tds-mode-dark tds-accordion .tds-mode-variant-secondary {
  background-color: var(--accordion-background-hover-primary);

  --accordion-background-hover: var(--accordion-background-hover-secondary);
}
