tds-accordion {
  --tds-accordion-background: var(--component-accordion-background-primary-default);
  --tds-accordion-background-hover-primary: var(--component-accordion-background-primary-hover);
  --tds-accordion-background-hover-secondary: var(--component-accordion-background-secondary-hover);
  --tds-accordion-background-hover: var(--tds-accordion-background-hover-primary);
  --tds-accordion-background-focus: var(--color-background-none);
  --tds-accordion-background-active: var(--component-accordion-background-primary-active);
  --tds-accordion-color: var(--component-accordion-text-default);
  --tds-accordion-color-disabled: var(--color-text-disabled);
  --tds-accordion-icon-color: var(--component-accordion-icon-default);
  --tds-accordion-border: var(--color-border-subtle);
  --tds-accordion-border-hover: var(--color-border-strong);
  --tds-accordion-border-focus: var(--color-border-defined);
  --tds-accordion-opacity-disabled: calc(var(--component-accordion-opacity-disabled) / 100);
}

.tds-mode-variant-primary tds-accordion,
tds-accordion.tds-mode-variant-primary {
  --tds-accordion-background: var(--component-accordion-background-primary-default);
  --tds-accordion-background-hover: var(--tds-accordion-background-hover-primary);
  --tds-accordion-background-active: var(--component-accordion-background-primary-active);
}

.tds-mode-variant-secondary tds-accordion,
tds-accordion.tds-mode-variant-secondary {
  --tds-accordion-background: var(--component-accordion-background-secondary-default);
  --tds-accordion-background-hover: var(--tds-accordion-background-hover-secondary);
  --tds-accordion-background-active: var(--component-accordion-background-secondary-active);
}
