@use '../../mixins/focus-state' as *;
@use '../../mixins/disabled-style' as *;
@use '../../mixins/box-sizing' as *;

:host {
  display: block;
  @include tds-box-sizing;

  background-color: transparent;

  .tds-accordion-header-icon-start,
  .tds-accordion-header-icon-end {
    position: relative;
  }
}

:host(:active) {
  .tds-accordion-item {
    .tds-accordion-header-icon-start,
    .tds-accordion-header-icon-end {
      background-color: var(--tds-accordion-background-active);
      outline: none;
    }
  }

  .disabled {
    @include tds-disabled-style;
  }
}

:host(:last-child) {
  border-bottom: 1px solid var(--tds-accordion-border);
}

:host(.hide-last-border:last-child) {
  border-bottom: none;
}

:host(.tds-mode-variant-secondary),
:host(.tl-mode-variant-secondary) {
  background-color: var(--tds-accordion-background);
}

:host(.tds-mode-variant-primary),
:host(.tl-mode-variant-primary) {
  background-color: var(--tds-accordion-background);
}
