.tds-mode-light {
  --tds-toggle-switch: var(--tds-white);
  --tds-toggle-switch-disabled: var(--tds-grey-200);
  --tds-toggle-headline: var(--tds-grey-700);
  --tds-toggle-headline-disabled: var(--tds-grey-600);
  --tds-toggle-on-slider: var(--tds-positive);
  --tds-toggle-on-slider-hover: var(--tds-positive);
  --tds-toggle-on-slider-focus: var(--tds-positive);
  --tds-toggle-on-slider-pressed: var(--tds-positive);
  --tds-toggle-on-border-focus: var(--tds-positive);
  --tds-toggle-on-slider-disabled: var(--tds-grey-400);
  --tds-toggle-slider-disabled: var(--tds-grey-400);
  --tds-toggle-label-color: var(--tds-grey-958);
  --tds-toggle-label-color-disabled: var(--tds-grey-600);
  --tds-toggle-off-slider: var(--tds-grey-500);
  --tds-toggle-off-slider-hover: var(--tds-grey-600);
  --tds-toggle-off-slider-focus: var(--tds-grey-600);
  --tds-toggle-off-slider-pressed: var(--tds-grey-700);
  --tds-toggle-off-border-focus: var(--tds-grey-800);
}

.tds-mode-dark {
  --tds-toggle-switch: var(--tds-white);
  --tds-toggle-switch-disabled: var(--tds-grey-200);
  --tds-toggle-headline: var(--tds-grey-100);
  --tds-toggle-headline-disabled: var(--tds-grey-700);
  --tds-toggle-on-slider: var(--tds-positive);
  --tds-toggle-on-slider-hover: var(--tds-positive);
  --tds-toggle-on-slider-focus: var(--tds-positive);
  --tds-toggle-on-slider-pressed: var(--tds-positive);
  --tds-toggle-on-border-focus: var(--tds-positive);
  --tds-toggle-on-slider-disabled: var(--tds-grey-800);
  --tds-toggle-slider-disabled: var(--tds-grey-400);
  --tds-toggle-label-color: var(--tds-white);
  --tds-toggle-label-color-disabled: var(--tds-grey-400);
  --tds-toggle-off-slider: var(--tds-grey-500);
  --tds-toggle-off-slider-hover: var(--tds-grey-600);
  --tds-toggle-off-slider-focus: var(--tds-grey-600);
  --tds-toggle-off-slider-pressed: var(--tds-grey-700);
  --tds-toggle-off-border-focus: var(--tds-grey-800);
}
