@use '../../../../../../tokens/scss/component-stubs/popover-menu';

.tl-popover-menu {
  --popover-menu-text: var(--component-popover-menu-text-default);
  --popover-menu-background: var(--component-popover-menu-background-primary-default);
  --popover-menu-background-hover: var(--component-popover-menu-background-primary-hover);
  --popover-menu-item-disabled: var(--component-popover-menu-text-disabled);
  --popover-menu-item-icon-disabled: var(--component-popover-menu-icon-disabled);

  &--primary {
    --popover-menu-background: var(--component-popover-menu-background-primary-default);
    --popover-menu-background-hover: var(--component-popover-menu-background-primary-hover);
  }

  &--secondary {
    --popover-menu-background: var(--component-popover-menu-background-secondary-default);
    --popover-menu-background-hover: var(--component-popover-menu-background-secondary-hover);
  }
}

.scania .tl-popover-menu {
  --popover-menu-box-shadow: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 10%);
}

.traton .tl-popover-menu {
  --popover-menu-box-shadow: none;
}
