:host {
  display: block;
  width: 190px;

  [role='list'] {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: none;
    background-color: var(--tds-header-app-launcher-menu-bg);
  }

  .state-collapsed {
    ::slotted(*) {
      border-bottom: 1px solid var(--tds-sidebar-side-menu-bottom-menu-border-top);
    }
  }
}
