// What is this document for:
// https://stenciljs.com/docs/styling#global-styles
// https://stenciljs.com/docs/config#globalstyle

/* Multibrand tokens: Scania colors */
@use '../../../../color/scania-color-primitives' as *;
@use '../../../../color/scania-brand-usage' as *;

/* Figma design tokens: primitives + semantic colors */
@use '../../../../tokens/scss/scania/primitive' as *;
@use '../../../../tokens/scss/traton/primitive' as *;
@use '../../../../tokens/scss/scania/color-light' as *;
@use '../../../../tokens/scss/scania/color-dark' as *;
@use '../../../../tokens/scss/traton/color-light' as *;
@use '../../../../tokens/scss/traton/color-dark' as *;

/* Figma design tokens: component tokens */
@use '../../../../tokens/scss/component/-focus' as *;
@use '../../../../tokens/scss/component/accordion' as *;
@use '../../../../tokens/scss/component/badge' as *;
@use '../../../../tokens/scss/component/banner' as *;
@use '../../../../tokens/scss/component/breadcrumbs' as *;
@use '../../../../tokens/scss/component/button' as *;
@use '../../../../tokens/scss/component/card' as *;
@use '../../../../tokens/scss/component/chip' as *;
@use '../../../../tokens/scss/component/cookie' as *;
@use '../../../../tokens/scss/component/divider' as *;
@use '../../../../tokens/scss/component/dropdown' as *;
@use '../../../../tokens/scss/component/footer' as *;
@use '../../../../tokens/scss/component/header' as *;
@use '../../../../tokens/scss/component/icon' as *;
@use '../../../../tokens/scss/component/-input' as *;
@use '../../../../tokens/scss/component/link' as *;
@use '../../../../tokens/scss/component/logo' as *;
@use '../../../../tokens/scss/component/message' as *;
@use '../../../../tokens/scss/component/shadow' as *;
@use '../../../../tokens/scss/component/side-menu' as *;
@use '../../../../tokens/scss/component/spinner' as *;
@use '../../../../tokens/scss/component/stepper' as *;
@use '../../../../tokens/scss/component/table' as *;
@use '../../../../tokens/scss/component/modal' as *;
@use '../../../../tokens/scss/component/overlay' as *;
@use '../../../../tokens/scss/component/scrollbar' as *;
@use '../../../../tokens/scss/component/tag' as *;
@use '../../../../tokens/scss/component/text-field' as *;
@use '../../../../tokens/scss/component/textarea' as *;
@use '../../../../tokens/scss/component/toast' as *;
@use '../../../../tokens/scss/component/tooltip' as *;

/* Multibrand tokens: Scania typography */
@use '../../../../typography/tokens/typography-scania' as *;

/* Multibrand tokens: Scania spacing */
@use '../../../../spacing/units' as *;
@use '../../../../spacing/radius' as *;
@use '../../../../spacing/scania-units' as *;

// Motion
@use '../../../../motion' as *;

// Colors
@use '../../../../color/color' as *;

// Grid (Deprecated - will be removed in version 2.0)
@use '../../../../grid-deprecated/grid-deprecated' as *;

// Grid new
@use '../../../../grid/grid' as *;

// Typography
@use '../../../../typography/scania-fonts' as *;
@use '../../../../typography/scania-fonts-vars' as *;
@use '../../../../typography/fonts-selectors' as *;

// Logos
@use '../../../../logotype/logotype-scania' as *;

// Vars
@use '_variables' as *;
@use 'scrollbar-vars' as *;

// Utility classes
@use '_utility-classes' as *;

// Web component theme variables
@use '../components/accordion/accordion-vars' as *;
@use '../components/banner/banner-vars' as *;
@use '../components/badge/badge-vars' as *;
@use '../components/spinner/spinner-vars.scss' as *;
@use '../components/block/block-vars' as *;
@use '../components/breadcrumbs/breadcrumbs-vars' as *;
@use '../components/button/button-vars' as *;
@use '../components/card/card-vars' as *;
@use '../components/checkbox/checkbox-vars' as *;
@use '../components/chip/chip-vars' as *;
@use '../components/table/table-vars' as *;
@use '../components/datetime/datetime-vars' as *;
@use '../components/divider/divider-vars' as *;
@use '../components/dropdown/dropdown-vars' as *;
@use '../components/dropdown/dropdown-option/dropdown-option-vars' as *;
@use '../components/footer/footer-vars' as *;
@use '../components/header/header-item/header-item-global' as *;
@use '../components/header/header-vars' as *;
@use '../components/link/link-vars' as *;
@use '../components/message/message-vars' as *;
@use '../components/modal/modal-vars' as *;
@use '../components/popover-canvas/popover-canvas-vars' as *;
@use '../components/popover-menu/popover-menu-vars' as *;
@use '../components/radio-button/radio-button-vars' as *;
@use '../components/side-menu/side-menu-item/side-menu-item-global' as *;
@use '../components/side-menu/side-menu-vars' as *;
@use '../components/slider/slider-vars' as *;
@use '../components/stepper/stepper-vars' as *;
@use '../components/tag/tag-vars' as *;
@use '../components/tabs/folder-tabs/folder-tabs-vars' as *;
@use '../components/tabs/inline-tabs/inline-tabs-vars' as *;
@use '../components/tabs/navigation-tabs/navigation-tabs-vars' as *;
@use '../components/textarea/textarea-vars' as *;
@use '../components/text-field/text-field-vars' as *;
@use '../components/toast/toast-vars' as *;
@use '../components/toggle/toggle-vars' as *;
@use '../components/tooltip/tooltip-vars' as *;

@use 'shame' as *;

@use 'scania-variables' as *;
@use 'traton-variables' as *;

/* Component tokens */
@use '../../../../tokens/scss/component/-focus' as *;
@use '../../../../tokens/scss/component/accordion' as *;
@use '../../../../tokens/scss/component/badge' as *;
@use '../../../../tokens/scss/component/banner' as *;
@use '../../../../tokens/scss/component/breadcrumbs' as *;
@use '../../../../tokens/scss/component/button' as *;
@use '../../../../tokens/scss/component/card' as *;
@use '../../../../tokens/scss/component/chip' as *;
@use '../../../../tokens/scss/component/cookie' as *;
@use '../../../../tokens/scss/component/divider' as *;
@use '../../../../tokens/scss/component/dropdown' as *;
@use '../../../../tokens/scss/component/footer' as *;
@use '../../../../tokens/scss/component/header' as *;
@use '../../../../tokens/scss/component/icon' as *;
@use '../../../../tokens/scss/component/-input' as *;
@use '../../../../tokens/scss/component/link' as *;
@use '../../../../tokens/scss/component/logo' as *;
@use '../../../../tokens/scss/component/message' as *;
@use '../../../../tokens/scss/component/shadow' as *;
@use '../../../../tokens/scss/component/side-menu' as *;
@use '../../../../tokens/scss/component/spinner' as *;
@use '../../../../tokens/scss/component/stepper' as *;
@use '../../../../tokens/scss/component/table' as *;
@use '../../../../tokens/scss/component/modal' as *;
@use '../../../../tokens/scss/component/overlay' as *;
@use '../../../../tokens/scss/component/scrollbar' as *;
@use '../../../../tokens/scss/component/tag' as *;
@use '../../../../tokens/scss/component/text-field' as *;
@use '../../../../tokens/scss/component/textarea' as *;
@use '../../../../tokens/scss/component/toast' as *;
@use '../../../../tokens/scss/component/tooltip' as *;

body {
  font-family: var(--detail-02-font-family);
  font-size: 14px;
  margin: 0;
  flex: 1;
}

:root,
.tds-mode-light {
  color: var(--color-text-strong);
  background-color: var(--color-background-base);

  &.tds-mode-variant-primary,
  & .tds-mode-variant-primary {
    color: var(--color-text-strong);
    background-color: var(--color-background-base);
  }

  &.tds-mode-variant-secondary,
  & .tds-mode-variant-secondary {
    color: var(--color-text-strong);
    background-color: var(--color-background-layer-01);
  }

  & tds-button.tds-mode-variant-primary,
  & tds-button.tds-mode-variant-secondary {
    background-color: transparent;
  }
}

.tds-mode-dark {
  color: var(--color-text-strong);
  background-color: var(--color-background-base);

  &.tds-mode-variant-primary,
  & .tds-mode-variant-primary {
    color: var(--color-text-strong);
    background-color: var(--color-background-base);
  }

  &.tds-mode-variant-secondary,
  & .tds-mode-variant-secondary {
    color: var(--color-text-strong);
    background-color: var(--color-background-layer-01);
  }

  & tds-button.tds-mode-variant-primary,
  & tds-button.tds-mode-variant-secondary {
    background-color: transparent;
  }
}
