// What is this document for:
// https://stenciljs.com/docs/styling#global-styles
// https://stenciljs.com/docs/config#globalstyle

/* Multibrand tokens: Scania colors */
@use '../../../../color/scania-color-primitives' as *;
@use '../../../../color/scania-brand-usage' as *;

/* Multibrand tokens: Scania typography */
@use '../../../../typography/tokens/typography-scania' as *;

/* Multibrand tokens: Scania spacing */
@use '../../../../spacing/units' as *;
@use '../../../../spacing/radius' as *;
@use '../../../../spacing/scania-units' as *;

// Motion
@use '../../../../motion' as *;

// Colors
@use '../../../../color/color' as *;

// Grid (Deprecated - will be removed in version 2.0)
@use '../../../../grid-deprecated/grid-deprecated' as *;

// Grid new
@use '../../../../grid/grid' as *;

// Typography
@use '../../../../typography/scania-fonts' as *;
@use '../../../../typography/scania-fonts-vars' as *;
@use '../../../../typography/scania-fonts-selectors' as *;

// Logos
@use '../../../../logotype/logotype-scania' as *;

// Vars
@use '_variables' as *;
@use 'scrollbar-vars' as *;
@use 'focus-vars' as *;

// Utility classes
@use '_utility-classes' as *;

//Web component theme variables
@use '../components/accordion/accordion-vars' as *;
@use '../components/banner/banner-vars' as *;
@use '../components/block/block-vars' as *;
@use '../components/breadcrumbs/breadcrumbs-vars' as *;
@use '../components/button/button-vars' as *;
@use '../components/card/card-vars' as *;
@use '../components/checkbox/checkbox-vars' as *;
@use '../components/chip/chip-vars' as *;
@use '../components/table/table-vars' as *;
@use '../components/datetime/datetime-vars' as *;
@use '../components/divider/divider-vars' as *;
@use '../components/dropdown/dropdown-vars' as *;
@use '../components/dropdown/dropdown-option/dropdown-option-vars' as *;
@use '../components/footer/footer-vars' as *;
@use '../components/header/header-item/header-item-global' as *;
@use '../components/header/header-vars' as *;
@use '../components/link/link-vars' as *;
@use '../components/message/message-vars' as *;
@use '../components/modal/modal-vars' as *;
@use '../components/popover-canvas/popover-canvas-vars' as *;
@use '../components/popover-menu/popover-menu-vars' as *;
@use '../components/radio-button/radio-button-vars' as *;
@use '../components/side-menu/side-menu-item/side-menu-item-global' as *;
@use '../components/side-menu/side-menu-vars' as *;
@use '../components/slider/slider-vars' as *;
@use '../components/stepper/stepper-vars' as *;
@use '../components/tag/tag-vars' as *;
@use '../components/tabs/folder-tabs/folder-tabs-vars' as *;
@use '../components/tabs/inline-tabs/inline-tabs-vars' as *;
@use '../components/tabs/navigation-tabs/navigation-tabs-vars' as *;
@use '../components/textarea/textarea-vars' as *;
@use '../components/text-field/text-field-vars' as *;
@use '../components/toast/toast-vars' as *;
@use '../components/toggle/toggle-vars' as *;
@use '../components/tooltip/tooltip-vars' as *;

// Beta components
@use '../components/_beta/date-picker/date-picker-single/date-picker-vars' as *;

@use 'shame' as *;

body {
  font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  flex: 1;
}

:root,
.tds-mode-light,
.tl-mode-light {
  color: var(--tds-grey-958);
  background-color: var(--tds-white);

  &.tds-mode-variant-primary,
  &.tl-mode-variant-primary,
  & .tds-mode-variant-primary,
  & .tl-mode-variant-primary {
    color: var(--tds-grey-958);
    background-color: var(--tds-white);
  }

  &.tds-mode-variant-secondary,
  &.tl-mode-variant-secondary,
  & .tds-mode-variant-secondary,
  & .tl-mode-variant-secondary {
    color: var(--tds-grey-958);
    background-color: var(--tds-grey-50);
  }

  & tds-button.tds-mode-variant-primary,
  & tds-button.tl-mode-variant-primary,
  & tds-button.tds-mode-variant-secondary,
  & tds-button.tl-mode-variant-secondary {
    background-color: transparent;
  }
}

.tds-mode-dark,
.tl-mode-dark {
  color: var(--tds-grey-100);
  background-color: var(--tds-grey-958);

  &.tds-mode-variant-primary,
  &.tl-mode-variant-primary,
  & .tds-mode-variant-primary,
  & .tl-mode-variant-primary {
    color: var(--tds-grey-100);
    background-color: var(--tds-grey-958);
  }

  &.tds-mode-variant-secondary,
  &.tl-mode-variant-secondary,
  & .tds-mode-variant-secondary,
  & .tl-mode-variant-secondary {
    color: var(--tds-grey-100);
    background-color: var(--tds-grey-900);
  }

  & tds-button.tds-mode-variant-primary,
  & tds-button.tl-mode-variant-primary,
  & tds-button.tds-mode-variant-secondary,
  & tds-button.tl-mode-variant-secondary {
    background-color: transparent;
  }
}
