// What is this document for:
// https://stenciljs.com/docs/styling#global-styles
// https://stenciljs.com/docs/config#globalstyle

// Colors
@import '../../../../color/color';

// Grid
@import '../../../../grid/grid';

// Typography
@import '../../../../typography/scania-fonts';
@import '../../../../typography/scania-fonts-vars';
@import '../../../../typography/scania-fonts-selectors';

// Logos
@import '../../../../logotype/logotype';

// Vars
@import '_variables';

// Utility classes
@import '_utility-classes';

//Web component theme variables
@import '../components/accordion/accordion-vars';
@import '../components/banner/banner-vars';
@import '../components/block/block-vars';
@import '../components/breadcrumbs/breadcrumbs-vars';
@import '../components/button/button-vars';
@import '../components/card/card-vars';
@import '../components/checkbox/checkbox-vars';
@import '../components/chip/chip-vars';
@import '../components/table/table-vars';
@import '../components/datetime/datetime-vars';
@import '../components/divider/divider-vars';
@import '../components/dropdown/dropdown-vars';
@import '../components/dropdown/dropdown-option/dropdown-option-vars';
@import '../components/footer/footer-vars';
@import '../components/header/header-item/header-item-global';
@import '../components/header/header-vars';
@import '../components/link/link-vars';
@import '../components/message/message-vars';
@import '../components/modal/modal-vars';
@import '../components/popover-canvas/popover-canvas-vars';
@import '../components/popover-menu/popover-menu-vars';
@import '../components/radio-button/radio-button-vars';
@import '../components/side-menu/side-menu-item/side-menu-item-global';
@import '../components/side-menu/side-menu-vars';
@import '../components/slider/slider-vars';
@import '../components/stepper/stepper-vars';
@import '../components/tabs/folder-tabs/folder-tabs-vars';
@import '../components/tabs/inline-tabs/inline-tabs-vars';
@import '../components/tabs/navigation-tabs/navigation-tabs-vars';
@import '../components/textarea/textarea-vars';
@import '../components/text-field/text-field-vars';
@import '../components/toast/toast-vars';
@import '../components/toggle/toggle-vars';
@import '../components/tooltip/tooltip-vars';

body {
  font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  flex: 1;
}

:root,
.tds-mode-light {
  color: var(--tds-grey-958);
  background-color: var(--tds-white);

  &.tds-mode-variant-primary,
  & .tds-mode-variant-primary {
    color: var(--tds-grey-958);
    background-color: var(--tds-white);
  }

  &.tds-mode-variant-secondary,
  & .tds-mode-variant-secondary {
    color: var(--tds-grey-958);
    background-color: var(--tds-grey-50);
  }
}

.tds-mode-dark {
  color: var(--tds-grey-100);
  background-color: var(--tds-grey-958);

  &.tds-mode-variant-primary,
  & .tds-mode-variant-primary {
    color: var(--tds-grey-100);
    background-color: var(--tds-grey-958);
  }

  &.tds-mode-variant-secondary,
  & .tds-mode-variant-secondary {
    color: var(--tds-grey-100);
    background-color: var(--tds-grey-900);
  }
}

//FIXME: In Tegel 2.0 reconsider usage of lines 68 - 100 in this file.

/* Overwrite of global rules that bleed in some components */
:root,
.tds-mode-light {
  tds-dropdown,
  tds-textarea,
  tds-text-field {
    &.tds-mode-variant-primary,
    & .tds-mode-variant-primary,
    &.tds-mode-variant-secondary,
    & .tds-mode-variant-secondary {
      background: transparent;
    }
  }
}
