.tds-grid-container {
  display: flex;
  justify-content: center;
}

.tds-grid-fixed,
.tds-grid-fluid {
  display: grid;
  width: calc(100% - 32px);
  padding: 0 16px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
}

@media screen and (min-width: 416px) {
  .tds-grid-fixed {
    width: calc(416px - 32px);
  }

  .tds-grid-fluid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 604px) {
  .tds-grid-fixed {
    width: calc(604px - 32px);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 796px) {
  .tds-grid-fixed {
    width: calc(796px - 32px);
  }

  .tds-grid-fluid {
    width: calc(100% - 64px);
    padding: 0 32px;
  }
}

@media screen and (min-width: 976px) {
  .tds-grid-fixed {
    width: calc(976px - 32px);
  }
}

// desktop-sm
@media screen and (min-width: 1200px) {
  .tds-grid-fixed {
    width: calc(1200px - 64px);
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .tds-grid-fixed {
    width: calc(1440px - 64px);
  }
}

@media screen and (min-width: 1920px) {
  .tds-grid-fixed {
    width: calc(1920px - 64px);
  }
}
