/*
 * This file is used to test the multibrand tokens in a development environment.
 * It imports the global styles and the traton styles.
 * It is used to test the multibrand tokens in a development environment.
 * It is not used in the production environment.
 */

/* global one is needed for now , later one it can be removed, while core should remain */
@use 'global' as *;

@use 'scania-variables' as *;
@use 'traton-variables' as *;
@use 'core' as *;

/*
* Import the tegel light components style sheets to be bale to use tegel light in Storybook
*/

@use 'tegel-light-components' as *;
