/* https://medium.com/swlh/full-text-styling-with-a-single-line-of-css-838e8c666f4d */

// CHEATSHEET --> font: style variant weight size/line-height family
// Letter spacing is in another variable as it can not be part of font variable

:root {
  /* FUNCTIONAL TYPOGRAPHY */

  //HEADLINE
  --tds-headline-01: normal normal bold 40px/40px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-headline-01-ls: 0;
  --tds-headline-02: normal normal bold 32px/32px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-headline-02-ls: -0.04em;
  --tds-headline-03: normal normal bold 24px/24px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-headline-03-ls: -0.03em;
  --tds-headline-04: normal normal bold 20px/24px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-headline-04-ls: -0.02em;
  --tds-headline-05: normal normal bold 14px/24px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-headline-05-ls: -0.02em;
  --tds-headline-06: normal normal bold 14px/16px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-headline-06-ls: -0.02em;
  --tds-headline-07: normal normal bold 14px/16px 'Scania Sans Semi Condensed', arial, helvetica,
    sans-serif;
  --tds-headline-07-ls: -0.01em;

  //PARAGRAPH
  --tds-paragraph-01: normal normal normal 24px/32px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-paragraph-01-ls: -0.03em;
  --tds-paragraph-02: normal normal normal 20px/24px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-paragraph-02-ls: -0.01em;

  //BODY
  --tds-body-01: normal normal normal 16px/24px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-body-01-ls: -0.02em;
  --tds-body-02: normal normal normal 14px/20px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-body-02-ls: -0.02em;

  //DETAIL
  --tds-detail-01: normal normal normal 16px/24px 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --tds-detail-01-ls: -0.01em;
  --tds-detail-02: normal normal normal 14px/16px 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --tds-detail-02-ls: -0.01em;
  --tds-detail-03: normal normal normal 14px/20px 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --tds-detail-03-ls: -0.01em;
  --tds-detail-04: normal normal bold 12px/16px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-detail-04-ls: 0.08em;
  --tds-detail-04-tt: uppercase;
  --tds-detail-05: normal normal normal 12px/16px 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --tds-detail-05-ls: 0;
  --tds-detail-06: normal normal bold 10px/16px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-detail-06-ls: 0.08em;
  --tds-detail-06-tt: uppercase;
  --tds-detail-07: normal normal normal 10px/8px 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --tds-detail-07-ls: 0;

  /* EXPRESSIVE TYPOGRAPHY */

  //HEADLINE

  --tds-expressive-headline-01: normal normal bold 80px/80px 'Scania Sans Headline', arial,
    helvetica, sans-serif;
  --tds-expressive-headline-01-ls: 0;
  --tds-expressive-headline-02: normal normal bold 56px/56px 'Scania Sans Headline', arial,
    helvetica, sans-serif;
  --tds-expressive-headline-02-ls: 0;
  --tds-headline-ex-01: normal normal bold 40px/40px 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --tds-headline-ex-01-ls: 0;
  --tds-headline-ex-02: normal normal bold 32px/32px 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --tds-headline-ex-02-ls: -0.04em;
  --tds-headline-ex-03: normal normal bold 24px/24px 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --tds-headline-ex-03-ls: -0.03em;
  --tds-headline-ex-04: normal normal bold 20px/24px 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --tds-headline-ex-04-ls: -0.01em;
  --tds-headline-ex-05: normal normal bold 16px/24px 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --tds-headline-ex-05-ls: -0.02em;
  --tds-headline-ex-06: normal normal bold 14px/16px 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --tds-headline-ex-06-ls: -0.02em;
  --tds-headline-ex-07: normal normal bold 14px/16px 'Scania Sans Semi Condensed', arial, helvetica,
    sans-serif;
  --tds-headline-ex-07-ls: -0.01em;

  //PARAGRAPH
  --tds-paragraph-ex-01: normal normal normal 24px/32px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-paragraph-ex-01-ls: -0.03em;
  --tds-paragraph-ex-02: normal normal normal 20px/24px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-paragraph-ex-02-ls: -0.01em;

  //BODY
  --tds-body-ex-01: normal normal normal 16px/24px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-body-ex-01-ls: -0.02em;
  --tds-body-ex-02: normal normal normal 14px/20px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-body-ex-02-ls: -0.01em;

  //DETAIL
  --tds-detail-ex-01: normal normal normal 16px/24px 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --tds-detail-ex-01-ls: -0.01em;
  --tds-detail-ex-02: normal normal normal 14px/16px 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --tds-detail-ex-02-ls: -0.01em;
  --tds-detail-ex-03: normal normal normal 14px/20px 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --tds-detail-ex-03-ls: -0.01em;
  --tds-detail-ex-04: normal normal bold 12px/16px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-detail-ex-04-ls: 0.08em;
  --tds-detail-ex-04-tt: uppercase;
  --tds-detail-ex-05: normal normal normal 12px/16px 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --tds-detail-ex-05-ls: 0;
  --tds-detail-ex-06: normal normal bold 10px/16px 'Scania Sans', arial, helvetica, sans-serif;
  --tds-detail-ex-06-ls: 0.08em;
  --tds-detail-ex-06-tt: uppercase;
  --tds-detail-ex-07: normal normal normal 10px/8px 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --tds-detail-ex-07-ls: 0;
}
