.tds-headline-01 {
  font-family: 'Scania Sans Headline', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0;
}

.tds-headline-02 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.04em;
}

.tds-headline-03 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.03em;
}

.tds-headline-04 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.tds-headline-05 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.tds-headline-06 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.tds-headline-07 {
  font-family: 'Scania Sans Semi Condensed', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: -0.01em;
}

.tds-paragraph-01 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: -0.03em;
}

.tds-paragraph-02 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.tds-body-01 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.tds-body-02 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: -0.01em;
}

.tds-detail-01 {
  font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.tds-detail-02 {
  font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: -0.01em;
}

.tds-detail-03 {
  font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: -0.01em;
}

.tds-detail-04 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.33;
  letter-spacing: 0.08em;
}

.tds-detail-05 {
  font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 1.33;
  letter-spacing: 0;
}

.tds-detail-06 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 1.6;
  letter-spacing: 0.08em;
}

.tds-detail-07 {
  font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica, sans-serif;
  font-size: 0.625rem;
  line-height: 0.8;
  letter-spacing: 0;
}

.tds-expressive-headline-01 {
  font-family: 'Scania Sans Headline', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 0;
}

.tds-expressive-headline-02 {
  font-family: 'Scania Sans Headline', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 0;
}

h1 {
  font-family: 'Scania Sans Headline', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0;
}

h2 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.04em;
}

h3 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.03em;
}

h4 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

h5 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

h6 {
  font-family: 'Scania Sans', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.h7 {
  font-family: 'Scania Sans Semi Condensed', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: -0.01em;
}
