// What is this document for:
// This file imports all Scania-specific tokens and primitives

/* Scania primitive tokens */
@use '../../../../tokens/scss/scania/primitive' as *;

/* Scania color tokens */
@use '../../../../tokens/scss/scania/color-light' as *;
@use '../../../../tokens/scss/scania/color-dark' as *;

/* Scania dimension tokens */
@use '../../../../tokens/scss/scania/dimension' as *;

/* Scania logotype tokens */
@use '../../../../logotype/logotype-scania' as *;

/* Scania typography tokens */
@use '../../../../tokens/scss/scania/typography' as *;

/* Multibrand tokens: Scania typography */
@use '../../../../typography/tokens/typography-scania' as *;

// Typography
@use '../../../../typography/tokens/typography-scania' as *;
@use '../../../../typography/scania-fonts' as *;
@use '../../../../typography/scania-fonts-vars' as *;
@use '../../../../typography/scania-fonts-selectors' as *;

/* Scania primitive icon tokens */
@use '../../../../tokens/scss/scania/scania-icons-primitive' with (
  $local-assets: './assets'
);

/* Scania icon tokens */
@use '../../../../tokens/scss/scania/scania-icons' as *;
