:root,
.tds-mode-light {
  --tds-scrollbar-width-standard: thin;
  --tds-scrollbar-width: 10px;
  --tds-scrollbar-height: 10px;
  --tds-scrollbar-thumb-border-width: 3px;
  --tds-scrollbar-thumb-border-hover-width: 2px;
  --tds-scrollbar-track-color: transparent;
  --tds-scrollbar-thumb-color: var(--tds-grey-400);
  --tds-scrollbar-hover-thumb-color: var(--tds-grey-500);
}

.tds-mode-dark {
  --tds-scrollbar-track-color: transparent;
  --tds-scrollbar-thumb-color: var(--tds-grey-500);
  --tds-scrollbar-hover-thumb-color: var(--tds-grey-400);
}
