/*
* This file is used for generating the global styles for the Tegel Lite package.
* It is a copy of the global.scss file in the core package, buwithout the web component styles.
* Once the Web Components imports are removed from the global.scss file, that file can be used for Tegel Lite as well.
*/

// Spacing (brand-agnostic base units)
@use '../../../../spacing/units' as *;
@use '../../../../spacing/radius' as *;

// Motion
@use '../../../../motion' as *;

// Colors
@use '../../../../color/color' as *;

// Grid (Deprecated - will be removed in version 2.0)
@use '../../../../grid-deprecated/grid-deprecated' as *;

// Grid new
@use '../../../../grid/grid' as *;

// Vars
@use '_variables' as *;
@use 'tl-scrollbar-vars' as *;

// Utility classes
@use '_utility-classes' as *;

// Beta components
@use '../components/_beta/date-picker/date-picker-single/date-picker-vars' as *;

@use 'shame' as *;

body {
  font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  flex: 1;
}

:root,
.tds-mode-light {
  color: var(--color-foreground-text-strong);
  background-color: var(--color-background-base);

  &.tds-mode-variant-primary,
  & .tds-mode-variant-primary {
    color: var(--color-foreground-text-strong);
    background-color: var(--color-background-base);
  }

  &.tds-mode-variant-secondary,
  & .tds-mode-variant-secondary {
    color: var(--color-foreground-text-strong);
    background-color: var(--color-background-layer-01);
  }
}

.tds-mode-dark {
  color: var(--color-foreground-text-strong);
  background-color: var(--color-background-base);

  &.tds-mode-variant-primary,
  & .tds-mode-variant-primary {
    color: var(--color-foreground-text-strong);
    background-color: var(--color-background-base);
  }

  &.tds-mode-variant-secondary,
  & .tds-mode-variant-secondary {
    color: var(--color-foreground-text-strong);
    background-color: var(--color-background-layer-01);
  }
}
