/*
* This file is used for generating the global styles for the Tegel Lite package.
* It is a copy of the global.scss file in the core package, buwithout the web component styles.
* Once the Web Components imports are removed from the global.scss file, that file can be used for Tegel Lite as well.
*/

$local-assets: './assets' !default;

/* Multibrand tokens: Scania colors */
@use '../../../../color/scania-color-primitives' as *;
@use '../../../../color/scania-brand-usage' as *;

/* Multibrand tokens: Scania typography */
@use '../../../../typography/tokens/typography-scania' as *;

/* Multibrand tokens: Scania spacing */
@use '../../../../spacing/units' as *;
@use '../../../../spacing/radius' as *;
@use '../../../../spacing/scania-units' as *;

// Motion
@use '../../../../motion' as *;

// Colors
@use '../../../../color/color' as *;

// Grid (Deprecated - will be removed in version 2.0)
@use '../../../../grid-deprecated/grid-deprecated' as *;

// Grid new
@use '../../../../grid/grid' as *;

// Typography
@use '../../../../typography/scania-fonts' as *;
@use '../../../../typography/scania-fonts-vars' as *;
@use '../../../../typography/scania-fonts-selectors' as *;

// Logos
@use '../../../../logotype/logotype-scania' as *;

// Vars
@use '_variables' as *;
@use 'scrollbar-vars' as *;

// Utility classes
@use '_utility-classes' as *;

// Beta components
@use '../components/_beta/date-picker/date-picker-single/date-picker-vars' as *;

body {
  font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  flex: 1;
}

:root,
.tds-mode-light {
  color: var(--tds-grey-958);
  background-color: var(--tds-white);

  &.tds-mode-variant-primary,
  & .tds-mode-variant-primary {
    color: var(--tds-grey-958);
    background-color: var(--tds-white);
  }

  &.tds-mode-variant-secondary,
  & .tds-mode-variant-secondary {
    color: var(--tds-grey-958);
    background-color: var(--tds-grey-50);
  }
}

.tds-mode-dark {
  color: var(--tds-grey-100);
  background-color: var(--tds-grey-958);

  &.tds-mode-variant-primary,
  & .tds-mode-variant-primary {
    color: var(--tds-grey-100);
    background-color: var(--tds-grey-958);
  }

  &.tds-mode-variant-secondary,
  & .tds-mode-variant-secondary {
    color: var(--tds-grey-100);
    background-color: var(--tds-grey-900);
  }
}

@use 'shame' as *;
