@import '../tegel-light/components/tl-button/tl-button';
@import '../tegel-light/components/tl-header/tl-header';
@import '../tegel-light/components/tl-message/tl-message';
@import '../tegel-light/components/tl-icon/tl-icon';
@import '../tegel-light/components/tl-spinner/tl-spinner';
@import '../tegel-light/components/tl-divider/tl-divider';
@import '../tegel-light/components/tl-checkbox/tl-checkbox';
@import '../tegel-light/components/tl-tabs/tl-folder-tabs/tl-folder-tabs';
@import '../tegel-light/components/tl-tabs/tl-folder-tabs/tl-folder-tab';
@import '../tegel-light/components/tl-tabs/tl-inline-tabs/tl-inline-tab';
@import '../tegel-light/components/tl-tabs/tl-inline-tabs/tl-inline-tabs';
@import '../tegel-light/components/tl-tabs/tl-navigation-tabs/tl-navigation-tab';
@import '../tegel-light/components/tl-tabs/tl-navigation-tabs/tl-navigation-tabs';
@import '../tegel-light/components/tl-badge/tl-badge';
@import '../tegel-light/components/tl-modal/tl-modal';
@import '../tegel-light/components/tl-link/tl-link';
@import '../tegel-light/components/tl-stepper/tl-stepper';
@import '../tegel-light/components/tl-stepper/tl-step';
@import '../tegel-light/components/tl-text-field/tl-text-field';
@import '../tegel-light/components/tl-textarea/tl-textarea';
@import '../tegel-light/components/tl-breadcrumbs/tl-breadcrumbs';
@import '../tegel-light/components/tl-chip/tl-chip';
@import '../tegel-light/components/tl-toast/tl-toast';
@import '../tegel-light/components/tl-banner/tl-banner';
@import '../tegel-light/components/tl-radiobutton/tl-radiobutton';
@import '../tegel-light/components/tl-block/tl-block';
@import '../tegel-light/components/tl-toggle/tl-toggle';
@import '../tegel-light/components/tl-accordion/tl-accordion';
@import '../tegel-light/components/tl-card/tl-card';
@import '../tegel-light/components/tl-dropdown/tl-dropdown';
@import '../tegel-light/components/tl-table/tl-table';
@import '../tegel-light/components/tl-datetime/tl-datetime';
@import '../tegel-light/components/tl-side-menu/tl-side-menu';
@import '../tegel-light/components/tl-tooltip/tl-tooltip';
