:host {
  // "On smaller breakpoints, starting from the width 520px, the Scania symbol is removed."
  // (tegel.scania.com, 2023-03-01)
  tds-header-item {
    display: none;
  }

  tds-header-item {
    width: var(--tds-header-brand-item-width);

    ::slotted(*) {
      background-image: var(--tds-header-logotype-local), var(--tds-header-logotype-cdn);
      background-size: var(--tds-header-brand-logo-size) auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @media (width >= 992px) {
    tds-header-item {
      display: block;
    }
  }
}
