:host {
  // "On smaller breakpoints, starting from the width 520px, the Scania symbol is removed."
  // (tegel.scania.com, 2023-03-01)
  tds-header-item {
    display: none;
    width: var(--header-brand-item-width);
  }

  tds-header-item {
    ::slotted(*) {
      background-image: var(--header-logotype-local), var(--header-logotype-cdn);
      background-size: var(--header-brand-logo-size) auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 992px) {
    tds-header-item {
      display: block;
    }
  }
}
