@import '../../../../mixins/focus-state';
@import '../../../../mixins/box-sizing';
@import './tl-navigation-tabs-vars';

.tl-navigation-tabs {
  @include tds-box-sizing;

  background-color: var(--navigation-tabs);
  display: flex;
  position: relative;

  &::after {
    border-bottom: 1px solid var(--navigation-tabs-horizontal-divider);
    content: ' ';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}

.tl-navigation-tabs__wrapper {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 16px;

  &::-webkit-scrollbar {
    display: none;
  }

  .tl-navigation-tabs__scroll-btn {
    background-color: transparent;
    color: var(--navigation-tabs-scroll-button-icon);
    cursor: pointer;
    min-width: 48px;
    border: 0;
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: sticky;

    svg {
      fill: var(--navigation-tabs-scroll-button-color);
    }
  }

  .tl-navigation-tabs__scroll-btn--right {
    right: 0;
    z-index: 1;
  }

  .tl-navigation-tabs__scroll-btn--left {
    left: 0;
    z-index: 1;
  }
}
