@import '../../../mixins/box-sizing';

.tl-header-brand-symbol {
  display: block;
  width: 30px;
  height: 30px;
  background-image: var(--tds-background-image-scania-symbol-svg),
    var(--tds-background-image-scania-symbol-png);
  background-size: 30px auto;
  background-position: center;
  background-repeat: no-repeat;
}
