# Add all team members as default reviewers for all files
* @ckrook @theJohnnyMe @EmelieLitwin @nathalielindqvist @Lunkan89 @timrombergjakobsson @max-umain @augustinescania @patrik-nyfeldt @NordbergAnna