:host {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

:host(.tds-popover-animation-fade) {
  animation: var(--tds-motion-fade-in);
}

:host(.is-shown) {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
