@import '../../global/global';

:host {
  pointer-events: none;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

:host(.tds-popover-animation-show-fade) {
  animation: var(--fade-in-animation);
}

:host(.tds-popover-animation-hide-fade) {
  animation: var(--fade-out-animation);
}

:host(.is-shown) {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
