:root,
html {
  // Layout scale
  --tds-spacing-layout-8: 8px;
  --tds-spacing-layout-16: 16px;
  --tds-spacing-layout-24: 24px;
  --tds-spacing-layout-32: 32px;
  --tds-spacing-layout-48: 48px;
  --tds-spacing-layout-64: 64px;
  --tds-spacing-layout-72: 72px;
  --tds-spacing-layout-96: 96px;
  --tds-spacing-layout-128: 128px;
  --tds-spacing-layout-160: 160px;

  // Element scale
  --tds-spacing-element-2: 2px;
  --tds-spacing-element-4: 4px;
  --tds-spacing-element-8: 8px;
  --tds-spacing-element-12: 12px;
  --tds-spacing-element-16: 16px;
  --tds-spacing-element-20: 20px;
  --tds-spacing-element-24: 24px;
  --tds-spacing-element-32: 32px;
  --tds-spacing-element-40: 40px;
  --tds-spacing-element-48: 48px;
}
