// Tegel Lite Dropdown Variables
@use '../../../../../../tokens/scss/component/dropdown';
@use '../../../../../../tokens/scss/component/-input';

.tl-dropdown {
  --dropdown-background: var(--component--input-background-primary);
  --dropdown-text: var(--component--input-text-value-default);
  --dropdown-helper-text: var(--component--input-text-helper-default);
  --dropdown-placeholder: var(--component--input-text-placeholder-default);
  --dropdown-label: var(--component--input-text-label-default);
  --dropdown-label-inside: var(--component--input-text-label-default);
  --dropdown-opacity-disabled: calc(var(--component-dropdown-opacity-disabled) / 100);
  --dropdown-icon: var(--component-dropdown-icon-default);
  --dropdown-clear-icon: var(--component--input-icon-control-default);
  --dropdown-error: var(--component--input-text-error-default);
  --dropdown-border-bottom-width: calc(var(--component--input-border-width-bottom) * 1px);
  --dropdown-border-left-width: calc(var(--component--input-border-width-left) * 1px);
  --dropdown-border-right-width: calc(var(--component--input-border-width-right) * 1px);
  --dropdown-border-top-width: calc(var(--component--input-border-width-top) * 1px);
  --dropdown-border: var(--component--input-border-default);
  --dropdown-border-hover: var(--component--input-border-hover);
  --dropdown-border-radius: calc(var(--component--input-border-radius-top-left) * 1px)
    calc(var(--component--input-border-radius-top-right) * 1px)
    calc(var(--component--input-border-radius-bottom-right) * 1px)
    calc(var(--component--input-border-radius-bottom-left) * 1px);
  --dropdown-list-border-radius: calc(var(--component-dropdown-border-radius-default) * 1px);
  --dropdown-list-box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 0.1);
  --dropdown-option-background: var(--component-dropdown-background-item-default);
  --dropdown-option-background-hover: var(--component-dropdown-background-item-hover);
  --dropdown-option-background-selected: var(--component-dropdown-background-item-selected-default);
  --dropdown-option-opacity-disabled: calc(var(--component-dropdown-opacity-disabled) / 100);
  --dropdown-option-border: var(--component-dropdown-border-item-divider-default);
  --dropdown-list-background-color: var(--component-dropdown-background-secondary);

  &--primary {
    --dropdown-background: var(--component--input-background-primary);
    --dropdown-list-background-color: var(--component-dropdown-background-primary);
  }

  &--secondary {
    --dropdown-background: var(--component--input-background-secondary);
    --dropdown-list-background-color: var(--component-dropdown-background-secondary);
  }
}

.scania .tl-dropdown {
  --dropdown-list-box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 0.1);
}

.traton .tl-dropdown {
  --dropdown-list-box-shadow: none;
}
