@use '../../../mixins/focus-state' as *;

:host {
  margin: 0 var(--tds-side-menu-gap);

  button {
    height: var(--tds-side-menu-close-button-height);
    width: 100%;
    text-align: left;
    padding: 0 var(--tds-side-menu-item-horizontal-padding);
    border: none;
    border-radius: var(--tds-side-menu-item-border-radius);
    background-color: var(--tds-side-menu-background);
    font: var(--tds-headline-07);
    letter-spacing: var(--tds-headline-07-ls);
    color: var(--tds-side-menu-item-icon-color);
    display: flex;
    align-items: center;
    border-bottom: var(--tds-side-menu-item-border-thickness) solid
      var(--tds-side-menu-item-border-color);

    &:hover {
      cursor: pointer;
      background-color: var(--tds-side-menu-item-background-hover);
    }

    &:focus-visible {
      @include tds-focus-state;

      cursor: pointer;
    }

    &:active {
      cursor: pointer;
      background-color: var(--tds-side-menu-item-background-active);
    }
  }
}
