.tl-card {
  --card-background: var(--tds-white);
  --card-background-primary: var(--component-card-primary);
  --card-background-secondary: var(--component-card-secondary);
  --card-box-primary: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --card-box-secondary: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 10%);
  --card-box: var(--card-box-primary); //box shadow
  --card-box-hover: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 20%);
  --card-box-pressed: 0 -1px 1px rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 20%);
  --card-headline: var(--color-foreground-text-strong);
  --card-sub-headline: var(--color-foreground-text-subtle);
  --card-body-color: var(--color-foreground-text-defined);
  --card-divider: var(--color-foreground-border-discrete);
  --card-icon-color: var(--color-foreground-icon-strong);
}

.tl-card,
.scania tl-card {
  /* Paddings */
  --card-body-padding: 0 16px;
  --card-header-padding: 16px;
  --card-slotted-padding: 16px;

  &.tl-card--mode-variant-primary {
    --card-box: var(--card-box-primary);
  }

  &.tl-card--mode-variant-secondary {
    --card-box: var(--card-box-secondary);
  }
}

.tds-mode-dark {
  --card-background-primary: var(--tds-grey-900);
  --card-background-secondary: var(--tds-grey-850);

  .tl-card {
    --card-background: var(--card-background-primary);
  }

  .tl-card--mode-variant-primary {
    --card-box: var(--card-box-primary);
    --card-background: var(--card-background-primary);
  }

  .tl-card--mode-variant-secondary {
    --card-box: var(--card-box-secondary);
    --card-background: var(--card-background-secondary);
  }
}

.traton {
  .tds-mode-dark .tl-card {
    &.tl-card--mode-variant-primary {
      --card-background: var(--color-background-base);
    }
  }
}

.traton .tl-card {
  --card-box: none;
  --card-background: transparent;
  --card-box-hover: none;
  --card-box-pressed: none;

  /* Paddings */
  --card-body-padding: 0;
  --card-header-padding: 16px 16px 16px 0;
  --card-slotted-padding: 16px 16px 16px 0;

  &.tl-card--mode-variant-primary {
    --card-box: none;
    --card-background: var(--card-background-secondary);
  }

  &.tl-card--mode-variant-secondary {
    --card-box: none;
    --card-background: var(--card-background-primary);
  }
}
