@use '../../../mixins/box-sizing' as *;
@use './tl-card-vars' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-card {
  @include tds-box-sizing;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-shadow: var(--card-box);
  background-color: var(--card-background);
  border-radius: 4px;
  overflow: hidden;

  &--clickable {
    width: 100%;
    border: none;
    text-align: left;
    padding: 0;

    &:focus-visible {
      outline: var(--dimension-radius-focus-width) solid var(--color-foreground-border-accent-focus);
      box-shadow: 0 0 0 1px var(--color-brand-neutral-white);
      outline-offset: 1px;
    }

    &:active {
      box-shadow: var(--card-box-pressed);
    }

    &:hover {
      box-shadow: var(--card-box-hover);
      cursor: pointer;
    }
  }

  &--stretch {
    height: 100%;
    width: 100%;
  }
}

.tl-card__header {
  @include headline-06;

  padding: var(--card-header-padding);
  display: flex;
  align-items: center;

  &--below {
    padding-top: 16px;
  }
}

.tl-card__thumbnail {
  inline-size: 36px;
  block-size: 36px;
  border-radius: 100%;
  margin-right: 16px;
}

.tl-card__top-header {
  padding-left: 16px;
  display: flex;
  flex-direction: column;

  &--no-header-img {
    padding-left: 0;
  }
}

.tl-card__headings {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 4px;
}

.tl-card__title {
  color: var(--card-headline);
}

.tl-card__subtitle {
  color: var(--card-sub-headline);
}

.tl-card__image {
  inline-size: 100%;
  block-size: auto;
  display: block;
}

.tl-card__divider {
  display: block;
  margin: var(--card-divider-margin);
  background-color: var(--card-divider);
  block-size: 1px;
}

.tl-card__body {
  display: block;
  word-wrap: break-word;

  .tl-card--stretch & {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.tl-card__content {
  @include detail-03;

  color: var(--card-body-color);
  padding: var(--card-body-padding);
  margin-bottom: 16px;
  margin-top: 16px;
  max-inline-size: 336px;

  .tl-card--stretch .tl-card__body & {
    max-inline-size: unset;
    flex-grow: 1;
  }

  .tl-card--expanded .tl-card__body & {
    display: none;
  }
}

.tl-card__bottom-row {
  display: flex;
  padding: var(--card-slotted-padding);
  align-items: flex-end;
  align-self: stretch;
}

.tl-card__actions {
  display: flex;
  align-items: flex-end;
  flex: 1 0 0;
  align-self: stretch;
}

.tl-icon {
  .tl-card--expandable .tl-card__body .tl-card__header & {
    transition: transform 160ms ease-in-out, opacity 120ms ease-in-out;
  }

  .tl-card--expanded .tl-card__body .tl-card__header & {
    transform: rotate(180deg);
  }

  .tl-card__bottom-row & {
    color: var(--card-icon-color);
  }
}
