# Eslint comment

**/node_modules
**/dist
**/*.d.ts
**/*.e2e.ts
**/*.axe.ts
**/compile.js
**/conf.js
**/.www
**/*.stories.tsx
**/*.stories.ts
**/*.config.js
**/*.config.ts
**/_beta

build-tokens.js
build-css.js


packages/core/components
packages/core/loader
packages/core/stencil.config.ts
packages/core/scripts
packages/angular
packages/angular-17
packages/react

**/www

icons/gulpfile.js

commitlint.config.js
