packages/core/dist
packages/core/www
packages/core/loader
packages/core/components

packages/angular/dist
packages/react/dist
stencil-generated

icons/dist

grid/dist

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env


# OLD ONES BELOW
# TODO: Clean up section below.gitignore

# Compiled from Stencil

.build/
.www/
.data/
# src/**/**.md

# Compiled theme
src/themes.built/


# Compiled from storybook
storybook-static/

components.d.ts


# Playwright
playwright-report/
test-results/