@use '../../../../../../tokens/scss/component-stubs/radio-button';

.tl-radio-button {
  // Default colors
  --radio-button-background-hover: var(--component-radio-button-background-hover);
  --radio-button-background-inverse: var(--component-radio-button-background-inverse-default);
  --radio-button-background-disabled: var(--component-radio-button-background-disabled);
  --radio-button-border: var(--component-radio-button-border-default);
  --radio-button-label: var(--component-radio-button-text-label-default);
  --radio-button-border-disabled: var(--component-radio-button-border-disabled);

  // Active (checked)
  --radio-button-checked-disabled: var(--component-radio-button-icon-disabled);

  // Disabled
  --radio-button-opacity-disabled: calc(var(--component-radio-button-opacity-disabled) / 100);
  --radio-button-label-disabled: var(--component-radio-button-text-label-default);

  // Units (non-token values)
  --radio-button-spacing-4: var(--tds-spacing-element-4) 0 var(--tds-spacing-element-4)
    var(--tds-spacing-element-4);
}
