@import '../../../mixins/focus-state';
@import '../../../../../../typography/mixins/type-styles';

.tl-footer__item {
  a,
  button {
    @include headline-07;

    color: var(--footer-main-links);
    text-decoration: none;
  }

  a:focus-visible,
  button:focus-visible {
    @include tds-focus-state;
  }

  a:hover,
  button:hover {
    text-decoration: underline;
  }
}

  .tl-footer__top {
    a,
    button {
      @include headline-07;

      color: var(--footer-top-links);
    }

    a:focus-visible,
    button:focus-visible {
      @include tds-focus-state;
    }
  }


@media all and (max-width: 992px) {
  .tl-footer__item--mobile-view {
      border-bottom: 1px solid var(--footer-top-divider);
  
      a,
      button {
        display: block;
        height: 100%;
        padding: 19px 40px;
        font-weight: normal;
      }
  
      a:hover,
      button:hover {
        text-decoration: underline;
        background-color: var(--footer-top-links-background-hover);
      }
  
      a:focus-visible,
      button:focus-visible {
        @include tds-focus-state;
      }
    
  }
}