@import '../../../mixins/focus-state';
@import '../../../../../../typography/utilities/typography-utility';

.tl-footer__group {
  display: block;

  &.tl-footer__main-top--start {
    display: flex;
  }
}  

.tl-footer__top-title {
  @include headline-07;
  color: var(--footer-top-links-desktop);
  padding-bottom: 8px;
  margin: 0;
}


@media all and (max-width: 992px) {
  .tl-footer__group {
    display: none !important;
  }

  .tl-footer__top-title-button {
    @include headline-07;
    border: none;
    width: 100%;
    color: var(--footer-top-links);
    background-color: transparent;
    text-align: left;
    padding: 19px 24px;
    justify-content: space-between;
    border-bottom: 1px solid var(--footer-top-divider);

    *,
    ::slotted(*) {
      margin: 0;
    }

    &.--expanded .tl-icon {
      transform: rotateZ(180deg);
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: var(--footer-top-button-active);
    }

    &:focus-visible {
      @include tds-focus-state;
    }

    .tl-icon {
      transition: transform 0.2s ease-in-out;
    }
  }

  .tl-footer__top-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.--closed {
      display: none;
    }

    &.start,
    &.end {
      gap: 24px;
    }
  }

  .tl-footer__group--mobile-view {
    [role='list'].start:not(.top-part-child) {
      flex-direction: column;

      &.start,
      &.end {
        gap: 8px;
      }
    }

    [role='list'].top-part-child {
      gap: 0;
    }

    button.tl-footer__top-title-button {
      display: flex;
      align-items: center;
    }
  }
}