@import '../../../mixins/focus-state';
@import '../../../../../../typography/mixins/type-styles';

.tl-footer__group {
  display: block;

  &.tl-footer__main-top--start {
    display: flex;
  }
}  

.tl-footer__top-title {
  @include headline-07;
  color: var(--footer-top-links-desktop);
  margin: 0;
}


@media all and (max-width: 992px) {

  .tl-footer__top-title-button {
    @include headline-07;
    border: none;
    width: 100%;
    color: var(--footer-top-links);
    background-color: transparent;
    text-align: left;
    padding: 19px 24px;
    justify-content: space-between;
    border-bottom: 1px solid var(--footer-top-divider);

    * {
      margin: 0;
    }

    &--expanded .tl-icon {
      transform: rotateZ(180deg);
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: var(--footer-top-button-active);
    }

    &:focus-visible {
      @include tds-focus-state;
    }
  }

  .tl-footer__top-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    &--closed {
      display: none;
    }
  }

  .tl-footer__group--mobile-view {
   & button.tl-footer__top-title-button {
      display: flex;
      align-items: center;
    }
  }
}