@use '../../../mixins/focus-state' as *;
@use '../../../../../../typography/mixins/type-styles' as *;
@use '../../../mixins/side-menu-border-selected' as *;

:host {
  display: block;
  box-sizing: border-box;
  height: var(--tds-side-menu-sub-item-height);
  width: 100%;

  .component {
    height: 100%;
    width: 100%;

    ::slotted(a),
    ::slotted(button) {
      all: unset;
      @include body-02;

      box-sizing: border-box;
      border-right: 1px solid var(--tds-header-dropdown-item-border-color);
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 24px;
      width: 100%;
      border-radius: var(--tds-side-menu-item-border-radius);
      background-color: var(--tds-side-menu-item-background);
      color: var(--tds-side-menu-item-text-color);
      border: none;
    }

    ::slotted(a:hover),
    ::slotted(button:hover) {
      background-color: var(--tds-side-menu-item-background-hover);
      cursor: pointer;
      position: relative;
    }

    ::slotted(a:hover:focus-visible),
    ::slotted(button:hover:focus-visible) {
      background-color: var(--tds-side-menu-item-background-hover);
      cursor: pointer;
      position: relative;
    }

    ::slotted(a:active),
    ::slotted(button:active) {
      background-color: var(--tds-side-menu-item-background-active);
      cursor: pointer;
      position: relative;
    }

    ::slotted(a:active:focus-visible),
    ::slotted(button:active:focus-visible) {
      background-color: var(--tds-side-menu-item-background-active);
      cursor: pointer;
      position: relative;
    }

    ::slotted(a:focus-visible) {
      @include tds-focus-state-inset;
    }
  }

  .component.component-selected {
    ::slotted(a),
    ::slotted(button) {
      background-color: var(--tds-side-menu-item-background-selected);
      position: relative;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        @include tds-side-menu-border-selected;
      }
    }

    ::slotted(a:focus-visible),
    ::slotted(button:focus-visible) {
      background-color: var(--tds-side-menu-item-background-selected);
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 4px;
        height: calc(100% - 6px);
        @include tds-side-menu-border-selected;
      }
    }
  }

  .component.component-dropdown-has-icon,
  .component.component-dropdown-has-user {
    &:not(.component-collapsed) {
      ::slotted(a),
      ::slotted(button) {
        padding: var(--tds-side-menu-sub-item-padding-icon);
      }
    }
  }

  .component.component-dropdown-has-user {
    &:not(.component-collapsed) {
      ::slotted(a),
      ::slotted(button) {
        padding: var(--tds-side-menu-sub-item-padding-user-image);
      }
    }
  }
}
