@import '../../../mixins/focus-state';
@import '../../../../../../typography/utilities/typography-utility';

:host {
  display: block;
  box-sizing: border-box;
  height: var(--side-menu-dropdown-list-item-height);
  width: 100%;

  margin-bottom: var(--side-menu-space-top-level-vertical-gap-padding); // istället för gap

  .component {
    height: 100%;
    width: 100%;

    ::slotted(a),
    ::slotted(button) {
      all: unset;
      box-sizing: border-box;
      border-right: 1px solid var(--tds-nav-item-border-color);
      display: flex;
      align-items: center;
      height: 100%;

      // padding: 0 24px; <---- detta värde kanske gäller för scania? för --component-side-menu-space-sub-page-left-no-icon
      padding: 0 var(--side-menu-space-sub-page-left-no-icon);

      width: 100%;
      @include detail-02;

      // background-color: var(--tds-header-nav-item-dropdown-opened-background);
      background-color: var(--side-menu-dropdown-list-item);

      // color: var(--tds-header-nav-item-dropdown-opened-color);
      color: var(--side-menu-dropdown-list-item-color);

      border: none;

      border-radius: var(--side-menu-radius-corner);
    }

    ::slotted(a:hover),
    ::slotted(button:hover) {
      // background-color: var(--tds-header-nav-item-dropdown-opened-background-hover);
      background-color: var(--tds-sidebar-item-state-hover);
      cursor: pointer;
    }

    ::slotted(a:active),
    ::slotted(button:active) {
      background-color: var(--tds-header-nav-item-dropdown-opened-background-active) !important;
      cursor: pointer;
    }

    ::slotted(a:focus-visible) {
      @include tds-focus-state-side-menu;
    }
  }

  .component.component-selected {
    ::slotted(a),
    ::slotted(button) {
      // box-shadow: inset 4px 0 0 var(--tds-nav-item-border-color-active);

      // background-color: var(--tds-header-nav-item-dropdown-opened-background-selected);
      background-color: var(--tds-sidebar-item-state-selected);
    }
  }

  /* NEW: the wrapper must define the height for the slotted child */
  .slot-wrapper {
    position: relative;
    height: 100%; /* <-- critical so ::slotted(...){height:100%} works */
    // display: flex; /* keeps the slotted item vertically centered */
    // border-radius: var(--component-side-menu-radius-corner);
    // overflow: hidden; /* clips the teal stripe to the capsule */
  }

  .component.component-selected .slot-wrapper {
    position: relative;
    // border-radius: 12px;
  }

  .component.component-selected .slot-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--side-menu-selected-left-border);
    background-color: var(
      --tds-sidebar-side-menu-single-subitem-selected-border-color
    ); // var(--tds-nav-item-border-color-active);
    border-radius: var(--side-menu-radius-corner) 0 0 var(--side-menu-radius-corner);
  }

  .component.component-dropdown-has-icon {
    &:not(.component-collapsed) {
      ::slotted(a),
      ::slotted(button) {
        // padding: 16px 48px 16px 58px; <---- detta värde (58px) kanske gäller för scania? för --component-side-menu-space-sub-page-left-with-icon

        padding: 16px 48px 16px var(--side-menu-space-sub-page-left-with-icon);
      }
    }
  }

  .component.component-dropdown-has-user {
    &:not(.component-collapsed) {
      ::slotted(a),
      ::slotted(button) {
        padding: 16px 48px 16px 64px;
      }
    }
  }
}
