.tl-slider {
  --slider-label: var(--color-foreground-text-strong);
  --slider-thumb: var(--color-foreground-icon-strong);
  --slider-track: var(--color-background-surface-300);
  --slider-track-fill: var(--color-foreground-icon-strong);
  --slider-divider: var(--color-background-surface-300);
  --slider-divider-values: var(--color-foreground-text-defined);
  --slider-input-focused: var(--color-foreground-border-accent-focus);
  --slider-input-value: var(--color-foreground-text-defined);
  --slider-disabled: var(--color-background-surface-300);
  --slider-disabled-text: var(--color-foreground-text-disabled);
  --slider-value-tooltip-background: var(--color-background-inverse-layer-03);
  --slider-value-tooltip: var(--color-foreground-text-inverse-strong);
}

.tl-slider,
.scania .tl-slider {
  --slider-border-radius: 4px 4px 0 0;
}

.traton .tl-slider {
  --slider-border-radius: 4px;
}
