@use '../../../mixins/box-sizing' as *;
@use '../../../../../../typography/mixins/type-styles' as *;
@use './tl-slider-vars';
@use '../tl-text-field/tl-text-field';
@use '../tl-button/tl-button';
@use '../tl-icon/tl-icon';

.tl-slider {
  @include tds-box-sizing;

  width: 100%;

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &--read-only {
    pointer-events: none;
  }
}

.tl-slider__label {
  @include detail-05;

  user-select: none;
  color: var(--slider-label);
  display: block;
  margin-bottom: 24px;
  margin-left: -2px;

  .tl-slider:has(.tl-slider__value-divider-label) & {
    margin-bottom: 44px;
  }

  .tl-slider:has(.tl-slider__control--minus, .tl-slider__control--plus) & {
    margin-bottom: 2px;
    padding-left: 11px;
    margin-left: 0;
  }

  .tl-slider:has(.tl-slider__control--minus, .tl-slider__control--plus):has(
  .tl-slider__value-divider-label
)
  & {
    margin-bottom: 20px;
    padding-left: 11px;
    margin-left: 0;
  }

  .tl-slider:has(.tl-slider__input-wrapper) & {
    margin-bottom: 2px;
    margin-left: 0;
  }

  .tl-slider--disabled & {
    color: var(--slider-disabled-text);
  }
}

.tl-slider__track-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;

  &:has(.tl-slider__input-wrapper) {
    gap: 16px;
    align-items: center;
    height: 41px;
  }
}

.tl-slider__control--minus,
.tl-slider__control--plus {
  flex-shrink: 0;

  &:hover {
    border: none;
  }
}

.tl-slider__track {
  position: relative;
  flex: 1;
  min-height: 2px;
  background-color: var(--slider-track);
  border-radius: var(--slider-border-radius);

  .tl-slider__track-wrapper:has(.tl-slider__input-wrapper) & {
    height: 2px;
    align-self: center;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
    cursor: pointer;
    z-index: 0;
  }

  &:focus {
    outline: 0;
  }

  &:focus .tl-slider__thumb-inner {
    width: 24px;
    height: 24px;

    &::before {
      display: block;
      opacity: 0.08;
    }
  }

  &:focus-within .tl-slider__thumb-inner {
    outline: 2px solid var(--slider-input-focused);
    box-shadow: 0 0 0 1px var(--color-background-layer-01);
    outline-offset: 1px;
    z-index: 1;
  }

  .tl-slider--disabled & {
    cursor: not-allowed;
    background-color: var(--slider-disabled);

    &::after {
      cursor: not-allowed;
    }
  }
}

.tl-slider__value {
  @include detail-02;

  user-select: none;
  color: var(--slider-input-value);
  flex-shrink: 0;
  align-self: center;

  .tl-slider--disabled & {
    color: var(--slider-disabled-text);
  }
}

.tl-slider__input-wrapper {
  flex-shrink: 0;
  width: auto;
  height: auto;
  min-width: auto;
  margin-left: 0;
  align-self: center;

  &.tl-text-field--readonly:not(.tl-text-field--disabled)::before {
    width: 16px;
    height: 16px;
    right: 16px;
    top: 50%;
  }
}

.tl-slider__input-wrapper .tl-slider__input-field {
  width: var(--slider-input-width, 56px);
  padding: 12px;
  text-align: center;
  appearance: textfield;

  &--decimal {
    width: 56px;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.tl-slider__input-wrapper.tl-text-field--readonly:not(.tl-text-field--disabled)
.tl-slider__input-field[readonly] {
  width: 74px;
  padding-right: 39px;
}

.tl-slider__value-tooltip {
  @include detail-01;

  user-select: none;
  border-radius: 4px;
  padding: 8px 11px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  margin-bottom: 8px;
  background-color: var(--slider-value-tooltip-background);
  color: var(--slider-value-tooltip);
  display: none;
  white-space: nowrap;
  z-index: 10;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--slider-value-tooltip-background);
  }

  .tl-slider__thumb:hover & {
    display: block;
  }

  .tl-slider--disabled & {
    display: none;
  }
}

.tl-slider__thumb {
  position: absolute;
  z-index: 1;
}

.tl-slider__thumb-inner {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--slider-thumb);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  overflow: visible;

  &::before {
    content: ' ';
    display: none;
    width: 48px;
    height: 48px;
    background-color: var(--slider-thumb);
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.17;
  }

  &:hover::before {
    display: block;
  }

  &--pressed {
    width: 24px;
    height: 24px;

    &::before {
      display: block;
      opacity: 0.35;
    }
  }

  .tl-slider--small & {
    width: 16px;
    height: 16px;

    &::before {
      width: 40px;
      height: 40px;
    }

    &.tl-slider__thumb-inner--pressed {
      width: 20px;
      height: 20px;
    }
  }

  .tl-slider--disabled & {
    background-color: var(--slider-disabled);
    cursor: default;

    &::before {
      display: none;
    }
  }
}

.tl-slider__value-dividers {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 0;
}

.tl-slider__value-divider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16px;
}

.tl-slider__value-divider-line {
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: var(--slider-divider);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  .tl-slider--disabled & {
    background-color: var(--slider-disabled);
  }
}

.tl-slider__value-divider-label {
  @include detail-05;

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 16px;
  width: 50px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  color: var(--slider-divider-values);

  .tl-slider--disabled & {
    color: var(--slider-disabled-text);
  }
}

.tl-slider__track-fill {
  background-color: var(--slider-track-fill);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  left: 0;
  top: -1px;
  z-index: 1;

  .tl-slider--disabled & {
    background-color: var(--slider-disabled);
  }
}

.tl-slider__native-input {
  display: none;
}
