@import '../../../mixins/box-sizing';
@import '../../../mixins/scrollbar';

:host,
.tds-table {
  border-collapse: collapse;
  display: table;
  @include tds-box-sizing;
}

:host(.tds-table--responsive),
.tds-table--responsive {
  width: 100%;
}

.tds-table--horizontal-scroll {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  @include tds-scrollbar(horizontal);
}

.tds-table--horizontal-scroll-toolbar {
  margin-top: 64px;
}

.tds-table--horizontal-scroll-toolbar-compact {
  margin-top: 56px;
}

.tds-table--horizontal-scroll-footer {
  margin-bottom: 49px;
}

.tds-table--horizontal-scroll-footer-compact {
  margin-bottom: 33px;
}
