@use '../../../mixins/box-sizing' as *;
@use '../../../mixins/focus-state' as *;

:host {
  ::slotted(button),
  ::slotted(a) {
    all: unset;
    @include tds-box-sizing;

    background-color: var(--tds-header-background);
    border-right: 1px solid var(--tds-header--basic-element-border);
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  ::slotted(button:hover),
  ::slotted(a:hover) {
    background-color: var(--tds-header-item-hover);
    box-shadow: inset 0 -2px 0 0 var(--tds-header-item-border-hover);
  }

  ::slotted(button:active),
  ::slotted(a:active) {
    background-color: var(--tds-header-item-active);
    box-shadow: inset 0 -2px 0 0 var(--tds-header-item-border-active);
  }

  ::slotted(button:focus-visible),
  ::slotted(a:focus-visible) {
    border: none;
    margin-right: 1px; // otherwise it moves right
    @include tds-focus-state-side-menu;
  }

  .component-active {
    ::slotted(button),
    ::slotted(a) {
      background-color: var(--tds-header--basic-element-background-open);
      color: var(--tds-header-nav-item-dropdown-opened-color);
      border-color: var(--tds-header--basic-element-border-open);
    }
  }

  .component-selected:not(.component-active) {
    ::slotted(button),
    ::slotted(a) {
      box-shadow: inset 0 -4px 0 0 var(--tds-header-item-border-hover);
    }

    ::slotted(button:focus-visible),
    ::slotted(a:focus-visible) {
      box-shadow: inset 0 0 0 3px var(--tds-white);
    }
  }
}
