/* Component consuming other components inside shadowDOM needs to import its variables to display correctly */
@use '../../../components/checkbox/checkbox-vars' as *;

/* Mixins */
@use '../../../mixins/box-sizing' as *;
@use '../../../mixins/focus-state' as *;

:host {
  @include tds-box-sizing;

  display: contents;

  .tds-table__row,
  .tds-table__row-extend {
    display: table-row;
    border-bottom: 1px solid var(--tds-table-divider);
    background-color: var(--tds-table-body-row-background);
    transition: background-color 200ms ease;
    color: var(--tds-table-body-cell-text-color);
  }

  .tds-table__row--expanded {
    border-bottom: none;

    --tds-table-background: var(--tds-table-body-cell-background-expanded);
    --tds-table-body-cell-background-hover: var(--tds-table-body-row-background-selected-hover);
  }

  .tds-table__row--selected {
    --tds-table-background: var(--tds-table-body-row-background-selected);

    background-color: var(--tds-table-background);

    --tds-table-body-cell-background-hover: var(--tds-table-body-row-background-selected-hover);
  }

  .tds-table__row:hover,
  .tds-table__row-extend:hover {
    background-color: var(--tds-table-body-row-background-hover);

    --tds-table-background: var(--tds-table-body-row-background-hover);

    &.tds-table__row--selected {
      --tds-table-background: var(--tds-table-body-row-background-selected-hover);

      background-color: var(--tds-table-background);
    }
  }

  .tds-table__body-cell--checkbox {
    min-width: var(--unit-48);
    width: var(--unit-48);
    padding: 0;
  }

  .tds-form-label--table {
    width: 100%;
    height: var(--tds-table-row-height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .tds-table__row-expand {
    display: none;
    transition: background-color 200ms ease;

    &--expanded {
      border-bottom: 1px solid var(--tds-table-divider);
    }

    .tds-table__cell-expand {
      max-width: 1px;
      overflow: auto;
      padding: var(--unit-16) var(--unit-16) var(--unit-16) var(--unit-66);
      color: var(--tds-table-body-cell-text-color);
    }

    .tds-table__cell-expand--overflow-visible {
      overflow: visible;
    }

    .tds-table__cell-expand--overflow-hidden {
      overflow: hidden;
    }
  }

  .tds-table__expand-control {
    all: unset;
    position: absolute;
    padding: 0;
    display: flex;
    width: 46px;
    height: 46px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:focus {
      @include tds-focus-state;
    }

    .tds-expandable-row-icon {
      height: var(--unit-16);
      width: var(--unit-16);
      transition: transform 200ms ease;
      transform: rotate(0);
      color: var(--tds-table-expand-icon-color);
    }
  }
}

:host(.tds-table__row-expand--active) {
  .tds-table__row {
    background-color: var(--tds-table-body-cell-background-expanded);

    --tds-table-background: not(.tds-table__row-expand--active);
  }

  .tds-table__expand-control {
    .tds-expandable-row-icon {
      transform: rotate(180deg);
    }
  }

  .tds-table__row-expand {
    background-color: var(--tds-table-body-cell-background-expanded);
    display: table-row;
  }

  ::slotted([slot='expand-row']) {
    padding: 4px;
  }
}

// test
:host(.tds-table__compact) {
  .tds-table__expand-control {
    height: var(--unit-30);
  }

  .tds-table__row-expand {
    .tds-table__cell-expand {
      padding: var(--unit-8) var(--unit-16) var(--unit-8) var(--unit-66);
    }
  }

  .tds-form-label--table {
    height: var(--tds-table-row-height-compact);
  }
}

:host(.tds-table__row--hidden) {
  display: none;
}

:host(.tds-table--divider) {
  .tds-table__body-cell:has(.tds-table__expand-control) {
    border-right: 1px solid var(--tds-table-divider);
  }

  .tds-table__body-cell--checkbox {
    border-right: 1px solid var(--tds-table-divider);
    border-bottom: 1px solid var(--tds-table-divider);
  }
}
