.tl-divider {
  --divider-background: var(--color-foreground-border-discrete);
  --divider-background-strong: var(--color-foreground-border-strong);
  --divider-background-discrete: var(--color-foreground-border-discrete);
}
