.tl-divider {
  --divider-background: var(--color-foreground-border-discrete);
  --divider-background-strong: var(--color-foreground-border-strong);
  --divider-background-discrete-light: var(--color-foreground-border-discrete);
  --divider-background-discrete-dark: var(--color-foreground-border-disabled);
}
