@use '../../../mixins/box-sizing' as *;
@use '../../../mixins/tl-scrollbar' as *;
@use './tl-table-vars' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-table__footer {
  display: table-footer-group;
  height: var(--tds-spacing-element-48);

  .tl-table--compact & {
    height: var(--tds-spacing-element-32);
  }
}

.tl-table__footer .tl-dropdown__text {
  max-width: calc(100% - 20px);
}

.tl-table__footer
.tl-dropdown--sm
:is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input),
.tl-table__footer .tl-dropdown__option {
  height: 29px;
}

.tl-table__footer-row {
  display: table-row;
  border-bottom: 1px solid var(--table-divider);
  background-color: var(--table-footer);
  color: var(--table-text);
  transition: background-color 200ms ease;
}

.tl-table__footer-cell {
  padding: 0 var(--tds-spacing-element-16);
}

.tl-table__pagination {
  height: var(--tds-spacing-element-48);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tl-table--compact & {
    height: var(--tds-spacing-element-32);
  }
}

.tl-table__row-selector,
.tl-table__page-selector {
  display: flex;
  align-items: center;
}

.tl-table__rows-per-page {
  margin-right: var(--tds-spacing-element-16);
  display: flex;
  align-items: center;
}

.tl-table__rows-per-page-label {
  margin-right: var(--tds-spacing-element-8);
}

.tl-table__rows-per-page-select {
  background-color: var(--table-footer-page-selector-input);
  color: var(--table-text);
  height: 30px;
  border: none;
  border-radius: var(--tds-spacing-element-4);
  padding: 0 var(--tds-spacing-element-8);
  transition: background-color 250ms ease;

  &:hover {
    background-color: var(--table-footer-page-selector-input-hover);
  }

  &:disabled {
    color: var(--table-footer-page-selector-input-color-disabled);
  }

  .tl-table--compact & {
    height: var(--tds-spacing-element-24);
  }
}

.tl-table__page-selector-input {
  background-color: var(--table-footer-page-selector-input);
  border-radius: var(--tds-spacing-element-4);
  color: var(--table-text);
  margin-right: var(--tds-spacing-element-4);
  padding-right: var(--tds-spacing-element-8);
  width: 74px;
  height: 30px;
  border: none;
  transition: background-color 250ms ease;

  &:hover {
    background-color: var(--table-footer-page-selector-input-hover);
  }

  &:disabled {
    color: var(--table-footer-page-selector-input-color-disabled);
  }

  .tl-table--compact & {
    height: var(--tds-spacing-element-24);
  }
}

.tl-table__footer-text {
  padding: 1px 22px 0 0;
}

.tl-table__footer-button {
  border-radius: var(--tds-spacing-element-4);
  color: var(--table-icon);
  height: var(--tds-spacing-element-32);
  width: var(--tds-spacing-element-32);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms ease;

  &:hover {
    background-color: var(--table-footer-button-hover);
  }

  &:disabled {
    color: var(--table-icon-disabled);
    cursor: default;

    &:hover {
      background-color: transparent;
    }
  }

  .tl-table--compact & {
    height: 28px;
    width: 28px;
  }
}
