@use '../../../../../../tokens/scss/component/table';

.tl-table {
  --table-background: var(--table-body-row);
  --table-cell-background: var(--table-body-row);

  /* Table-header */
  --table-header: var(--component-table-background-header-default);
  --table-header-hover: var(--component-table-background-header-hover);
  --table-header-text-color: var(--component-table-text-header-default);

  /* Table-toolbar */
  --table-toolbar: var(--component-table-background-toolbar-default);
  --table-toolbar-text-color: var(--component-table-text-toolbar-default);

  /* Table-footer */
  --table-footer: var(--component-table-background-footer-default);
  --table-footer-text-color: var(--component-table-text-footer-default);
  --table-footer-page-selector-input-background: var(--component--input-background-secondary);

  /* Divider */
  --table-divider: var(--component-table-border-divider-default);
  --table-divider-hover: var(--component-table-border-divider-hover);
  --table-border-radius: calc(var(--component-table-border-radius-default) * 1px);

  /* Table-body-cell */
  --table-body-cell-hover: var(--component-table-background-cell-primary-hover);
  --table-body-cell-text-color: var(--component-table-text-cell-default);

  /* Table-body-row */
  --table-body-row: var(--component-table-background-cell-primary-default);
  --table-body-row-hover: var(--component-table-background-cell-primary-hover);
  --table-zebra-mode: var(--component-table-background-cell-secondary-default);
  --table-body-row-selected: var(--component-table-background-cell-selected-default);
  --table-body-row-expanded: var(--component-table-background-cell-expanded-default);
  --table-body-row-selected-hover: var(--component-table-background-cell-selected-hover);

  /* Table input body */
  --table-input-placeholder-text-color: var(--component-table-text-placeholder-default);
  --table-input-value-text-color: var(--component-table-text-value-default);
  --table-input-opacity-disabled: calc(var(--component--input-opacity-disabled) / 100);

  /* Table-icons */
  --table-edit-icon-color: var(--component-table-icon-edit-default);
  --table-expand-icon-color: var(--component-table-icon-expand-default);
  --table-filter-icon-color: var(--component-table-icon-filter-default);
  --table-prefix-icon-color: var(--component-table-icon-prefix-default);
  --table-sort-icon-color: var(--component-table-icon-sort-default);

  &.tl-table--primary {
    --table-body-row: var(--component-table-background-cell-primary-default);
    --table-body-row-hover: var(--component-table-background-cell-primary-hover);
    --table-body-cell-hover: var(--component-table-background-cell-primary-hover);
    --table-zebra-mode: var(--component-table-background-cell-secondary-default);
  }

  &.tl-table--secondary {
    --table-body-row: var(--component-table-background-cell-secondary-default);
    --table-body-row-hover: var(--component-table-background-cell-secondary-hover);
    --table-body-cell-hover: var(--component-table-background-cell-secondary-hover);
    --table-zebra-mode: var(--component-table-background-cell-primary-default);
  }
}
