@use '../../../../../../tokens/scss/component/table';

.tl-table {
  /* Table-text */
  --table-text: var(--color-text-strong);

  /* Table-body-cell */
  --table-body-cell-hover: var(--component-table-cell-hover);

  /* Table-body-row */
  --table-body-row: var(--component-table-cell);
  --table-body-row-hover: var(--component-table-cell-hover);
  --table-zebra-mode: var(--component-table-secondary-cell);
  --table-body-row-selected: var(--color-background-layer-03);
  --table-body-row-selected-hover: var(--color-background-layer-03);

  /* Table input body */
  --table-input-focus: var(--color-background-layer-02);
  --table-input-hover: var(--color-background-layer-03);
  --table-input-disabled: var(--color-background-layer-01);
  --table-input-text-disabled: var(--color-text-subtle);

  /* Table input header */
  --table-input-header-icon: var(--color-icon-soft);
  --table-input-header-placeholder: var(--color-text-subtle);
  --table-input-header-focus: var(--color-background-layer-01);

  /* Table-footer */
  --table-footer: var(--component-table-pagination-base);
  --table-footer-page-selector-input: var(--component-table-pagination-dropdown);
  --table-footer-page-selector-input-hover: var(--color-background-layer-03);
  --table-footer-page-selector-input-disabled: var(--color-background-layer-01);
  --table-footer-button-hover: var(--color-background-layer-03);

  /* Table-header */
  --table-header: var(--color-background-layer-03);
  --table-header-hover: var(--color-background-layer-03);
  --table-header-button: var(--color-background-layer-02);
  --table-header-button-hover: var(--color-background-layer-03);
  --table-header-button-focus: var(--color-system-info-default);

  /* Table-toolbar */
  --table-toolbar: var(--color-background-layer-03);
  --table-toolbar-searchbar: var(--component-table-pagination-dropdown);
  --table-toolbar-searchbar-hover: var(--component-table-pagination-base);
  --table-toolbar-searchbar-border-bottom: var(--color-system-info-default);

  /* Divider */
  --table-divider: var(--color-border-discrete);

  /* Table-icons */
  --table-icon: var(--color-icon-strong);
  --table-icon-disabled: var(--color-icon-disabled);

  &.tl-table--primary {
    --table-body-row: var(--component-table-cell);
    --table-body-row-hover: var(--component-table-cell-hover);
    --table-body-cell-hover: var(--component-table-cell-hover);
    --table-zebra-mode: var(--component-table-secondary-cell);
  }

  &.tl-table--secondary {
    --table-body-row: var(--component-table-secondary-cell);
    --table-body-row-hover: var(--component-table-cell-hover);
    --table-body-cell-hover: var(--component-table-cell-hover);
    --table-zebra-mode: var(--component-table-cell);
  }
}

// Dark mode variant secondary
.tl-mode-dark .tl-table {
  &.tl-table--secondary {
    --table-body-cell-hover: var(--color-background-layer-03);
    --table-body-row-hover: var(--color-background-layer-03);
  }
}

.traton .tl-mode-light .tl-table {
  --table-header: var(--traton-color-grey-400);
}

.traton .tl-mode-dark .tl-table {
  --table-header: var(--traton-color-blue-700);
}
