:root {
  --tds-background-image-scania-wordmark-white-svg: url('./assets/logos/scania-wordmark-white.svg');
  --tds-background-image-scania-symbol-svg: url('./assets/logos/scania-symbol.svg');
  --tds-background-image-scania-symbol-png: url('./assets/logos/scania-symbol.png');
}
