:root {
  --traton-logotype-white-png: url('https://cdn.digitaldesign.scania.com/logotype/multibrand/traton/traton-logotype-white.png');
  --traton-logotype-white-png-local: url('./assets/logos/traton/traton-logotype-white.png');
  --traton-logotype-white-svg: url('https://cdn.digitaldesign.scania.com/logotype/multibrand/traton/traton-logotype-white.svg');
  --traton-logotype-white-svg-local: url('./assets/logos/traton/traton-logotype-white.svg');
  --traton-logotype-black-png: url('https://cdn.digitaldesign.scania.com/logotype/multibrand/traton/traton-logotype-black.png');
  --traton-logotype-black-png-local: url('./assets/logos/traton/traton-logotype-black.png');
  --traton-logotype-black-svg: url('https://cdn.digitaldesign.scania.com/logotype/multibrand/traton/traton-logotype-black.svg');
  --traton-logotype-black-svg-local: url('./assets/logos/traton/traton-logotype-black.svg');
}
