:root,
.tds-mode-light {
  --tds-popover-canvas-color: var(--tds-grey-958);
  --tds-popover-canvas-background: var(--tds-white);
}

.tds-mode-dark {
  --tds-popover-canvas-color: var(--tds-grey-50);
  --tds-popover-canvas-background: var(--tds-grey-900);
}
