@import '../../mixins/box-sizing';
@import '../../mixins/z-index';

.tds-popover-canvas {
  @include tds-box-sizing;

  color: var(--tds-popover-canvas-color);
  background-color: var(--tds-popover-canvas-background);
  box-shadow: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 10%);
  border-radius: 4px;
  z-index: tds-z-index(tooltip);
}
