@use '../../../../../../tokens/scss/component/shadow';
@use '../../../../../../tokens/scss/component/modal';
@use '../../../../../../tokens/scss/component/overlay';

.tl-modal,
:root {
  --modal-background: var(--component-modal-background-default);
  --modal-backdrop: color-mix(
    in srgb,
    var(--component-overlay-background-default) calc(var(--component-overlay-opacity-default) * 1%),
    transparent
  );
  --modal-border-radius: calc(var(--component-modal-border-radius-default) * 1px);
  --modal-text: var(--component-modal-text-title-default);
  --modal-cross-svg: var(--component-modal-icon-dismiss-default);
  --modal-shadow: 0 2px 3px 0 var(--component-shadow-base-modifier);
  --component-shadow-base-modifier: var(--scania-color-transparent-invisible-dark);
}
