@import '../../../../../../typography/utilities/typography-utility';
@import '../../../mixins/focus-state';
@import './tl-link-vars';

.tl-link {
  display: inline-flex;
  color: var(--link);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;

  &:focus-visible {
    @include tds-focus-state;

    outline-width: var(--link-focus-outline-width);
    text-decoration: none;
  }

  &:active {
    text-decoration-color: var(--link);
  }

  &:hover {
    color: var(--link-hover);
    text-decoration-color: var(--link-hover);
  }

  &:visited {
    color: var(--link-visited);
    text-decoration-color: var(--link-visited);
  }

  &--disabled {
    color: var(--link-disabled);
    text-decoration-color: var(--link-disabled);
    pointer-events: none;
    cursor: not-allowed;

    &:visited {
      color: var(--link-disabled);
      text-decoration-color: var(--link-disabled);
    }
  }

  &--underline {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &--standalone {
    @include detail-02;
  }
}

.tl-link__icon {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
  color: inherit;

  .tl-icon {
    .tl-link:hover & {
      color: var(--link-hover);
    }

    .tl-link:visited & {
      color: var(--link-visited);
    }

    .tl-link:active & {
      color: var(--link);
    }
  }
}
