:root,
.tds-mode-light {
  --tds-tooltip-background: var(--tds-grey-800);
  --tds-tooltip-color: var(--tds-white);
}

.tds-mode-dark {
  --tds-tooltip-background: var(--tds-grey-200);
  --tds-tooltip-color: var(--tds-grey-958);
}
