@use '../../../components/checkbox/checkbox-vars' as *;
@use '../../../mixins/box-sizing' as *;
@use '../../../mixins/focus-state' as *;

:host(.tds-table__row) {
  @include tds-box-sizing;

  display: table-row;
  border-bottom: 1px solid var(--tds-table-divider);
  background-color: var(--tds-table-background);
  transition: background-color 200ms ease;
  color: var(--tds-table-body-cell-text-color);

  .tds-table__body-cell--checkbox {
    min-width: var(--unit-48);
    width: var(--unit-48);
    padding: 0;
  }
}

:host(.tds-table__row:hover) {
  --tds-table-background: var(--tds-table-body-row-background-hover);
}

:host(.tds-table__row--selected) {
  --tds-table-background: var(--tds-table-body-row-background-selected);
}

:host(.tds-table__row--hidden) {
  display: none;
}

:host {
  // Extra rule for label use in table
  .tds-form-label--table {
    width: 100%;
    height: var(--tds-table-row-height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

:host(.tds-table__compact) {
  .tds-form-label--table {
    height: var(--tds-table-row-height-compact);
  }
}

:host(.tds-table--divider) {
  .tds-table__body-cell--checkbox {
    border-right: 1px solid var(--tds-table-divider);
  }
}

:host(.tds-table__row--clickable) {
  cursor: pointer;
}

:host(.tds-table__row--clickable:focus-visible) {
  @include tds-focus-state;
}
