@use '../../../../../../tokens/scss/component/-input';

.tl-datetime {
  // Colors - Base
  --datetime-background-primary: var(--component--input-background-primary);
  --datetime-background-secondary: var(--component--input-background-secondary);
  --datetime-background: var(--datetime-background-primary);
  --datetime-text: var(--component--input-text-value-default);
  --datetime-placeholder: var(--component--input-text-placeholder-default);
  --datetime-label: var(--component--input-text-label-default);
  --datetime-helper: var(--component--input-text-helper-default);
  --datetime-helper-error: var(--component--input-text-error-default);
  --datetime-icon: var(--component--input-icon-suffix-default);
  --datetime-icon-error: var(--component--input-text-error-default);
  --datetime-opacity-disabled: calc(var(--component--input-opacity-disabled) / 100);

  &--primary {
    --datetime-background: var(--datetime-background-primary);
  }

  &--secondary {
    --datetime-background: var(--datetime-background-secondary);
  }
}
