:root,
.tds-mode-light {
  --tds-popover-menu-color: var(--tds-grey-950);
  --tds-popover-menu-background: var(--tds-white);
  --tds-popover-menu-background-hover: var(--tds-grey-100);
  --tds-popover-menu-divider-color: var(--tds-grey-350);
  --tds-popover-menu-divider-disabled-color: var(--tds-grey-250);
  --tds-popover-menu-divider-disabled-icon-color: var(--tds-grey-950);
}

.tds-mode-dark {
  --tds-popover-menu-color: var(--tds-white);
  --tds-popover-menu-background: var(--tds-grey-850);
  --tds-popover-menu-background-hover: var(--tds-grey-700);
  --tds-popover-menu-divider-color: var(--tds-grey-500);
  --tds-popover-menu-divider-disabled-color: var(--tds-grey-500);
  --tds-popover-menu-divider-disabled-icon-color: var(--tds-grey-50);

  .tds-mode-variant-primary {
    --tds-popover-menu-background: var(--tds-grey-850);
  }

  .tds-mode-variant-secondary {
    --tds-popover-menu-background: var(--tds-grey-800);
  }
}
