:host {
  height: var(--side-menu-profile-user-image-size);

  img,
  ::slotted(*) {
    width: var(--side-menu-profile-user-image-size);
    height: var(--side-menu-profile-user-image-size);
    border-radius: 50%;
  }
}
