@import '../../../mixins/box-sizing';
@import '../../../../../../typography/utilities/typography-utility';

:host {
  @include headline-07;

  color: var(--header-nav-item);

  .item {
    all: unset;
    @include tds-box-sizing;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--tds-header-height);
    height: var(--tds-header-height);
    margin: 0;
  }

  slot {
    white-space: nowrap;
  }

  ::slotted(svg) {
    font-size: 20px;
  }
}
