@use '../../mixins/box-sizing' as *;
@use '../../mixins/z-index' as *;

.tds-popover-canvas {
  @include tds-box-sizing;

  display: inline-block;
  color: var(--tds-popover-canvas-color);
  background-color: var(--tds-popover-canvas-background);
  box-shadow: var(--tds-popover-canvas-box-shadow);
  border-radius: 4px;
  z-index: tds-z-index(tooltip);
}
