@import '../../mixins/box-sizing';
@import '../../mixins/z-index';

.tds-popover-canvas {
  @include tds-box-sizing;

  display: inline-block;
  color: var(--popover-canvas-text);
  background-color: var(--popover-canvas-background);
  box-shadow: var(--popover-canvas-box-shadow);
  border-radius: 4px;
  z-index: tds-z-index(tooltip);
}
