@use '../../../mixins/focus-state' as *;
@use '../../../mixins/side-menu-border-selected' as *;
@use './tl-side-menu-vars' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-side-menu__dropdown {
  display: flex;
  flex-direction: column;

  @include title-01;

  .tl-side-menu__item {
    &::after {
      content: '';
      position: absolute;
      right: var(--side-menu-item-horizontal-padding);
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-color: currentcolor;
      mask-image: var(--icon-chevron_down-svg);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      pointer-events: none;
      transition: transform 0.2s ease-in-out;
    }
  }

  &--open {
    .tl-side-menu__item::after {
      transform: translateY(-50%) rotate(180deg);
    }

    .tl-side-menu__dropdown-menu {
      display: block;
    }
  }
}

.tl-side-menu__dropdown-menu {
  display: none;
  flex-direction: column;
}

.tl-side-menu__dropdown-header {
  display: none;
  width: 100%;
  height: var(--side-menu-item-height);
  border-bottom: var(--side-menu-item-border-thickness) solid
    var(--side-menu-item-border-bottom-color);
}

.tl-side-menu__dropdown-list {
  padding: 0;
  list-style: none;
  border-radius: 0;
  background-color: var(--side-menu-background);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--side-menu-sub-items-gap);
}

.tl-side-menu__dropdown-item {
  all: unset;
  box-sizing: border-box;
  border-right: var(--side-menu-item-border-thickness) solid
    var(--side-menu-item-border-bottom-color);
  display: inline-block;
  align-items: center;
  height: var(--side-menu-sub-item-height);
  padding: 0 var(--side-menu-item-horizontal-padding);
  width: 100%;
  background-color: var(--side-menu-item-background);
  color: var(--side-menu-item-text-color);
  border: none;
  border-radius: var(--side-menu-item-border-radius);
  position: relative;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @include body-02;

  &:hover {
    background-color: var(--side-menu-item-background-hover);
  }

  &:active {
    background-color: var(--side-menu-item-background-active);
  }

  &:focus-visible {
    @include tds-focus-state-inset;
  }

  &--selected {
    background-color: var(--side-menu-item-background-selected);
    color: var(--side-menu-item-text-color);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      @include tl-side-menu-border-selected;
    }
  }
}

.tl-side-menu:not(.tl-side-menu--collapsed)
  .tl-side-menu__dropdown:has(.tl-side-menu__item .tl-icon) {
  .tl-side-menu__dropdown-item {
    :not(.tl-side-menu--collapsed) & {
      padding: var(--side-menu-sub-item-padding-icon);
    }
  }
}

.tl-side-menu:not(.tl-side-menu--collapsed)
  .tl-side-menu__dropdown:has(.tl-side-menu__item .tl-side-menu__user .tl-side-menu__user-image) {
  .tl-side-menu__dropdown-item {
    padding: var(--side-menu-sub-item-padding-icon);
  }
}
