@use '../../../mixins/focus-state' as *;
@use '../../../mixins/side-menu-border-selected' as *;
@use './tl-side-menu-vars' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-side-menu__item {
  all: unset;
  box-sizing: border-box;
  height: var(--side-menu-item-height);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 var(--side-menu-item-horizontal-padding);
  border: none;
  background-color: var(--side-menu-item-background);
  color: var(--side-menu-item-text-color);
  cursor: pointer;
  position: relative;
  border-radius: var(--side-menu-item-border-radius);

  @include title-01;

  &:focus-visible {
    @include tds-focus-state-inset;
  }

  &:hover {
    background-color: var(--side-menu-item-background-hover);
  }

  &:active {
    background-color: var(--side-menu-item-background-active);
  }

  &--selected {
    position: relative;
    background-color: var(--side-menu-item-background-selected);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      @include tl-side-menu-border-selected;
    }
  }
}
