@use '../../../../../../tokens/scss/component/side-menu';

.tl-side-menu {
  --side-menu-background-cover: var(--color-background-base);
  --side-menu-item-state-hover: var(--color-background-layer-01);
  --side-menu-item-state-active: var(--color-background-surface-100);
  --side-menu-item-state-selected: var(--color-background-layer-01);
  --side-menu-single-subitem-selected-border-color: var(--color-foreground-border-accent-focus);
  --side-menu-dropdown-list-item-color: var(--color-foreground-text-defined);
  --side-menu-subnav-background: var(--color-background-layer-01);
  --side-menu-single-item-color: var(--color-foreground-text-strong);
  --side-menu-bottom-menu-border-top: var(--component-side-menu-color-divider);

  // Custom variables for dropdown colors when not collapsed:
  --side-menu-dropdown-list-item-custom-background: var(--side-menu-background-cover);
  --side-menu-dropdown-list-item-custom-background-hover: var(--side-menu-item-state-hover);
  --side-menu-dropdown-list-item-custom-background-active: var(--side-menu-item-state-active);
  --side-menu-dropdown-list-item-custom-background-selected: var(--side-menu-item-state-selected);
}

.scania {
  .tl-side-menu {
    --side-menu-bottom-menu-border-top-collapsed: 1px solid var(--color-foreground-border-discrete);
    --side-menu-close-button-wrapper-height: auto;
    --side-menu-collapsed-button-size: 68px;
    --side-menu-collapsed-dropdown-background-active: var(--color-background-surface-100);
    --side-menu-collapsed-dropdown-background-hover: var(--color-background-layer-01);
    --side-menu-collapsed-dropdown-background-selected: var(--color-background-layer-01);
    --side-menu-collapsed-dropdown-background: var(--color-background-base);
    --side-menu-collapsed-dropdown-heading-padding-left: 24px;
    --side-menu-dropdown-list-item-height: 48px;
    --side-menu-profile-user-image-size: 34px;
    --side-menu-single-item-height: 68px;
    --side-menu-subnav-border-radius: 0;
    --side-menu-subnav-box-shadow: var(--tds-nav-dropdown-menu-box);
    --side-menu-text-item-font-family: 'Scania Sans Semi Condensed', arial, 'Helvetica Neue';
    --side-menu-text-item-font-size: 14px;
    --side-menu-text-item-font-weight: 700;
    --side-menu-text-item-line-height: 16px;
    --side-menu-text-item-letter-spacing: -0.14px;
    --side-menu-sub-item-with-icon: 56px;
    --side-menu-sub-item-with-user-image: 72px;
  }
}

.traton {
  .tl-side-menu {
    --side-menu-bottom-menu-border-top-collapsed: none;
    --side-menu-close-button-wrapper-height: 64px;
    --side-menu-collapsed-button-size: 72px;
    --side-menu-collapsed-dropdown-background-active: var(--color-background-surface-200);
    --side-menu-collapsed-dropdown-background-hover: var(--color-background-surface-100);
    --side-menu-collapsed-dropdown-background-selected: var(--color-background-surface-100);
    --side-menu-collapsed-dropdown-background: var(--color-background-layer-01);
    --side-menu-collapsed-dropdown-heading-padding-left: 14px;
    --side-menu-dropdown-list-item-height: 32px;
    --side-menu-profile-user-image-size: 25.5px;
    --side-menu-single-item-height: 40px;
    --side-menu-subnav-border-radius: 4px;
    --side-menu-subnav-box-shadow: none;
    --side-menu-text-item-font-family: 'TRATON Type Text';
    --side-menu-text-item-font-size: 14px;
    --side-menu-text-item-font-weight: 500;
    --side-menu-text-item-line-height: 18px;
    --side-menu-text-item-letter-spacing: 0;
    --side-menu-sub-item-with-icon: 38px;
    --side-menu-sub-item-with-user-image: 46px;
  }
}

.tl-side-menu--collapsed {
  // Custom variables for dropdown colors when collapsed:
  --side-menu-dropdown-list-item-custom-background: var(--side-menu-collapsed-dropdown-background);
  --side-menu-dropdown-list-item-custom-background-hover: var(
    --side-menu-collapsed-dropdown-background-hover
  );
  --side-menu-dropdown-list-item-custom-background-active: var(
    --side-menu-collapsed-dropdown-background-active
  );
  --side-menu-dropdown-list-item-custom-background-selected: var(
    --side-menu-collapsed-dropdown-background-selected
  );
}
