@use '../../../../../../tokens/scss/component/side-menu';

.tl-side-menu {
  // core
  --side-menu-background: var(--component-side-menu-background-default);
  --side-menu-border-right-color: var(--component-side-menu-border-divider-default);
  --side-menu-border-thickness: var(--unit-1);

  // side menu item
  --side-menu-item-background: var(--component-side-menu-background-item-link-default);
  --side-menu-item-border-bottom-color: var(--component-side-menu-border-divider-default);
  --side-menu-item-border-thickness: var(--unit-1);
  --side-menu-item-border-radius: calc(var(--component-side-menu-border-radius-default) * 1px);
  --side-menu-item-text-color: var(--component-side-menu-text-item-link-default);
  --side-menu-item-background-hover: var(--component-side-menu-background-item-link-hover);
  --side-menu-item-background-active: var(--component-side-menu-background-item-link-active);
  --side-menu-item-background-selected: var(--component-side-menu-background-item-current-default);
  --side-menu-item-border-left-color-selected: var(
    --component-side-menu-border-item-indicator-default
  );
  --side-menu-item-icon-color: var(--component-side-menu-icon-item-link-default);
  --side-menu-item-text-width: 168px; // derived from side-menu width (272px) minus paddings and other elements

  // side menu item user
  --side-menu-item-user-subheading-color: var(--component-side-menu-text-subtitle-default);

  // side menu user
  --side-menu-item-user-text-width: 150px; // derived from side-menu width (272px) minus paddings and other elements
  --side-menu-user-gap: var(--unit-16);
}

.scania .tl-side-menu {
  --side-menu-width-collapsed: var(--unit-68);
  --side-menu-horizontal-padding: 0px;
  --side-menu-gap: 0px;
  --side-menu-dropdown-box-shadow: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --side-menu-item-horizontal-padding: var(--unit-22);
  --side-menu-item-height: var(--unit-68);
  --side-menu-item-icon-size: var(--unit-24);

  // side menu sub-item
  --side-menu-sub-item-height: var(--unit-48);
  --side-menu-sub-item-padding-icon: var(--unit-16) var(--unit-48) var(--unit-16) var(--unit-58);
  --side-menu-sub-items-gap: 0px;

  // side menu user image
  --side-menu-user-image-size: var(--unit-34);

  // close button
  --side-menu-close-button-height: var(--unit-64);
}

.traton .tl-side-menu {
  --side-menu-width-collapsed: var(--unit-72);
  --side-menu-horizontal-padding: var(--unit-16);
  --side-menu-gap: var(--unit-16);
  --side-menu-dropdown-box-shadow: none;

  // side menu item
  --side-menu-item-horizontal-padding: var(--unit-12);
  --side-menu-item-height: var(--unit-40);
  --side-menu-item-icon-size: var(--unit-16);

  // side menu sub-item
  --side-menu-sub-item-height: var(--unit-32);
  --side-menu-sub-item-padding-icon: var(--unit-8) var(--unit-48) var(--unit-8) var(--unit-40);
  --side-menu-sub-items-gap: var(--unit-10);

  // side menu user image
  --side-menu-user-image-size: var(--unit-24);

  // close button
  --side-menu-close-button-height: var(--unit-36);
}
