@use './tl-side-menu-vars' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

// Breakpoint for responsive layout
$breakpoint-lg: 992px;

.tl-side-menu__user {
  display: flex;
  align-items: center;
  gap: var(--side-menu-user-gap);
  height: var(--side-menu-item-height);
  @include title-01;
}

.tl-side-menu__user-image {
  height: var(--side-menu-user-image-size);
  width: var(--side-menu-user-image-size);

  * {
    width: var(--side-menu-user-image-size);
    height: var(--side-menu-user-image-size);
    border-radius: 50%;
  }
}

.tl-side-menu__user-label {
  display: block;
  color: var(--side-menu-item-text-color);

  .tl-side-menu:not(.tl-side-menu--collapsed) & {
    width: var(--side-menu-item-user-text-width);
  }

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  .subheader {
    color: var(--side-menu-item-user-subheading-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (min-width: $breakpoint-lg) {
  .tl-side-menu__dropdown .tl-side-menu__user .tl-side-menu__user-label {
    .tl-side-menu--collapsed & {
      display: none;
    }
  }
}
