@use '../../../mixins/tl-scrollbar' as *;
@use '../../../mixins/z-index' as *;
@use '../../../global/variables' as *;
@use './tl-side-menu-vars' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

@use 'item' as *;
@use 'dropdown' as *;
@use 'user' as *;

// Breakpoint for responsive layout
$breakpoint-lg: 992px;

.tl-side-menu {
  pointer-events: none;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: tds-z-index(side-menu);
}

.tl-side-menu__list,
.tl-side-menu__list li,
.tl-side-menu__upper-list,
.tl-side-menu__upper-list li,
.tl-side-menu__end-list,
.tl-side-menu__end-list li {
  display: flex;
  flex-direction: column;
  gap: var(--side-menu-sub-items-gap);

  @media (max-width: $breakpoint-lg) {
    &.tl-side-menu__collapse {
      display: none;
    }
  }
}

.tl-side-menu__wrapper {
  height: inherit;
}

.tl-side-menu__wrapper--closed {
  display: none;

  @media (min-width: $breakpoint-lg) {
    .tl-side-menu--persistent & {
      display: block;
    }
  }
}

.tl-side-menu__overlay {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0;
  pointer-events: auto;

  .tl-side-menu__wrapper--open & {
    opacity: 0.4;
  }
}

.tl-side-menu__close {
  margin: 0 var(--side-menu-horizontal-padding);
  height: var(--side-menu-item-height);
  opacity: 0;

  button {
    border-bottom: var(--side-menu-item-border-thickness) solid
      var(--side-menu-item-border-bottom-color);
  }

  .tl-side-menu__wrapper--open & {
    opacity: 1;
  }
}

.tl-side-menu__upper-list {
  .tl-side-menu__wrapper--empty & {
    display: none;
  }
}

.tl-side-menu__end-list {
  margin-top: var(--side-menu-item-height);
  border-top: var(--side-menu-item-border-thickness) solid var(--side-menu-item-border-bottom-color);

  .tl-side-menu__wrapper--empty & {
    margin-top: 0;
  }

  .tl-side-menu__wrapper--empty & > * {
    border-bottom: var(--side-menu-item-border-thickness) solid
      var(--side-menu-item-border-bottom-color);
  }

  .tl-side-menu__dropdown {
    display: flex;
    flex-direction: column;
    gap: var(--side-menu-sub-items-gap);
  }

  .tl-side-menu--collapsed & {
    .tl-side-menu__dropdown-menu {
      flex-direction: column-reverse;

      // This calculation was done assuming that there would only exist the collapse button below the end-list dropdown menu.
      // Overwrite this if necessary.
      bottom: calc(var(--side-menu-sub-items-gap) + var(--side-menu-item-height));
    }
  }
}

.tl-side-menu__collapse {
  display: none;

  @media (min-width: $breakpoint-lg) {
    .tl-side-menu--persistent & {
      display: flex;
      position: sticky;
      bottom: 0;
      border-top: var(--side-menu-item-border-thickness) solid
        var(--side-menu-item-border-bottom-color);
      padding: var(--side-menu-gap) var(--side-menu-horizontal-padding);
    }

    .tl-side-menu--collapsed & .tl-side-menu__collapse-text {
      display: none;
    }
  }

  .tl-side-menu__item {
    .tl-icon {
      flex-shrink: 0;
      color: var(--side-menu-item-icon-color);
    }
  }
}

.tl-side-menu__aside {
  background-color: var(--side-menu-background);
  width: 80%;
  height: inherit;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:where(.tl-side-menu__aside *) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tl-side-menu__list-wrapper {
  padding: 0 var(--side-menu-horizontal-padding);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  @include tl-scrollbar;

  gap: var(--side-menu-sub-items-gap);
}

.tl-side-menu__navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: var(--side-menu-gap);
}

.tl-side-menu__upper-list > * {
  border-bottom: var(--side-menu-item-border-thickness) solid
    var(--side-menu-item-border-bottom-color);
}

@media (min-width: $breakpoint-lg) {
  .tl-side-menu--persistent {
    pointer-events: auto;
    position: static;
    width: 272px;
    height: auto;
    border-right: var(--side-menu-item-border-thickness) solid
      var(--side-menu-item-border-bottom-color);
  }

  .tl-side-menu__overlay {
    .tl-side-menu--persistent & {
      display: none;
    }
  }

  .tl-side-menu__close {
    .tl-side-menu--persistent & {
      display: none;
    }
  }

  .tl-side-menu__aside {
    .tl-side-menu--persistent & {
      width: 272px;
    }

    .tl-side-menu--collapsed & {
      width: var(--side-menu-width-collapsed);
    }
  }

  .tl-side-menu--collapsed {
    width: calc(var(--side-menu-width-collapsed) + var(--side-menu-item-border-thickness));
    box-sizing: border-box;
  }

  .tl-side-menu__dropdown .tl-side-menu__item::after {
    .tl-side-menu--collapsed & {
      display: none;
    }
  }

  .tl-side-menu__dropdown:hover .tl-side-menu__dropdown-menu,
  .tl-side-menu__dropdown:has(.tl-side-menu__item:focus-visible) .tl-side-menu__dropdown-menu {
    .tl-side-menu--collapsed & {
      box-sizing: border-box;
      min-height: 48px;
      display: flex;
      align-items: center;
      gap: var(--side-menu-sub-items-gap);

      @include title-01;

      .tl-side-menu__dropdown-header {
        display: flex;
        align-items: center;
        padding: 16px 24px 15px;
      }

      .tl-side-menu__dropdown-item {
        border-bottom: var(--side-menu-border-thickness) solid
          var(--side-menu-item-border-bottom-color);
      }
    }
  }

  .tl-side-menu__dropdown .tl-side-menu__dropdown-item {
    .tl-side-menu--collapsed & {
      padding: 0 24px;
    }
  }

  .tl-side-menu__dropdown:hover::after {
    .tl-side-menu--collapsed & {
      content: '';
      position: absolute;
      left: 75%;
      top: 0;
      width: 14px;
      height: 100%;
    }
  }

  .tl-side-menu__dropdown-menu {
    .tl-side-menu--collapsed & {
      position: absolute;
      left: var(--side-menu-width-collapsed);
      box-shadow: var(--side-menu-dropdown-box-shadow);
      background-color: var(--side-menu-background);
      padding: var(--side-menu-sub-items-gap);
      border-radius: var(--side-menu-item-border-radius);
      display: none;
      width: 210px; // 190px + 2 * 10px (padding on each side)
      flex-direction: column;

      @include tl-scrollbar;

      overflow-y: auto;

      // Overwrite this if necessary.
      max-height: 350px;
    }
  }

  .tl-side-menu__item {
    .tl-side-menu--collapsed & {
      padding: 0 var(--side-menu-horizontal-padding);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      // color: rgb(90 90 90 / 0%);
      overflow: hidden;

      .tl-side-menu__item-text {
        display: none;
      }
    }
  }

  .tl-side-menu__item .tl-icon {
    .tl-side-menu--collapsed & {
      color: var(--side-menu-item-icon-color);
      margin-left: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .tl-side-menu__wrapper--closed {
    display: block;
  }
}

@media (max-width: $breakpoint-lg) {
  .tl-side-menu__wrapper--open {
    pointer-events: auto;
    z-index: tds-z-index(side-menu);
  }

  .tl-side-menu__navigation {
    gap: var(--side-menu-gap);
    margin-top: 0;
  }
}

@media (max-width: $media-fullwidth) {
  .tl-side-menu__aside {
    width: 100%;
  }
}

@media (min-width: $breakpoint-lg) {
  .tl-side-menu:not(.tl-side-menu--persistent) {
    display: none;
  }
}
