@use '../../mixins/box-sizing' as *;
@use '../../../../../typography/mixins/type-styles' as *;

:host {
  @include tds-box-sizing;

  [role='list'] {
    padding: 0;
    margin: 0;
    @include detail-02;

    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
}
