:root,
.tds-mode-light {
  --tds-breadcrumb-color: var(--tds-grey-950);
  --tds-breadcrumb-color-hover: var(--tds-grey-950);
  --tds-breadcrumb-color-focus: var(--tds-grey-950);
  --tds-breadcrumb-color-current: var(--tds-grey-500);
  --tds-breadcrumb-separator-color: var(--tds-grey-950);
}

.tds-mode-dark {
  --tds-breadcrumb-color: var(--tds-white);
  --tds-breadcrumb-color-hover: var(--tds-white);
  --tds-breadcrumb-color-focus: var(--tds-white);
  --tds-breadcrumb-color-current: var(--tds-grey-300);
  --tds-breadcrumb-separator-color: var(--tds-white);
}
