@import '../../mixins/box-sizing';
@import '../../../../../typography/utilities/typography-utility';

:host {
  @include tds-box-sizing;

  [role='list'] {
    padding: 0;
    margin: 0;
    @include detail-02;

    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
}
