tds-breadcrumbs {
  --breadcrumb-label: var(--color-foreground-text-strong);
  --breadcrumb-hover: var(--color-foreground-text-defined);
  --breadcrumb-current: var(--color-foreground-text-disabled);
  --breadcrumb-separator-color: var(--color-foreground-text-strong);
}
