.tl-popover-canvas {
  --popover-canvas-text: var(--color-foreground-text-strong);
  --popover-canvas-background: var(--color-background-layer-01);
}

.tds-mode-variant-primary .tl-popover-canvas,
.tl-mode-variant-primary .tl-popover-canvas {
  --popover-canvas-background: var(--color-background-layer-01);
}

.tds-mode-variant-secondary .tl-popover-canvas,
.tl-mode-variant-secondary .tl-popover-canvas {
  --popover-canvas-background: var(--color-background-layer-02);
}

.scania .tl-popover-canvas {
  --popover-canvas-box-shadow: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 10%);
}

.traton .tl-popover-canvas {
  --popover-canvas-box-shadow: none;
}
