@use '../../../../../../tokens/scss/component/popover';

.tl-popover-canvas {
  --popover-canvas-text: var(--component-popover-text-link-primary-default);
  --popover-canvas-background: var(--component-popover-background-primary);
  --popover-canvas-box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 0.1);
}

.tl-popover-canvas--primary,
.tl-popover-canvas .tl-popover-canvas--primary {
  --popover-canvas-background: var(--component-popover-background-primary);
}

.tl-popover-canvas--secondary,
.tl-popover-canvas .tl-popover-canvas--secondary {
  --popover-canvas-background: var(--component-popover-background-secondary);
}

.traton .tl-popover-canvas {
  --popover-canvas-box-shadow: none;
}
