@use './tl-popover-canvas-vars' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-popover-canvas {
  display: inline-block;
  color: var(--popover-canvas-text);
  background-color: var(--popover-canvas-background);
  box-shadow: var(--popover-canvas-box-shadow);
  border-radius: 4px;
  pointer-events: none;
  z-index: 1000;
  visibility: hidden;

  &--visible {
    visibility: visible;
    pointer-events: auto;
  }

  &--animation-fade {
    opacity: 0;
    transform: translateY(4px);
    transition: opacity 120ms ease-out, transform 120ms ease-out;
  }

  &--visible.tl-popover-canvas--animation-fade {
    opacity: 1;
    transform: translateY(0);
  }
}

.tl-popover-canvas__content {
  @include body-01;

  padding: 16px;
}

.tl-popover-canvas__header {
  @include headline-05;

  margin: 0 0 8px;
}

.tl-popover-canvas__actions {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
