@import '../core/variables'; // Import variables if this file is used standalone

/* AG-Grid General Overrides using Tegel Design System Variables */

/* Light mode variables */
:root,
.tds-mode-light {
  --tds-ag-grid-table-header-bg: var(--grey-300); /* #dbdfe6 */
  --tds-ag-grid-table-header-cell-bg-hover: var(--grey-400); /* #cdd1db */
  --tds-ag-grid-table-row-border-color: var(--grey-400); /* #cdd1db */
  --tds-ag-grid-table-row-color: var(--grey-958); /* #0d0f13 */
  --tds-ag-grid-table-filter-icon-invert: invert(0%);

  /* Primary mode variant variables, light mode */
  .tds-mode-variant-primary {
    --tds-ag-grid-table-row-bg: var(--grey-50); /* #f9fafb */
    --tds-ag-grid-table-row-hover-bg-color: var(--grey-200); /* #e7e9ee */
  }

  /* Secondary mode variant variables, light mode */
  .tds-mode-variant-secondary {
    --tds-ag-grid-table-row-bg: var(--white); /* #fff */
    --tds-ag-grid-table-row-hover-bg-color: var(--grey-100); /* #edeff3 */
  }

  /* Global variables */
  --tds-ag-grid-table-cell-focus-border-color: var(--blue-400); /* #2b70d3 */
  --tds-ag-grid-table-bottom-border-focus: 2px solid
    var(--tds-ag-grid-table-cell-focus-border-color);
  --tds-ag-grid-table-header-cell-text-font: var(
    --tds-headline-07-font
  ); /* 'Scania Sans Semi Condensed', Arial, Helvetica,
    sans-serif */

  --tds-ag-grid-table-header-cell-text-size: var(--tds-headline-07-size); /* 14px */
  --tds-ag-grid-table-header-cell-text-weight: var(--tds-headline-07-weight); /* bold */
  --tds-ag-grid-table-header-cell-text-ls: var(--tds-headline-07-ls); /* -0.01em */
  --tds-ag-grid-table-cell-text-font: var(
    --tds-detail-02-font
  ); /* 'Scania Sans Condensed', Arial, Helvetica, sans-serif */

  --tds-ag-grid-table-cell-text-size: var(--tds-detail-02-size); /* 14px */
  --tds-ag-grid-table-cell-text-ls: var(--tds-detail-02-ls); /* -0.01em */
  --tds-ag-grid-table-border-radius-top: 4px 4px 0 0;
}

/* Dark mode variables */
.tds-mode-dark {
  --tds-ag-grid-table-header-bg: var(--grey-800); /* #37414f */
  --tds-ag-grid-table-header-cell-bg-hover: var(--grey-700); /* #56657a */
  --tds-ag-grid-table-row-border-color: var(--grey-700); /* #56657a */
  --tds-ag-grid-table-row-color: var(--grey-50); /* #f9fafb */
  --tds-ag-grid-table-filter-icon-invert: invert(100%);

  /* Primary mode variant variables, dark mode */
  .tds-mode-variant-primary {
    --tds-ag-grid-table-row-bg: var(--grey-868); /* #242a33 */
    --tds-ag-grid-table-row-hover-bg-color: var(--grey-846); /* #2b323d */
  }

  /* Secondary mode variant variables, dark mode */
  .tds-mode-variant-secondary {
    --tds-ag-grid-table-row-bg: var(--grey-900); /* #1d2229 */
    --tds-ag-grid-table-row-hover-bg-color: var(--grey-846); /* #2b323d */
  }
}

/* Applied variables */
.ag-theme-quartz,
.ag-theme-quartz-dark {
  --ag-header-background-color: var(--tds-ag-grid-table-header-bg);
  --ag-header-cell-hover-background-color: var(--tds-ag-grid-table-header-cell-bg-hover);
  --ag-background-color: var(--tds-ag-grid-table-row-bg);
  --ag-foreground-color: var(--tds-ag-grid-table-row-color);
  --ag-row-hover-color: var(--tds-ag-grid-table-row-hover-bg-color);
  --ag-row-border-color: var(--tds-ag-grid-table-row-border-color);
}

/* Overrides - NOTE: Should be put into separate file */
.ag-menu {
  background: var(--ag-header-background-color);
}

.ag-filter-filter .ag-input-wrapper::before {
  filter: var(--tds-ag-grid-table-filter-icon-invert) !important;
}

.ag-root-wrapper,
.ag-picker-field-wrapper,
.ag-picker-expanded {
  border-radius: var(--tds-ag-grid-table-border-radius-top);
}

.ag-header-cell {
  font-family: var(--tds-ag-grid-table-header-cell-text-font);
  font-size: var(--tds-ag-grid-table-header-cell-text-size);
  font-weight: var(--tds-ag-grid-table-header-cell-text-weight);
  letter-spacing: var(--tds-ag-grid-table-header-cell-text-ls);
}

.ag-cell-value,
.ag-popup {
  font-family: var(--tds-ag-grid-table-cell-text-font);
  font-size: var(--tds-ag-grid-table-cell-text-size);
  letter-spacing: var(--tds-ag-grid-table-cell-text-ls);
}

.ag-header-cell-resize::after {
  content: none;
}

.ag-ltr .ag-cell {
  border-right: none;
}

.ag-ltr .ag-cell-focus:not(.ag-cell-rage-selected):focus-within {
  border-color: var(--tds-ag-grid-table-cell-focus-border-color) !important;
}

.ag-ltr .ag-cell-focus:not(.ag-cell-rage-selected):focus-within input[class^='ag-'][type]:focus {
  border: none;
  border-bottom: var(--tds-ag-grid-table-bottom-border-focus);
}

.ag-cell-inline-editing {
  border: none;
  border-radius: 0;
}

.ag-ltr input[class^='ag-'][type] {
  border-radius: 0;
  border: none;
}

.ag-filter-body input[class^='ag-'][type]:focus,
.ag-ltr input[class^='ag-'][type]:focus {
  border-bottom: var(--tds-ag-grid-table-bottom-border-focus) !important;
}

input[class^='ag-'][type]:focus,
.ag-picker-field-wrapper,
.ag-picker-field-wrapper:focus-within {
  border: none;
  box-shadow: none;
}

.ag-picker-field-wrapper:focus-within {
  border-bottom: var(--tds-ag-grid-table-bottom-border-focus);
}

.compact {
  --ag-header-height: 32px;
  --ag-row-height: 32px;
}
