tds-tooltip {
  --tds-tooltip-background: var(--component-tooltip-background-default);
  --tds-tooltip-color: var(--component-tooltip-text-default);
  --tds-tooltip-border-radius: calc(var(--component-tooltip-border-radius-radius-default) * 1px);
  --tds-tooltip-border-radius-none: calc(var(--component-tooltip-border-radius-radius-none) * 1px);
}
