@use '../../mixins/z-index' as *;
@use '../../mixins/box-sizing' as *;
@use '../../../../../typography/mixins/type-styles' as *;

:host {
  position: absolute;
}

.tds-tooltip {
  @include tds-box-sizing;

  @include detail-05;

  color: var(--tds-tooltip-color);
  background-color: var(--tds-tooltip-background);
  border-radius: var(--tds-tooltip-border-radius);
  padding: 8px;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 192px;
  z-index: tds-z-index(tooltip);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 200ms ease-in,
    visibility 200ms ease-in;

  &.tds-tooltip-top-left {
    border-radius: var(--tds-tooltip-border-radius-none) var(--tds-tooltip-border-radius)
      var(--tds-tooltip-border-radius);
  }

  &.tds-tooltip-top-right {
    border-radius: var(--tds-tooltip-border-radius) var(--tds-tooltip-border-radius-none)
      var(--tds-tooltip-border-radius) var(--tds-tooltip-border-radius);
  }

  &.tds-tooltip-bottom-right {
    border-radius: var(--tds-tooltip-border-radius) var(--tds-tooltip-border-radius)
      var(--tds-tooltip-border-radius-none);
  }

  &.tds-tooltip-bottom-left {
    border-radius: var(--tds-tooltip-border-radius) var(--tds-tooltip-border-radius)
      var(--tds-tooltip-border-radius) var(--tds-tooltip-border-radius-none);
  }
}

.tds-tooltip-show {
  opacity: 1;
  visibility: visible;
}
