:root,
.tds-mode-light,
.tl-mode-light {
  --tds-tooltip-background: var(--tds-grey-700);
  --tds-tooltip-color: var(--tds-grey-50);
}

.tds-mode-dark,
.tl-mode-dark {
  --tds-tooltip-background: var(--tds-grey-150);
  --tds-tooltip-color: var(--tds-grey-950);
}
