:root,
.tds-mode-light {
  --tds-date-picker-calendar-bg: var(--tds-grey-50);
  --tds-date-picker-calendar-color: var(--tds-grey-958);
  --tds-date-picker-date-color: var(--tds-grey-800);
  --tds-date-picker-date-color-not-current-month: var(--tds-grey-500);
  --tds-date-picker-date-bg-hover: var(--tds-grey-50);
  --tds-date-picker-date-bg-selected: var(--tds-blue-400);
  --tds-date-picker-date-color-selected: var(--tds-white);
  --tds-date-picker-date-bg-in-range: var(--tds-blue-100);
  --tds-date-picker-date-color-in-range: var(--tds-grey-700);
  --tds-date-picker-date-bg-disabled: var(--tds-grey-400);
  --tds-date-picker-date-color-disabled: var(--tds-grey-600);
  --tds-date-picker-month-color: var(--tds-grey-800);
  --tds-date-picker-month-bg-hover: var(--tds-grey-50);
  --tds-date-picker-month-bg-selected: var(--tds-blue-400);
  --tds-date-picker-month-color-selected: var(--tds-white);
  --tds-date-picker-month-bg-disabled: var(--tds-grey-400);
  --tds-date-picker-month-color-disabled: var(--tds-grey-600);
  --tds-date-picker-year-color: var(--tds-grey-800);
  --tds-date-picker-year-bg-hover: var(--tds-grey-50);
  --tds-date-picker-year-bg-selected: var(--tds-blue-400);
  --tds-date-picker-year-color-selected: var(--tds-white);
  --tds-date-picker-year-bg-disabled: var(--tds-grey-400);
  --tds-date-picker-year-color-disabled: var(--tds-grey-600);

  .tds-mode-variant-primary {
    --tds-date-picker-calendar-bg: var(--tds-grey-50);
  }

  .tds-mode-variant-secondary {
    --tds-date-picker-calendar-bg: var(--tds-white);
  }
}

.tds-mode-dark {
  --tds-date-picker-calendar-bg: var(--tds-grey-900);
  --tds-date-picker-calendar-color: var(--tds-grey-50);
  --tds-date-picker-date-bg-hover: var(--tds-grey-50);
  --tds-date-picker-date-bg-selected: var(--tds-blue-400);
  --tds-date-picker-date-color-selected: var(--tds-white);
  --tds-date-picker-date-color: var(--tds-grey-300);
  --tds-date-picker-date-color-not-current-month: var(--tds-grey-700);
  --tds-date-picker-date-bg-disabled: var(--tds-grey-400);
  --tds-date-picker-date-color-disabled: var(--tds-grey-600);
  --tds-date-picker-month-bg-hover: var(--tds-grey-50);
  --tds-date-picker-month-bg-selected: var(--tds-blue-400);
  --tds-date-picker-month-color-selected: var(--tds-white);
  --tds-date-picker-month-color: var(--tds-grey-300);
  --tds-date-picker-month-color-not-current-month: var(--tds-grey-700);
  --tds-date-picker-month-bg-disabled: var(--tds-grey-400);
  --tds-date-picker-month-color-disabled: var(--tds-grey-600);
  --tds-date-picker-year-bg-hover: var(--tds-grey-50);
  --tds-date-picker-year-bg-selected: var(--tds-blue-400);
  --tds-date-picker-year-color-selected: var(--tds-white);
  --tds-date-picker-year-color: var(--tds-grey-300);
  --tds-date-picker-year-color-not-current-month: var(--tds-grey-500);
  --tds-date-picker-year-bg-disabled: var(--tds-grey-400);
  --tds-date-picker-year-color-disabled: var(--tds-grey-600);

  .tds-mode-variant-primary {
    --tds-date-picker-calendar-bg: var(--tds-grey-900);
  }

  .tds-mode-variant-secondary {
    --tds-date-picker-calendar-bg: var(--tds-grey-868);
  }
}
