@import './tl-popover-menu-vars';
@import '../../../mixins/box-sizing';
@import '../../../../../../typography/mixins/type-styles';

.tl-popover-menu__item-wrapper {
  @include tds-box-sizing;

  display: block;
  padding: 16px 0;

  .tl-popover-menu__item,
  .tl-popover-menu__item--disabled {
    all: unset;
    width: 100%;
    display: inline-flex;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;

    &:focus-visible {
      width: stretch;
      outline: 1px solid var(--popover-menu-item-outline-focus);
      outline-offset: -1px;
    }
  }

  .tl-divider {
    width: calc(100% - 12px);
    margin: 6px !important;
  }
}

.tl-popover-menu__item {
  @include detail-02;

  color: var(--popover-menu-text);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  transition: background-color var(--tds-motion-duration-fast-02) var(--tds-motion-easing-easy);

  &:hover {
    cursor: pointer;
    background-color: var(--popover-menu-background-hover);
  }

  &--disabled {
    cursor: not-allowed !important;
    color: var(--popover-menu-item-disabled) !important;
    pointer-events: none !important;

    &:hover {
      background-color: inherit;
    }

    &:focus,
    &:focus-visible,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }

    .tl-icon {
      color: var(--popover-menu-item-icon-disabled);
    }
  }
}
