@import './tl-popover-menu-vars';
@import '../../../mixins/box-sizing';
@import '../../../../../../typography/mixins/type-styles';

/* --------------------------
   ITEM WRAPPER
--------------------------- */
.tl-popover-menu__item-wrapper {
  @include tds-box-sizing;

  display: block;
  padding: 16px 0;
}

.tl-divider {
  width: calc(100% - 12px);
  margin: 6px;
}

/* --------------------------
   ITEM (normal state)
--------------------------- */
.tl-popover-menu__item {
  @include detail-02;

  all: unset;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  color: var(--popover-menu-text);
  position: relative;
  transition: background-color var(--tds-motion-duration-fast-02) var(--tds-motion-easing-easy);

  &:hover {
    cursor: pointer;
    background-color: var(--popover-menu-background-hover);
  }

  &:focus-visible {
    outline: 1px solid var(--popover-menu-item-outline-focus);
    outline-offset: -1px;
  }
}

/* --------------------------
   ITEM — DISABLED MODIFIER
--------------------------- */
.tl-popover-menu__item--disabled {
  all: unset;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  cursor: not-allowed;
  color: var(--popover-menu-item-disabled);
  pointer-events: none;

  &:hover {
    background-color: inherit;
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

/* Icon inside disabled item */
.tl-popover-menu__item--disabled .tl-icon {
  color: var(--popover-menu-item-icon-disabled);
}
