@import './tl-popover-menu-vars';
@import '../../../mixins/box-sizing';
@import '../../../mixins/z-index';
@import '../../../../../../typography/mixins/type-styles';

.tl-popover-menu__item-wrapper {
  @include tds-box-sizing;

  display: block;
  padding: 16px 0;
}

.tl-divider {
  width: calc(100% - 12px);
  margin: 6px;
}

.tl-popover-menu__item {
  @include detail-02;

  all: unset;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  color: var(--popover-menu-text);
  position: relative;
  transition: background-color var(--tds-motion-duration-fast-02) var(--tds-motion-easing-easy);

  &:hover {
    cursor: pointer;
    background-color: var(--popover-menu-background-hover);
  }

  &:focus-visible {
    outline: 1px solid var(--popover-menu-item-outline-focus);
    outline-offset: -1px;
  }
}

.tl-popover-menu__item--disabled {
  all: unset;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  cursor: not-allowed;
  color: var(--popover-menu-item-disabled);
  pointer-events: none;

  &:hover {
    background-color: inherit;
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.tl-popover-menu__item--disabled .tl-icon {
  color: var(--popover-menu-item-icon-disabled);
}

.tl-popover-menu {
  @include tds-box-sizing;

  overflow: hidden;
  width: 160px;
  background-color: var(--popover-menu-background);
  box-shadow: var(--popover-menu-box-shadow);
  border-radius: 4px;
  z-index: tds-z-index('tooltip');
  pointer-events: none;
  visibility: hidden;

  &--visible {
    visibility: visible;
    pointer-events: auto;
  }

  &--fluid {
    width: max-content;
    display: inline-block;
  }

  &--animation-fade {
    opacity: 0;
    transform: translateY(4px);
    transition: opacity 120ms ease-out, transform 120ms ease-out;
  }

  &--visible.tl-popover-menu--animation-fade {
    opacity: 1;
    transform: translateY(0);
  }
}
