tds-dropdown-option {
  --tds-dropdown-option-background: var(--component-dropdown-background-item-default);
  --tds-dropdown-option-background-hover: var(--component-dropdown-background-item-hover);
  --tds-dropdown-option-background-selected: var(
    --component-dropdown-background-item-selected-default
  );
  --tds-dropdown-option-color: var(--component-dropdown-text-item-default);
  --tds-dropdown-option-opacity-disabled: calc(var(--component-dropdown-opacity-disabled) / 100);
  --tds-dropdown-option-border: var(--component-dropdown-border-item-divider-default);
}
