@import '../../../mixins/focus-state';

:host {
  display: block;
  background-color: var(--tds-dropdown-option-background);

  .dropdown-option {
    display: flex;
    align-items: center;
    color: var(--tds-dropdown-option-color);
    border-bottom: 1px solid var(--tds-dropdown-option-border);
    font: var(--tds-detail-02);
    letter-spacing: var(--tds-detail-02-ls);

    &.selected {
      background-color: var(--tds-dropdown-option-background-selected);
    }

    &.disabled {
      color: var(--tds-dropdown-option-color-disabled);
    }

    &.lg {
      height: 47px;
    }

    &.md {
      height: 47px;
    }

    &.sm {
      height: 39px;
    }

    button {
      all: unset;
      width: 100%;
      height: 100%;

      .single-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
      }

      &:focus {
        @include tds-focus-state;
      }
    }

    .multiselect {
      width: 100%;
      height: 100%;

      tds-checkbox {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0 16px;
      }
    }

    &:hover {
      background-color: var(--tds-dropdown-option-background-hover);
      cursor: pointer;
    }

    &:hover.disabled {
      background-color: var(--tds-dropdown-option-background);
      cursor: not-allowed;
    }
  }
}

:host([hidden]) {
  display: none;
}
