@use '../../../../../../tokens/scss/component/toast';

.tl-toast {
  --toast-background: var(--component-toast-background-information-default);
  --toast-headline: var(--component-toast-text-title-default);
  --toast-subheadline: var(--component-toast-text-body-default);
  --toast-dismiss: var(--component-toast-icon-dismiss-default);
  --toast-icon-info: var(--component-toast-icon-information-default);
  --toast-icon-success: var(--component-toast-icon-success-default);
  --toast-icon-warning: var(--component-toast-icon-warning-default);
  --toast-icon-error: var(--component-toast-icon-error-default);
}
