.tl-toast {
  // Toast background
  --toast-background: var(--color-background-inverse-base);

  // Toast text colors
  --toast-headline: var(--color-foreground-text-inverse-strong);
  --toast-subheadline: var(--color-foreground-text-inverse-soft);
  --toast-dismiss: var(--color-foreground-text-inverse-strong);

  // Toast icon colors
  --toast-icon-error: var(--color-system-danger-default);
  --toast-icon-success: var(--color-system-success-default);
  --toast-icon-warning: var(--color-system-warning-default);
  --toast-icon-info: var(--color-system-info-default);
}
