@use '../../../mixins/box-sizing' as *;
@use '../../../mixins/focus-state' as *;
@use '../../../mixins/input-border' as *;
@use '../../../../../../typography/mixins/type-styles' as *;
@use '../../../components/dropdown/dropdown-option/dropdown-option-vars' as *;
@use '../../../components/dropdown/dropdown-vars.scss' as *;
@use '../../../components/button/button-vars.scss' as *;

:host {
  @include tds-box-sizing;

  display: table-footer-group;
  height: var(--tds-table-row-height);

  .tds-table__footer-row {
    background-color: var(--tds-table-footer-background);
    color: var(--tds-table-footer-text-color);
  }

  .tds-table__footer-cell {
    padding: 0 var(--unit-16);

    .tds-table__pagination {
      height: var(--tds-table-row-height);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .tds-table__row-selector,
      .tds-table__page-selector {
        display: flex;
        align-items: center;

        .rows-per-page {
          display: flex;
          align-items: center;
          margin-right: var(--unit-16);

          p {
            @include type-system-body-01;

            margin-right: var(--unit-8);
          }

          tds-dropdown {
            width: var(--unit-77);
          }
        }

        .tds-table__page-selector-navigation {
          display: flex;
          flex-direction: row;
          width: 160px;
          justify-content: space-evenly;
        }
      }

      .tds-table__page-selector-input {
        @include type-system-body-01;
        @include input-border-default;

        background-color: var(--tds-table-footer-page-selector-input-background);
        color: var(--tds-table-footer-text-color);
        width: var(--unit-48);
        height: var(--unit-40);
        transition: background-color 250ms ease;
        margin-right: var(--unit-10);
        padding-left: var(--unit-16);

        &:hover {
          background-color: var(--tds-table-footer-page-selector-input-background);
        }

        &:disabled {
          opacity: var(--tds-table-input-opacity-disabled);
        }

        &:focus-visible {
          @include tds-focus-state;
        }
      }

      .tds-table__page-selector-input--shake {
        animation: tds-shake-animation 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }

      .tds-table__footer-text {
        @include type-system-body-01;

        padding: 1px 8px 0 0;
      }
    }
  }
}

:host(.footer__horizontal-scroll) {
  display: inline-table;
  position: absolute;
  margin-top: var(--unit-10); // height of the scrollbar
}

@keyframes tds-shake-animation {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
