.tds-link-component {
  all: unset;
  cursor: pointer;
  outline: none;
  color: var(--tds-link);
  text-decoration: underline;

  &.active,
  &:active {
    color: var(--tds-link);
    text-decoration: underline;
    text-decoration-color: var(--tds-link);
  }

  &:hover {
    color: var(--tds-link-hover);
    text-decoration: underline;
    text-decoration-color: var(--tds-link-hover);
  }

  &:visited {
    color: var(--tds-link-visited);
    text-decoration-color: var(--tds-link-visited);
  }

  &:focus {
    color: var(--tds-link-focus);
    text-decoration: none;
    outline: 2px solid var(--tds-link-focus);
    outline-offset: -2px;
  }
}

.disabled {
  .tds-link-component {
    color: var(--tds-link-disabled);
    text-decoration-color: var(--tds-link-disabled);
    pointer-events: none;
  }
}

.no-underline {
  .tds-link-component {
    text-decoration: none;
  }
}

.no-underline {
  &:hover {
    .tds-link-component {
      text-decoration: none;
    }
  }
}
