@use '../../../mixins/box-sizing' as *;
@use '../../../../../../typography/mixins/type-styles' as *;
@use '../../../mixins/focus-state' as *;
@use '../../../mixins/input-border' as *;
@use '../../../components/button/button-vars.scss' as *;
@use '../../../components/text-field/text-field-vars.scss' as *;

:host {
  @include tds-box-sizing;

  display: table-caption;
  position: relative;
  background-color: var(--tds-table-toolbar-background);
  color: var(--tds-table-toolbar-text-color);
  padding: 0 var(--unit-16);
  height: 64px;
  border-top-left-radius: var(--tds-table-border-radius);
  border-top-right-radius: var(--tds-table-border-radius);

  .tds-table__upper-bar-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .tds-table__actionbar-left {
    display: flex;
  }

  .tds-table__title {
    @include title-01;

    padding-top: var(--unit-16);
    text-align: left;
    margin-right: var(--unit-8);
  }

  .tds-table__actionbar,
  slot[name='end']::slotted(*),
  slot[name='start']::slotted(*) {
    display: flex;
    align-self: center;
  }

  .tds-table__searchbar {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 48px;
    width: 48px;
    border-radius: 4px 4px 0 0;
    transition:
      background-color 250ms ease,
      width 250ms ease;
    overflow: hidden;
    background-color: transparent;

    &.tds-table__searchbar--active {
      width: 250px;
      padding-right: 8px;
    }

    .tds-table__searchbar-input {
      display: none;
      @include type-system-body-01;

      color: var(--tds-table-input-value-text-color);
      background-color: var(--tds-table-toolbar-background);
      z-index: 2;
      width: 204px;
      height: 40px;
      right: 5px;
      cursor: pointer;

      &-show {
        display: inline-flex;
      }
    }

    .tds-table__searchbar-icon {
      padding-right: 4px;
      color: var(--tds-table-filter-icon-color);

      &-hide {
        display: none;
      }
    }
  }
}

:host(.toolbar__horizontal-scroll) {
  position: absolute;
  top: var(--unit-16);
}

:host(.tds-table--compact) {
  height: 56px;
}
