:host([role='listitem']) {
  div {
    ::slotted(*) {
      color: var(--breadcrumb-label);
      text-decoration: none;
    }

    &:hover {
      ::slotted(*) {
        color: var(--breadcrumb-hover);
        text-decoration: underline;
      }
    }

    ::slotted(*:focus-visible) {
      outline: 2px solid var(--color-foreground-border-accent-focus);
      box-shadow: 0 0 0 1px var(--tds-white);
      outline-offset: 1px;

      // Overrides the offset of the tds-focus-state to align with design.
      outline-offset: -0;
    }

    &.current,
    [aria-current='page'] {
      ::slotted(*) {
        pointer-events: none;
        cursor: default;
        color: var(--breadcrumb-current);
      }

      &:hover {
        ::slotted(*) {
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &::after {
      content: '\203A';
      color: var(--breadcrumb-separator-color);
      margin-right: 4px;
      margin-left: 4px;
      display: inline-block;
      width: 4px;
      height: 8px;
    }
  }

  .current {
    &::after {
      display: none;
    }
  }
}
