@import '../../../../../../typography/utilities/typography-utility';

:host {
  position: relative;
}

:host(:hover) {
  tds-icon {
    display: inline-block;
  }
}

:host(.focused-input-wrapper) {
  tds-icon {
    display: inline-block;
  }

  ::slotted(input:not(:focus)) {
    background-color: var(--table-input-hover);
  }
}

:host(.show-icon) {
  ::slotted(input) {
    padding-left: 35px;
  }
}

tds-icon.search-icon {
  color: var(--table-input-header-icon);
  position: absolute;
  left: 15px;
  top: 1px;
}

::slotted(input) {
  @include detail-02;

  box-sizing: border-box;
  color: var(--table-text);
  padding-left: var(--tds-spacing-element-16);
  padding-right: var(--tds-spacing-element-16);
  height: 48px;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
}

::slotted(input)::placeholder {
  color: var(--table-input-header-placeholder);
}

::slotted(input:focus) {
  outline: none;
  background-color: var(--table-input-header-focus);
  border-bottom: 2px solid var(--tds-text-field-bar);
}

:host(.tds-table__compact) {
  ::slotted(input) {
    height: 32px; /* Reduced height for compact design */
  }
}
