:host {
  position: relative;
}

:host(:hover) {
  .search-icon {
    display: inline-block;
  }
}

:host(.focused-input-wrapper) {
  .search-icon {
    display: inline-block;
  }

  ::slotted(input:not(:focus)) {
    background-color: var(--tds-table-input-background-hover);
  }
}

:host(.show-icon) {
  ::slotted(input) {
    padding-left: 35px;
  }
}

.search-icon {
  color: var(--tds-table-input-header-icon);
  position: absolute;
  left: 15px;
  top: 1px;
}

::slotted(input) {
  box-sizing: border-box;
  font: var(--tds-detail-02);
  letter-spacing: var(--tds-detail-02-ls);
  color: var(--tds-table-color);
  padding-left: var(--tds-spacing-element-16);
  padding-right: var(--tds-spacing-element-16);
  height: 48px;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
}

::slotted(input)::placeholder {
  color: var(--tds-table-input-header-placeholder);
}

::slotted(input:focus) {
  outline: none;
  background-color: var(--tds-table-input-header-background-focus);
  border-bottom: 2px solid var(--tds-text-field-bar);
}

:host(.tds-table__compact) {
  ::slotted(input) {
    height: 32px; /* Reduced height for compact design */
  }
}
