@import '../../../mixins/box-sizing';

:host,
tds-table-body {
  @include tds-box-sizing;

  display: table-row-group;

  .tds-table__info-message {
    font: var(--tds-detail-02);
    letter-spacing: var(--tds-detail-02-ls);
    display: table-cell;
    box-sizing: border-box;
    color: var(--tds-table-color);
    padding: var(--tds-spacing-element-16);
    min-width: 192px;
    vertical-align: top;
    background-color: transparent;
    transition: background-color 200ms ease;
  }
}
