/* Variables used by both tds-folder-tab and tds-folder-tabs */
tds-folder-tab,
tds-folder-tabs {
  --tds-folder-tab-background: var(--color-background-surface-200);
  --tds-folder-tab-background-selected: var(--color-background-layer-01);
  --tds-folder-tab-color: var(--color-foreground-text-soft);
}

/* Variables color change based on mode variant */
tds-folder-tabs.tds-mode-variant-primary tds-folder-tab {
  --tds-folder-tab-background-selected: var(--color-background-layer-01);
}

tds-folder-tabs.tds-mode-variant-secondary tds-folder-tab {
  --tds-folder-tab-background-selected: var(--color-background-layer-02);
}

/* Variables used only by tds-folder-tabs (scroll buttons) */
tds-folder-tabs {
  --tds-folder-tabs-scroll-btn-background: var(--color-background-surface-300);
  --tds-folder-tabs-scroll-btn-background-hover: var(--color-background-surface-300);
  --tds-folder-tabs-scroll-btn-background-active: var(--color-background-surface-300);
  --tds-folder-tabs-scroll-btn-color: var(--color-foreground-text-soft);
}

/* Variables used only by tds-folder-tab */
tds-folder-tab {
  --tds-folder-tab-background-hover: var(--color-background-surface-300);
  --tds-folder-tab-border-selected: var(--color-foreground-border-accent-focus);
  --tds-folder-tab-divider-color: var(--color-foreground-icon-discrete);
  --tds-folder-tab-item-color: var(--color-foreground-text-soft);
  --tds-folder-tab-item-color-disabled: var(--color-foreground-text-disabled);
}
