tds-folder-tabs {
  --tds-folder-tab-background: var(--component-tabs-background-item-primary-default);
  --tds-folder-tab-background-hover: var(--component-tabs-background-item-primary-hover);
  --tds-folder-tab-background-selected: var(
    --component-tabs-background-item-primary-current-default
  );
  --tds-folder-tab-border-selected: var(--component-tabs-border-item-indicator-default);
  --tds-folder-tabs-scroll-btn-background: var(--component-tabs-background-scroll-default);
  --tds-folder-tabs-scroll-btn-color: var(--component-tabs-icon-scroll-default);
  --tds-folder-tab-divider-color: var(--component-tabs-border-item-divider-default);
  --tds-folder-tab-item-color: var(--component-tabs-text-item-folder-default);
  --tds-folder-tab-item-color-selected: var(--component-tabs-text-item-current-default);
  --tds-folder-tab-item-opacity-disabled: calc(var(--component-tabs-opacity-disabled) / 100);
  --tds-folder-tab-item-background-disabled: var(--tds-folder-tab-background);
}

.tds-mode-variant-primary tds-folder-tabs,
tds-folder-tabs.tds-mode-variant-primary {
  --tds-folder-tab-background: var(--component-tabs-background-item-primary-default);
  --tds-folder-tab-background-hover: var(--component-tabs-background-item-primary-hover);
  --tds-folder-tab-background-selected: var(
    --component-tabs-background-item-primary-current-default
  );
}

.tds-mode-variant-secondary tds-folder-tabs,
tds-folder-tabs.tds-mode-variant-secondary {
  --tds-folder-tab-background: var(--component-tabs-background-item-secondary-default);
  --tds-folder-tab-background-hover: var(--component-tabs-background-item-secondary-hover);
  --tds-folder-tab-background-selected: var(
    --component-tabs-background-item-secondary-current-default
  );
}
