/* Component variables */

tds-message {
  --main-background: var(--color-background-layer-03);
  --mode-primary-background: var(--color-background-layer-03);
  --mode-secondary-background: var(--color-background-layer-02);
  --main-text-color: var(--color-foreground-text-strong);

  /* Info */
  --info-border-color: var(--color-system-info-subtle);
  --info-icon-color: var(--color-system-info-subtle);

  /* Success */
  --success-border-color: var(--color-system-success-subtle);
  --success-icon-color: var(--color-system-success-subtle);

  /* Error */
  --error-background: var(--color-system-danger-discrete);
  --error-border-color: var(--color-system-danger-subtle);
  --error-icon-color: var(--color-system-danger-subtle);
  --error-header-text-color: var(--color-system-danger-default);

  /* Warning */
  --warning-border-color: var(--color-system-warning-subtle);
  --warning-icon-color: var(--color-system-warning-subtle);
}
