:host {
  .wrapper {
    display: flex;
    padding: 16px;
    background-color: var(--tds-message-background);
    border-radius: 4px;

    &.information {
      border-left: 4px solid var(--tds-information);

      .icon {
        color: var(--tds-information);
      }
    }

    &.success {
      border-left: 4px solid var(--tds-positive);

      .icon {
        color: var(--tds-positive);
      }
    }

    &.error {
      background-color: var(--tds-message-type-error-background);
      border-left: 4px solid var(--tds-negative);

      .icon {
        color: var(--tds-negative);
      }
    }

    &.warning {
      border-left: 4px solid var(--tds-warning);

      .icon {
        color: var(--tds-warning);
      }
    }

    &.minimal {
      border: none;
      display: flex;
      align-items: center;
      padding: 0;
      background-color: transparent;

      .header {
        font: var(--tds-detail-02);
        letter-spacing: var(--tds-detail-02-ls);
      }

      &.error {
        .header {
          color: var(--tds-negative);
        }
      }
    }
  }

  .icon {
    padding-right: 16px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--tds-message-color);
    padding: 2px 0;

    .header {
      font: var(--tds-headline-07);
      letter-spacing: var(--tds-headline-07-ls);
    }

    .extended-message {
      color: var(--tds-message-color);
      font: var(--tds-detail-02);
      letter-spacing: var(--tds-detail-02-ls);
    }
  }

  .tds-mode-variant-primary {
    --tds-message-background: var(--tds-message-background-primary);
  }

  .tds-mode-variant-secondary {
    --tds-message-background: var(--tds-message-background-secondary);
  }
}
