@use '../../../../../typography/mixins/type-styles' as *;

:host {
  .wrapper {
    display: flex;
    padding: 16px;
    background-color: var(--tds-message-background);
    border-radius: 4px;

    &.information {
      border-left: 4px solid var(--tds-message-border-info);

      tds-icon {
        color: var(--tds-message-icon-info);
      }
    }

    &.success {
      background-color: var(--tds-message-background-success);
      border-left: 4px solid var(--tds-message-border-success);

      tds-icon {
        color: var(--tds-message-icon-success);
      }
    }

    &.error {
      background-color: var(--tds-message-background-error);
      border-left: 4px solid var(--tds-message-border-error);

      tds-icon {
        color: var(--tds-message-icon-error);
      }
    }

    &.warning {
      background-color: var(--tds-message-background-warning);
      border-left: 4px solid var(--tds-message-border-warning);

      tds-icon {
        color: var(--tds-message-icon-warning);
      }
    }

    &.minimal {
      border: none;
      padding: 0;
      background-color: transparent;

      tds-icon {
        padding-right: 8px;
      }

      .header {
        @include detail-02;
      }

      &.error {
        .header {
          color: var(--tds-message-minimal-header-error);
        }
      }
    }
  }

  tds-icon {
    padding-right: 16px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--foreground-text-strong);
    padding: 2px 24px 2px 0;
    overflow-wrap: anywhere;

    .header {
      @include headline-07;
    }

    .extended-message {
      color: var(--foreground-text-strong);
      @include detail-02;
    }
  }
}
