.tl-breadcrumbs {
  // Colors
  --breadcrumb-label: var(--color-text-strong);
  --breadcrumb-hover: var(--color-text-strong);
  --breadcrumb-current: var(--color-text-soft);
  --breadcrumb-separator-color: var(--color-text-strong);

  // Spacing
  --breadcrumb-separator-margin: 4px;
  --breadcrumb-separator-width: 4px;
  --breadcrumb-separator-height: 8px;

  // Focus
  --breadcrumb-focus-outline-color: var(--color-system-info-default);
  --breadcrumb-focus-outline-width: 2px;
}
