@use '../../../../../../tokens/scss/component/breadcrumbs';

.tl-breadcrumbs {
  // Colors
  --breadcrumb-label: var(--component-breadcrumbs-text-link-default);
  --breadcrumb-hover: var(--component-breadcrumbs-text-link-hover);
  --breadcrumb-current: var(--component-breadcrumbs-text-current-default);
  --breadcrumb-separator-color: var(--component-breadcrumbs-text-separator-default);

  // Spacing
  --breadcrumb-separator-margin: 4px;
  --breadcrumb-separator-width: 4px;
  --breadcrumb-separator-height: 8px;

  // Focus
  --breadcrumb-focus-outline-color: var(--color-system-info-default);
  --breadcrumb-focus-outline-width: 2px;
}
