@use './tl-breadcrumbs-vars' as *;
@use '../../../mixins/box-sizing' as *;
@use '../../../mixins/focus-state' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-breadcrumbs {
  @include tds-box-sizing;

  ol {
    @include detail-02;

    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }

  li {
    display: inline-block;

    &::after {
      content: '\203A';
      color: var(--breadcrumb-separator-color);
      margin-right: var(--breadcrumb-separator-margin);
      margin-left: var(--breadcrumb-separator-margin);
      display: inline-block;
      width: var(--breadcrumb-separator-width);
      height: var(--breadcrumb-separator-height);
    }

    &:has([aria-current]) {
      &::after {
        display: none;
      }
    }
  }

  a {
    @include detail-02;

    color: var(--breadcrumb-label);
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: var(--breadcrumb-hover);
      text-decoration: underline;
    }

    &:focus-visible {
      @include tds-focus-state;
    }

    &[aria-current='page'] {
      pointer-events: none;
      cursor: default;
      color: var(--breadcrumb-current);

      &:hover {
        text-decoration: none;
        cursor: not-allowed;
      }
    }
  }
}
