:root,
.traton {
  /* Font size tokens */
  --super-type-01-font-size: 216px;
  --super-type-02-font-size: 156px;
  --super-type-03-font-size: 112px;
  --expressive-headline-01-font-size: 80px;
  --expressive-headline-02-font-size: 56px;
  --headline-01-font-size: 40px;
  --headline-02-font-size: 32px;
  --headline-03-font-size: 24px;
  --headline-04-font-size: 20px;
  --headline-05-font-size: 16px;
  --headline-06-font-size: 14px;
  --headline-07-font-size: 14px;
  --paragraph-01-font-size: 24px;
  --paragraph-02-font-size: 20px;
  --body-01-font-size: 16px;
  --body-02-font-size: 14px;
  --body-link-01-font-size: 16px;
  --body-link-02-font-size: 14px;
  --detail-01-font-size: 16px;
  --detail-02-font-size: 14px;
  --detail-03-font-size: 14px;
  --detail-04-font-size: 12px;
  --detail-05-font-size: 12px;
  --detail-06-font-size: 10px;
  --detail-07-font-size: 10px;

  /* Typography Line Height Tokens */
  --super-type-01-line-height: 227px;
  --super-type-02-line-height: 164px;
  --super-type-03-line-height: 106px;
  --expressive-headline-01-line-height: 84px;
  --expressive-headline-02-line-height: 59px;
  --headline-01-line-height: 42px;
  --headline-02-line-height: 40px;
  --headline-03-line-height: 30px;
  --headline-04-line-height: 25px;
  --headline-05-line-height: 22px;
  --headline-06-line-height: 20px;
  --headline-07-line-height: 18px;
  --paragraph-01-line-height: 30px;
  --paragraph-02-line-height: 25px;
  --body-01-line-height: 22px;
  --body-02-line-height: 20px;
  --body-link-01-line-height: 22px;
  --body-link-02-line-height: 20px;
  --detail-01-line-height: 22px;
  --detail-02-line-height: 16px;
  --detail-03-line-height: 20px;
  --detail-04-line-height: 17px;
  --detail-05-line-height: 17px;
  --detail-06-line-height: 14px;
  --detail-07-line-height: 14px;

  /* Typography Font Family Tokens */
  --super-type-01-font-family: 'TRATON Type Display';
  --super-type-02-font-family: 'TRATON Type Display';
  --super-type-03-font-family: 'TRATON Type Display';
  --expressive-headline-01-font-family: 'TRATON Type Display';
  --expressive-headline-02-font-family: 'TRATON Type Display';
  --headline-01-font-family: 'TRATON Type Display';
  --headline-02-font-family: 'TRATON Type Display';
  --headline-03-font-family: 'TRATON Type Display';
  --headline-04-font-family: 'TRATON Type Display';
  --headline-05-font-family: 'TRATON Type Text';
  --headline-06-font-family: 'TRATON Type Text';
  --headline-07-font-family: 'TRATON Type Text';
  --paragraph-01-font-family: 'TRATON Type Display';
  --paragraph-02-font-family: 'TRATON Type Display';
  --body-01-font-family: 'TRATON Type Text';
  --body-02-font-family: 'TRATON Type Text';
  --body-link-01-font-family: 'TRATON Type Text';
  --body-link-02-font-family: 'TRATON Type Text';
  --detail-01-font-family: 'TRATON Type Text';
  --detail-02-font-family: 'TRATON Type Text';
  --detail-03-font-family: 'TRATON Type Text';
  --detail-04-font-family: 'TRATON Type Text';
  --detail-05-font-family: 'TRATON Type Text';
  --detail-06-font-family: 'TRATON Type Text';
  --detail-07-font-family: 'TRATON Type Text';

  /* Typography Font Weight Tokens */
  --super-type-01-font-weight: normal;
  --super-type-02-font-weight: normal;
  --super-type-03-font-weight: normal;
  --expressive-headline-01-font-weight: normal;
  --expressive-headline-02-font-weight: normal;
  --headline-01-font-weight: normal;
  --headline-02-font-weight: normal;
  --headline-03-font-weight: normal;
  --headline-04-font-weight: normal;
  --headline-05-font-weight: semibold;
  --headline-06-font-weight: semibold;
  --headline-07-font-weight: semibold;
  --paragraph-01-font-weight: normal;
  --paragraph-02-font-weight: normal;
  --body-01-font-weight: normal;
  --body-02-font-weight: normal;
  --body-link-01-font-weight: normal;
  --body-link-02-font-weight: normal;
  --detail-01-font-weight: normal;
  --detail-02-font-weight: normal;
  --detail-03-font-weight: normal;
  --detail-04-font-weight: semibold;
  --detail-05-font-weight: normal;
  --detail-06-font-weight: semibold;
  --detail-07-font-weight: normal;

  /* Typography Letter-Spacing (Kerning) Tokens */
  --super-type-01-letter-spacing: 1.08px;
  --super-type-02-letter-spacing: 0.78px;
  --super-type-03-letter-spacing: 0.56px;
  --expressive-headline-01-letter-spacing: 0.4px;
  --expressive-headline-02-letter-spacing: 0.28px;
  --headline-01-letter-spacing: 0;
  --headline-02-letter-spacing: 0;
  --headline-03-letter-spacing: 0;
  --headline-04-letter-spacing: 0;
  --headline-05-letter-spacing: 0;
  --headline-06-letter-spacing: 0;
  --headline-07-letter-spacing: 0;
  --paragraph-01-letter-spacing: 0;
  --paragraph-02-letter-spacing: 0;
  --body-01-letter-spacing: 0;
  --body-02-letter-spacing: 0;
  --body-link-01-letter-spacing: 0;
  --body-link-02-letter-spacing: 0;
  --detail-01-letter-spacing: 0;
  --detail-02-letter-spacing: 0;
  --detail-03-letter-spacing: 0;
  --detail-04-letter-spacing: 0.48px;
  --detail-05-letter-spacing: 0;
  --detail-06-letter-spacing: 0.4px;
  --detail-07-letter-spacing: 0;

  /* Text transform tokens */
  --super-type-01-text-transform: uppercase;
  --super-type-02-text-transform: uppercase;
  --super-type-03-text-transform: uppercase;
  --expressive-headline-01-text-transform: uppercase;
  --expressive-headline-02-text-transform: uppercase;
  --headline-01-text-transform: none;
  --headline-02-text-transform: none;
  --headline-03-text-transform: none;
  --headline-04-text-transform: none;
  --headline-05-text-transform: none;
  --headline-06-text-transform: none;
  --headline-07-text-transform: none;
  --paragraph-01-text-transform: none;
  --paragraph-02-text-transform: none;
  --body-01-text-transform: none;
  --body-02-text-transform: none;
  --body-link-01-text-transform: none;
  --body-link-02-text-transform: none;
  --detail-01-text-transform: none;
  --detail-02-text-transform: none;
  --detail-03-text-transform: none;
  --detail-04-text-transform: uppercase;
  --detail-05-text-transform: none;
  --detail-06-text-transform: uppercase;
  --detail-07-text-transform: none;
}
