@use '../../../mixins/box-sizing' as *;
@use './tl-header-vars' as *;

.tl-header__brand {
  display: block;
  width: var(--header-brand-item-width);
  height: 30px;
  background-image: var(--header-logotype-local), var(--header-logotype-cdn);
  background-size: var(--header-brand-logo-size) auto;
  background-position: center;
  background-repeat: no-repeat;
}
