@use '../../../mixins/scrollbar' as *;
@use '../../../mixins/z-index' as *;
@use '../../../mixins/box-sizing' as *;
@use './tl-header-vars' as *;
@use '../../../../../../typography/utilities/typography-utility' as *;
@use '../../../global/_variables' as *;

.tl-header__dropdown-wrapper {
  all: unset;
  @include tds-box-sizing;

  background-color: var(--header-background);
  border-right: 1px solid var(--header-basic-element-border);
  color: var(--header-nav-item);
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0 24px;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    background-color: var(--header-item-hover);
  }

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--color-foreground-border-accent-focus);
  }

  &--user {
    padding: var(--component-header-space-profile-padding);
  }

  &--open {
    background-color: var(--header-basic-element-background-pressed);
    color: var(--header-nav-item-dropdown-opened);
    position: relative;
    z-index: calc(var(--tds-z-index-header) + 1);

    &:hover {
      background-color: var(--header-basic-element-background-pressed);
    }
  }

  &--selected {
    padding-top: 4px;
    border-bottom: 4px solid var(--header-nav-item-border-pressed);
  }

  &--pressed {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--header-basic-element-background-selected);
    box-shadow: inset 0 0 0 2px var(--header-nav-item-border-pressed);
  }
}

.tl-header__dropdown-icon {
  transition: transform 0.2s ease;

  &--rotated {
    transform: rotate(180deg);
  }
}

.tl-header__dropdown-menu {
  all: unset;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--tds-header-app-launcher-menu-background);
  box-shadow: var(--header-dropdown-box-shadow);
  min-width: 190px;
  max-height: calc(100vh - var(--tds-header-height));
  overflow-y: auto;
  z-index: var(--tds-z-index-header);
  @include tds-scrollbar;

  @media all and (max-width: $media-fullwidth) {
    width: 100vw;
  }

  &--open {
    display: block;
  }

  &--user {
    position: fixed;
    top: var(--tds-header-height);
    right: 0;
    left: auto;
    min-width: 290px;
    max-height: calc(100vh - var(--tds-header-height));
  }

  &--launcher-list {
    position: fixed;
    top: var(--tds-header-height);
    right: 0;
    left: auto;
    min-width: 320px;
    max-height: calc(100vh - var(--tds-header-height));
  }

  &--launcher-grid {
    position: fixed;
    top: var(--tds-header-height);
    right: 0;
    left: auto;
    min-width: 320px;
    max-height: calc(100vh - var(--tds-header-height));
  }
}

.tl-header__dropdown-menu-item {
  display: block;
  box-sizing: border-box;
  height: var(--tds-header-list-item-md-height);
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid var(--header-nav-dropdown-item-border);
  }

  &--selected {
    background-color: var(--header-nav-item-background-selected);
    padding-right: 4px;
    border-left: 4px solid var(--header-nav-item-border-pressed);
  }
}

.tl-header__dropdown-menu-user {
  background-color: var(--header-avatar-item-background);
  display: flex;
  height: 84px;
}

.tl-header__dropdown-menu-user-box {
  gap: 16px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-nav-dropdown-item-border);
}

.tl-header__dropdown-menu-user-image {
  width: var(--header-item-image-size);
  height: var(--header-item-image-size);
  border-radius: 50%;
  overflow: hidden;
}

.tl-header__dropdown-menu-user-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tl-header__dropdown-menu-user-header {
  @include headline-07;

  color: var(--header-nav-item-dropdown-opened);
}

.tl-header__dropdown-menu-user-subheader {
  @include headline-07;

  color: var(--header-avatar-item);
}

.tl-header__dropdown-menu-launcher {
  box-sizing: border-box;
  padding: 12px;
  margin: 0;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  background-color: var(--header-nav-dropdown-item-background);
}

.tl-header__dropdown-menu-launcher-item {
  display: block;
  width: 96px;
  height: 96px;
}

.tl-header__dropdown-menu-launcher-title {
  all: unset;
  box-sizing: border-box;
  @include detail-04;

  background-color: var(--header-nav-dropdown-item-background);
  color: var(--header-app-launcher-grid-category-title);
  text-transform: uppercase;
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-nav-dropdown-item-border);
  margin: 0;
}

a,
button {
  .tl-header__dropdown-menu-item & {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 24px;
    width: 100%;
    @include detail-02;

    background-color: var(--header-nav-dropdown-item-background);
    color: var(--header-nav-item-dropdown-opened);

    &:hover {
      background-color: var(--header-nav-item-background-hover);
      cursor: pointer;
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--color-foreground-border-accent-focus);
    }
  }

  .tl-header__dropdown-menu-item--selected & {
    background-color: var(--header-nav-item-background-selected);
  }

  .tl-header__dropdown-menu-launcher-item & {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    @include detail-05;

    background-color: var(--tds-header-app-launcher-menu-bg);
    color: var(--tds-header-app-launcher-grid-color);
    border-radius: 4px;
    transition: background-color 150ms ease;

    &:hover {
      background-color: var(--header-app-launcher-grid-hover-background);
      cursor: pointer;
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--color-foreground-border-accent-focus);
    }
  }
}

img {
  .tl-header__dropdown-menu-user-image & {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
