@use '../../../mixins/box-sizing' as *;
@use '../../../mixins/flex-center' as *;
@use '../../../mixins/z-index' as *;
@use './tl-header-vars' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

/* Header Elements */
@use 'item' as *;
@use 'dropdown' as *;
@use 'title' as *;
@use 'brand-symbol' as *;

.tl-header {
  display: block;
  height: var(--tds-header-height);
  background-color: var(--header-background);
  width: 100%;
  z-index: var(--tds-z-index-header);
}

.tl-header__nav {
  @include tds-box-sizing;

  background-color: var(--header-background);
  width: 100%;
  display: block;
}

.tl-header__list {
  @include tds-flex-center;

  height: var(--tds-header-height);
  list-style: none;
  padding: 0;
  margin: 0;
}

.tl-header__item {
  display: none;
  height: 100%;

  @media (min-width: 992px) {
    display: block;
  }
}

.tl-header__dropdown {
  display: none;
  @include headline-07;

  height: 100%;
  position: relative;

  @media (min-width: 992px) {
    display: block;
  }
}

.tl-header__middle-spacer {
  display: block;
  flex-grow: 1;
  height: var(--tds-header-height);
  border-right: 1px solid var(--header-basic-element-border);
}
