@import '../../../mixins/box-sizing';
@import '../../../mixins/flex-center';
@import '../../../mixins/z-index';
@import './tl-header-vars';

.tl-header {
  display: block;
  height: var(--tds-header-height);
  background-color: var(--header-background);
  width: 100%;
  z-index: var(--tds-z-index-header);
}

.tl-header__nav {
  @include tds-box-sizing;

  background-color: var(--header-background);
  width: 100%;
  display: block;
}

.tl-header__component-list {
  @include tds-flex-center;

  height: var(--tds-header-height);
  list-style: none;
  padding: 0;
  margin: 0;

  .tl-header-item {
    display: none;

    &.tl-header-item--hamburger {
      display: block;
    }
  }

  .tl-header-dropdown {
    display: none;

    &.tl-header-dropdown__launcher-grid,
    &.tl-header-dropdown__launcher-list {
      display: block;
    }
  }

  @media (min-width: 992px) {
    .tl-header-item {
      display: block;
    }

    .tl-header-dropdown {
      display: block;
    }
  }
}

.tl-header__middle-spacer {
  display: block;
  flex-grow: 1;
  height: var(--tds-header-height);
  border-right: 1px solid var(--header-basic-element-border);
}
