@import '../../../mixins/box-sizing';
@import '../../../mixins/flex-center';
@import '../../../mixins/z-index';
@import './tl-header-vars';
@import '../../../../../../typography/utilities/typography-utility';

/* Header Elements */
@import 'item';
@import 'dropdown';
@import 'title';
@import 'brand-symbol';

.tl-header {
  display: block;
  height: var(--tds-header-height);
  background-color: var(--header-background);
  width: 100%;
  z-index: var(--tds-z-index-header);
}

.tl-header__nav {
  @include tds-box-sizing;

  background-color: var(--header-background);
  width: 100%;
  display: block;
}

.tl-header__list {
  @include tds-flex-center;

  height: var(--tds-header-height);
  list-style: none;
  padding: 0;
  margin: 0;
}

.tl-header__item {
  display: none;
  height: 100%;

  @media (min-width: 992px) {
    display: block;
  }
}

.tl-header__dropdown {
  display: none;
  @include headline-07;

  height: 100%;
  position: relative;

  @media (min-width: 992px) {
    display: block;
  }
}

.tl-header__middle-spacer {
  display: block;
  flex-grow: 1;
  height: var(--tds-header-height);
  border-right: 1px solid var(--header-basic-element-border);
}
