@use '../../../../../../grid-deprecated/vars' as *;
@use './tl-side-menu-vars' as *;

.tl-side-menu__item-wrapper {
  display: block;
}

.tl-side-menu__item button,
.tl-side-menu__item a {
  all: unset;
  box-sizing: border-box;
  height: var(--side-menu-single-item-height);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: var(--component-side-menu-space-sub-menu-item-top-and-bottom)
    var(--component-side-menu-space-sub-menu-item-chevron-right-padding)
    var(--component-side-menu-space-sub-menu-item-top-and-bottom)
    var(--component-side-menu-space-sub-menu-item-left);
  border: none;
  background-color: var(--side-menu-background-cover);
  color: var(--side-menu-single-item-color);
  cursor: pointer;
  border-radius: var(--component-side-menu-radius-corner);
}

.tl-side-menu__item button:focus-visible,
.tl-side-menu__item a:focus-visible {
  outline: 2px solid var(--color-foreground-border-accent-focus);
  outline-offset: -2px;
}

.tl-side-menu__item button:hover,
.tl-side-menu__item a:hover {
  background-color: var(--side-menu-item-state-hover);
}

.tl-side-menu__item button:active,
.tl-side-menu__item a:active {
  background-color: var(--side-menu-item-state-active);
}

.tl-side-menu__item--selected button,
.tl-side-menu__item--selected a {
  position: relative;
  background-color: var(--side-menu-item-state-selected);
}

.tl-side-menu__item--selected button:active,
.tl-side-menu__item--selected a:active {
  background-color: var(--side-menu-item-state-selected);
}

.tl-side-menu__item--selected button:hover,
.tl-side-menu__item--selected a:hover {
  background-color: var(
    --side-menu-item-state-selected-hover,
    var(--side-menu-item-state-selected)
  );
}

.tl-side-menu__item--selected button::before,
.tl-side-menu__item--selected a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--component-side-menu-space-sub-page-selected-marker-width);
  height: var(--component-side-menu-space-sub-menu-item-selected-marker-height);
  background-color: var(--side-menu-single-subitem-selected-border-color);
  border-radius: var(--component-side-menu-radius-corner) 0 0
    var(--component-side-menu-radius-corner);
}
