tds-stepper {
  // Warning
  --tds-stepper-icon-step-border-color-warning: var(--component-stepper-border-error-default);
  --tds-stepper-icon-step-background-warning: var(--component-stepper-background-error-default);
  --tds-stepper-icon-step-color-warning: var(--component-stepper-icon-error-default);

  // Success
  --tds-stepper-icon-step-border-color-success: var(--component-stepper-border-success-default);
  --tds-stepper-icon-step-background-success: var(--component-stepper-background-success-default);
  --tds-stepper-icon-step-color-success: var(--component-stepper-icon-success-default);

  // Current
  --tds-stepper-icon-step-border-color-current: var(--component-stepper-border-current-default);
  --tds-stepper-icon-step-background-color-current: var(
    --component-stepper-background-current-default
  );
  --tds-stepper-icon-step-color-current: var(--component-stepper-text-index-current-default);

  // Upcoming
  --tds-stepper-label-text-color-upcoming: var(--component-stepper-text-index-default);
  --tds-stepper-label-border-color-upcoming: var(--component-stepper-border-item-default);
  --tds-stepper-background-color-upcoming: var(--component-stepper-background-item-default);

  // Divider
  --tds-stepper-divider-line: var(--component-stepper-border-divider-default);
  --tds-stepper-border-radius: calc(var(--component-stepper-border-radius-default) * 1px);
}
