tds-stepper {
  // Current
  --stepper-background: var(--tds-grey-950);
  --stepper-icon-background: var(--tds-grey-50);
  --stepper-current-number: var(--tds-grey-50);

  // Warning
  --stepper-icon-step-border-warning: var(--color-system-danger-default);

  // Success
  --stepper-icon-step-border-success: var(--component-stepper-success);

  // Upcoming
  --stepper-label-text-upcoming: var(--color-foreground-text-disabled);
  --stepper-label-border-upcoming: var(--color-foreground-border-discrete);

  // Divider
  --stepper-divider-line: var(--color-foreground-icon-disabled);
}
