tds-stepper {
  // Current
  --stepper-current-number-with-border: var(--color-foreground-border-strong);

  // Warning
  --stepper-icon-step-border-warning: var(--color-system-danger-default);

  // Success
  --stepper-icon-step-border-success: var(--component-stepper-success);

  // Upcoming
  --stepper-label-text-upcoming: var(--color-foreground-text-disabled);
  --stepper-label-border-upcoming: var(--color-foreground-border-discrete);

  // Divider
  --stepper-divider-line: var(--color-foreground-icon-disabled);
}
