:host {
  [role='list'] {
    display: flex;
    min-width: 100%;

    &.vertical {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: unset;
      gap: 52px;

      &.sm {
        gap: 36px;
      }
    }

    &.horizontal.text-position-aside {
      justify-content: unset;
    }
  }
}
