@import '../../../../../../typography/utilities/typography-utility';

:host {
  display: block;
  color: var(--side-menu-single-item-color);

  .subheading {
    color: var(--color-foreground-text-subtle);
  }
}
