@import '../../../../../../typography/utilities/typography-utility';

:host {
  display: block;
  @include headline-07;
  color: var(--tds-sidebar-side-menu-single-item-color);

  .subheading {
    color: var(--tds-grey-500);
  }
}
