@import '../../../../../typography/utilities/typography-utility';

:host {
  --toggle-switch: var(--color-brand-neutral-white);
  --toggle-text: var(--color-foreground-text-strong);
  --toggle-disabled: var(--color-foreground-icon-disabled);
  --toggle-background-on: var(--color-system-success-default);
  --toggle-background-off: var(--color-foreground-icon-subtle);
  --toggle-border-focus: var(--color-foreground-border-accent-focus);
}

.tds-toggle {
  .disabled {
    pointer-events: none;
  }

  .toggle-headline {
    @include detail-02;

    color: var(--toggle-text);
    margin-bottom: 12px;

    &.disabled {
      user-select: none;
      color: var(--toggle-disabled);
    }
  }

  input[type='checkbox'] {
    appearance: initial;
    margin: 0;
    width: 44px;
    height: 24px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    &::after,
    &::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      transition: all var(--tds-motion-duration-moderate-01) var(--tds-motion-easing-scania);
    }

    &::before {
      /* Slider */
      width: 44px;
      height: 24px;
      border-radius: 16px;
      background-color: var(--toggle-background-off);
      left: 0;
    }

    /* Switch */
    &::after {
      width: 16px;
      height: 16px;
      background-color: var(--toggle-switch);
      border-radius: 50%;
      left: 4px;
      top: 4px;
    }

    &:focus,
    &:hover {
      outline: none;

      &::before {
        background-color: var(--toggle-disabled);
        border: 4px solid var(--toggle-border-focus);
      }
    }

    &:checked {
      &::before {
        background-color: var(--toggle-background-on);
      }

      &:focus,
      &:hover {
        &::before {
          border: 4px solid var(--toggle-border-focus);
        }
      }

      &::after {
        left: calc(44px - 20px);
      }
    }

    &:disabled {
      pointer-events: none;

      &::before {
        background-color: var(--toggle-disabled);
      }

      &::after {
        background-color: var(--toggle-switch);
      }
    }

    &:disabled:checked {
      &::before {
        background-color: var(--toggle-disabled);
      }

      &::after {
        background-color: var(--toggle-switch);
      }
    }

    &.sm {
      width: 28px;
      height: 16px;

      &::before {
        width: 28px;
        height: 16px;
      }

      &::after {
        width: 8px;
        height: 8px;
      }

      &:checked {
        &::before {
          background-color: var(--toggle-background-on);
        }

        &::after {
          left: calc(44px - 28px); // slider width - switch width - padding
        }
      }

      &:disabled {
        &::before {
          background-color: var(--toggle-disabled);
        }

        &::after {
          background-color: var(--toggle-switch);
        }
      }
    }
  }

  label {
    @include detail-02;

    cursor: pointer;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    color: var(--toggle-text);
    padding-left: 8px;

    &.disabled {
      pointer-events: none;
      color: var(--toggle-disabled);
    }
  }
}
