tds-banner {
  --tds-banner-text-color: var(--component-banner-text-neutral-default);
  --tds-banner-x-color: var(--component-banner-icon-dismiss-default);
  --tds-banner-background-default: var(--component-banner-background-neutral-default);
  --tds-banner-prefix-default-color: var(--component-banner-icon-neutral-default);
  --tds-banner-background-info: var(--component-banner-background-information-default);
  --tds-banner-prefix-info-color: var(--component-banner-icon-information-default);
  --tds-banner-background-error: var(--component-banner-background-error-default);
  --tds-banner-prefix-error-color: var(--component-banner-icon-error-default);
}
