tds-navigation-tab {
  /* tds-navigation-tab variables */
  --tds-navigation-tabs-tab-color: var(--color-foreground-text-soft);
  --tds-navigation-tabs-tab-color-selected: var(--color-foreground-text-strong);
  --tds-navigation-tabs-tab-color-hover: var(--color-foreground-text-strong);
  --tds-navigation-tabs-tab-color-focus: var(--color-foreground-text-strong);
  --tds-navigation-tabs-tab-color-disabled: var(--color-foreground-text-disabled);
  --tds-navigation-tabs-tab-indicator-background-hover: var(--color-foreground-border-discrete);
  --tds-navigation-tabs-tab-indicator-background-active: var(
    --color-foreground-border-accent-focus
  );
}

tds-navigation-tabs {
  /* tds-navigation-tabs variables */
  --tds-navigation-tabs-horizontal-divider-background: var(--color-foreground-icon-discrete);
  --tds-navigation-tabs-tab-background-primary: var(--color-background-base);
  --tds-navigation-tabs-tab-background-secondary: var(--color-background-layer-01);
  --tds-navigation-tabs-background: var(--tds-navigation-tabs-tab-background-primary);
  --tds-navigation-tabs-scroll-btn-color: var(--color-foreground-icon-discrete);
  --tds-navigation-tabs-scroll-btn-background: var(--tds-navigation-tabs-tab-background-primary);
  --tds-navigation-tabs-scroll-btn-background-hover: var(
    --tds-navigation-tabs-tab-background-primary
  );
  --tds-navigation-tabs-scroll-btn-background-active: var(
    --tds-navigation-tabs-tab-background-primary
  );

  &.tds-mode-variant-primary {
    --tds-navigation-tabs-background: var(--tds-navigation-tabs-tab-background-primary);
    --tds-navigation-tabs-scroll-btn-background: var(--tds-navigation-tabs-tab-background-primary);
  }

  &.tds-mode-variant-secondary {
    --tds-navigation-tabs-background: var(--tds-navigation-tabs-tab-background-secondary);
    --tds-navigation-tabs-scroll-btn-background: var(
      --tds-navigation-tabs-tab-background-secondary
    );
  }
}
