tds-navigation-tabs {
  /* Horizontal divider */
  --tds-navigation-tabs-horizontal-divider-background: var(--component-tabs-border-default);

  /* Scroll button icon color */
  --tds-navigation-tabs-scroll-btn-color: var(--component-tabs-icon-scroll-default);
  --tds-navigation-tabs-scroll-btn-background: var(--component-tabs-background-primary);

  /* Tab */
  --tds-navigation-tabs-tab-color: var(--component-tabs-text-item-default);
  --tds-navigation-tabs-tab-color-selected: var(--component-tabs-text-item-current-default);
  --tds-navigation-tabs-tab-opacity-disabled: calc(var(--component-tabs-opacity-disabled) / 100);
  --tds-navigation-tabs-tab-color-hover: var(--component-tabs-text-item-current-default);
  --tds-navigation-tabs-tab-indicator-background-hover: var(--component-tabs-border-item-hover);
  --tds-navigation-tabs-tab-indicator-background-active: var(
    --component-tabs-border-item-indicator-default
  );
}

.tds-mode-variant-primary tds-navigation-tabs,
tds-navigation-tabs.tds-mode-variant-primary {
  --tds-navigation-tabs-scroll-btn-background: var(--component-tabs-background-primary);
}

.tds-mode-variant-secondary tds-navigation-tabs,
tds-navigation-tabs.tds-mode-variant-secondary {
  --tds-navigation-tabs-scroll-btn-background: var(--component-tabs-background-secondary);
}
