.tl-text-field {
  --text-field-background: var(--color-background-layer-01);
  --text-field-text: var(--color-foreground-text-strong);
  --text-field-placeholder: var(--color-foreground-text-subtle);
  --text-field-affix: var(--color-foreground-text-defined);
  --text-field-label: var(--color-foreground-text-strong);
  --text-field-label-inside: var(--color-foreground-text-strong);
  --text-field-label-inside-left: 16px;
  --text-field-affix-width-icon: 35px;
  --text-field-affix-width-text: 8px;
  --text-field-border-bottom-readonly: var(--color-foreground-border-strong);
  --text-field-helper: var(--color-foreground-text-defined);
  --text-field-error: var(--color-system-danger-default);
  --text-field-affix-error: var(--color-foreground-text-defined);
  --text-field-background-disabled: var(--color-background-layer-01);
  --text-field-text-disabled: var(--color-foreground-text-disabled);
  --text-field-placeholder-disabled: var(--color-foreground-text-disabled);
  --text-field-label-disabled: var(--color-foreground-text-disabled);
  --text-field-affix-disabled: var(--color-foreground-text-disabled);
  --text-field-textcounter: var(--color-foreground-text-defined);

  &--primary {
    --text-field-background: var(--color-background-layer-01);
    --text-field-background-disabled: var(--color-background-layer-01);
  }

  &--secondary {
    --text-field-background: var(--color-background-layer-02);
    --text-field-background-disabled: var(--color-background-layer-02);
  }
}

.tl-text-field,
.scania .tl-text-field {
  --text-field-border-radius: 4px 4px 0 0;
  --text-field-box-shadow: 0 -1px 0 0 var(--color-foreground-border-soft);
  --text-field-box-shadow-hover: 0 -1px 0 0 var(--color-foreground-border-strong);
  --text-field-box-shadow-focus: 0 -2px 0 0 var(--color-foreground-border-accent-focus);
  --text-field-box-shadow-error: 0 -1px 0 0 var(--color-system-danger-default);
  --text-field-box-shadow-error-hover: 0 -1px 0 0 var(--color-system-danger-default);
  --text-field-box-shadow-error-focus: 0 -2px 0 0 var(--color-system-danger-default);
  --text-field-box-shadow-success: 0 -1px 0 0 var(--color-foreground-border-strong);
  --text-field-bar-focus: var(--color-foreground-border-accent-focus);
  --text-field-bar-error: var(--color-system-danger-default);
  --text-field-focus-outline: none;
  --text-field-focus-outline-error: none;
  --text-field-focus-outline-offset: 0;
}

.traton .tl-text-field {
  --text-field-border-radius: 4px 4px 4px 4px;
  --text-field-box-shadow: 0 0 0 1px var(--color-foreground-border-soft);
  --text-field-box-shadow-hover: 0 0 0 1px var(--color-foreground-border-strong);
  --text-field-box-shadow-focus: 0 0 0 2px var(--color-foreground-border-accent-focus);
  --text-field-box-shadow-success: 0 0 0 1px var(--color-foreground-border-strong);
  --text-field-box-shadow-error: 0 0 0 1px var(--color-system-danger-default);
  --text-field-box-shadow-error-hover: 0 0 0 1px var(--color-system-danger-default);
  --text-field-box-shadow-error-focus: 0 0 0 2px var(--color-system-danger-default);
  --text-field-focus-outline: 2px solid var(--color-foreground-border-accent-focus);
  --text-field-focus-outline-error: 2px solid var(--color-system-danger-default);
  --text-field-focus-outline-offset: 0;
  --text-field-bar-focus: transparent;
  --text-field-bar-error: transparent;
}
