@import '../../../mixins/focus-state';

:host {
  display: block;

  .footer-top-title {
    font: var(--tds-headline-07);
    letter-spacing: var(--tds-headline-07-ls);
    opacity: var(--tds-footer-top-title-opacity);
    color: var(--tds-footer-top-links);
    padding-bottom: 8px;
  }

  button.footer-top-title-button {
    display: none;
    border: none;
    width: 100%;
    font: var(--tds-headline-07);
    letter-spacing: var(--tds-headline-07-ls);
    color: var(--tds-footer-top-links);
    background-color: transparent;
    text-align: left;
    padding: 19px 24px;
    justify-content: space-between;
    border-bottom: 1px solid var(--tds-footer-top-divider);

    &.expanded {
      border-bottom: none;

      .icon {
        transform: rotateZ(180deg);
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: var(--tds-footer-top-button-active);
    }

    &:focus-visible {
      @include tds-focus-state;
    }

    .icon {
      transition: transform 0.2s ease-in-out;
    }
  }

  [role='list'] {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;

    &.start,
    &.end {
      gap: 24px;
    }

    &.top-part-child {
      flex-direction: column;
    }
  }

  @media all and (max-width: 992px) {
    [role='list'].start:not(.top-part-child) {
      flex-direction: column;

      &.start,
      &.end {
        gap: 8px;
      }
    }

    [role='list'].top-part-child.closed {
      display: none;
    }

    [role='list'].top-part-child {
      gap: 0;
    }

    .footer-top-title {
      display: none;
    }

    button.footer-top-title-button {
      display: flex;
      align-items: center;
    }
  }
}
