@import '../../mixins/box-sizing';

.divider {
  @include tds-box-sizing;

  background-color: var(--tds-divider-background);

  &.discrete {
    background-color: var(--tds-divider-background-discrete);
  }

  &.subtle {
    background-color: var(--tds-divider-background-subtle);
  }

  &.soft {
    background-color: var(--tds-divider-background-soft);
  }

  &.defined {
    background-color: var(--tds-divider-background-defined);
  }

  &.dark-blue {
    background-color: var(--tds-divider-background-dark-blue);
  }

  &.horizontal {
    width: 100%;
    height: 1px;
  }

  &.vertical {
    height: 100%;
    width: 1px;
  }
}
