tds-divider {
  --tds-divider-background-discrete: var(--component-divider-border-discrete-default);
  --tds-divider-background-subtle: var(--component-divider-border-subtle-default);
  --tds-divider-background-soft: var(--component-divider-border-soft-default);
  --tds-divider-background-defined: var(--component-divider-border-defined-default);
  --tds-divider-background-strong: var(--component-divider-border-strong-default);
  --tds-divider-background-dark-blue: var(--component-divider-border-expressive-default);
  --tds-divider-background: var(--tds-divider-background-subtle);
}
