:root,
.tds-mode-light,
.tl-mode-light {
  --tds-divider-background-discrete: var(--tds-grey-200);
  --tds-divider-background-subtle: var(--tds-grey-350);
  --tds-divider-background-soft: var(--tds-grey-500);
  --tds-divider-background-defined: var(--tds-grey-650);
  --tds-divider-background-dark-blue: var(--tds-blue-700);

  /* Default variant */
  --tds-divider-background: var(--tds-divider-background-subtle);
}

.tds-mode-dark,
.tl-mode-dark {
  --tds-divider-background-discrete: var(--tds-grey-600);
  --tds-divider-background-subtle: var(--tds-grey-400);
  --tds-divider-background-soft: var(--tds-grey-300);
  --tds-divider-background-defined: var(--tds-grey-200);
  --tds-divider-background-dark-blue: var(--tds-blue-800);

  /* Default variant */
  --tds-divider-background: var(--tds-divider-background-subtle);
}
