:root,
.tds-mode-light {
  --tds-checkbox-color: var(--tds-grey-900);
  --tds-checkbox-interaction-01: var(--tds-blue-800);
  --tds-checkbox-interaction-02: var(--tds-white);
  --tds-checkbox-background-hover: var(--tds-blue-800);
  --tds-checkbox-background-focus: var(--tds-blue-800);
  --tds-checkbox-background-opacity-hover: 0.12;
  --tds-checkbox-background-opacity-focus: 0.24;
  --tds-checkbox-disabled: var(--tds-grey-400);
  --tds-checkbox-background-img: url("data:image/svg+xml;utf8,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 2.33333L3.4 5C4.80589 3.4379 5.59411 2.5621 7 1' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  --tds-checkbox-background-img-disabled: url("data:image/svg+xml;utf8,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 2.33333L3.4 5C4.80589 3.4379 5.59411 2.5621 7 1' stroke='%23b0b7c4' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  --tds-checkbox-border-color-disabled-after: var(--tds-grey-500);
  --tds-checkbox-color-disabled-after: var(--tds-grey-500);

  // TODO - Add correct colors for dark theme
  .tds-mode-dark {
    --tds-checkbox-color: var(--tds-white);
    --tds-checkbox-interaction-01: var(--tds-white);
    --tds-checkbox-interaction-02: var(--tds-grey-958);
    --tds-checkbox-background-hover: var(--tds-grey-600);
    --tds-checkbox-background-focus: var(--tds-grey-600);
    --tds-checkbox-background-opacity-hover: 0.48;
    --tds-checkbox-background-opacity-focus: 0.72;
    --tds-checkbox-disabled: white;
    --tds-checkbox-background-img: url("data:image/svg+xml;utf8,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 2.33333L3.4 5C4.80589 3.4379 5.59411 2.5621 7 1' stroke='%230D0F13' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    --tds-checkbox-background-img-disabled: url("data:image/svg+xml;utf8,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 2.33333L3.4 5C4.80589 3.4379 5.59411 2.5621 7 1' stroke='%2356657A' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    --tds-checkbox-border-color-disabled-after: var(--tds-grey-700);
    --tds-checkbox-color-disabled-after: var(--tds-grey-700);
  }
}
