@use '../../../mixins/box-sizing' as *;
@use '../../../../../../typography/mixins/type-styles' as *;
@use './tl-checkbox-vars' as *;

.tl-checkbox {
  @include tds-box-sizing;
  @include detail-02;

  display: flex;
  align-items: center;
  color: var(--checkbox-label);

  &:has(:disabled) {
    cursor: not-allowed;
  }
}

.tl-checkbox__input {
  appearance: none;
  outline: none;
  margin: 0;
  border: 0;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  align-self: flex-start;

  &::before,
  &::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
  }

  &::before {
    width: 22px;
    height: 22px;
    left: 1px;
    top: 1px;
    border-radius: 4px;
  }

  &::after {
    border: 1px solid var(--checkbox-border);
    background-color: var(--checkbox-fill);
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
    border-radius: 2px;
  }

  &:hover::before {
    background-color: var(--checkbox-border-hover);
  }

  &:focus-visible::before {
    background-color: var(--checkbox-border-focus);
    transition: opacity 0.2s ease-in-out;
  }

  &:disabled {
    cursor: not-allowed;

    &::after {
      border-color: var(--checkbox-border-disabled);
    }

    &:hover::before {
      display: none;
    }
  }

  &:checked {
    &:disabled {
      &::after {
        background-image: var(--checkbox-background-img-disabled);
        background-color: var(--checkbox-fill-disabled);
        color: var(--checkbox-border-disabled);
      }
    }

    &:hover::before,
    &::before {
      display: block;
      width: 16px;
      height: 16px;
      left: 4px;
      top: 4px;
      border: 1px solid var(--checkbox-border-disabled);
    }

    &::after {
      background-image: var(--checkbox-background-img);
      background-color: var(--checkbox-border);
      background-repeat: no-repeat;
      background-position: center;
    }

    &:focus-visible::before {
      width: 22px;
      height: 22px;
      left: 1px;
      top: 1px;
      border: 0;
    }
  }

  &--indeterminate {
    &::after {
      background-image: var(--checkbox-background-img-indeterminate);
      background-color: var(--checkbox-border);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.tl-checkbox__label {
  color: var(--checkbox-label);
  padding-left: var(--tds-spacing-element-4);
  padding-top: var(--tds-spacing-element-4);
  padding-bottom: var(--tds-spacing-element-4);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  .tl-checkbox:has(:disabled) & {
    color: var(--checkbox-label-disabled);
    cursor: not-allowed;
  }
}

// Modifier: input indeterminate + disabled
.tl-checkbox__input--indeterminate {
  &:disabled {
    &::after {
      background-image: var(--checkbox-background-img-indeterminate-disabled);
      background-color: var(--checkbox-fill-disabled);
      color: var(--checkbox-border-disabled);
    }
  }

  &:hover::before,
  &::before {
    display: block;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
    border: 1px solid var(--checkbox-border-disabled);
  }
}
