.tl-checkbox {
  --checkbox-label: var(--color-foreground-text-strong);
  --checkbox-label-disabled: var(--color-foreground-text-disabled);
  --checkbox-icon: var(--color-foreground-icon-strong);
  --checkbox-fill: var(--color-foreground-icon-inverse-strong);
  --checkbox-fill-disabled: var(--color-background-accent-primary-disabled);
  --checkbox-border: var(--color-foreground-border-strong);
  --checkbox-border-hover: var(--color-foreground-border-subtle);
  --checkbox-border-focus: var(--color-foreground-border-accent-focus);
  --checkbox-border-disabled: var(--color-foreground-border-discrete);

  // units
  --checkbox-background-opacity-hover: 0.12;
  --checkbox-background-opacity-focus: 0.24;
  --checkbox-background-img: url("data:image/svg+xml;utf8,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 2.33333L3.4 5C4.80589 3.4379 5.59411 2.5621 7 1' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  --checkbox-background-img-indeterminate: url("data:image/svg+xml;utf8,<svg width='8' height='2' viewBox='0 0 8 2' fill='none' xmlns='http://www.w3.org/2000/svg'><rect y='0.5' width='8' height='1' rx='0.5' fill='%23ffffff'/></svg>");
  --checkbox-background-img-disabled: url("data:image/svg+xml;utf8,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 2.33333L3.4 5C4.80589 3.4379 5.59411 2.5621 7 1' stroke='%23b0b7c4' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  --checkbox-background-img-indeterminate-disabled: url("data:image/svg+xml;utf8,<svg width='8' height='2' viewBox='0 0 8 2' fill='none' xmlns='http://www.w3.org/2000/svg'><rect y='0.5' width='8' height='1' rx='0.5' fill='%23b0b7c4'/></svg>");
}

.tds-mode-dark,
.tl-mode-dark {
  .tl-checkbox,
  .tds-checkbox {
    --checkbox-background-img: url("data:image/svg+xml;utf8,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 2.33333L3.4 5C4.80589 3.4379 5.59411 2.5621 7 1' stroke='%230D0F13' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    --checkbox-background-img-indeterminate: url("data:image/svg+xml;utf8,<svg width='8' height='2' viewBox='0 0 8 2' fill='none' xmlns='http://www.w3.org/2000/svg'><rect y='0.5' width='8' height='1' rx='0.5' fill='%230D0F13'/></svg>");
    --checkbox-background-img-disabled: url("data:image/svg+xml;utf8,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 2.33333L3.4 5C4.80589 3.4379 5.59411 2.5621 7 1' stroke='%2356657A' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    --checkbox-background-img-indeterminate-disabled: url("data:image/svg+xml;utf8,<svg width='8' height='2' viewBox='0 0 8 2' fill='none' xmlns='http://www.w3.org/2000/svg'><rect y='0.5' width='8' height='1' rx='0.5' fill='%2356657A'/></svg>");
  }
}

.scania {
  .tl-checkbox {
    --checkbox-focus-width: 20px;
    --checkbox-focus-height: 20px;
    --checkbox-focus-left: 2px;
    --checkbox-focus-top: 2px;
  }
}

.traton {
  .tl-checkbox {
    --checkbox-focus-width: 22px;
    --checkbox-focus-height: 22px;
    --checkbox-focus-left: 1px;
    --checkbox-focus-top: 1px;
  }
}
