:root {
  /* Space tokens */
  --space-tiny: var(--radius-sm);
  --space-small: var(--radius-xl);
  --space-medium: var(--radius-2xl);
  --space-large: var(--radius-5xl);
  --space-huge: var(--radius-8xl);
}
