//@import '../theme/core/spacing/vars';
@import '../../../../../../grid-deprecated/vars';
@import '../../../global/_variables';

:host {
  position: sticky;
  bottom: 0;
  display: none;
  height: 68px;
  border-top: 1px solid var(--side-menu-bottom-menu-border-top);
  margin: 0 var(--side-menu-space-top-level-left);
  margin-bottom: var(--side-menu-space-top-level-bottom-collapsible);

  .icon {
    transform: rotateZ(90deg);
    transition: all 0.2s ease-in-out;
    width: var(--side-menu-size-icon);
    height: var(--side-menu-size-icon);
  }

  .state-collapsed {
    .icon {
      transform: translateX(-50%) rotateZ(90deg) rotateX(180deg);
      color: var(--side-menu-single-item-color);
      margin-left: 0;
      position: absolute;
      left: 50%;
    }
  }
}

@media (min-width: $grid-lg) {
  :host {
    display: block;
  }
}
