@use '../../../../../../grid-deprecated/vars' as *;
@use '../../../global/_variables' as *;
@use '../../../mixins/focus-state' as *;

:host {
  position: sticky;
  padding: 0 var(--tds-side-menu-horizontal-padding);
  bottom: 0;
  display: none;
  height: var(--tds-side-menu-item-height);
  border-top: var(--tds-side-menu-item-border-thickness) solid
    var(--tds-side-menu-item-border-color);

  .icon {
    transition: all 0.2s ease-in-out;
    width: 20px;
    height: 20px;
  }

  .state-collapsed {
    .icon {
      transform: translateX(-50%) rotateX(180deg);
      color: var(--tds-side-menu-item-icon-color);
      margin-left: 0;
      position: absolute;
      left: 50%;
    }

    .component .component-collapsed {
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}

@media (min-width: $grid-lg) {
  :host {
    display: block;
  }
}
