@use '../../../../../../tokens/scss/component/accordion';

/* Component variables */

.tl-accordion {
  --accordion-background: var(--component-accordion-background-primary-default);
  --accordion-background-hover-primary: var(--component-accordion-background-primary-hover);
  --accordion-background-hover-secondary: var(--component-accordion-background-secondary-hover);
  --accordion-background-hover: var(--accordion-background-hover-primary);
  --accordion-background-focus: var(--color-background-none);
  --accordion-background-active: var(--component-accordion-background-primary-active);
  --accordion-text: var(--component-accordion-text-default);
  --accordion-icon: var(--component-accordion-icon-default);
  --accordion-text-disabled: var(--color-text-disabled);
  --accordion-border: var(--color-border-subtle);
  --accordion-opacity-disabled: calc(var(--component-accordion-opacity-disabled) / 100);
}

.tl-accordion--primary,
.tl-accordion .tl-accordion--primary {
  --accordion-background: var(--component-accordion-background-primary-default);
  --accordion-background-hover: var(--accordion-background-hover-primary);
  --accordion-background-active: var(--component-accordion-background-primary-active);
}

.tl-accordion--secondary,
.tl-accordion .tl-accordion--secondary {
  --accordion-background: var(--component-accordion-background-secondary-default);
  --accordion-background-hover: var(--accordion-background-hover-secondary);
  --accordion-background-active: var(--component-accordion-background-secondary-active);
}
