@use '../../../../../../tokens/scss/component-stubs/accordion';

.tl-accordion {
  /* Border & Background */
  --accordion-border: var(--component-accordion-border-default);
  --accordion-background: var(--component-accordion-background-primary-default);

  /* Hover backgrounds */
  --accordion-background-hover-primary: var(--component-accordion-background-primary-hover);
  --accordion-background-hover-secondary: var(--component-accordion-background-secondary-hover);
  --accordion-background-hover: var(--accordion-background-hover-primary);

  /* Focus & Active states */
  --accordion-background-focus: var(--component-accordion-background-primary-hover);
  --accordion-background-active: var(--component-accordion-background-primary-active);

  /* Text & Icon colours */
  --accordion-text: var(--component-accordion-text-default);
  --accordion-icon: var(--component-accordion-icon-default);

  /* Borders & Disabled */
  --accordion-text-disabled: var(--component-accordion-text-disabled);
}

/* Mode variants */
.tl-mode-light .tl-accordion--primary,
.tl-mode-light .tl-accordion .tl-accordion--primary {
  background-color: var(--accordion-background-hover-secondary);

  --accordion-background-hover: var(--accordion-background-hover-primary);
}

.tl-mode-light .tl-accordion--secondary,
.tl-mode-light .tl-accordion .tl-accordion--secondary {
  background-color: var(--accordion-background-hover-primary);

  --accordion-background-hover: var(--accordion-background-hover-secondary);
}

.tl-mode-dark .tl-accordion--primary,
.tl-mode-dark .tl-accordion .tl-accordion--primary {
  background-color: var(--accordion-background-hover-secondary);

  --accordion-background-hover: var(--accordion-background-hover-primary);
}

.tl-mode-dark .tl-accordion--secondary,
.tl-mode-dark .tl-accordion .tl-accordion--secondary {
  background-color: var(--accordion-background-hover-primary);

  --accordion-background-hover: var(--accordion-background-hover-secondary);
}
