:root {
  --radius-none: 0;
  --radius-xs: var(--unit-2);
  --radius-sm: var(--unit-4);
  --radius-md: var(--unit-8);
  --radius-lg: var(--unit-12);
  --radius-xl: var(--unit-16);
  --radius-2xl: var(--unit-24);
  --radius-3xl: var(--unit-32);
  --radius-4xl: var(--unit-40);
  --radius-5xl: var(--unit-48);
  --radius-6xl: var(--unit-56);
  --radius-7xl: var(--unit-64);
  --radius-8xl: var(--unit-80);
  --radius-9xl: var(--unit-96);
  --radius-10xl: var(--unit-120);
  --radius-full: 9999px;
}
