.tl-folder-tabs {
  --folder-tabs-scroll-button-background: var(--component-tabs-background-scroll-default);
  --folder-tabs-scroll-button-color: var(--component-tabs-icon-scroll-default);
}

.tl-folder-tabs__tab {
  --folder-tab-background: var(--component-tabs-background-item-primary-default);
  --folder-tab-background-hover: var(--component-tabs-background-item-primary-hover);
  --folder-tab-background-selected: var(--component-tabs-background-item-primary-current-default);
  --folder-tab-border-selected: var(--component-tabs-border-item-indicator-default);
  --folder-tab-divider-color: var(--component-tabs-border-item-divider-default);
  --folder-tab-text: var(--component-tabs-text-item-folder-default);
  --folder-tab-text-selected: var(--component-tabs-text-item-current-default);
  --folder-tab-item-opacity-disabled: calc(var(--component-tabs-opacity-disabled) / 100);
}

.tl-folder-tabs--primary .tl-folder-tabs__tab {
  --folder-tab-background: var(--component-tabs-background-item-primary-default);
  --folder-tab-background-hover: var(--component-tabs-background-item-primary-hover);
  --folder-tab-background-selected: var(--component-tabs-background-item-primary-current-default);
}

.tl-folder-tabs--secondary .tl-folder-tabs__tab {
  --folder-tab-background: var(--component-tabs-background-item-secondary-default);
  --folder-tab-background-hover: var(--component-tabs-background-item-secondary-hover);
  --folder-tab-background-selected: var(--component-tabs-background-item-secondary-current-default);
}
