@use '../../../../../../tokens/scss/component-stubs/toggle';

.tl-toggle {
  --toggle-text: var(--component-toggle-text-default);
  --toggle-switch: var(--component-toggle-switch-default);
  --toggle-background-on: var(--component-toggle-background-on);
  --toggle-background-off: var(--component-toggle-background-off);
  --toggle-disabled: var(--component-toggle-icon-disabled);
  --toggle-opacity-disabled: calc(var(--component-toggle-opacity-disabled) / 100);
}
