.tl-toggle {
  --toggle-switch: var(--component--focus-ring-color-discrete);
  --toggle-text: var(--color-text-strong);
  --toggle-disabled: var(--color-icon-disabled);
  --toggle-background-on: var(--color-system-success-default);
  --toggle-background-off: var(--color-icon-subtle);
  --toggle-border-focus: var(--color-system-info-default);
}
