@use '../../../../../../typography/mixins/type-styles' as *;
@use '../../../mixins/focus-state' as *;
@use './tl-toggle-vars' as *;

.tl-toggle {
  &:has(input[type='checkbox']:disabled) {
    cursor: not-allowed;
  }
}

.tl-toggle__input {
  appearance: initial;
  margin: 0;
  width: 44px;
  height: 24px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &::after,
  &::before {
    transition: all var(--tds-motion-duration-moderate-01) var(--tds-motion-easing-scania);
    content: '';
    position: absolute;
    box-sizing: border-box;
  }

  &::before {
    /* Slider */
    background-color: var(--toggle-background-off);
    border: 2px solid transparent;
    border-radius: 16px;
    left: 0;
    height: 24px;
    width: 44px;
  }

  /* Switch */
  &::after {
    background-color: var(--toggle-switch);
    border-radius: 50%;
    left: 4px;
    top: 4px;
    width: 16px;
    height: 16px;
  }

  &:focus-visible {
    @include tds-focus-state;

    border-radius: 16px;

    &::before {
      background-color: var(--toggle-disabled);
    }
  }

  &:hover {
    &::before {
      background-color: var(--toggle-background-off);
    }
  }

  &:checked {
    &::before {
      background-color: var(--toggle-background-on);
    }

    &::after {
      left: calc(44px - 20px);
    }
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;

    &::before {
      background-color: var(--toggle-disabled);
    }

    &::after {
      background-color: var(--toggle-switch);
    }
  }

  &:disabled:checked {
    &::before {
      background-color: var(--toggle-disabled);
    }

    &::after {
      background-color: var(--toggle-switch);
    }
  }

  &--sm {
    width: 28px;
    height: 16px;

    &::before {
      width: 28px;
      height: 16px;
    }

    &::after {
      width: 8px;
      height: 8px;
    }

    &:checked {
      &::before {
        background-color: var(--toggle-background-on);
      }

      &::after {
        left: calc(44px - 28px); // slider width - switch width - padding
      }
    }

    &:disabled {
      &::before {
        background-color: var(--toggle-disabled);
      }

      &::after {
        background-color: var(--toggle-switch);
      }
    }
  }
}

.tl-toggle__headline {
  @include detail-02;

  color: var(--toggle-text);
  margin-bottom: 12px;

  :has(input[type='checkbox']:disabled) & {
    color: var(--toggle-disabled);
    user-select: none;
    cursor: not-allowed;
  }
}

.tl-toggle__label {
  @include detail-02;

  color: var(--toggle-text);
  cursor: pointer;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;

  input[type='checkbox']:disabled ~ & {
    color: var(--toggle-disabled);
    pointer-events: none;
    cursor: not-allowed;
  }
}
