.tl-chip {
  --chip-text: var(--component-chip-text-default);
  --chip-text-active: var(--component-chip-text-selected-default);
  --chip-background: var(--component-chip-background-default);
  --chip-background-hover: var(--component-chip-background-hover);
  --chip-background-focus: var(--component-chip-background-hover);
  --chip-background-active: var(--component-chip-background-selected-default);
  --chip-background-active-hover: var(--component-chip-background-selected-hover);
  --chip-focused-on-selected: var(--component-chip-background-selected-default);
  --chip-border-radius: var(--component-chip-border-radius-default);
  --chip-opacity-disabled: var(--component-chip-opacity-disabled);
  --chip-icon-fill: var(--component-chip-text-default);
  --chip-icon-fill-active: var(--component-chip-text-selected-default);
}
