:root,
.tds-mode-light,
.tds-mode-dark {
  // Banner text color
  --banner-text: var(--color-foreground-text-strong);

  // Banner close icon color
  --banner-close-icon: var(--color-foreground-icon-strong);

  // Type: Default
  --banner-background-default: var(--color-background-layer-01);
  --banner-prefix-default: var(--color-foreground-icon-strong);

  // Type: Info
  --banner-background-info: var(--color-system-info-discrete);
  --banner-prefix-info: var(--color-system-info-default);

  // Type: Error
  --banner-background-error: var(--color-system-danger-discrete);
  --banner-prefix-error: var(--color-system-danger-default);
}
