@import '../../../mixins/focus-state';

.tds-date-picker {
  width: 208px;
  display: inline-block;

  tds-popover-core {
    box-shadow: var(--tds-date-picker-calendar-box-shadow);

    .calendar-container {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 4px;
      max-width: 100%;
      margin: 0 auto;
      padding: 8px;

      &.month,
      &.year {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 48px;
      }

      .day-indicator {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .controls {
      color: var(--tds-date-picker-calendar-color);
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;

        &.previous {
          padding-left: 8px;
        }

        &.next {
          padding-right: 8px;
        }

        &:focus {
          @include tds-focus-state;
        }
      }

      .calendar-display {
        font: var(--tds-detail-02);
        letter-spacing: var(--tds-detail-02-ls);
      }
    }
  }
}
