:root,
.tds-mode-light,
.tl-mode-light {
  --tds-block-color: var(--tds-grey-950);
  --tds-block-background: var(--tds-grey-50);
  --tds-block-background-primary: var(--tds-grey-50);
  --tds-block-background-secondary: var(--tds-white);
  --tds-block-background-even: var(--tds-grey-50);
  --tds-block-background-odd: var(--tds-white);

  .tds-mode-variant-primary,
  .tl-mode-variant-primary {
    --tds-block-background: var(--tds-grey-50);
    --tds-block-background-even: var(--tds-grey-50);
    --tds-block-background-odd: var(--tds-white);
  }

  .tds-mode-variant-secondary,
  .tl-mode-variant-secondary {
    --tds-block-background: var(--tds-white);
    --tds-block-background-even: var(--tds-white);
    --tds-block-background-odd: var(--tds-grey-50);
  }
}

.tds-mode-dark,
.tl-mode-dark {
  --tds-block-color: var(--tds-grey-50);
  --tds-block-background: var(--tds-grey-900);
  --tds-block-background-primary: var(--tds-grey-900);
  --tds-block-background-secondary: var(--tds-grey-850);
  --tds-block-background-even: var(--tds-grey-900);
  --tds-block-background-odd: var(--tds-grey-850);

  .tds-mode-variant-primary,
  .tl-mode-variant-primary {
    --tds-block-background: var(--tds-grey-900);
    --tds-block-background-even: var(--tds-grey-900);
    --tds-block-background-odd: var(--tds-grey-850);
  }

  .tds-mode-variant-secondary,
  .tl-mode-variant-secondary {
    --tds-block-background: var(--tds-grey-850);
    --tds-block-background-even: var(--tds-grey-850);
    --tds-block-background-odd: var(--tds-grey-900);
  }
}
