@import '../../mixins/box-sizing';

.tds-block {
  @include tds-box-sizing;

  color: var(--tds-block-color);
  background-color: var(--tds-block-background);
  border-radius: 4px;
  padding: 16px;
  font: var(--tds-body-01);
  letter-spacing: var(--tds-body-01-ls);

  // .context-check {
  //   color: var(--is-inside-darkmode-modal);
  //   display: block;
  //   border: 1px solid black;
  // }
}

.tds-mode-variant-primary {
  background-color: var(--tds-block-background-primary);
}

.tds-mode-variant-secondary {
  background-color: var(--tds-block-background-secondary);
}

.tds-block-even {
  background-color: var(--tds-block-background-even);
}

.tds-block-odd {
  background-color: var(--tds-block-background-odd);
}
