@use '../../mixins/box-sizing' as *;

.tds-block {
  @include tds-box-sizing;

  color: var(--tds-block-color);
  background-color: var(--tds-block-background);
  border-radius: 4px;
  padding: 16px;
  font: var(--tds-body-01);
  letter-spacing: var(--tds-body-01-ls);
}

.tds-mode-variant-primary,
.tl-mode-variant-primary {
  background-color: var(--tds-block-background-primary);
}

.tds-mode-variant-secondary,
.tl-mode-variant-secondary {
  background-color: var(--tds-block-background-secondary);
}

.tds-block-even {
  background-color: var(--tds-block-background-even);
}

.tds-block-odd {
  background-color: var(--tds-block-background-odd);
}
