@import '../../mixins/box-sizing';
@import '../../../../../typography/utilities/typography-utility';

.tds-block {
  @include tds-box-sizing;

  color: var(--color-foreground-text-strong);
  background-color: var(--tds-block-background);
  border-radius: 4px;
  padding: 16px;
  @include detail-01;
}

.tds-mode-variant-primary {
  background-color: var(--tds-block-background-primary);
}

.tds-mode-variant-secondary {
  background-color: var(--tds-block-background-secondary);
}

.tds-block-even {
  background-color: var(--tds-block-background-even);
}

.tds-block-odd {
  background-color: var(--tds-block-background-odd);
}
