:root,
.tds-mode-variant-primary {
  --tds-block-background-even: var(--color-background-layer-01);
  --tds-block-background-odd: var(--color-background-layer-02);
}

.tds-mode-variant-secondary {
  --tds-block-background-even: var(--color-background-layer-02);
  --tds-block-background-odd: var(--color-background-layer-01);
}
