@import '../../mixins/box-sizing';
@import '../../../../../typography/utilities/typography-utility';

.tds-block {
  @include tds-box-sizing;
  @include text-01;

  background-color: var(--block-background);
  color: var(--block-text-color);
  border-radius: 4px;
  padding: 16px;
}

.tds-mode-variant-primary {
  background-color: var(--block-background-mode-primary);
}

.tds-mode-variant-secondary {
  background-color: var(--block-background-mode-secondary);
}

.tds-block-even {
  background-color: var(--block-background-even);
}

.tds-block-odd {
  background-color: var(--block-background-odd);
}
