:root,
.tds-mode-light {
  --tds-block-color: var(--tds-grey-985);
  --tds-block-background-primary: var(--tds-grey-50);
  --tds-block-background-nested-primary: var(--tds-white);
  --tds-block-background-secondary: var(--tds-white);
  --tds-block-background-nested-secondary: var(--tds-grey-50);
  --tds-block-background: var(--tds-block-background-primary);
  --tds-block-background-nested: var(--tds-block-background-nested-primary);

  // .tds-mode-variant-primary {
  //   --tds-block-background: var(--tds-block-background-primary);
  //   --tds-block-background-nested: var(--tds-block-background-nested-primary);
  // }

  // .tds-mode-variant-secondary {
  //   --tds-block-background: var(--tds-block-background-secondary);
  //   --tds-block-background-nested: var(--tds-block-background-nested-secondary);
  // }
}

.tds-mode-dark {
  --tds-block-color: var(--tds-grey-50);
  --tds-block-background-primary: var(--tds-grey-900);
  --tds-block-background-nested-primary: var(--tds-grey-868);
  --tds-block-background-secondary: var(--tds-grey-868);
  --tds-block-background-nested-secondary: var(--tds-grey-900);
  --tds-block-background: var(--tds-block-background-primary);
  --tds-block-background-nested: var(--tds-block-background-nested-primary);

  // .tds-mode-variant-primary {
  //   --tds-block-background: var(--tds-block-background-primary);
  //   --tds-block-background-nested: var(--tds-block-background-nested-primary);
  // }

  // .tds-mode-variant-secondary {
  //   --tds-block-background: var(--tds-block-background-secondary);
  //   --tds-block-background-nested: var(--tds-block-background-nested-secondary);
  // }
}

// tds-block,
// .tds-mode-variant-primary tds-block {
//   --tds-block-background: lightgreen;
// }

// tds-block[mode-variant='secondary'] {
//   --tds-block-background: lightblue;
// }

// backup:

// tds-block,
// .tds-mode-variant-primary tds-block {
//   --tds-block-background: green;
// }

// tds-block[mode-variant='secondary'] {
//   --tds-block-background: blue;
// }

// ========================================

// kind of working:

// tds-block,
// .tds-mode-variant-primary tds-block {
//   --tds-block-background: lightgreen;

//   tds-block {
//     --tds-block-background: lightblue;

//     tds-block {
//       --tds-block-background: lightgreen;

//       tds-block {
//         --tds-block-background: lightblue;

//         tds-block {
//           --tds-block-background: lightgreen;
//         }
//       }
//     }
//   }
// }

// .tds-mode-variant-secondary tds-block {
//   --tds-block-background: lightblue;

//   tds-block {
//     --tds-block-background: lightgreen;

//     tds-block {
//       --tds-block-background: lightblue;

//       tds-block {
//         --tds-block-background: lightgreen;

//         tds-block {
//           --tds-block-background: lightblue;
//         }
//       }
//     }
//   }
// }

// tds-block[mode-variant='primary'] {
//   --tds-block-background: lightgreen;

//   tds-block {
//     --tds-block-background: lightblue;

//     tds-block {
//       --tds-block-background: lightgreen;

//       tds-block {
//         --tds-block-background: lightblue;

//         tds-block {
//           --tds-block-background: lightgreen;
//         }
//       }
//     }
//   }
// }

// tds-block[mode-variant='secondary'] {
//   --tds-block-background: lightblue;

//   tds-block {
//     --tds-block-background: lightgreen;

//     tds-block {
//       --tds-block-background: lightblue;

//       tds-block {
//         --tds-block-background: lightgreen;

//         tds-block {
//           --tds-block-background: lightblue;
//         }
//       }
//     }
//   }
// }

// ========================================

tds-block,
.tds-mode-variant-primary tds-block {
  --tds-block-background: var(--tds-block-background-primary);

  tds-block {
    --tds-block-background: var(--tds-block-background-secondary);

    tds-block {
      --tds-block-background: var(--tds-block-background-primary);

      tds-block {
        --tds-block-background: var(--tds-block-background-secondary);

        tds-block {
          --tds-block-background: var(--tds-block-background-primary);
        }
      }
    }
  }
}

.tds-mode-variant-secondary tds-block {
  --tds-block-background: var(--tds-block-background-secondary);

  tds-block {
    --tds-block-background: var(--tds-block-background-primary);

    tds-block {
      --tds-block-background: var(--tds-block-background-secondary);

      tds-block {
        --tds-block-background: var(--tds-block-background-primary);

        tds-block {
          --tds-block-background: var(--tds-block-background-secondary);
        }
      }
    }
  }
}

tds-block[mode-variant='primary'] {
  --tds-block-background: var(--tds-block-background-primary);

  tds-block {
    --tds-block-background: var(--tds-block-background-secondary);

    tds-block {
      --tds-block-background: var(--tds-block-background-primary);

      tds-block {
        --tds-block-background: var(--tds-block-background-secondary);

        tds-block {
          --tds-block-background: var(--tds-block-background-primary);
        }
      }
    }
  }
}

tds-block[mode-variant='secondary'] {
  --tds-block-background: var(--tds-block-background-secondary);

  tds-block {
    --tds-block-background: var(--tds-block-background-primary);

    tds-block {
      --tds-block-background: var(--tds-block-background-secondary);

      tds-block {
        --tds-block-background: var(--tds-block-background-primary);

        tds-block {
          --tds-block-background: var(--tds-block-background-secondary);
        }
      }
    }
  }
}
