@import '../../../mixins/box-sizing';

:host {
  display: block;
  @include tds-box-sizing;

  .wrapper {
    font: var(--tds-detail-02);
    letter-spacing: var(--tds-detail-02-ls);
    color: var(--tds-popover-menu-color);
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 16px;

    &:hover {
      cursor: pointer;

      &::before {
        z-index: -1;
        content: ' ';
        display: block;
        position: absolute;
        width: calc(100% + 32px);
        height: calc(100% + 16px);
        top: -8px;
        left: -16px;
        background-color: var(--tds-popover-menu-background-hover);
      }
    }
  }

  ::slotted(*:not(tds-icon)) {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  ::slotted(*:focus-visible) {
    &::before {
      z-index: -1;
      content: ' ';
      display: block;
      position: absolute;
      width: calc(100% + 8px);
      height: calc(100% + 16px);
      top: -8px;
      left: -4px;
      outline: 1px solid var(--tds-blue-400);
      outline-offset: 1px;
    }
  }

  ::slotted(*):first-child {
    padding-top: 0;
  }

  ::slotted(*):last-child {
    padding-top: 0;
  }
}
