@use '../../../../../../tokens/scss/component/banner';

.tl-banner {
  --banner-text: var(--component-banner-text-neutral-default);
  --banner-close-icon: var(--component-banner-icon-dismiss-default);
  --banner-background-default: var(--component-banner-background-neutral-default);
  --banner-prefix-default: var(--component-banner-icon-neutral-default);
  --banner-background-info: var(--component-banner-background-information-default);
  --banner-prefix-info: var(--component-banner-icon-information-default);
  --banner-background-error: var(--component-banner-background-error-default);
  --banner-prefix-error: var(--component-banner-icon-error-default);
}
