:root {
  --tds-spinner-background: var(--tds-blue-400);
  --tds-spinner-background-inverted: var(--tds-white);
  --tds-spinner-speed: 1.8s;
  --tds-spinner-speed-lg: 2s;
  --tds-spinner-radius-xs: 8px;
  --tds-spinner-radius-sm: 12px;
  --tds-spinner-radius-md: 26px;
  --tds-spinner-radius-lg: 42px;
  --tds-spinner-radius: var(--tds-spinner-radius-lg);
  --tds-spinner-stroke-width-xs: 3px;
  --tds-spinner-stroke-width-sm: 4px;
  --tds-spinner-stroke-width-md: 6px;
  --tds-spinner-stroke-width-lg: 8px;
  --tds-spinner-stroke-width: var(--tds-spinner-stroke-width-lg);
  --PI: 3.14159265358979;
}
