@mixin mode-variant($mode, $primary-background-disabled, $danger-background-disabled) {
  .tds-mode-variant-#{$mode} {
    --button-primary-background-disabled: var(#{$primary-background-disabled});
    --button-danger-background-disabled: var(#{$danger-background-disabled});
  }
}
