@import '../../mixins/box-sizing';
@import '../../../../../typography/utilities/typography-utility';

@mixin datetime-base {
  @include tds-box-sizing;

  border-radius: var(--datetime-border-radius);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
  height: 100%;
  color: var(--datetime-text);
  background-color: var(--datetime-background);

  &::placeholder {
    opacity: 1;
    color: var(--datetime-placeholder);
  }

  &:focus::placeholder {
    color: var(--datetime-placeholder-focus);
  }

  &:disabled {
    background-color: var(--datetime-background-disabled);
    color: var(--datetime-text-disabled);
    cursor: not-allowed;

    &::placeholder {
      color: var(--datetime-placeholder-disabled);
    }

    ~ .tds-datetime-label-inside {
      color: var(--datetime-label-disabled);
    }
  }
}

@mixin border-colors($state: '') {
  $suffix: if($state != '', '-#{$state}', '');

  border-left: 1px solid var(--datetime-border-color-left#{$suffix});
  border-right: 1px solid var(--datetime-border-color-right#{$suffix});
  border-bottom: 1px solid var(--datetime-border-color-bottom#{$suffix});
  border-top: 1px solid var(--datetime-border-color-top#{$suffix});
}

// icons

.tds-datetime-input,
.tds-datetime-input-md,
.tds-datetime-input-sm {
  &[type='datetime-local'],
  &[type='date'],
  &[type='month'],
  &[type='week'] {
    ~ .icon-time {
      display: none;
    }
  }

  &[type='time'] {
    ~ .icon-datetime-local {
      display: none;
    }
  }
}

//Sizes
.tds-datetime-input {
  @include datetime-base;
  @include detail-02;

  padding: var(--tds-spacing-element-20) var(--tds-spacing-element-16);
}

.tds-datetime-input-md,
.tds-datetime-input-sm {
  padding: var(--tds-spacing-element-16);
}

//Container for input field and prefix/suffix
.tds-datetime-container {
  border-radius: var(--datetime-border-radius);
  display: flex;
  position: relative;
  height: 56px;
  box-sizing: border-box;
  background-color: var(--datetime-background);
  transition: border-bottom-color 200ms ease;
  @include border-colors;

  &:hover {
    @include border-colors('hover');
  }

  .tds-form-datetime-md & {
    height: 48px;
  }

  .tds-form-datetime-sm & {
    height: 40px;
  }
}

.tds-datetime-input-container {
  position: relative;
  width: 100%;

  .datetime-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    pointer-events: none;
    color: var(--datetime-icon);
  }
}

.tds-datetime-label {
  @include detail-05;

  display: block;
  margin-bottom: var(--tds-spacing-element-8);
  color: var(--datetime-label);
}

.tds-datetime-label-inside {
  @include detail-02;

  position: absolute;
  pointer-events: none;
  color: var(--datetime-label-inside);
  left: 16px;

  &.iphone {
    left: 8px !important;
  }
}

@mixin label-inside-transition {
  transition: 0.1s ease all;
}

//Form control
.tds-form-datetime {
  display: block;
  min-width: 208px;
  background: unset;

  &-nomin {
    min-width: auto;
  }
}

//Datetime container with label inside
//Handling position, focus and transition for label inside
.tds-form-datetime.tds-datetime-container-label-inside {
  .tds-datetime-input,
  .tds-datetime-input-md,
  .tds-datetime-input-sm {
    ~ .tds-datetime-label-inside {
      @include detail-07;
      @include label-inside-transition;
    }
  }

  .tds-datetime-input {
    padding-top: var(--tds-spacing-element-24);
    padding-bottom: 15px;

    ~ .tds-datetime-label-inside {
      top: 20px;
    }
  }

  .tds-datetime-input-md,
  .tds-datetime-input-sm {
    padding-top: var(--tds-spacing-element-20);
    padding-bottom: 11px;

    ~ .tds-datetime-label-inside {
      top: 16px;
    }
  }

  .tds-datetime-input ~ .tds-datetime-label-inside {
    top: 12px;
  }

  .tds-datetime-input-md ~ .tds-datetime-label-inside,
  .tds-datetime-input-sm ~ .tds-datetime-label-inside {
    top: 8px;
  }
}

//Datetime bottom bar when in focus
.tds-datetime-bar {
  position: absolute;
  width: 100%;

  &::before,
  &::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    background: var(--datetime-highlight);
    transition: 0.35s ease all;
    top: 54px;

    .tds-form-datetime-md & {
      top: 46px;
    }

    .tds-form-datetime-sm & {
      top: 40px;
    }
  }

  &::before {
    left: 50%;
  }

  &::after {
    right: 50%;
  }

  .tds-datetime-focus &::before,
  .tds-datetime-focus &::after {
    width: 50%;
  }
}

//Helper text
.tds-datetime-helper {
  @include detail-05;

  display: block;
  flex-basis: 100%;
  padding-top: var(--tds-spacing-element-4);
  color: var(--datetime-helper);

  .tds-helper {
    display: inline-flex;
    gap: 8px;
  }
}

//Disabled state
.tds-form-datetime-disabled {
  .tds-datetime-container {
    cursor: not-allowed;
    border-color: transparent;
  }

  .datetime-icon {
    tds-icon {
      color: var(--datetime-icon-disabled);
    }
  }

  .tds-datetime-label {
    color: var(--datetime-label-disabled);
    cursor: not-allowed;
  }
}

//Success state
.tds-form-datetime-success {
  .tds-datetime-container {
    @include border-colors('success');

    color: var(--tds-datetime-color-success);
  }

  .tds-datetime-bar::before,
  .tds-datetime-bar::after {
    background: var(--tds-datetime-bar-sucess);
  }
}

//Error State
.tds-form-datetime-error {
  .tds-datetime-helper {
    color: var(--datetime-helper-error);
  }

  .tds-datetime-container {
    @include border-colors('error');
  }

  .tds-datetime-bar::before,
  .tds-datetime-bar::after {
    background: var(--datetime-highlight-error);
  }

  .datetime-icon tds-icon {
    color: var(--datetime-icon-error);
  }
}

/* Datetime picker icon remove testing */

input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'] {
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

@supports (-moz-appearance: none) {
  .type-datetime-local .icon-datetime-local,
  .type-date .icon-datetime-local {
    display: none;
  }
}

.tds-form-datetime.tds-datetime-focus .tds-datetime-container {
  @include border-colors('focus');

  outline: 2px solid var(--datetime-outline-color-focus);
  outline-offset: -1px;
}
