:root,
tds-datetime {
  --tds-datetime-background-primary: var(--component--input-background-primary);
  --tds-datetime-background-secondary: var(--component--input-background-secondary);
  --tds-datetime-background: var(--tds-datetime-background-primary);
  --tds-datetime-icon: var(--component--input-icon-suffix-default);
  --tds-datetime-placeholder-color: var(--component--input-text-placeholder-default);
  --tds-datetime-color: var(--component--input-text-value-default);
  --tds-datetime-helper-error: var(--component--input-text-error-default);
  --tds-datetime-label-color: var(--component--input-text-label-default);
  --tds-datetime-helper: var(--component--input-text-helper-default);
  --tds-datetime-opacity-disabled: calc(var(--component--input-opacity-disabled) / 100);

  .tds-mode-variant-primary {
    --tds-datetime-background: var(--tds-datetime-background-primary);
  }

  .tds-mode-variant-secondary {
    --tds-datetime-background: var(--tds-datetime-background-secondary);
  }
}
