@use '../../mixins/box-sizing' as *;
@use '../../mixins/focus-state' as *;
@use '../../mixins/input-border' as *;
@use '../../../../../typography/mixins/type-styles' as *;

@mixin datetime-base {
  @include tds-box-sizing;
  @include type-system-body-01;

  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  outline: none;
  border: none;
  color: var(--tds-datetime-color);
  background-color: var(--tds-datetime-background);
  @include input-border-default;

  &:disabled {
    cursor: not-allowed;
  }
}

// icons
.tds-datetime-input,
.tds-datetime-input-md,
.tds-datetime-input-sm {
  // only apply styling if browser supports
  @supports selector(input::-webkit-datetime-edit) {
    // placeholder text
    &:not(:focus)::-webkit-datetime-edit {
      color: var(--tds-datetime-placeholder-color);
    }

    // the success and error states are set in their dedicated classes
  }

  &[type='datetime-local'] {
    ~ .icon-time {
      display: none;
    }
  }

  &[type='date'] {
    ~ .icon-time {
      display: none;
    }
  }

  &[type='month'] {
    ~ .icon-time {
      display: none;
    }
  }

  &[type='week'] {
    ~ .icon-time {
      display: none;
    }
  }

  &[type='time'] {
    ~ .icon-datetime-local {
      display: none;
    }
  }
}

// Sizes
.tds-datetime-input {
  @include datetime-base;

  padding: var(--unit-20) var(--unit-16);

  &:hover:not(:disabled) {
    @include input-border-hover;
  }

  &.iphone {
    padding: 0;
  }
}

.tds-datetime-input-md,
.tds-datetime-input-sm {
  padding: var(--unit-16);

  &.iphone {
    padding: 0;
  }
}

// Container for input field and prefix/suffix
.tds-datetime-container {
  display: flex;
  position: relative;
  height: 56px;
  box-sizing: border-box;
  transition: border-color 200ms ease;

  .tds-form-datetime-md & {
    height: 48px;
  }

  .tds-form-datetime-sm & {
    height: 40px;
  }
}

.tds-datetime-input-container {
  position: relative;
  width: 100%;

  .datetime-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    pointer-events: none;
    color: var(--tds-datetime-icon);
  }
}

.tds-datetime-label {
  @include label-01;

  display: block;
  margin-bottom: var(--unit-4);
  color: var(--tds-datetime-label-color);
}

.tds-datetime-label-inside {
  @include label-02;

  position: absolute;
  pointer-events: none;
  color: var(--tds-datetime-label-color);
  left: 16px;
}

@mixin label-inside-transition {
  transition: 0.1s ease all;
}

// Form control
.tds-form-datetime {
  display: block;
  min-width: 208px;
  background: unset;

  &-nomin {
    min-width: auto;
  }

  &-disabled {
    opacity: var(--tds-datetime-opacity-disabled);

    .tds-datetime-label {
      cursor: not-allowed;
    }
  }
}

// Datetime container with label inside
// Handling position, focus and transition for label inside
.tds-form-datetime.tds-datetime-container-label-inside {
  .tds-datetime-input {
    padding-top: var(--unit-24);
    padding-bottom: 15px;

    &.iphone {
      padding: 0;
    }
  }

  .tds-datetime-input-md,
  .tds-datetime-input-sm {
    padding-top: var(--unit-20);
    padding-bottom: 11px;

    ~ .tds-datetime-label-inside {
      top: 16px;
    }

    &.iphone {
      padding: 0;
    }
  }

  .tds-datetime-input-sm ~ .tds-datetime-label-inside,
  .tds-datetime-input-md ~ .tds-datetime-label-inside {
    @include label-02;
    @include label-inside-transition;

    top: 8px;
  }

  .tds-datetime-input:not(.tds-datetime-input-sm, .tds-datetime-input-md)
    ~ .tds-datetime-label-inside {
    @include label-02;
    @include label-inside-transition;

    top: 12px;
  }
}

// Focus
.tds-datetime-focus {
  .tds-datetime-input,
  .tds-datetime-input-md,
  .tds-datetime-input-sm {
    @include tds-focus-state;
  }
}

// Helper text
.tds-datetime-helper {
  @include label-01;

  display: block;
  flex-basis: 100%;
  padding: var(--unit-4) 0;
  color: var(--tds-datetime-helper);

  .tds-helper {
    display: inline-flex;
    gap: 8px;
  }
}

// Success state
.tds-form-datetime-success {
  .tds-datetime-input::-webkit-datetime-edit {
    color: var(--tds-datetime-color);
  }

  .tds-datetime-input {
    @include input-border-success;
  }
}

// Error State
.tds-form-datetime-error {
  .tds-datetime-input::-webkit-datetime-edit {
    color: var(--tds-datetime-color);
  }

  .tds-datetime-helper {
    color: var(--tds-datetime-helper-error);

    .tds-helper {
      display: flex;
      gap: var(--unit-8);
      flex-wrap: nowrap;
    }
  }

  .tds-datetime-input {
    @include input-border-error;
  }
}

/* Datetime picker icon remove testing */

input[type='datetime-local']::-webkit-inner-spin-button,
input[type='datetime-local']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type='month']::-webkit-inner-spin-button,
input[type='month']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type='week']::-webkit-inner-spin-button,
input[type='week']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

@supports (-moz-appearance: none) {
  .type-datetime-local .icon-datetime-local,
  .type-date .icon-datetime-local {
    display: none;
  }
}
