@use '../../../mixins/box-sizing' as *;
@use '../../../../../../typography/mixins/type-styles' as *;
@use './tl-stepper-vars' as *;

@mixin divider {
  content: ' ';
  position: absolute;
  background-color: var(--stepper-divider-line);
}

.tl-stepper__step {
  position: relative;
  display: table-cell;

  .tl-stepper--horizontal:not(.tl-stepper--label-aside) .tl-stepper__list > & {
    flex: 1 1 0;
    min-inline-size: 0;
  }

  .tl-stepper--horizontal.tl-stepper--label-aside .tl-stepper__list > & {
    display: flex;
    flex: 0 0 auto;
    min-inline-size: auto;
  }

  .tl-stepper--horizontal.tl-stepper--label-aside.tl-stepper--hide-labels .tl-stepper__list > & {
    min-inline-size: 0;
  }
}

.tl-stepper__content {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  &--text-below {
    flex-direction: column;
  }

  &--lg {
    padding: 0 20px;
    @include detail-01;
  }

  &--sm {
    padding: 0 20px;
    @include detail-05;
  }

  .tl-stepper__step:last-of-type &--horizontal {
    padding-right: 0;
  }

  .tl-stepper__step:last-of-type &--sm,
  .tl-stepper__step:last-of-type &--lg {
    &::after {
      display: none;
    }
  }

  .tl-stepper__step:last-of-type &--sm.tl-stepper__content--vertical {
    &::before {
      display: none;
    }
  }

  .tl-stepper__step:first-of-type &--horizontal {
    padding-left: 0;
  }

  .tl-stepper__step:first-of-type &--sm,
  .tl-stepper__step:first-of-type &--lg {
    &::before {
      display: none;
    }
  }

  &--lg {
    &::after {
      @include divider;
    }

    &::before {
      @include divider;
    }

    &.tl-stepper__content--vertical {
      &::after {
        height: 36px;
        width: 1px;
        top: 40px;
        left: 36px;
      }
    }

    &.tl-stepper__content--horizontal {
      &::after {
        height: 1px;
        left: calc(50% + 24px);
        right: 0;
        top: 16px;
      }

      &::before {
        height: 1px;
        right: calc(50% + 24px);
        left: 0;
        top: 16px;
      }

      &.tl-stepper__content--text-aside {
        &:not(.tl-stepper__content--hide-labels) {
          &::after {
            height: 1px;
            top: 16px;
            width: 10px;
            left: auto;
            right: -10px;
          }

          &::before {
            height: 1px;
            top: 16px;
            width: 10px;
            left: -10px;
            right: auto;
          }
        }
      }
    }
  }

  &--sm {
    &.tl-stepper__content--vertical {
      &::after {
        @include divider;

        height: 20px;
        width: 1px;
        top: 34px;
        left: 32px;
      }

      &::before {
        @include divider;

        height: 20px;
        width: 1px;
        top: 34px;
        left: 32px;
      }
    }

    &.tl-stepper__content--horizontal {
      &::after {
        @include divider;

        height: 1px;
        left: calc(50% + 16px + 8px);
        right: 0;
        top: 13px;
      }

      &::before {
        @include divider;

        height: 1px;
        left: 0;
        right: calc(50% + 24px);
        top: 13px;
      }

      &.tl-stepper__content--text-aside {
        &:not(.tl-stepper__content--hide-labels) {
          &::after {
            @include divider;

            height: 1px;
            top: 13px;
            width: 10px;
            left: auto;
            right: -10px;
          }

          &::before {
            @include divider;

            height: 1px;
            top: 13px;
            width: 10px;
            left: -10px;
            right: auto;
          }
        }
      }
    }
  }
}

.tl-stepper__node {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  position: relative;

  &--error {
    border-color: var(--stepper-icon-step-border-warning);
    color: var(--stepper-icon-step-border-warning);
  }

  &--success {
    background-color: var(--stepper-icon-step-border-success);
    border-color: var(--stepper-icon-step-border-success);
    color: var(--stepper-icon-step-checkmark);
  }

  &--current {
    color: var(--stepper-current-number-with-border);
  }

  &--upcoming {
    border-color: var(--stepper-label-border-upcoming);
    color: var(--stepper-label-text-upcoming);
  }

  .tl-stepper__content--lg & {
    height: 30px;
    min-width: 30px;
  }

  .tl-stepper__content--sm & {
    height: 24px;
    min-width: 24px;
  }
}

.tl-icon {
  .tl-stepper__content--sm & {
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
    margin-top: -2px;
  }
}

.tl-stepper__label {
  text-align: center;

  &--lg {
    @include detail-01;
  }

  &--sm {
    @include detail-05;
  }

  &--upcoming {
    color: var(--stepper-label-text-upcoming);
    opacity: var(--tds-stepper-label-text-opacity-upcoming);
  }

  .tl-stepper--hide-labels & {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }
}
