@import '../../../mixins/box-sizing';
@import './tl-stepper-vars';

.tl-stepper {
  @include tds-box-sizing;

  display: table;
  table-layout: fixed;
  width: 100%;
  list-style: none;
}

.tl-stepper__list {
  display: flex;
  justify-content: space-evenly;
  min-width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  .tl-stepper:not(.tl-stepper--label-aside) & {
    width: 100%;
  }

  .tl-stepper--horizontal:not(.tl-stepper--label-aside) & {
    justify-content: flex-start;
  }

  .tl-stepper--horizontal.tl-stepper--label-aside & {
    display: flex;
    justify-content: flex-start;
    min-width: 100%;
  }

  .tl-stepper--horizontal.tl-stepper--label-aside.tl-stepper--hide-labels & {
    display: flex;
    justify-content: flex-start;
  }

  .tl-stepper--vertical & {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 52px;
    min-width: 0;
  }

  .tl-stepper--vertical.tl-stepper--sm & {
    gap: 36px;
  }
}
