@import '../../mixins/z-index';
@import 'modal-vars';
@import '../../mixins/box-sizing';
@import '../../mixins/focus-state';

//TODO: Find a way to create a mixin in spacings that can be used for screen size in rem
//Media rules doesn't calculate correct with using rem
// Screen breakpoints
$screen-s: 320px; //320px
$screen-md: 672px; // 672px
$screen-l: 1056px; //1056px
$screen-xl: 1312px; //1312px
$screen-xxl: 1584px; //1584px

$modals: (
  $screen-s: (
    xs: 100%,
    sm: 100%,
    md: 100%,
    lg: 100%,
  ),
  $screen-md: (
    xs: 50%,
    sm: 62.5%,
    md: 75%,
    lg: 100%,
  ),
  $screen-l: (
    xs: 31.25%,
    sm: 43.75%,
    md: 62.5%,
    lg: 75%,
  ),
  $screen-xl: (
    xs: 31.25%,
    sm: 37.5%,
    md: 62.5%,
    lg: 75%,
  ),
  $screen-xxl: (
    xs: 25%,
    sm: 37.5%,
    md: 50%,
    lg: 75%,
  ),
);

/* MIXINS */

@mixin modal-scroll-inner {
  /* SCROLL STUFF */

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--tds-grey-300);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: var(--tds-grey-300);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: var(--tds-grey-500);
  }
}

@mixin modal-scroll-outer {
  /* SCROLL STUFF */

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--tds-grey-300);
    border-radius: 0 1em 1em 0;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: var(--tds-grey-300);
    border-radius: 0 1em 1em 0;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: var(--tds-grey-500);
    border-radius: 0 1em 1em 0;
  }
}

@mixin modal-header {
  display: flex;
  padding: var(--tds-spacing-element-16);
  position: sticky;
  top: 0;
  background-color: var(--tds-modal-background);
  z-index: 1;
}

@mixin modal-header-title {
  color: var(--tds-modal-text);

  /* !important is needed here to prevent this from being overwritten by our CSS-reset. */
  font: var(--tds-headline-05) !important;
  letter-spacing: var(--tds-headline-05-ls) !important;
  margin: 0;
  flex: 1;
}

@mixin modal-body {
  color: var(--tds-modal-text);
  font: var(--tds-body-01);
  letter-spacing: var(--tds-body-01-ls);
  overflow-y: visible;
  padding: 0 16px 16px;
  @include modal-scroll-inner;
}

@mixin modal-position {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* MODAL STYLING */

.tds-modal {
  @include tds-box-sizing;

  background-color: var(--tds-modal-background);
  margin: auto;
  position: relative;
  border-radius: 4px;
  max-height: 85vh;
  overflow-y: auto;
  pointer-events: auto;

  @include modal-scroll-outer;

  &__actions-sticky {
    overflow: hidden;

    .body {
      font: var(--tds-body-01);
      letter-spacing: var(--tds-body-01-ls);
      padding-bottom: 96px;
      max-height: calc(85vh - 36px);
      overflow-y: auto;
    }

    slot[name='actions'] {
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      background-color: var(--tds-modal-background);
      padding: var(--tds-spacing-element-16);
      display: flex;
      gap: 16px;
    }
  }

  &__actions-static {
    slot[name='actions'] {
      background-color: var(--tds-modal-background);
      display: flex;
      gap: 16px;
      padding: 24px 16px 16px;
    }
  }
}

//Width of Modals in different breakpoints
@each $screen, $modals in $modals {
  @media (min-width: $screen) {
    @each $modal, $value in $modals {
      .tds-modal-#{$modal} {
        width: $value;
      }
    }
  }
}
@media (max-width: $screen-s) {
  .tds-modal-md,
  .tds-modal-lg,
  .tds-modal-sm {
    height: 100%;

    slot[name='actions']::slotted(*) {
      display: flex;
    }
  }
}

/* MODAL SUB ELEMENTS */

.header {
  @include modal-header;
}

.header,
slot[name='header']::slotted(*) {
  @include modal-header-title;
}

.body {
  @include modal-body;
}

.tds-modal-backdrop {
  @include tds-box-sizing;
  @include modal-position;

  background-color: var(--tds-modal-backdrop);
  pointer-events: auto;
}

button.tds-modal-close {
  margin: 0 0 auto auto;
  background-color: transparent;
  border: 0;
  padding: 0;
  appearance: unset;
}

.tds-modal-close {
  display: inline-block;
  height: auto;
  color: var(--tds-modal-icon);
  cursor: pointer;

  &:focus {
    @include tds-focus-state;
  }

  @media (min-width: $screen-s) {
    margin-left: var(--tds-spacing-element-16);
  }

  @media (min-width: $screen-l) {
    margin-left: var(--tds-spacing-element-48);
  }
}
@media (min-width: $screen-md) {
  .tds-modal-lg .body,
  .tds-modal-md .body {
    padding-right: 80px;
  }
}

//web component with nested svg
.tds-modal-close-btn {
  display: inline-block;
  height: auto;
  background-repeat: no-repeat;
  cursor: pointer;

  @media (min-width: $screen-s) {
    margin-left: var(--tds-spacing-element-16);
  }

  @media (min-width: $screen-l) {
    margin-left: var(--tds-spacing-element-48);
  }

  svg {
    fill: var(--tds-modal-icon);
  }
}

.tds-modal-overflow {
  overflow: hidden;
}

/* WEB COMPONENT STUFF */

:host {
  @include tds-box-sizing;
  @include modal-position;

  padding: 0 16px;
  z-index: tds-z-index(modal);
  pointer-events: none;

  .tds-modal-close {
    border: none;
    background-color: transparent;
  }

  .tds-modal-close-btn {
    border: none;
    background-color: transparent;
  }

  @media (max-width: $screen-s) {
    padding: 0;
  }

  &.show {
    display: flex;
  }

  &.hide {
    display: none;
  }
}

:host(.show) {
  display: flex;
}

:host(.hide) {
  display: none;
}
