@mixin tds-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    background-color: inherit;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--tds-grey-300);
  }

  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }
}
