:root,
.tds-mode-light {
  --tds-accordion-border: var(--tds-grey-300);
  --tds-accordion-background: transparent;
  --tds-accordion-background-hover-primary: var(--tds-grey-50);
  --tds-accordion-background-hover-secondary: var(--tds-white);
  --tds-accordion-background-hover: var(--tds-accordion-background-hover-primary);
  --tds-accordion-background-focus: transparent;
  --tds-accordion-background-active: var(--tds-grey-100);
  --tds-accordion-color: var(--tds-grey-958);
  --tds-accordion-border-focus: var(--tds-grey-500);
  --tds-accordion-color-disabled: var(--tds-grey-400);
  --tds-accordion-icon-color: var(--tds-black);

  .tds-mode-variant-primary {
    --tds-accordion-background-hover: var(--tds-accordion-background-hover-primary);
  }

  .tds-mode-variant-secondary {
    --tds-accordion-background-hover: var(--tds-accordion-background-hover-secondary);
  }
}

.tds-mode-dark {
  --tds-accordion-border: var(--tds-grey-700);
  --tds-accordion-background: transparent;
  --tds-accordion-background-hover-primary: var(--tds-grey-900);
  --tds-accordion-background-hover-secondary: var(--tds-grey-868);
  --tds-accordion-background-hover: var(--tds-accordion-background-hover-primary);
  --tds-accordion-background-focus: transparent;
  --tds-accordion-background-active: var(--tds-grey-900);
  --tds-accordion-color: var(--tds-grey-50);
  --tds-accordion-border-focus: var(--tds-grey-500);
  --tds-accordion-color-disabled: var(--tds-grey-800);
  --tds-accordion-icon-color: var(--tds-grey-50);

  .tds-mode-variant-primary {
    --tds-accordion-background-hover: var(--tds-accordion-background-hover-primary);
  }

  .tds-mode-variant-secondary {
    --tds-accordion-background-hover: var(--tds-accordion-background-hover-secondary);
  }
}
