@import '../../../mixins/focus-state';
@import '../../../mixins/disabled-style';
@import '../../../mixins/box-sizing';
@import '../../../../../../typography/utilities/typography-utility';

.tl-accordion__item {
  @include tds-box-sizing;

  list-style: none;
  color: var(--accordion-text);
  position: relative;
  border-top: 1px solid var(--accordion-border);
  width: 100%;

  button {
    border: none;
  }

  &:last-child {
    margin-bottom: -1px;
    border-bottom: 1px solid var(--accordion-border);
  }

  &:hover:not(&--expanded):not(&--disabled) {
    .tl-accordion__header-icon-start,
    .tl-accordion__header-icon-end {
      background-color: var(--accordion-background-hover);
    }
  }

  &:active:not(&--disabled) {
    .tl-accordion__header-icon-start,
    .tl-accordion__header-icon-end {
      background-color: var(--accordion-background-active);
    }
  }

  /* Focus state  */
  &:has(.tl-accordion__header-icon-start:focus-visible),
  &:has(.tl-accordion__header-icon-end:focus-visible) {
    outline: 2px solid var(--color-foreground-border-accent-focus);
    outline-offset: 1px;
    background-color: var(--accordion-background-focus);
  }

  &--disabled {
    &:hover,
    &:active {
      background-color: transparent;
    }
  }
}

.tl-accordion__title {
  flex-grow: 2;
  text-align: left;
  color: var(--color-foreground-text-strong);

  .tl-accordion__item--disabled & {
    color: var(--accordion-text-disabled);
  }

  .tl-accordion__item--icon-start .tl-accordion__header-icon-start & {
    order: 1;
  }
}

.tl-accordion__panel {
  cursor: default;
  padding: var(--tds-spacing-element-8) var(--tds-spacing-layout-64) var(--tds-spacing-element-32)
    var(--tds-spacing-element-16);
  display: none;
  @include detail-03;

  p {
    margin: 0;
    padding: 0;
  }

  &--less-padding {
    padding-right: var(--tds-spacing-element-16);
  }

  .tl-accordion__item--disabled & {
    color: var(--accordion-text-disabled);
    cursor: not-allowed;
  }

  .tl-accordion__item--expanded & {
    display: block;
    padding-bottom: 31px;
  }
}

.tl-accordion__icon {
  transform-origin: center;
  transition: transform 0.15s ease-in-out;
  color: var(--accordion-icon);

  .tl-accordion__item--disabled & {
    color: var(--accordion-icon-disabled);
  }

  .tl-accordion__item--expanded & {
    transform: rotate(180deg);
  }

  .tl-accordion__item--expanded .tl-accordion__header-icon-end & {
    margin-right: 0;
    margin-left: var(--tds-spacing-element-32);
  }

  .tl-accordion__item--expanded .tl-accordion__header-icon-start & {
    margin-left: 0;
    margin-right: var(--tds-spacing-element-16);
  }

  .tl-accordion__item--icon-start .tl-accordion__header-icon-start & {
    order: 0;
    margin: 0 var(--tds-spacing-element-16) 0 0;
  }

  .tl-accordion__item--icon-end .tl-accordion__header-icon-end & {
    margin: 0 0 0 var(--tds-spacing-element-32);
  }
}

.tl-accordion__header-icon-start,
.tl-accordion__header-icon-end {
  @include tds-box-sizing;
  @include headline-07;

  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--tds-spacing-element-16);
  background-color: var(--accordion-background);

  button {
    all: unset;
    @include tds-box-sizing;
    @include headline-07;

    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--tds-spacing-element-16);
    background-color: var(--accordion-background);
  }

  .tl-accordion__icon {
    transform-origin: center;
    transition: transform 0.15s ease-in-out;
    color: var(--accordion-icon);
  }

  .tl-accordion__item--disabled & {
    color: var(--accordion-text-disabled);
    cursor: not-allowed;
  }

  .tl-accordion__item--expanded & {
    background-color: var(--color-background-surface-100);
  }

  &:active {
    outline: none;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }
}
