@import '../../mixins/box-sizing';
@import '../../../../../typography/utilities/typography-utility';

.tds-radio-button {
  @include tds-box-sizing;

  display: flex;
  align-items: center;
  margin-left: -4px;
  @include detail-02;

  color: var(--radio-button-label);

  .tds-form-input[type='radio'] {
    appearance: none;
    outline: none;
    margin: 0;
    border: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    align-self: flex-start;

    + label {
      padding: var(--radio-button-spacing-4);
      cursor: pointer;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      box-sizing: border-box;
    }

    &::before {
      width: 22px;
      height: 22px;
      left: 1px;
      top: 1px;
    }

    &::after {
      border: 1px solid var(--radio-button-border);
      background-color: var(--radio-button-backtound-inverse);
      width: 16px;
      height: 16px;
      left: 4px;
      top: 4px;
    }

    &:hover {
      &::after {
        outline: 2px solid var(--radio-button-background-hover);
      }
    }

    &:focus {
      &::before {
        background-color: var(--radio-button-focus);
        animation: rb-focus 0.4s cubic-bezier(0.65, 0.05, 0.38, 0.95) forwards;
      }
    }

    &:disabled,
    &.disabled {
      cursor: not-allowed;

      &::before {
        outline: 1px solid var(--radio-button-border-disabled);
        outline-offset: -4px;
      }

      &::after {
        border-color: var(--radio-button-background-disabled);
        background-color: var(--radio-button-background-disabled);
      }

      + label {
        color: var(--radio-button-label-disabled);
        cursor: not-allowed;
      }

      &:hover {
        &::after {
          outline: none;
        }
      }
    }
  }

  .tds-form-input[type='radio']:checked {
    &:focus {
      &::after {
        outline: 4px solid var(--radio-button-focus);
      }
    }

    &::after {
      border: 4px solid var(--radio-button-border);
    }

    &:disabled,
    &.disabled {
      &::before {
        display: block;
        width: 16px;
        height: 16px;
        left: 3px;
        top: 3px;
        border: 1px solid var(--radio-button-border-disabled);
        box-sizing: content-box;
      }

      &::after {
        border: 4px solid var(--radio-button-background-disabled);
        background-color: var(--radio-button-checked-disabled);
        left: 4px;
        top: 4px;
      }
    }
  }

  @keyframes rb-focus {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    100% {
      transform: scale(1);
    }
  }
}
