:root,
.tds-mode-light {
  //Primary
  --tds-btn-primary-background: var(--tds-blue-600);
  --tds-btn-primary-color: var(--tds-white);
  --tds-btn-primary-border-color: transparent;
  --tds-btn-primary-background-hover: var(--tds-blue-500);
  --tds-btn-primary-color-hover: var(--tds-white);
  --tds-btn-primary-border-color-hover: transparent;
  --tds-btn-primary-background-active: var(--tds-blue-700);
  --tds-btn-primary-color-active: var(--tds-white);
  --tds-btn-primary-border-color-active: var(--tds-blue-700);
  --tds-btn-primary-background-focus: var(--tds-blue-400);
  --tds-btn-primary-color-focus: var(--tds-white);
  --tds-btn-primary-border-color-focus: var(--tds-blue-600);
  --tds-btn-primary-outline-color-focus: var(--tds-blue-600);
  --tds-btn-primary-background-disabled-primary: var(--tds-grey-50);
  --tds-btn-primary-background-disabled-secondary: var(--tds-white);
  --tds-btn-primary-background-disabled: var(--tds-btn-primary-background-disabled-primary);
  --tds-btn-primary-color-disabled: var(--tds-grey-400);
  --tds-btn-primary-border-color-disabled: transparent;

  /* ICON */ //not used
  --tds-btn-icon-primary-fill: var(--tds-grey-50);
  --tds-btn-icon-primary-color: var(--tds-grey-50);

  //Secondary
  --tds-btn-secondary-background: transparent;
  --tds-btn-secondary-color: var(--tds-black);
  --tds-btn-secondary-border-color: rgb(0 0 0 / 48%);
  --tds-btn-secondary-background-hover: var(--tds-blue-500);
  --tds-btn-secondary-color-hover: var(--tds-white);
  --tds-btn-secondary-border-color-hover: var(--tds-blue-500);
  --tds-btn-secondary-background-active: transparent;
  --tds-btn-secondary-color-active: var(--tds-black);
  --tds-btn-secondary-border-color-active: rgb(0 0 0 / 87%);
  --tds-btn-secondary-background-focus: transparent;
  --tds-btn-secondary-color-focus: var(--tds-black);
  --tds-btn-secondary-border-color-focus: var(--tds-blue-400);
  --tds-btn-secondary-outline-color: rgb(0 0 0 / 38%);
  --tds-btn-secondary-outline-color-focus: var(--tds-blue-400);
  --tds-btn-secondary-background-disabled: transparent;
  --tds-btn-secondary-color-disabled: rgb(0 0 0 / 38%);
  --tds-btn-secondary-border-color-disabled: rgb(0 0 0 / 38%);
  --tds-btn-icon-secondary-color-focus: var(--tds-black);
  --tds-btn-icon-secondary-fill-focus: var(--tds-black);
  --tds-btn-icon-secondary-fill-active: var(--tds-black);
  --tds-btn-icon-secondary-fill-active: var(--tds-black);

  /* ICON */ //not used
  --tds-btn-icon-secondary-fill: var(--tds-grey-958);
  --tds-btn-icon-secondary-color: var(--tds-grey-958);

  /* ICON HOVER */ //not used
  --tds-btn-icon-secondary-fill-hover: var(--tds-grey-50);
  --tds-btn-icon-secondary-color-hover: var(--tds-grey-50);

  /* ICON HOVER */ //not used
  --tds-btn-icon-secondary-fill-active: var(--tds-grey-958);
  --tds-btn-icon-secondary-color-active: var(--tds-grey-958);

  //Ghost
  --tds-btn-ghost-background: transparent;
  --tds-btn-ghost-color: var(--tds-black);
  --tds-btn-ghost-border-color: transparent;
  --tds-btn-ghost-background-hover: transparent;
  --tds-btn-ghost-color-hover: var(--tds-black);
  --tds-btn-ghost-border-color-hover: rgb(0 0 0 / 60%);
  --tds-btn-ghost-outline-color-hover: rgb(0 0 0 / 60%);
  --tds-btn-ghost-background-active: transparent;
  --tds-btn-ghost-color-active: var(--tds-black);
  --tds-btn-ghost-border-color-active: rgb(0 0 0 / 87%);
  --tds-btn-ghost-background-focus: transparent;
  --tds-btn-ghost-color-focus: var(--tds-black);
  --tds-btn-ghost-border-color-focus: var(--tds-blue-300);
  --tds-btn-ghost-outline-color-focus: var(--tds-blue-300);
  --tds-btn-ghost-background-disabled: transparent;
  --tds-btn-ghost-color-disabled: rgb(0 0 0 / 38%);
  --tds-btn-ghost-border-color-disabled: transparent;

  /* ICON */
  --tds-btn-icon-ghost-fill: var(--tds-grey-958);
  --tds-btn-icon-ghost-color: var(--tds-grey-958);

  //Danger
  --tds-btn-danger-background: var(--tds-negative);
  --tds-btn-danger-color: var(--tds-white);
  --tds-btn-danger-border-color: transparent;
  --tds-btn-danger-background-hover: var(--tds-red-600);
  --tds-btn-danger-color-hover: var(--tds-white);
  --tds-btn-danger-border-color-hover: transparent;
  --tds-btn-danger-background-active: var(--tds-red-700);
  --tds-btn-danger-color-active: var(--tds-white);
  --tds-btn-danger-border-color-active: var(--tds-red-700);
  --tds-btn-danger-background-focus: var(--tds-red-400);
  --tds-btn-danger-color-focus: var(--tds-white);
  --tds-btn-danger-border-color-focus: var(--tds-red-400);
  --tds-btn-danger-outline-color-focus: var(--tds-red-700);
  --tds-btn-danger-background-disabled-primary: var(--tds-grey-50);
  --tds-btn-danger-background-disabled-secondary: var(--tds-white);
  --tds-btn-danger-background-disabled: var(--tds-btn-danger-background-disabled-primary);
  --tds-btn-danger-color-disabled: rgb(0 0 0 / 38%);
  --tds-btn-danger-border-color-disabled: transparent;

  /* ICON */
  --tds-btn-icon-danger-fill: var(--tds-grey-50);
  --tds-btn-icon-danger-color: var(--tds-grey-50);

  .tds-mode-variant-primary {
    --tds-btn-danger-background-disabled: var(--tds-btn-danger-background-disabled-primary);
    --tds-btn-primary-background-disabled: var(--tds-btn-primary-background-disabled-primary);
  }

  .tds-mode-variant-secondary {
    --tds-btn-danger-background-disabled: var(--tds-btn-danger-background-disabled-secondary);
    --tds-btn-primary-background-disabled: var(--tds-btn-primary-background-disabled-secondary);
  }
}

.tds-mode-dark {
  //Primary
  --tds-btn-primary-background: var(--tds-blue-400);
  --tds-btn-primary-background-hover: var(--tds-blue-500);
  --tds-btn-primary-background-active: var(--tds-blue-300);
  --tds-btn-primary-background-focus: var(--tds-blue-600);
  --tds-btn-primary-border-color-focus: var(--tds-blue-400);
  --tds-btn-primary-outline-color-focus: var(--tds-blue-400);
  --tds-btn-primary-background-disabled-primary: var(--tds-grey-900);
  --tds-btn-primary-background-disabled-secondary: var(--tds-grey-868);
  --tds-btn-primary-background-disabled: var(--tds-btn-primary-background-disabled-primary);
  --tds-btn-primary-color-disabled: var(--tds-grey-600);

  /* ICON */ //not used
  --tds-btn-icon-primary-fill: var(--tds-grey-50);
  --tds-btn-icon-primary-color: var(--tds-grey-50);

  //Secondary
  --tds-btn-secondary-background: transparent;
  --tds-btn-secondary-color: var(--tds-white);
  --tds-btn-secondary-border-color: var(--tds-white);
  --tds-btn-secondary-background-hover: var(--tds-blue-500);
  --tds-btn-secondary-color-hover: var(--tds-white);
  --tds-btn-secondary-border-color-hover: var(--tds-blue-500);
  --tds-btn-secondary-background-active: transparent;
  --tds-btn-secondary-color-active: var(--tds-white);
  --tds-btn-secondary-border-color-active: var(--tds-white);
  --tds-btn-secondary-background-focus: transparent;
  --tds-btn-secondary-color-focus: var(--tds-white);
  --tds-btn-secondary-border-color-focus: var(--tds-blue-400);
  --tds-btn-secondary-outline-color-focus: var(--tds-blue-400);
  --tds-btn-secondary-outline-color: var(--tds-white);
  --tds-btn-secondary-background-disabled: transparent;
  --tds-btn-secondary-color-disabled: rgb(255 255 255 / 38%);
  --tds-btn-secondary-border-color-disabled: rgb(255 255 255 / 38%);
  --tds-btn-icon-secondary-color-focus: var(--tds-white);
  --tds-btn-icon-secondary-fill-focus: var(--tds-white);

  /* ICON */ //not used
  --tds-btn-icon-secondary-fill: var(--tds-grey-50);
  --tds-btn-icon-secondary-color: var(--tds-grey-50);

  //Ghost
  --tds-btn-ghost-background: transparent;
  --tds-btn-ghost-color: var(--tds-white);
  --tds-btn-ghost-border-color: transparent;
  --tds-btn-ghost-background-hover: transparent;
  --tds-btn-ghost-color-hover: var(--tds-white);
  --tds-btn-ghost-border-color-hover: rgb(255 255 255 / 41%);
  --tds-btn-ghost-outline-color-hover: rgb(255 255 255 / 41%);
  --tds-btn-ghost-background-active: transparent;
  --tds-btn-ghost-color-active: var(--tds-white);
  --tds-btn-ghost-border-color-active: rgb(255 255 255 / 87%);
  --tds-btn-ghost-background-focus: transparent;
  --tds-btn-ghost-color-focus: var(--tds-white);
  --tds-btn-ghost-border-color-focus: var(--tds-blue-300);
  --tds-btn-ghost-outline-color-focus: var(--tds-blue-300);
  --tds-btn-ghost-background-disabled: transparent;
  --tds-btn-ghost-color-disabled: rgb(255 255 255/ 38%);
  --tds-btn-ghost-border-color-disabled: transparent;

  /* ICON */
  --tds-btn-icon-ghost-fill: var(--tds-grey-50);
  --tds-btn-icon-ghost-color: var(--tds-grey-50);

  //Danger
  --tds-btn-danger-background: var(--tds-negative);
  --tds-btn-danger-color: var(--tds-white);
  --tds-btn-danger-border-color: transparent;
  --tds-btn-danger-background-hover: var(--tds-red-600);
  --tds-btn-danger-color-hover: var(--tds-white);
  --tds-btn-danger-border-color-hover: transparent;
  --tds-btn-danger-background-active: var(--tds-red-700);
  --tds-btn-danger-color-active: var(--tds-white);
  --tds-btn-danger-border-color-active: transparent;
  --tds-btn-danger-background-focus: var(--tds-red-400);
  --tds-btn-danger-color-focus: var(--tds-white);
  --tds-btn-danger-border-color-focus: var(--tds-red-400);
  --tds-btn-danger-outline-color-focus: var(--tds-red-700);
  --tds-btn-danger-background-disabled-primary: var(--tds-grey-900);
  --tds-btn-danger-background-disabled-secondary: var(--tds-grey-868);
  --tds-btn-danger-background-disabled: var(--tds-btn-danger-background-disabled-primary);
  --tds-btn-danger-color-disabled: rgb(255 255 255 / 38%);
  --tds-btn-danger-border-color-disabled: transparent;

  /* ICON */
  --tds-btn-icon-danger-fill: var(--tds-white);
  --tds-btn-icon-danger-color: var(--tds-white);

  .tds-mode-variant-primary {
    --tds-btn-danger-background-disabled: var(--tds-btn-danger-background-disabled-primary);
    --tds-btn-primary-background-disabled: var(--tds-btn-primary-background-disabled-primary);
  }

  .tds-mode-variant-secondary {
    --tds-btn-danger-background-disabled: var(--tds-btn-danger-background-disabled-secondary);
    --tds-btn-primary-background-disabled: var(--tds-btn-primary-background-disabled-secondary);
  }
}
