tds-button {
  // Base variables
  --btn-transparent: transparent;
  --btn-white: var(--color-brand-neutral-white);
  --btn-black: var(--color-brand-neutral-black);

  // Primary
  --btn-primary-background: var(--color-background-accent-primary-default);
  --btn-primary-background-hover: var(--color-background-accent-primary-hover);
  --btn-primary-background-active: var(--color-background-accent-primary-pressed);
  --btn-primary-background-focus: var(--color-background-accent-primary-focus);
  --btn-primary-background-disabled-primary: var(--color-background-accent-primary-disabled);
  --btn-primary-background-disabled-secondary: var(--color-background-base);
  --btn-primary-background-disabled: var(--color-background-accent-primary-disabled);
  --btn-primary-color: var(--component-button-primary-text);
  --btn-primary-color-hover: var(--btn-white);
  --btn-primary-color-active: var(--btn-white);
  --btn-primary-color-focus: var(--btn-white);
  --btn-primary-border-color: var(--btn-transparent);
  --btn-primary-border-color-hover: var(--btn-transparent);
  --btn-primary-color-disabled: var(--color-foreground-text-disabled);
  --btn-primary-border-color-disabled: var(--btn-transparent);
  --btn-primary-border-color-active: var(--color-background-accent-primary-pressed);
  --btn-primary-border-color-focus: var(--color-foreground-border-accent-focus);
  --btn-primary-outline-color-focus: var(--color-foreground-border-accent-focus);

  // Secondary
  --btn-secondary-background: var(--btn-transparent);
  --btn-secondary-color: var(--btn-black);
  --btn-secondary-border-color: var(--color-foreground-border-soft);
  --btn-secondary-color-hover: var(--color-foreground-text-strong);
  --btn-secondary-border-color-hover: var(--color-foreground-border-subtle);
  --btn-secondary-background-active: var(--btn-transparent);
  --btn-secondary-color-active: var(--btn-black);
  --btn-secondary-border-color-active: var(--color-foreground-border-strong);
  --btn-secondary-background-focus: var(--btn-transparent);
  --btn-secondary-color-focus: var(--btn-black);
  --btn-secondary-border-color-focus: var(--color-foreground-border-accent-focus);
  --btn-secondary-outline-color: var(--color-foreground-border-discrete);
  --btn-secondary-background-disabled: var(--btn-transparent);
  --btn-secondary-outline-color-focus: var(--color-foreground-border-accent-focus);
  --btn-secondary-color-disabled: var(--color-foreground-text-disabled);
  --btn-secondary-border-color-disabled: var(--color-foreground-border-discrete);
  --btn-icon-secondary-color-focus: var(--btn-black);
  --btn-icon-secondary-fill-focus: var(--btn-black);
  --btn-danger-background-disabled: var(--color-background-accent-danger-disabled);
  --btn-icon-secondary-fill-active: var(--tds-grey-958);

  // Ghost
  --btn-ghost-background: var(--btn-transparent);
  --tds-ghost-color: var(--btn-black);
  --btn-ghost-border-color: var(--btn-transparent);
  --btn-ghost-background-hover: var(--btn-transparent);
  --btn-ghost-color-hover: var(--btn-black);
  --btn-ghost-border-color-hover: var(--color-foreground-border-subtle);
  --btn-ghost-outline-color-hover: var(--color-foreground-border-subtle);
  --btn-ghost-background-active: var(--btn-transparent);
  --btn-ghost-color-active: var(--btn-black);
  --btn-ghost-border-color-active: var(--color-foreground-border-strong);
  --btn-ghost-background-focus: var(--btn-transparent);
  --tds-btn-ghost-color-focus: var(--btn-black);
  --btn-ghost-border-color-focus: var(--color-foreground-border-accent-focus);
  --btn-ghost-outline-color-focus: var(--color-foreground-border-accent-focus);
  --btn-ghost-background-disabled: var(--btn-transparent);
  --btn-ghost-color-disabled: var(--color-foreground-text-disabled);
  --btn-ghost-border-color-disabled: var(--btn-transparent);

  /* ICON */
  --btn-icon-ghost-fill: var(--color-foreground-icon-strong);
  --btn-icon-ghost-color: var(--color-foreground-icon-strong);

  //Danger
  --btn-danger-background: var(--color-background-accent-danger-default);
  --btn-danger-color: var(--btn-white);
  --btn-danger-border-color: var(--btn-transparent);
  --btn-danger-background-hover: var(--color-background-accent-danger-hover);
  --btn-danger-color-hover: var(--btn-white);
  --btn-danger-border-color-hover: var(--btn-transparent);
  --btn-danger-background-active: var(--color-background-accent-danger-pressed);
  --btn-danger-color-active: var(--btn-white);
  --btn-danger-border-color-active: var(--color-background-accent-danger-pressed);
  --btn-danger-background-focus: var(--color-background-accent-danger-focus);
  --btn-danger-color-focus: var(--btn-white);
  --btn-danger-border-color-focus: var(--color-foreground-border-accent-focus);
  --btn-danger-outline-color-focus: var(--color-background-accent-danger-pressed);
  --btn-danger-background-disabled-primary: var(--color-background-accent-danger-disabled);
  --btn-danger-background-disabled-secondary: var(--btn-white);
  --btn-danger-background-disabled: var(--color-background-accent-danger-disabled);
  --btn-danger-color-disabled: var(--color-foreground-text-disabled);
  --btn-danger-border-color-disabled: var(--btn-transparent);

  /* ICON */
  --tds-btn-icon-danger-fill: var(--btn-white);
  --tds-btn-icon-danger-color: var(--btn-white);
}

.traton tds-button {
  --btn-primary-color: var(--brand-neutral-black);
}
