@mixin focus-styles($type) {
  @each $prop in $props {
    #{$prop}: var(--button-#{$type}-#{$prop}-focus);
  }

  ::slotted([slot='icon']) {
    @each $prop in $iconProps {
      fill: var(--button-icon-#{$type}-#{$prop}-focus);
      color: var(--button-icon-#{$type}-#{$prop}-focus);
    }
  }
}

@mixin mode-variant($mode, $primary-background-disabled, $secondary-background-disabled) {
  .tds-mode-variant-#{$mode} {
    --button-primary-background-disabled: var(#{$primary-background-disabled});
    --button-secondary-background-disabled: var(#{$secondary-background-disabled});
  }
}
