tds-button {
  --tds-btn-border-radius: calc(var(--component-button-border-radius-default) * 1px);

  // Primary
  --tds-btn-primary-background: var(--component-button-background-standard-primary-default);
  --tds-btn-primary-background-hover: var(--component-button-background-standard-primary-hover);
  --tds-btn-primary-background-active: var(--component-button-background-standard-primary-active);
  --tds-btn-primary-background-focus: var(--component-button-background-standard-primary-hover);
  --tds-btn-primary-background-disabled: var(--color-background-accent-primary-disabled);
  --tds-btn-primary-color: var(--component-button-text-standard-primary-default);
  --tds-btn-primary-color-hover: var(--component-button-text-standard-primary-hover);
  --tds-btn-primary-color-active: var(--component-button-text-standard-primary-active);
  --tds-btn-primary-color-focus: var(--component-button-text-standard-primary-hover);
  --tds-btn-primary-color-disabled: var(--color-foreground-text-disabled);
  --tds-btn-primary-border-color: var(--component-button-border-standard-primary-default);
  --tds-btn-primary-border-color-hover: var(--component-button-border-standard-primary-hover);
  --tds-btn-primary-border-color-active: var(--component-button-border-standard-primary-active);
  --tds-btn-primary-border-color-focus: var(--component-button-border-standard-primary-hover);
  --tds-btn-primary-border-color-disabled: transparent;
  --tds-btn-primary-outline-color: transparent;
  --tds-btn-primary-outline-color-hover: transparent;
  --tds-btn-primary-outline-color-active: transparent;
  --tds-btn-primary-outline-color-focus: var(--color-foreground-border-accent-focus);
  --tds-btn-primary-outline-color-disabled: transparent;
  --tds-btn-icon-primary-fill: var(--component-button-icon-standard-primary-default);
  --tds-btn-icon-primary-color: var(--component-button-icon-standard-primary-default);
  --tds-btn-icon-primary-fill-hover: var(--component-button-icon-standard-primary-hover);
  --tds-btn-icon-primary-color-hover: var(--component-button-icon-standard-primary-hover);
  --tds-btn-icon-primary-fill-active: var(--component-button-icon-standard-primary-active);
  --tds-btn-icon-primary-color-active: var(--component-button-icon-standard-primary-active);
  --tds-btn-icon-primary-fill-focus: var(--component-button-icon-standard-primary-hover);
  --tds-btn-icon-primary-color-focus: var(--component-button-icon-standard-primary-hover);

  // Secondary
  --tds-btn-secondary-background: var(--component-button-background-standard-secondary-default);
  --tds-btn-secondary-background-hover: var(--component-button-background-standard-secondary-hover);
  --tds-btn-secondary-background-active: var(
    --component-button-background-standard-secondary-active
  );
  --tds-btn-secondary-background-focus: var(--component-button-background-standard-secondary-hover);
  --tds-btn-secondary-background-disabled: transparent;
  --tds-btn-secondary-color: var(--component-button-text-standard-secondary-default);
  --tds-btn-secondary-color-hover: var(--component-button-text-standard-secondary-hover);
  --tds-btn-secondary-color-active: var(--component-button-text-standard-secondary-active);
  --tds-btn-secondary-color-focus: var(--component-button-text-standard-secondary-hover);
  --tds-btn-secondary-color-disabled: var(--color-foreground-text-disabled);
  --tds-btn-secondary-border-color: var(--component-button-border-standard-secondary-default);
  --tds-btn-secondary-border-color-hover: var(--component-button-border-standard-secondary-hover);
  --tds-btn-secondary-border-color-active: var(--component-button-border-standard-secondary-active);
  --tds-btn-secondary-border-color-focus: var(--component-button-border-standard-secondary-hover);
  --tds-btn-secondary-border-color-disabled: var(--color-foreground-border-discrete);
  --tds-btn-secondary-outline-color: transparent;
  --tds-btn-secondary-outline-color-hover: transparent;
  --tds-btn-secondary-outline-color-active: transparent;
  --tds-btn-secondary-outline-color-focus: var(--color-foreground-border-accent-focus);
  --tds-btn-secondary-outline-color-disabled: transparent;
  --tds-btn-icon-secondary-fill: var(--component-button-icon-standard-secondary-default);
  --tds-btn-icon-secondary-color: var(--component-button-icon-standard-secondary-default);
  --tds-btn-icon-secondary-fill-hover: var(--component-button-icon-standard-secondary-hover);
  --tds-btn-icon-secondary-color-hover: var(--component-button-icon-standard-secondary-hover);
  --tds-btn-icon-secondary-fill-active: var(--component-button-icon-standard-secondary-active);
  --tds-btn-icon-secondary-color-active: var(--component-button-icon-standard-secondary-active);
  --tds-btn-icon-secondary-fill-focus: var(--component-button-icon-standard-secondary-hover);
  --tds-btn-icon-secondary-color-focus: var(--component-button-icon-standard-secondary-hover);

  // Ghost
  --tds-btn-ghost-background: var(--component-button-background-standard-tertiary-default);
  --tds-btn-ghost-background-hover: var(--component-button-background-standard-tertiary-hover);
  --tds-btn-ghost-background-active: var(--component-button-background-standard-tertiary-active);
  --tds-btn-ghost-background-focus: var(--component-button-background-standard-tertiary-hover);
  --tds-btn-ghost-background-disabled: transparent;
  --tds-btn-ghost-color: var(--component-button-text-standard-tertiary-default);
  --tds-btn-ghost-color-hover: var(--component-button-text-standard-tertiary-hover);
  --tds-btn-ghost-color-active: var(--component-button-text-standard-tertiary-active);
  --tds-btn-ghost-color-focus: var(--component-button-text-standard-tertiary-hover);
  --tds-btn-ghost-color-disabled: var(--color-foreground-text-disabled);
  --tds-btn-ghost-border-color: var(--component-button-border-standard-tertiary-default);
  --tds-btn-ghost-border-color-hover: var(--component-button-border-standard-tertiary-hover);
  --tds-btn-ghost-border-color-active: var(--component-button-border-standard-tertiary-active);
  --tds-btn-ghost-border-color-focus: var(--component-button-border-standard-tertiary-hover);
  --tds-btn-ghost-border-color-disabled: transparent;
  --tds-btn-ghost-outline-color: transparent;
  --tds-btn-ghost-outline-color-hover: transparent;
  --tds-btn-ghost-outline-color-active: transparent;
  --tds-btn-ghost-outline-color-focus: var(--color-foreground-border-accent-focus);
  --tds-btn-ghost-outline-color-disabled: transparent;
  --tds-btn-icon-ghost-fill: var(--component-button-icon-standard-tertiary-default);
  --tds-btn-icon-ghost-color: var(--component-button-icon-standard-tertiary-default);
  --tds-btn-icon-ghost-fill-hover: var(--component-button-icon-standard-tertiary-hover);
  --tds-btn-icon-ghost-color-hover: var(--component-button-icon-standard-tertiary-hover);
  --tds-btn-icon-ghost-fill-active: var(--component-button-icon-standard-tertiary-active);
  --tds-btn-icon-ghost-color-active: var(--component-button-icon-standard-tertiary-active);
  --tds-btn-icon-ghost-fill-focus: var(--component-button-icon-standard-tertiary-hover);
  --tds-btn-icon-ghost-color-focus: var(--component-button-icon-standard-tertiary-hover);

  // Danger
  --tds-btn-danger-background: var(--component-button-background-danger-primary-default);
  --tds-btn-danger-background-hover: var(--component-button-background-danger-primary-hover);
  --tds-btn-danger-background-active: var(--component-button-background-danger-primary-active);
  --tds-btn-danger-background-focus: var(--component-button-background-danger-primary-hover);
  --tds-btn-danger-background-disabled: var(--color-background-accent-danger-disabled);
  --tds-btn-danger-color: var(--component-button-text-danger-primary-default);
  --tds-btn-danger-color-hover: var(--component-button-text-danger-primary-hover);
  --tds-btn-danger-color-active: var(--component-button-text-danger-primary-active);
  --tds-btn-danger-color-focus: var(--component-button-text-danger-primary-hover);
  --tds-btn-danger-color-disabled: var(--color-foreground-text-disabled);
  --tds-btn-danger-border-color: var(--component-button-border-danger-primary-default);
  --tds-btn-danger-border-color-hover: var(--component-button-border-danger-primary-hover);
  --tds-btn-danger-border-color-active: var(--component-button-border-danger-primary-active);
  --tds-btn-danger-border-color-focus: var(--component-button-border-danger-primary-hover);
  --tds-btn-danger-border-color-disabled: transparent;
  --tds-btn-danger-outline-color: transparent;
  --tds-btn-danger-outline-color-hover: transparent;
  --tds-btn-danger-outline-color-active: transparent;
  --tds-btn-danger-outline-color-focus: var(--color-foreground-border-accent-focus);
  --tds-btn-danger-outline-color-disabled: transparent;
  --tds-btn-icon-danger-fill: var(--component-button-icon-danger-primary-default);
  --tds-btn-icon-danger-color: var(--component-button-icon-danger-primary-default);
  --tds-btn-icon-danger-fill-hover: var(--component-button-icon-danger-primary-hover);
  --tds-btn-icon-danger-color-hover: var(--component-button-icon-danger-primary-hover);
  --tds-btn-icon-danger-fill-active: var(--component-button-icon-danger-primary-active);
  --tds-btn-icon-danger-color-active: var(--component-button-icon-danger-primary-active);
  --tds-btn-icon-danger-fill-focus: var(--component-button-icon-danger-primary-hover);
  --tds-btn-icon-danger-color-focus: var(--component-button-icon-danger-primary-hover);
}
