tds-button {
  // Base variables
  --button-transparent: transparent;
  --button-white: var(--color-brand-neutral-white);
  --button-black: var(--color-brand-neutral-black);

  // Primary
  --button-primary-background: var(--color-background-accent-primary-default);
  --button-primary-background-hover: var(--color-background-accent-primary-hover);
  --button-primary-background-active: var(--color-background-accent-primary-pressed);
  --button-primary-background-focus: var(--color-background-accent-primary-focus);
  --button-primary-background-disabled-primary: var(--color-background-accent-primary-disabled);
  --button-primary-background-disabled-secondary: var(--color-background-base);
  --button-primary-background-disabled: var(--color-background-accent-primary-disabled);
  --button-primary-color: var(--component-button-primary-text);
  --button-primary-color-hover: var(--component-button-primary-text);
  --button-primary-color-active: var(--button-white);
  --button-primary-color-focus: var(--component-button-primary-text);
  --button-primary-border-color: var(--button-transparent);
  --button-primary-border-color-hover: var(--button-transparent);
  --button-primary-color-disabled: var(--color-foreground-text-disabled);
  --button-primary-border-color-disabled: var(--button-transparent);
  --button-primary-border-color-active: var(--color-background-accent-primary-pressed);
  --button-primary-border-color-focus: var(--color-foreground-border-accent-focus);
  --button-primary-outline-color-focus: var(--color-foreground-border-accent-focus);

  // Secondary
  --button-secondary-background: var(--button-transparent);
  --button-secondary-color: var(--button-black);
  --button-secondary-border-color: var(--color-foreground-border-soft);
  --button-secondary-color-hover: var(--color-foreground-text-strong);
  --button-secondary-border-color-hover: var(--color-foreground-border-subtle);
  --button-secondary-background-active: var(--button-transparent);
  --button-secondary-color-active: var(--button-black);
  --button-secondary-border-color-active: var(--color-foreground-border-strong);
  --button-secondary-background-focus: var(--button-transparent);
  --button-secondary-color-focus: var(--color-foreground-text-strong);
  --button-secondary-border-color-focus: var(--color-foreground-border-accent-focus);
  --button-secondary-outline-color: var(--color-foreground-border-discrete);
  --button-secondary-background-disabled: var(--button-transparent);
  --button-secondary-outline-color-focus: var(--color-foreground-border-accent-focus);
  --button-secondary-color-disabled: var(--color-foreground-text-disabled);
  --button-secondary-border-color-disabled: var(--color-foreground-border-discrete);
  --button-icon-secondary-color-focus: var(--button-black);
  --button-icon-secondary-fill-focus: var(--button-black);
  --button-danger-background-disabled: var(--color-background-accent-danger-disabled);
  --button-icon-secondary-fill-active: var(--color-foreground-icon-strong);

  // Ghost
  --button-ghost-background: var(--button-transparent);
  --button-ghost-color: var(--button-black);
  --button-ghost-border-color: var(--button-transparent);
  --button-ghost-background-hover: var(--button-transparent);
  --button-ghost-color-hover: var(--button-black);
  --button-ghost-border-color-hover: var(--color-foreground-border-subtle);
  --button-ghost-outline-color-hover: var(--color-foreground-border-subtle);
  --button-ghost-background-active: var(--button-transparent);
  --button-ghost-color-active: var(--button-black);
  --button-ghost-border-color-active: var(--color-foreground-border-strong);
  --button-ghost-background-focus: var(--button-transparent);
  --button-ghost-color-focus: var(--button-black);
  --button-ghost-border-color-focus: var(--color-foreground-border-accent-focus);
  --button-ghost-outline-color-focus: var(--color-foreground-border-accent-focus);
  --button-ghost-background-disabled: var(--button-transparent);
  --button-ghost-color-disabled: var(--color-foreground-text-disabled);
  --button-ghost-border-color-disabled: var(--button-transparent);

  /* ICON */
  --button-icon-ghost-fill: var(--color-foreground-icon-strong);
  --button-icon-ghost-color: var(--color-foreground-icon-strong);

  //Danger
  --button-danger-background: var(--color-background-accent-danger-default);
  --button-danger-color: var(--button-white);
  --button-danger-border-color: var(--button-transparent);
  --button-danger-background-hover: var(--color-background-accent-danger-hover);
  --button-danger-color-hover: var(--button-white);
  --button-danger-border-color-hover: var(--button-transparent);
  --button-danger-background-active: var(--color-background-accent-danger-pressed);
  --button-danger-color-active: var(--button-white);
  --button-danger-border-color-active: var(--color-background-accent-danger-pressed);
  --button-danger-background-focus: var(--color-background-accent-danger-focus);
  --button-danger-color-focus: var(--button-white);
  --button-danger-border-color-focus: var(--color-foreground-border-accent-focus);
  --button-danger-outline-color-focus: var(--color-background-accent-danger-pressed);
  --button-danger-background-disabled-primary: var(--color-background-accent-danger-disabled);
  --button-danger-background-disabled-secondary: var(--button-white);
  --button-danger-background-disabled: var(--color-background-accent-danger-disabled);
  --button-danger-color-disabled: var(--color-foreground-text-disabled);
  --button-danger-border-color-disabled: var(--button-transparent);

  /* ICON */
  --button-icon-danger-fill: var(--button-white);
  --button-icon-danger-color: var(--button-white);

  .tds-mode-variant-primary {
    --button-danger-background-disabled: var(--color-background-accent-danger-disabled);
    --button-primary-background-disabled: var(--color-background-accent-primary-disabled);
  }

  .tds-mode-variant-secondary {
    --button-danger-background-disabled: var(--button-white);
    --button-primary-background-disabled: var(--button-white);
  }
}
