@import '../../../mixins/focus-state';
@import '../../../../../../typography/utilities/typography-utility';

:host {
  display: block;
  box-sizing: border-box;
  height: var(--tds-header-list-item-md-height);
  width: 100%;

  .component {
    height: 100%;

    ::slotted(a),
    ::slotted(button) {
      all: unset;
      box-sizing: border-box;
      border: none;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 24px;
      width: 100%;
      @include detail-02;

      background-color: var(--header-nav-dropdown-item-background);
      color: var(--header-nav-item-dropdown-opened);
    }

    ::slotted(a:hover) {
      background-color: var(--header-nav-item-background-hover);
      cursor: pointer;
    }

    ::slotted(a:focus-visible) {
      @include tds-focus-state;
    }

    &-selected {
      background-color: var(--header-nav-item-background-selected);
      padding-right: 4px;
      border-left-width: 4px;
      border-left-style: solid;
      border-left-color: var(--header-nav-item-border-active);

      ::slotted(a),
      ::slotted(button) {
        background-color: var(--header-nav-item-background-selected);
      }
    }
  }
}

:host(:not(:last-child)) {
  border-bottom: 1px solid var(--header-nav-dropdown-item-border);
}

:host([size='lg']) {
  height: var(--tds-header-height);

  ::slotted(a),
  ::slotted(button) {
    padding: 0 16px;
    color: var(--header-app-launcher-item);
  }
}
