@use '../../../../mixins/focus-state' as *;
@use '../../../../mixins/box-sizing' as *;
@use './tl-navigation-tabs-vars' as *;

.tl-navigation-tabs {
  @include tds-box-sizing;

  background-color: var(--navigation-tabs);
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 16px;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    border-bottom: 1px solid var(--navigation-tabs-horizontal-divider);
    content: ' ';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}

.tl-navigation-tabs__scroll-button {
  background-color: var(--navigation-tabs-scroll-button);
  color: var(--navigation-tabs-scroll-button-icon);
  cursor: pointer;
  min-width: 48px;
  border: 0;
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: sticky;
}

.tl-navigation-tabs__scroll-button--right {
  right: 0;
  z-index: 1;
}

.tl-navigation-tabs__scroll-button--left {
  left: 0;
  z-index: 1;
}

svg {
  .tl-navigation-tabs__scroll-button & {
    fill: var(--navigation-tabs-scroll-button-color);
  }
}
