:root,
.tds-mode-light {
  // Label
  --tds-slider-label-color: var(--tds-grey-950);
  --tds-slider-label-disabled: var(--tds-grey-250);

  // Value
  --tds-slider-input-value-color: var(--tds-grey-950);
  --tds-slider-input-value-disabled: var(--tds-grey-250);

  // Thumb
  --tds-slider-thumb-color: var(--tds-grey-950);
  --tds-slider-thumb-disabled: var(--tds-grey-200);
  --tds-slider-thumb-hover: rgba(48, 60, 97, 0.17); // transparent 200
  --tds-slider-thumb-pressed: rgba(58, 81, 124, 0.35); // transparent 250

  // Thumb focus
  --tds-slider-thumb-focus-outline: 2px solid var(--tds-focus-outline-color);
  --tds-slider-thumb-fucus-box-shadow: 0 0 0 1px var(--tds-white);
  --tds-slider-thumb-focus-outline-offset: 1px;

  // Track
  --tds-slider-track-color: var(--tds-grey-350);
  --tds-slider-track-fill-color: var(--tds-grey-950);
  --tds-slider-track-disabled: var(--tds-grey-200);

  // Divider
  --tds-slider-divider-color: var(--tds-grey-350);
  --tds-slider-divider-values-color: var(--tds-grey-650);
  --tds-slider-divider-disabled: var(--tds-grey-200);
  --tds-slider-divider-values-disabled: var(--tds-grey-250);

  // Controls
  --tds-slider-controls-color: var(--tds-grey-650);
  --tds-slider-controls-disabled: var(--tds-grey-250);

  // Inputfield
  --tds-slider-inputfield-number-color: var(--tds-grey-950);
  --tds-slider-inputfield-background: var(--tds-white);
  --tds-slider-inputfield-box-shadow: var(--tds-grey-800);
  --tds-slider-inputfield-number-disabled: var(--tds-grey-250);
  --tds-slider-inputfield-background-disabled: var(--tds-grey-50);

  // Tooltip
  --tds-slider-value-tooltip-background: var(--tds-grey-700);
  --tds-slider-value-tooltip-color: var(--tds-grey-50);
}

.tds-mode-dark {
  // Label
  --tds-slider-label-color: var(--tds-grey-50);
  --tds-slider-label-disabled: var(--tds-grey-500);

  // Value
  --tds-slider-input-value-color: var(--tds-grey-200);
  --tds-slider-input-value-disabled: var(--tds-grey-500);

  // Thumb
  --tds-slider-thumb-color: var(--tds-grey-50);
  --tds-slider-thumb-disabled: var(--tds-grey-600);
  --tds-slider-thumb-hover: rgba(164, 199, 245, 0.4); // transparent inverse 600
  --tds-slider-thumb-pressed: rgba(174, 208, 255, 0.49); // transparent inverse 500

  // Thumb focus
  --tds-slider-thumb-focus-outline: 1px solid var(--tds-white);
  --tds-slider-thumb-fucus-box-shadow: 0 0 0 2px var(--tds-focus-outline-color);
  --tds-slider-thumb-focus-outline-offset: 2px;

  // Track
  --tds-slider-track-color: var(--tds-grey-400);
  --tds-slider-track-fill-color: var(--tds-grey-50);
  --tds-slider-track-disabled: var(--tds-grey-600);

  // Divider
  --tds-slider-divider-color: var(--tds-grey-400);
  --tds-slider-divider-values-color: var(--tds-grey-200);
  --tds-slider-divider-disabled: var(--tds-grey-600);
  --tds-slider-divider-values-disabled: var(--tds-grey-500);

  // Controls
  --tds-slider-controls-color: var(--tds-grey-200);
  --tds-slider-controls-disabled: var(--tds-grey-500);

  // Inputfield
  --tds-slider-inputfield-number-color: var(--tds-grey-300);
  --tds-slider-inputfield-background: var(--tds-grey-850);
  --tds-slider-inputfield-box-shadow: var(--tds-grey-400);
  --tds-slider-inputfield-number-disabled: var(--tds-grey-500);
  --tds-slider-inputfield-background-disabled: var(--tds-grey-850);

  // Tooltip
  --tds-slider-value-tooltip-background: var(--tds-grey-150);
  --tds-slider-value-tooltip-color: var(--tds-grey-950);
}
