tds-slider {
  /* Label */
  --slider-label: var(--color-foreground-text-strong);

  /* Thumb and Control */
  --slider-thumb: var(--color-foreground-icon-strong);
  --slider-controls: var(--color-foreground-icon-strong);

  /* Track and Divider */
  --slider-track: var(--color-background-surface-300);
  --slider-track-fill: var(--color-foreground-icon-strong);
  --slider-divider: var(--color-background-surface-300);
  --slider-divider-values: var(--color-foreground-text-defined);

  /* Input Field Styling */
  --slider-inputfield-background: var(--color-background-layer-01);
  --slider-inputfield-background-secondary: var(--color-background-layer-02);
  --slider-inputfield-box-shadow: var(--color-foreground-border-discrete);
  --slider-input-inputfield: var(--color-foreground-text-soft);
  --slider-input-focused: var(--color-foreground-border-accent-focus);
  --slider-input-value: var(--color-foreground-text-defined);
  --slider-input-hover: var(--color-foreground-border-subtle);
  --slider-input-success-border: var(--color-foreground-border-defined);
  --slider-input-success-text: var(--color-foreground-text-strong);

  /* Disabled State */
  --slider-disabled: var(--color-background-surface-300);
  --slider-disabled-text: var(--color-foreground-text-disabled);

  /* Tooltip */
  --slider-value-tooltip-background: var(--color-background-surface-300);
  --slider-value-tooltip: var(--color-foreground-text-inverse-strong);
}
