:root,
.tds-mode-light {
  --tds-toast-background-color: var(--tds-grey-958);
  --tds-toast-headline-color: var(--tds-grey-50);
  --tds-toast-subheadline-color: var(--tds-grey-50);
  --tds-toast-link-color: var(--tds-blue-300);
  --tds-toast-dissmiss-color: var(--tds-white);
}

.tds-mode-dark {
  --tds-toast-background-color: var(--tds-grey-50);
  --tds-toast-headline-color: var(--tds-grey-958);
  --tds-toast-subheadline-color: var(--tds-grey-958);
  --tds-toast-link-color: var(--tds-blue-500);
  --tds-toast-dissmiss-color: var(--tds-black);
}
