:host {
  background-color: var(--tds-header-avatar-item-background);
  display: flex;
  height: 84px;

  .user-box {
    gap: var(--tds-header-avatar-item-padding);
    width: 100%;
    padding: 0 var(--tds-header-avatar-item-padding);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--tds-nav-dropdown-item-border-color);
  }

  img,
  slot[name='thumbnail']::slotted(*) {
    width: var(--tds-header-avatar-item-size);
    border-radius: 100%;
  }

  .user-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .header {
      font: var(--tds-headline-07);
      letter-spacing: var(--tds-headline-07-ls);
    }

    .subheader {
      font: var(--tds-headline-07);
      letter-spacing: var(--tds-headline-07-ls);
      color: var(--tds-header-avatar-item-color);
    }
  }
}
