@import '../../../../../../typography/utilities/typography-utility';

:host {
  background-color: var(--header-avatar-item-background);
  display: flex;
  height: 84px;

  .user-box {
    gap: 16px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--header-nav-dropdown-item-border);
  }

  img,
  slot[name='thumbnail']::slotted(*) {
    width: 34px;
    border-radius: 100%;
  }

  .user-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .header {
      @include headline-07;
    }

    .subheader {
      @include headline-07;

      color: var(--header-avatar-item);
    }
  }
}
