:root,
.tds-mode-light {
  --tds-stepper-icon-background: var(--tds-grey-958);
  --tds-stepper-color: var(--tds-grey-958);
  --tds-stepper-icon-step-border-color-warning: var(--tds-negative);
  --tds-stepper-icon-step-border-color-success: var(--tds-positive);
  --tds-stepper-icon-step-background-success: var(--tds-positive);
  --tds-stepper-label-text-color-upcoming: var(--tds-blue-900);
  --tds-stepper-label-border-color-upcoming: var(--tds-blue-900);
  --tds-stepper-label-text-opacity-upcoming: 0.38;

  /* TODO --tds-blue-900 is not defined */
  --tds-stepper-icon-sidetext-background-before: var(--tds-blue-900);
  --tds-stepper-icon-vertical-background-before: var(--tds-blue-900);
  --tds-stepper-icon-step-background-before: var(--tds-blue-900);
  --tds-stepper-icon-step-background-after: var(--tds-blue-900);

  /* INVERTED */
  --tds-stepper-color--inverted: var(--tds-white);
  --tds-stepper-border-color--inverted: var(--tds-white);
  --tds-stepper-background--inverted-before: var(--tds-white);
  --tds-stepper-background--inverted-after: var(--tds-white);
  --tds-stepper-icon-border-color-waring--inverted: var(--tds-negative);
  --tds-stepper-icon-border-color-success-after--inverted: var(--tds-positive);
}

.tds-mode-dark {
  --tds-stepper-icon-background: var(--tds-white);
  --tds-stepper-color: var(--tds-white);
  --tds-stepper-icon-step-border-color-warning: var(--tds-negative);
  --tds-stepper-icon-step-border-color-success: var(--tds-positive);
  --tds-stepper-icon-step-background-success: var(--tds-positive);
  --tds-stepper-icon-sidetext-background-before: var(--tds-white);
  --tds-stepper-icon-vertical-background-before: var(--tds-white);
  --tds-stepper-icon-step-background-before: var(--tds-white);
  --tds-stepper-icon-step-background-after: var(--tds-white);
  --tds-stepper-label-text-color-upcoming: var(--tds-blue-50);
  --tds-stepper-label-border-color-upcoming: var(--tds-blue-50);
  --tds-stepper-label-text-opacity-upcoming: 0.38;

  /* INVERTED */
  --tds-stepper-color--inverted: var(--tds-grey-958);
  --tds-stepper-border-color--inverted: var(--tds-grey-958);
  --tds-stepper-background--inverted-before: var(--tds-grey-958);
  --tds-stepper-background--inverted-after: var(--tds-grey-958);
  --tds-stepper-icon-border-color-waring--inverted: var(--tds-negative);
  --tds-stepper-icon-border-color-success-after--inverted: var(--tds-positive);
}
