@use '../../../../../../tokens/scss/component/block';

/* Component variables */

.tl-block {
  --block-background: var(--component-block-background-primary);
  --block-text-color: var(--color-text-strong);
  --block-background-mode-primary: var(--component-block-background-primary);
  --block-background-mode-secondary: var(--component-block-background-secondary);
  --block-background-even: var(--component-block-background-nested-even);
  --block-background-odd: var(--component-block-background-nested-odd);
  --block-padding: 16px;
  --block-border-radius: calc(var(--component-block-border-radius-default) * 1px);
}
