@use './tl-block-vars' as *;
@use '../../../mixins/box-sizing' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-block {
  @include tds-box-sizing;
  @include detail-01;

  background-color: var(--block-background);
  color: var(--block-text-color);
  border-radius: var(--block-border-radius);
  padding: var(--block-padding);

  h2 {
    @include headline-02;
  }

  p {
    @include body-01;
  }

  &--primary {
    background-color: var(--block-background-mode-primary);
  }

  &--secondary {
    background-color: var(--block-background-mode-secondary);
  }
}

// Automatic alternating backgrounds for nested blocks in primary mode
.tl-block--primary .tl-block {
  background-color: var(--block-background-odd);
}

.tl-block--primary .tl-block .tl-block {
  background-color: var(--block-background-even);
}

.tl-block--primary .tl-block .tl-block .tl-block {
  background-color: var(--block-background-odd);
}

.tl-block--primary .tl-block .tl-block .tl-block .tl-block {
  background-color: var(--block-background-even);
}

// Automatic alternating backgrounds for nested blocks in secondary mode
.tl-block--secondary .tl-block {
  background-color: var(--block-background-even);
}

.tl-block--secondary .tl-block .tl-block {
  background-color: var(--block-background-odd);
}

.tl-block--secondary .tl-block .tl-block .tl-block {
  background-color: var(--block-background-even);
}

.tl-block--secondary .tl-block .tl-block .tl-block .tl-block {
  background-color: var(--block-background-odd);
}

// Nested block typography (first level)
.tl-block--primary .tl-block,
.tl-block--secondary .tl-block {
  h3 {
    @include headline-04;
  }

  p {
    @include detail-03;
  }
}

// Deeply nested block typography (second level)
.tl-block--primary .tl-block .tl-block,
.tl-block--secondary .tl-block .tl-block {
  h4 {
    @include headline-06;
  }

  p {
    @include detail-03;
  }
}
