@use './tl-block-vars' as *;
@use '../../../mixins/box-sizing' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-block {
  @include tds-box-sizing;
  @include detail-01;

  background-color: var(--block-background);
  color: var(--block-text-color);
  border-radius: var(--block-border-radius);
  padding: var(--block-padding);

  h2 {
    @include headline-02;
  }

  p {
    @include body-01;
  }
}

.tds-mode-variant-primary .tl-block,
.tl-mode-variant-primary .tl-block {
  background-color: var(--block-background-mode-primary);
}

.tds-mode-variant-secondary .tl-block,
.tl-mode-variant-secondary .tl-block {
  background-color: var(--block-background-mode-secondary);
}

// Automatic alternating backgrounds for nested blocks in primary mode
.tds-mode-variant-primary .tl-block .tl-block,
.tl-mode-variant-primary .tl-block .tl-block {
  background-color: var(--block-background-odd);
}

.tds-mode-variant-primary .tl-block .tl-block .tl-block,
.tl-mode-variant-primary .tl-block .tl-block .tl-block {
  background-color: var(--block-background-even);
}

.tds-mode-variant-primary .tl-block .tl-block .tl-block .tl-block,
.tl-mode-variant-primary .tl-block .tl-block .tl-block .tl-block {
  background-color: var(--block-background-odd);
}

.tds-mode-variant-primary .tl-block .tl-block .tl-block .tl-block .tl-block,
.tl-mode-variant-primary .tl-block .tl-block .tl-block .tl-block .tl-block {
  background-color: var(--block-background-even);
}

// Automatic alternating backgrounds for nested blocks in secondary mode
.tds-mode-variant-secondary .tl-block .tl-block,
.tl-mode-variant-secondary .tl-block .tl-block {
  background-color: var(--block-background-even);
}

.tds-mode-variant-secondary .tl-block .tl-block .tl-block,
.tl-mode-variant-secondary .tl-block .tl-block .tl-block {
  background-color: var(--block-background-odd);
}

.tds-mode-variant-secondary .tl-block .tl-block .tl-block .tl-block,
.tl-mode-variant-secondary .tl-block .tl-block .tl-block .tl-block {
  background-color: var(--block-background-even);
}

.tds-mode-variant-secondary .tl-block .tl-block .tl-block .tl-block .tl-block,
.tl-mode-variant-secondary .tl-block .tl-block .tl-block .tl-block .tl-block {
  background-color: var(--block-background-odd);
}

// Nested block typography (first level)
.tds-mode-variant-primary .tl-block .tl-block,
.tl-mode-variant-primary .tl-block .tl-block,
.tds-mode-variant-secondary .tl-block .tl-block,
.tl-mode-variant-secondary .tl-block .tl-block {
  h3 {
    @include headline-04;
  }

  p {
    @include detail-03;
  }
}

// Deeply nested block typography (second level)
.tds-mode-variant-primary .tl-block .tl-block .tl-block,
.tl-mode-variant-primary .tl-block .tl-block .tl-block,
.tds-mode-variant-secondary .tl-block .tl-block .tl-block,
.tl-mode-variant-secondary .tl-block .tl-block .tl-block {
  h4 {
    @include headline-06;
  }

  p {
    @include detail-03;
  }
}
