:root,
.tds-mode-light,
.tl-mode-light {
  --tds-toast-background-color: var(--tds-grey-950);
  --tds-toast-headline-color: var(--tds-grey-50);
  --tds-toast-subheadline-color: var(--tds-grey-50);
  --tds-toast-link-color: var(--tds-grey-50);
  --tds-toast-dissmiss-color: var(--tds-grey-50);
  --tds-toast-color-error: var(--tds-red-300);
  --tds-toast-color-success: var(--tds-green-300);
  --tds-toast-color-warning: var(--tds-yellow-300);
  --tds-toast-icon-color-warning: var(--tds-yellow-300);
  --tds-toast-color-info: var(--tds-blue-300);
}

.tds-mode-dark,
.tl-mode-dark {
  --tds-toast-background-color: var(--tds-grey-50);
  --tds-toast-headline-color: var(--tds-grey-950);
  --tds-toast-subheadline-color: var(--tds-grey-950);
  --tds-toast-link-color: var(--tds-grey-950);
  --tds-toast-dissmiss-color: var(--tds-grey-950);
  --tds-toast-color-error: var(--tds-red-400);
  --tds-toast-color-success: var(--tds-green-400);
  --tds-toast-color-warning: var(--tds-yellow-400);
  --tds-toast-icon-color-warning: var(--tds-yellow-500);
  --tds-toast-color-info: var(--tds-blue-400);
}
