@import '../../mixins/focus-state';
@import '../../mixins/z-index';
@import '../../../../../typography/utilities/typography-utility';

:host(.hide) {
  display: none;
  visibility: hidden;
}

:host {
  z-index: tds-z-index(toast);

  .wrapper {
    display: flex;
    width: calc(352px - 4px);
    background-color: var(--toast-background);
    border-radius: 4px;
    align-items: start;

    &.information {
      border-left: 4px solid var(--toast-icon-info);

      tds-icon {
        color: var(--toast-icon-info);
      }
    }

    &.success {
      border-left: 4px solid var(--toast-icon-success);

      tds-icon {
        color: var(--toast-icon-success);
      }
    }

    &.error {
      border-left: 4px solid var(--toast-icon-error);

      tds-icon {
        color: var(--toast-icon-error);
      }
    }

    &.warning {
      border-left: 4px solid var(--toast-icon-warning);

      tds-icon {
        color: var(--toast-icon-warning);
      }
    }

    button.close {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 14px 14px 0 22px;
      border: none;
      background: transparent;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        @include tds-focus-state;
      }

      tds-icon {
        color: var(--toast-dissmiss);
        padding: 0;
      }
    }
  }

  tds-icon {
    padding: 14px 0 0 12px;
  }

  .content {
    padding: 16px 0 16px 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 250px;
    word-break: break-word;

    .header-subheader {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .header,
    slot[name='header']::slotted(*) {
      @include headline-07;

      font-style: normal;
      color: var(--toast-headline);
    }

    .subheader,
    slot[name='subheader']::slotted(*) {
      color: var(--toast-subheadline);
      @include detail-02;

      &.no-link {
        slot::slotted(*) {
          padding-bottom: 0;
        }
      }
    }

    .toast-bottom {
      padding-top: 12px;
    }
  }

  .tds-mode-variant-primary {
    --toast-background: var(--toast-background-primary);
  }

  .tds-mode-variant-secondary {
    --toast-background: var(--toast-background-secondary);
  }
}
