tds-toast {
  --toast-background: var(--color-background-inverse-base);
  --toast-headline: var(--color-foreground-text-inverse-strong);
  --toast-subheadline: var(--color-foreground-text-inverse-soft);
  --toast-dissmiss: var(--color-foreground-text-inverse-strong);
  --toast-icon-error: var(--color-system-danger-default);
  --toast-icon-success: var(--color-system-success-default);
  --toast-icon-warning: var(--color-system-warning-default);
  --toast-icon-info: var(--color-system-info-default);
}
