@import './textarea-mixins';
@import '../../../../../typography/utilities/typography-utility';

.textarea-container {
  border-radius: var(--textarea-border-radius);
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  min-width: 208px;
  display: inline-flex;
  background-color: transparent;
  flex-flow: row wrap;
  border-bottom: 0;

  &.no-min-width {
    min-width: unset;
  }
}

.textarea-container {
  .textarea-wrapper {
    position: relative;
    width: unset;
    min-width: 100%;

    &::after {
      background: var(--textarea-bar);
      content: '';
      height: 2px;
      width: 100%;
      bottom: 0;
      position: absolute;
      transform: scaleX(0);
      transition: 0.35s ease transform;
    }
  }
}

.textarea-input {
  @include textfield-base;

  border-radius: var(--textarea-border-radius);
  @include detail-02;

  padding: var(--tds-spacing-element-20) var(--tds-spacing-element-16);
  display: block;
  resize: vertical;
  @include box-shadow;

  transition: box-shadow 200ms ease;

  // Display none only works in Chrome
  &::-webkit-resizer {
    display: none;
  }

  &:hover {
    @include box-shadow('hover');
  }
}

// Need to override default resizer in FF & Safari
.textarea-resizer-icon {
  color: var(--textarea-resize-icon);
  position: absolute;
  display: block;
  bottom: 2px;
  right: 1px;
  padding-bottom: 2px;
  padding-right: 2px;
  pointer-events: none;
  background-color: var(--textarea-background);

  svg {
    display: block;
  }
}

.textarea-label {
  @include detail-05;

  display: block;
  z-index: 1;
  margin-bottom: var(--tds-spacing-element-8);
  color: var(--textarea-label);
}

.textarea-container {
  &.textarea-label-inside {
    .textarea-label {
      @include detail-02;

      transition: 0.1s ease all;
      color: var(--textarea-label-inside);
      position: absolute;
      top: var(--tds-spacing-element-20);
      left: var(--tds-spacing-element-16);
    }

    &.textarea-disabled {
      .textarea-label {
        color: var(--textarea-disabled-label);
      }
    }

    .textarea-input {
      @include placeholder-label;
    }
  }

  &.textarea-focus {
    &.textarea-label-inside {
      .textarea-label {
        @include detail-07;

        top: var(--tds-spacing-element-8);
      }
    }

    .textarea-wrapper {
      &::after {
        transform: scaleX(1);
      }
    }

    /* Focus outline */
    .textarea-input {
      outline: var(--textarea-focus-outline);
      outline-offset: var(--textarea-focus-outline-offset);
    }

    /* Focus outline error staet */
    &.textarea-error {
      .textarea-input {
        outline: var(--textarea-focus-outline-error);
        outline-offset: var(--textarea-focus-outline-offset);
      }
    }
  }

  &.textarea-data {
    &.textarea-label-inside {
      .textarea-label {
        @include detail-07;

        top: var(--tds-spacing-element-8);
      }
    }
  }
}

.textarea-textcounter {
  //@extend .tds-textfield-textcounter;
  @include detail-05;

  color: var(--textarea-textcounter);
  float: right;

  & .textfield-textcounter-divider {
    @include detail-05;

    color: var(--textarea-textcounter-divider);
  }

  //@extend end

  flex-basis: 100%;
  text-align: right;
  padding-top: var(--tds-spacing-element-4);
}

.textarea-helper {
  @include detail-05;

  display: flex;
  gap: 8px;
  align-items: center;
  padding-top: var(--tds-spacing-element-4);
  color: var(--textarea-helper);
  flex-grow: 2;
  flex-basis: auto;

  ~ .textarea-textcounter {
    flex-basis: auto;
  }
}

// Different state

.textarea-success {
  .textarea-input {
    @include box-shadow('success');
  }
}

.textarea-error {
  .textarea-input {
    @include box-shadow('error');
  }

  .textarea-wrapper {
    &::after {
      background: var(--textarea-bar-error);
    }
  }

  .textarea-helper {
    color: var(--textarea-helper-error);
  }
}

//Disabled state
.textarea-disabled {
  cursor: not-allowed;

  .textarea-input {
    @include box-shadow('disabled');

    pointer-events: none;
    user-select: none;
  }

  .textarea-label {
    color: var(--textarea-disabled-label);
  }

  .textarea-helper {
    color: var(--textarea-helper-disabled);
  }

  .textarea-textcounter {
    color: var(--textarea-textcounter-disabled);

    & .textfield-textcounter-divider {
      color: var(--textarea-textcounter-disabled);
    }
  }

  .textarea-resizer-icon {
    background-color: var(--textarea-background-secondary);
  }
}

//Read only state
.textarea-icon__readonly {
  display: none;
  position: absolute;
  right: 18px;
  top: 18px;
}

.textarea-readonly {
  .textarea-icon__readonly {
    display: block;
  }

  .textarea-input {
    @include box-shadow('read-only');
  }

  .textfield-container {
    background-color: transparent;
  }
}

.textarea-readonly:has(.textarea-icon__readonly) {
  .textarea-input {
    padding-right: 54px;
  }
}
