tds-textarea {
  --tds-textarea-background-primary: var(--color-background-layer-01);
  --tds-textarea-background-secondary: var(--color-background-layer-02);
  --tds-textarea-background: var(--tds-textarea-background-primary);
  --tds-textarea-color: var(--color-text-strong);
  --tds-textarea-color-hover: var(--color-text-strong);

  // Disabled
  --tds-textarea-disabled-color: var(--color-text-disabled);
  --tds-textarea-disabled-background-primary: var(--color-background-layer-01);
  --tds-textarea-disabled-background-secondary: var(--color-background-layer-02);
  --tds-textarea-disabled-background: var(--tds-textarea-disabled-background-primary);
  --tds-textarea-disabled-placeholder: var(--color-text-disabled);
  --tds-textarea-disabled-label: var(--color-text-disabled);
  --tds-textarea-helper-disabled: var(--color-text-disabled);
  --tds-textarea-textcounter-disabled: var(--color-text-disabled);

  // Label
  --tds-textarea-label-color: var(--color-text-strong);
  --tds-textarea-label-inside-color: var(--color-text-strong);

  // Placeholder
  --tds-textarea-placeholder: var(--color-text-subtle);
  --tds-textarea-placeholder-hover: var(--color-text-subtle);

  // Helper
  --tds-textarea-helper: var(--color-text-defined);
  --tds-textarea-helper-error: var(--color-system-danger-default);

  // Textcounter
  --tds-textarea-textcounter: var(--color-text-defined);
  --tds-textarea-textcounter-divider: var(--color-text-defined);

  // Border bottom
  --tds-textarea-border-bottom: var(--color-border-soft);
  --tds-textarea-border-bottom-hover: var(--color-border-strong);
  --tds-textarea-border-bottom-success: var(--color-border-strong);
  --tds-textarea-border-bottom-error: var(--color-system-danger-default);

  // Read only
  --tds-textarea-border-bottom-read-only-color: var(--tds-textarea-border-bottom-success);
  --tds-textarea-icon-read-only-color: var(--component-textarea-icon-readonly-default);
  --tds-textarea-icon-read-only-label-color: var(--color-icon-strong);
  --tds-textarea-icon-read-only-label-background: var(--color-background-layer-02);

  // Resize
  --tds-textarea-resize-icon: var(--component-textarea-icon-resize-default);

  .tds-mode-variant-primary {
    --tds-textarea-background: var(--tds-textarea-background-primary);
    --tds-textarea-disabled-background: var(--tds-textarea-disabled-background-primary);
    --tds-textarea-border-bottom-read-only-color: var(--tds-textarea-border-bottom-success);
    --tds-textarea-read-only-background: var(--color-background-layer-02);
  }

  .tds-mode-variant-secondary {
    --tds-textarea-background: var(--tds-textarea-background-secondary);
    --tds-textarea-disabled-background: var(--tds-textarea-disabled-background-secondary);
    --tds-textarea-border-bottom-read-only-color: var(--tds-textarea-border-bottom-success);
    --tds-textarea-read-only-background: var(--color-background-layer-01);
  }
}
