@mixin textfield-base {
  border-radius: 4px 4px 0 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
  height: 100%;
  color: var(--tds-textarea-color);
  background-color: var(--tds-textarea-background);

  &::placeholder {
    opacity: 1;
    color: var(--tds-textarea-placeholder);
  }

  &:disabled {
    background-color: var(--tds-textarea-disabled-background);
    color: var(--tds-textarea-disabled-color);
    cursor: not-allowed;

    &::placeholder {
      color: var(--tds-textarea-disabled-placeholder);
    }
  }
}

@mixin placeholder-label {
  &::placeholder {
    color: transparent;
  }

  ::placeholder {
    color: transparent;
  }

  //Input field in focus
  &:focus::placeholder {
    transition: color 0.35s ease;
    color: var(--tds-textarea-placeholder);
  }
}

.textarea-container {
  //@extend .tds-textfield-container;
  border-radius: 4px 4px 0 0;
  position: relative;
  box-sizing: border-box;

  //@extend end

  height: auto;
  width: 100%;
  min-width: 208px;
  display: inline-flex;
  background-color: transparent;
  flex-flow: row wrap;
  border-bottom: 0;

  &.no-min-width {
    min-width: unset;
  }
}

.textarea-container {
  .textarea-wrapper {
    position: relative;
    width: unset;
    min-width: 100%;
  }
}

.textarea-container:not(.textarea-disabled) {
  .textarea-wrapper {
    &::before,
    &::after {
      content: '';
      height: 2px;
      width: 0;
      position: absolute;
      background: var(--tds-textarea-bar);
      transition: 0.35s ease all;
    }

    &::before {
      left: 50%;
    }

    &::after {
      right: 50%;
    }

    &::after,
    &::before {
      top: calc(100% - 2px);
    }
  }
}

.textarea-input {
  @include textfield-base;

  font: var(--tds-detail-02);
  letter-spacing: var(--tds-detail-02-ls);
  padding: var(--tds-spacing-element-20) var(--tds-spacing-element-16);
  display: block;
  resize: vertical;
  border-bottom: 1px solid var(--tds-textarea-border-bottom);
  transition: border-bottom-color 200ms ease;

  // Display none only works in Chrome
  &::-webkit-resizer {
    display: none;
  }

  &:hover {
    border-bottom-color: var(--tds-textarea-border-bottom-hover);
  }
}

// Need to override default resizer in FF & Safari
.textarea-resizer-icon {
  color: var(--tds-textarea-resize-icon);
  position: absolute;
  display: block;
  bottom: 2px;
  right: 1px;
  padding-bottom: 2px;
  padding-right: 2px;
  pointer-events: none;
  background-color: var(--tds-textarea-background);

  svg {
    display: block;
  }
}

.textarea-label {
  font: var(--tds-detail-05);
  letter-spacing: var(--tds-detail-05-ls);
  display: block;
  z-index: 1;
  margin-bottom: var(--tds-spacing-element-8);
  color: var(--tds-textarea-label-color);
}

.textarea-container {
  &.textarea-label-inside {
    .textarea-label {
      font: var(--tds-detail-02);
      letter-spacing: var(--tds-detail-02-ls);
      transition: 0.1s ease all;

      //@include end

      color: var(--tds-textarea-label-inside-color);
      position: absolute;
      top: var(--tds-spacing-element-20);
      left: var(--tds-spacing-element-16);
    }

    &.textarea-disabled {
      .textarea-label {
        color: var(--tds-textarea-disabled-label);
      }
    }

    .textarea-input {
      @include placeholder-label;
    }
  }

  &.textarea-focus {
    &.textarea-label-inside {
      .textarea-label {
        font: var(--tds-detail-07);
        letter-spacing: var(--tds-detail-07-ls);
        top: var(--tds-spacing-element-8);
      }
    }

    .textarea-wrapper {
      &::before,
      &::after {
        width: 50%;
      }
    }
  }

  &.textarea-data {
    &.textarea-label-inside {
      .textarea-label {
        font: var(--tds-detail-07);
        letter-spacing: var(--tds-detail-07-ls);
        top: var(--tds-spacing-element-8);
      }
    }
  }
}

.textarea-textcounter {
  //@extend .tds-textfield-textcounter;
  font: var(--tds-detail-05);
  letter-spacing: var(--tds-detail-05-ls);
  color: var(--tds-textarea-textcounter);
  float: right;

  & .textfield-textcounter-divider {
    font: var(--tds-detail-05);
    letter-spacing: var(--tds-detail-05-ls);
    color: var(--tds-textarea-textcounter-divider);
  }

  //@extend end

  flex-basis: 100%;
  text-align: right;
  padding-top: var(--tds-spacing-element-4);
}

.textarea-helper {
  font: var(--tds-detail-05);
  letter-spacing: var(--tds-detail-05-ls);
  display: flex;
  gap: 8px;
  align-items: center;
  padding-top: var(--tds-spacing-element-4);
  color: var(--tds-textarea-helper);
  flex-grow: 2;
  flex-basis: auto;

  ~ .textarea-textcounter {
    flex-basis: auto;
  }
}

// Different state

.textarea-success {
  .textarea-input {
    border-bottom-color: var(--tds-textarea-border-bottom-success);
  }
}

.textarea-error {
  .textarea-input {
    border-bottom-color: var(--tds-textarea-border-bottom-error);
  }

  .textarea-wrapper {
    &::after,
    &::before {
      background: var(--tds-textarea-bar-error);
    }
  }

  .textarea-helper {
    color: var(--tds-textarea-helper-error);
  }
}

//Disabled state
.textarea-disabled {
  .textarea-input {
    border-bottom-color: transparent;
  }

  .textarea-label {
    color: var(--tds-textarea-disabled-label);
  }

  .textarea-helper {
    color: var(--tds-textarea-helper-disabled);
  }

  .textarea-textcounter {
    color: var(--tds-textarea-textcounter-disabled);

    & .textfield-textcounter-divider {
      color: var(--tds-textarea-textcounter-disabled);
    }
  }
}

//Read only state

.textarea-icon__readonly {
  display: none;
  position: absolute;
  right: 18px;
  top: 18px;
  color: var(--tds-textarea-icon-read-only-color);

  &-label {
    display: none;
    position: absolute;
    right: 18px;
    top: 48px;
    font: var(--tds-detail-05);
    letter-spacing: var(--tds-detail-05-ls);
    padding: 8px;
    color: var(--tds-textarea-icon-read-only-label-color);
    background-color: var(--tds-textarea-icon-read-only-label-background);
    white-space: nowrap;
    border-radius: 4px 0 4px 4px;
  }
}

.textarea-readonly {
  .textarea-icon__readonly {
    display: block;

    &:hover {
      ~ .textarea-icon__readonly-label {
        display: block;
      }
    }
  }

  .textfield-input {
    padding-right: 54px;
    background-color: transparent;
  }

  .textfield-container {
    background-color: transparent;
  }
}
