/* Base component variables */
.tl-dropdown {
  --dropdown-background: var(--color-background-layer-01);
  --dropdown-text: var(--color-foreground-text-strong);
  --dropdown-helper-text: var(--color-foreground-text-defined);
  --dropdown-placeholder: var(--color-foreground-text-subtle);
  --dropdown-disabled: var(--color-foreground-text-disabled);
  --dropdown-icon: var(--color-foreground-icon-strong);
  --dropdown-icon-size: 1rem;
  --dropdown-icon-offset: var(--dropdown-spacing-inline);
  --dropdown-clear-icon: var(--color-foreground-icon-subtle);
  --dropdown-error: var(--color-system-danger-default);
  --dropdown-error-focus: var(--color-system-danger-subtle);
  --dropdown-bar-color: var(--color-foreground-border-accent-focus);
  --dropdown-option-text: var(--dropdown-text);
  --dropdown-option-disabled: var(--color-foreground-text-disabled);
  --dropdown-option-background: var(--dropdown-background);
  --dropdown-option-background-hover: var(
    --component-dropdown-hover,
    var(--color-background-layer-02)
  );
  --dropdown-option-background-selected: var(
    --component-dropdown-focus,
    var(--color-background-layer-02)
  );
  --dropdown-option-border: var(--color-foreground-border-discrete);
  --dropdown-spacing-4: var(--tds-spacing-element-4);
  --dropdown-spacing-8: var(--tds-spacing-element-8);
  --dropdown-spacing-inline: var(--tds-spacing-element-16);
  --dropdown-border-radius: var(--dropdown-spacing-4);
  --dropdown-label-inside-top: var(--tds-spacing-element-12);
  --dropdown-label-inside-left: var(--tds-spacing-element-16);
  --dropdown-height-multiselect: 64px;

  &--primary {
    --dropdown-background: var(--color-background-layer-01);
    --dropdown-option-background: var(--color-background-layer-01);
  }

  &--secondary {
    --dropdown-background: var(--color-background-layer-02);
    --dropdown-option-background: var(--color-background-layer-02);
    --dropdown-option-background-hover: var(
      --color-background-layer-03,
      var(--color-background-layer-02)
    );
  }
}

.tl-dropdown,
.scania .tl-dropdown {
  --dropdown-border: 0 1px 0 0 var(--color-foreground-border-soft);
  --dropdown-border-hover: 0 1px 0 0 var(--color-foreground-border-strong);
  --dropdown-border-focus: 0 1px 0 0 var(--dropdown-bar-color);
  --dropdown-border-active: 0 1px 0 0 var(--color-foreground-border-strong);
  --dropdown-border-error: 0 1px 0 0 var(--dropdown-error);
  --dropdown-border-error-hover: 0 1px 0 0 var(--dropdown-error);
  --dropdown-border-error-focus: 0 1px 0 0 var(--dropdown-error);
  --dropdown-option-background-hover: var(
    --component-dropdown-hover,
    var(--color-background-layer-02)
  );
  --dropdown-option-background-selected: var(
    --component-dropdown-focus,
    var(--color-background-layer-02)
  );
}

.traton .tl-dropdown {
  --dropdown-border: 0 0 0 1px var(--color-foreground-border-soft);
  --dropdown-border-hover: 0 0 0 1px var(--color-foreground-border-strong);
  --dropdown-border-focus: 0 0 0 1px var(--dropdown-bar-color);
  --dropdown-border-active: 0 0 0 1px var(--color-foreground-border-strong);
  --dropdown-border-error: 0 0 0 1px var(--dropdown-error);
  --dropdown-border-error-hover: 0 0 0 1px var(--dropdown-error);
  --dropdown-border-error-focus: 0 0 0 1px var(--dropdown-error);
  --dropdown-bar-color: var(--color-foreground-border-accent-focus);
  --dropdown-icon-size: 1rem;
  --dropdown-icon-offset: var(--dropdown-spacing-inline);
  --dropdown-option-background-hover: var(--color-background-surface-100);
  --dropdown-option-background-selected: var(--color-background-surface-300);
}
