// Tegel Light Dropdown Variables

.tl-dropdown-option {
  --dropdown-option-background: var(--color-background-layer-01);
  --dropdown-option-background-hover: var(--component-dropdown-hover);
  --dropdown-option-background-selected: var(--component-dropdown-focus);
  --dropdown-option-disabled: var(--color-foreground-text-disabled);
  --dropdown-option-border: var(--color-foreground-border-discrete);
}

.tl-dropdown {
  &--primary {
    --dropdown-background: var(--color-background-layer-01);
  }

  &--secondary {
    --dropdown-background: var(--color-background-layer-02);
  }

  // Colors - Base
  --dropdown-background: var(--color-background-layer-01);

  // Colors - Label/Placeholder/Helper
  --dropdown-text: var(--color-foreground-text-strong);
  --dropdown-helper-text: var(--color-foreground-text-defined);
  --dropdown-placeholder: var(--color-foreground-text-subtle);
  --dropdown-disabled: var(--color-foreground-text-disabled);

  // Colors - Icon
  --dropdown-icon: var(--color-foreground-icon-strong);
  --dropdown-clear-icon: var(--color-foreground-icon-subtle);

  // Colors - Error
  --dropdown-error: var(--color-system-danger-default);
  --dropdown-error-focus: var(--color-system-danger-subtle);
}

.tl-dropdown,
.scania .tl-dropdown {
  // Colors - Border - Scania
  --dropdown-border: 0 1px 0 0 var(--color-foreground-border-soft);
  --dropdown-border-hover: 0 1px 0 0 var(--color-foreground-border-strong);
  --dropdown-border-focus: 0 2px 0 0 var(--color-foreground-border-accent-focus);
  --dropdown-border-active: 0 1px 0 0 var(--color-foreground-border-strong);
  --dropdown-border-error: 0 1px 0 0 var(--dropdown-error);
  --dropdown-border-error-hover: 0 1px 0 0 var(--dropdown-error);
  --dropdown-border-error-focus: 0 2px 0 0 var(--dropdown-error-focus);

  // Units
  --dropdown-spacing-4: 4px; // should be replaced when introducing units tokens
  --dropdown-border-radius: var(--dropdown-spacing-4) var(--dropdown-spacing-4) 0 0;
  --dropdown-list-border-radius-down: 0 0 var(--dropdown-spacing-4) var(--dropdown-spacing-4);
  --dropdown-list-border-radius-up: var(--dropdown-spacing-4) var(--dropdown-spacing-4) 0 0;
  --dropdown-text: var(--color-foreground-text-strong);

  //option
  --dropdown-option-disabled: var(--color-foreground-text-disabled);
  --dropdown-option-background: var(--color-background-layer-01);
  --dropdown-option-background-hover: var(--component-dropdown-hover);
  --dropdown-option-background-selected: var(--component-dropdown-focus);
  --dropdown-option-border: var(--color-foreground-border-discrete);
  --dropdown-helper-text: var(--color-foreground-text-defined);
  --dropdown-placeholder: var(--color-foreground-text-subtle);
}

// Traton theme: full border on all sides
.traton .tl-dropdown {
  --dropdown-border: 0 0 0 1px var(--color-foreground-border-soft);
  --dropdown-border-hover: 0 0 0 1px var(--color-foreground-border-strong);
  --dropdown-border-focus: 0 0 0 2px var(--color-foreground-border-accent-focus);
  --dropdown-border-active: 0 0 0 1px var(--color-foreground-border-strong);
  --dropdown-border-error: 0 0 0 1px var(--dropdown-error);
  --dropdown-border-error-hover: 0 0 0 1px var(--dropdown-error);
  --dropdown-border-error-focus: 0 0 0 1px var(--dropdown-error-focus);

  // Units
  --dropdown-spacing-4: 4px; // should be replaced when introducing units tokens
  --dropdown-border-radius: var(--dropdown-spacing-4) var(--dropdown-spacing-4)
    var(--dropdown-spacing-4) var(--dropdown-spacing-4);

  &--primary {
    --dropdown-background: var(--color-background-layer-01);

    .tl-dropdown-option {
      --dropdown-option-background: var(--color-background-layer-01);
    }
  }

  &--secondary {
    --dropdown-background: var(--color-background-layer-02);

    .tl-dropdown-option {
      --dropdown-option-background: var(--color-background-layer-02);
    }
  }
}
