@mixin tl-dropdown-size($height, $padding-inline, $font-size) {
  min-height: $height;
  height: $height;
  padding: 0 $padding-inline;
  font-size: $font-size;
  line-height: $height;
}

@mixin tl-dropdown-label-inside-position($top, $left) {
  top: $top;
  left: $left;
}

@mixin tl-dropdown-focus-outline {
  outline: none;
  box-shadow: none;
}
