@import './tl-dropdown-vars';

.tl-dropdown {
  width: 208px;
  position: relative;
}

.tl-dropdown__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

// --- Dropdown Button & Select ---
@mixin tl-dropdown-field {
  @include detail-02;

  width: 100%;
  border: none;
  appearance: none;
  background: var(--dropdown-background);
  color: var(--dropdown-text);
  box-shadow: var(--dropdown-border);
  border-radius: var(--dropdown-border-radius);
  position: relative;
  outline: none;
  text-align: left;
  cursor: pointer;
  padding-inline: var(--tds-spacing-element-16);
  transition: box-shadow 0.2s, border-radius 0.2s, background 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}

:is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) {
  @include tl-dropdown-field;
}

.tl-dropdown__button {
  justify-content: flex-start;
  position: relative;
}

.tl-dropdown--label-inside .tl-dropdown__input:focus ~ .tl-dropdown__label--inside {
  @include detail-07;

  color: var(--dropdown-label-inside-active, var(--dropdown-label-inside));
  top: var(--dropdown-label-top, 7px);
  transform: none;
}

.tl-dropdown__input {
  display: block;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  box-sizing: border-box;
  align-items: unset;
  justify-content: unset;
  padding-right: 40px;
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tl-dropdown__icon--cross {
  display: none;
}

.tl-dropdown__input:focus:not(:placeholder-shown) ~ .tl-dropdown__icon--cross {
  display: flex;
  position: absolute;
  right: 49px;
  top: 1px;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  pointer-events: auto;
  z-index: 2;
  color: var(--dropdown-clear-icon);
}

.tl-dropdown__input--divider {
  position: absolute;
  right: 40px;
  top: 1px;
  bottom: 0;
  margin: auto 0;
  height: 16px;
  width: 1px;
  background: var(--dropdown-clear-icon);
  z-index: 1;
  display: none;
}

.tl-dropdown__input:focus:not(:placeholder-shown) ~ .tl-dropdown__input--divider {
  display: block;
}

.tl-dropdown--lg :is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) {
  height: 56px;
}

.tl-dropdown--md :is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) {
  height: 48px;
}

.tl-dropdown--sm :is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) {
  height: 40px;
}

.tl-dropdown--disabled :is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) {
  color: var(--dropdown-disabled);
  background: var(--dropdown-background);
  box-shadow: var(--dropdown-border-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

.tl-dropdown--disabled .tl-dropdown__chevron {
  color: var(--dropdown-disabled);
}

.tl-dropdown--error :is(.tl-dropdown__button, .tl-dropdown__input, .tl-dropdown__select) {
  box-shadow: var(--dropdown-border-error);

  &:focus {
    box-shadow: var(--dropdown-border-error-focus);
    outline: none;
  }
}

@mixin tl-dropdown-interactive {
  &:hover {
    box-shadow: var(--dropdown-border-hover);
  }

  &:focus {
    box-shadow: var(--dropdown-border-focus);
    outline: none;
  }
}

:is(.tl-dropdown__button, .tl-dropdown__input, .tl-dropdown__select) {
  @include tl-dropdown-interactive;
}

.tl-dropdown__select:focus {
  box-shadow: var(--dropdown-border-focus);
}

.tl-dropdown--error:not(.tl-dropdown--disabled) {
  --dropdown-border: var(--dropdown-border-error);
  --dropdown-border-hover: var(--dropdown-border-error-hover);
  --dropdown-helper-text: var(--dropdown-error);
}

// --- LABEL INSIDE ---
.tl-dropdown__label--inside {
  position: absolute;
  left: var(--tds-spacing-element-16);
  width: auto;
  pointer-events: none;
  background: transparent;
  z-index: 1;
  transition: transform 0.15s, font-size 0.15s, color 0.15s, top 0.15s;
  transform-origin: top left;
  color: var(--dropdown-label-inside);
  @include detail-02;

  top: var(--dropdown-label-top, 50%);
  transform: translateY(-50%);
}

.tl-dropdown--label-inside:not(.tl-dropdown--has-value) .tl-dropdown__label--inside,
.tl-dropdown--lg.tl-dropdown--label-inside:not(.tl-dropdown--has-value),
.tl-dropdown__label--inside {
  top: 50%;
  transform: translateY(-50%);
}

.tl-dropdown--sm.tl-dropdown--label-inside:not(.tl-dropdown--has-value):not(
:has(.tl-dropdown__helper)
):has(.tl-dropdown__button)
.tl-dropdown__label--inside,
.tl-dropdown--sm.tl-dropdown--label-inside:not(.tl-dropdown--has-value):not(
:has(.tl-dropdown__helper)
):has(.tl-dropdown__input)
.tl-dropdown__label--inside,
.tl-dropdown--sm.tl-dropdown--label-inside:not(.tl-dropdown--has-value):not(
:has(.tl-dropdown__helper)
):has(.tl-dropdown__select)
.tl-dropdown__label--inside,
.tl-dropdown--md.tl-dropdown--label-inside:not(.tl-dropdown--has-value):not(
:has(.tl-dropdown__helper)
):has(.tl-dropdown__button)
.tl-dropdown__label--inside,
.tl-dropdown--md.tl-dropdown--label-inside:not(.tl-dropdown--has-value):not(
:has(.tl-dropdown__helper)
):has(.tl-dropdown__input)
.tl-dropdown__label--inside,
.tl-dropdown--md.tl-dropdown--label-inside:not(.tl-dropdown--has-value):not(
:has(.tl-dropdown__helper)
):has(.tl-dropdown__select)
.tl-dropdown__label--inside,
.tl-dropdown--lg.tl-dropdown--label-inside:not(.tl-dropdown--has-value):not(
:has(.tl-dropdown__helper)
):has(.tl-dropdown__button)
.tl-dropdown__label--inside,
.tl-dropdown--lg.tl-dropdown--label-inside:not(.tl-dropdown--has-value):not(
:has(.tl-dropdown__helper)
):has(.tl-dropdown__input)
.tl-dropdown__label--inside,
.tl-dropdown--lg.tl-dropdown--label-inside:not(.tl-dropdown--has-value):not(
:has(.tl-dropdown__helper)
):has(.tl-dropdown__select)
.tl-dropdown__label--inside {
  top: 50%;
  transform: translateY(calc(-50% + 1px));
}

.tl-dropdown--label-inside .tl-dropdown__input:focus ~ .tl-dropdown__label--inside {
  @include detail-07;

  color: var(--dropdown-label-inside-active, var(--dropdown-label-inside));
  top: var(--dropdown-label-top, 7px);
  transform: none;
}

.tl-dropdown--label-inside
:is(.tl-dropdown__input, .tl-dropdown__button, .tl-dropdown__select)::placeholder {
  color: transparent;
}

.tl-dropdown--label-inside:has(.tl-dropdown__helper):not(.tl-dropdown--has-value)
.tl-dropdown__label--inside {
  top: calc(50% - 11px);
}

.tl-dropdown--sm.tl-dropdown--label-inside:has(.tl-dropdown__helper):not(
.tl-dropdown--has-value
):is(:has(.tl-dropdown__input), :has(.tl-dropdown__select))
.tl-dropdown__label--inside {
  top: calc(50% - 11px);
}

.tl-dropdown--label-inside.tl-dropdown--has-value .tl-dropdown__label--inside {
  @include detail-07;

  color: var(--dropdown-label-inside-active, var(--dropdown-label-inside));
  top: var(--dropdown-label-top, 7px);
  transform: none;
}

.tl-dropdown--sm.tl-dropdown--label-inside.tl-dropdown--has-value .tl-dropdown__label--inside {
  display: none;
}

.tl-dropdown--lg.tl-dropdown--label-inside {
  --dropdown-label-top: 12px;
}

.tl-dropdown--lg.tl-dropdown--label-inside .tl-dropdown__label--inside {
  top: 11.5px;
}

.tl-dropdown--lg.tl-dropdown--label-inside:has(.tl-dropdown__helper):has(
.tl-dropdown__select option:not([value='']):checked
)
.tl-dropdown__label--inside {
  top: 11.5px;
}

:is(.tl-dropdown--lg).tl-dropdown--label-inside
:is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) {
  padding-top: calc(var(--tds-spacing-element-20) - 1px);
  padding-bottom: 9px;
  padding-right: 40px;
  line-height: calc(48px - var(--tds-spacing-element-20) - 11px);
}

:is(.tl-dropdown--md).tl-dropdown--label-inside
:is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) {
  padding-top: calc(var(--tds-spacing-element-20) - 2px);
  padding-bottom: 8px;
  padding-right: 40px;
  line-height: calc(48px - var(--tds-spacing-element-20) - 11px);
}

.tl-dropdown--sm.tl-dropdown--label-inside
:is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) {
  padding-top: var(--tds-spacing-element-16);
  padding-bottom: var(--tds-spacing-element-16);
  padding-right: 40px;
  line-height: calc(40px - var(--tds-spacing-element-16) - var(--tds-spacing-element-8));
}

.tl-dropdown--sm.tl-dropdown--label-inside:has(.tl-dropdown__select option:not([value='']):checked)
:is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 40px;
  line-height: 40px;
}

.tl-dropdown--disabled .tl-dropdown__label {
  color: var(--color-foreground-text-disabled);
}

.tl-dropdown__label {
  color: var(--dropdown-text);
  display: block;
  margin-bottom: var(--tds-spacing-element-4);
}

.tl-dropdown:has(.tl-dropdown__select option:not([value='']):checked) {
  --dropdown-label-top: 8px;
}

:is(.tl-dropdown--sm, .tl-dropdown--md).tl-dropdown--label-inside:has(
.tl-dropdown__select option:not([value='']):checked
) {
  --dropdown-label-top: 9px;
}

.tl-dropdown--lg.tl-dropdown--label-inside:has(
.tl-dropdown__select option:not([value='']):checked
) {
  --dropdown-label-top: 12px;
}

.tl-dropdown--md.tl-dropdown--label-inside.tl-dropdown--has-value:is(
:has(.tl-dropdown__button),
:has(.tl-dropdown__input)
) {
  --dropdown-label-top: 8px;
}

.tl-dropdown--md.tl-dropdown--label-inside.tl-dropdown--has-value:is(
:has(.tl-dropdown__button),
:has(.tl-dropdown__input)
)
.tl-dropdown__label--inside {
  top: 7.5px;
}

.tl-dropdown:has(.tl-dropdown__select option:not([value='']):checked) .tl-dropdown__label--inside {
  @include detail-07;
}

// List
.tl-dropdown__list {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 2px);
  z-index: 9999;
  width: 100%;
  background: var(--dropdown-background);
  box-shadow: var(--dropdown-option-border);
  border-radius: var(--dropdown-border-radius, 8px);
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 320px;
  overflow-y: auto;
  pointer-events: none;
  display: none;
  visibility: hidden;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.tl-dropdown__list--open {
  display: block;
  visibility: visible;
  transform: scaleY(1);
  pointer-events: auto;
}

.tl-dropdown:has(.tl-dropdown__helper) .tl-dropdown__list {
  transform: translateY(-20px) scaleY(0);
}

.tl-dropdown:has(.tl-dropdown__helper) .tl-dropdown__list--open {
  transform: translateY(-20px) scaleY(1);
}

//Option
.tl-dropdown__option {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: var(--tds-spacing-element-16);
  gap: 8px;
  height: 48px;
  cursor: pointer;
  color: var(--dropdown-text);
  background: none;
  width: 100%;
  box-sizing: border-box;
  transition: background 0.15s, color 0.15s;
  outline: none;
  box-shadow: var(--dropdown-option-border);
  position: relative;
}

.tl-dropdown__option:focus-visible {
  box-shadow: var(--dropdown-border-focus);
  z-index: 2;
}

.tl-dropdown__option:hover {
  background: var(--dropdown-option-background-hover);
}

.tl-dropdown__option--selected,
option:checked,
option[selected] {
  background: var(--dropdown-option-background-selected);
  color: var(--dropdown-text);
}

.tl-dropdown__option--visible {
  display: flex;
}

.tl-dropdown__option:not(.tl-dropdown__option--visible) {
  display: none;
}

.tl-dropdown__option--disabled {
  color: var(--dropdown-disabled);
  cursor: not-allowed;
  background: var(--dropdown-background);
  box-shadow: none;
  opacity: 0.6;
  pointer-events: none;
}

.tl-dropdown__option--no-result {
  color: var(--dropdown-disabled);
  cursor: default;
  pointer-events: none;
  font-style: italic;
}

.tl-dropdown__option .tl-icon--tick {
  position: absolute;
  right: var(--tds-spacing-element-16);
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 16px;
  height: 16px;
  color: var(--dropdown-icon);
  pointer-events: none;
  display: none;
}

.tl-dropdown__option--selected .tl-icon--tick {
  display: inline-flex;
}

.tl-dropdown__option .tl-checkbox {
  justify-content: start;
  pointer-events: none;
}

// Helper
.tl-dropdown__helper {
  @include detail-05;

  color: var(--dropdown-helper-text);
  padding-top: var(--tds-spacing-element-4);
  display: flex;
  gap: 8px;
  flex-basis: 100%;
  z-index: 1;
}

.tl-dropdown--disabled .tl-dropdown__helper {
  color: var(--color-foreground-text-disabled);
}

.tl-dropdown:not(.tl-dropdown--no-label):not(.tl-dropdown--label-inside):not(
:has(.tl-dropdown__helper)
)
:is(.tl-dropdown__button, .tl-dropdown__input)
~ .tl-icon--chevron_down {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

:is(.tl-dropdown--no-label, .tl-dropdown--label-inside):has(.tl-dropdown__helper)
.tl-dropdown__select
~ .tl-icon--chevron_down {
  top: calc(-25% - 2px);
}

.tl-dropdown:has(:is(.tl-dropdown__select, .tl-dropdown__button, .tl-dropdown__input):focus):not(
.tl-dropdown--disabled
)
.tl-dropdown__bar::after {
  transform: scaleX(1);
}

.tl-dropdown--disabled {
  pointer-events: none;

  --dropdown-text: var(--dropdown-disabled);
  --dropdown-helper-text: var(--dropdown-disabled);
  --dropdown-placeholder: var(--dropdown-disabled);
  --dropdown-icon: var(--dropdown-disabled);
  --dropdown-border: transparent;
  --dropdown-border-hover: transparent;

  .tl-dropdown__bar {
    &::after {
      transform: scaleX(0);
    }

    &::before {
      background-color: transparent;
    }
  }
}

.tl-dropdown--error:not(.tl-dropdown--disabled) {
  --dropdown-border: var(--dropdown-border-error);
  --dropdown-border-hover: var(--dropdown-border-error-hover);
  --dropdown-helper-text: var(--dropdown-error);
}

.tl-dropdown__button .tl-dropdown__chevron,
:is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) ~ .tl-dropdown__chevron {
  position: absolute;
  right: var(--tds-spacing-element-16);
}

.tl-dropdown__chevron--rotated {
  transform: rotate(180deg);
  transform-origin: center;
}

:is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) ~ .tl-dropdown__chevron {
  top: 0;
  bottom: 0;
  margin: auto 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  height: var(--tds-spacing-element-16);
  transition: transform 0.2s;
}

.tl-dropdown__input ~ .tl-dropdown__chevron {
  pointer-events: auto;
  cursor: pointer;
}

.tl-dropdown__button .tl-dropdown__chevron {
  top: 50%;
  transform: translateY(calc(-50% + 0.5px));
}

:is(.tl-dropdown--sm, .tl-dropdown--md, .tl-dropdown--lg).tl-dropdown--no-label:not(
:has(.tl-dropdown__helper)
)
.tl-dropdown__button
.tl-dropdown__chevron {
  transform: translateY(calc(-50% + 1px));
}

.tl-dropdown--label-inside .tl-dropdown__button .tl-dropdown__chevron {
  transform: translateY(calc(-50% + 0.5px));
}

.tl-dropdown--sm.tl-dropdown--no-label .tl-dropdown__select ~ .tl-dropdown__chevron {
  transform: translateY(calc(-50% + 7px));
}

.tl-dropdown--lg:is(.tl-dropdown--no-label, .tl-dropdown--label-inside):has(.tl-dropdown__helper)
.tl-dropdown__select
~ .tl-icon--chevron_down {
  top: calc(-25% - 1px);
}

.tl-dropdown--sm.tl-dropdown--label-inside:has(.tl-dropdown__helper)
.tl-dropdown__select
~ .tl-dropdown__chevron {
  transform: translateY(-1px);
}

.tl-dropdown__button .tl-dropdown__chevron.tl-dropdown__chevron--rotated {
  transform: translateY(calc(-50% + 1px)) rotate(180deg);
}

.tl-dropdown__select ~ .tl-dropdown__chevron.tl-dropdown__chevron--rotated {
  transform: translateY(calc(-50% + 7px)) rotate(180deg);
}

:is(
.tl-dropdown__button,
.tl-dropdown__input,
.tl-dropdown:has(.tl-dropdown__helper):has(.tl-dropdown__select option:not([value='']):checked)
.tl-dropdown__select
)
~ .tl-dropdown__chevron.tl-dropdown__chevron--rotated {
  transform: translateY(-1px) rotate(180deg);
}

.tl-dropdown:not(.tl-dropdown--no-label):not(.tl-dropdown--label-inside):not(
:has(.tl-dropdown__helper)
)
:is(.tl-dropdown__button, .tl-dropdown__input)
~ .tl-dropdown__chevron.tl-dropdown__chevron--rotated {
  transform: translateY(calc(-50%)) rotate(180deg);
}

.tl-dropdown--lg .tl-dropdown__input ~ .tl-dropdown__chevron.tl-dropdown__chevron--rotated {
  transform: translateY(1px) rotate(180deg);
}

.tl-dropdown__input ~ .tl-dropdown__chevron.tl-dropdown__chevron--rotated {
  transform: translateY(1px) rotate(180deg);
}

.tl-dropdown--sm.tl-dropdown--no-label .tl-dropdown__button-placeholder,
.tl-dropdown--sm.tl-dropdown--no-label .tl-dropdown__button-value {
  padding-top: 9px;
  padding-bottom: 7px;
}

.tl-dropdown--sm.tl-dropdown--label-inside.tl-dropdown--has-value :is(.tl-dropdown__button-value) {
  position: absolute;
  left: var(--tds-spacing-element-16);
  right: 32px;
  top: 50%;
  transform: translateY(calc(-50% + 1px));
  background: transparent;
}

.tl-dropdown--no-label .tl-dropdown__input,
.tl-dropdown--no-label .tl-dropdown__select {
  padding-top: 9px;
  padding-bottom: 7px;
}

.tl-dropdown:not(.tl-dropdown--label-inside):not(.tl-dropdown--no-label) .tl-dropdown__input {
  padding-top: 16px;
  padding-bottom: 16px;
}

.tl-dropdown__input::placeholder,
.tl-dropdown:has(.tl-dropdown__select option[value='']:checked) .tl-dropdown__select {
  color: var(--dropdown-placeholder);
}

.tl-dropdown--label-inside:not(.tl-dropdown--has-value) .tl-dropdown__button-value {
  display: none;
}

.tl-dropdown__button-placeholder {
  color: var(--dropdown-placeholder);
  border-radius: var(--dropdown-border-radius);
  box-shadow: none;
  transition: box-shadow 0.2s;

  &:disabled {
    box-shadow: none;
    background-color: var(--dropdown-background);
    color: var(--dropdown-disabled);
    cursor: not-allowed;
  }
}

.tl-dropdown--label-inside.tl-dropdown--has-value .tl-dropdown__button-value {
  position: relative;
  display: inline;
}

.tl-dropdown__button-value,
.tl-dropdown__button-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
  min-width: 0;
  align-items: center;
  line-height: normal;
  display: none;
}

.tl-dropdown__button-value--visible,
.tl-dropdown__button-placeholder--visible {
  display: inline;
}

:is(.tl-dropdown--md, .tl-dropdown--lg).tl-dropdown--label-inside.tl-dropdown--has-value
.tl-dropdown__button
:is(.tl-dropdown__button-value, .tl-dropdown__button-placeholder) {
  padding-top: calc(var(--tds-spacing-element-20) - 1px);
  padding-bottom: 20px;
}

:is(.tl-dropdown--md, .tl-dropdown--lg).tl-dropdown--label-inside.tl-dropdown--has-value
.tl-dropdown__input:is(:focus, :not(:placeholder-shown)) {
  padding-top: calc(var(--tds-spacing-element-20) - 2px);
  padding-bottom: 9px;
}

.tl-dropdown--label-inside:has(.tl-dropdown__helper):has(
.tl-dropdown__select option:not([value='']):checked
) {
  --dropdown-label-top: calc(50% - 22px);
}

.tl-dropdown--label-inside:has(.tl-dropdown__helper):has(
.tl-dropdown__select option:not([value='']):checked
)
.tl-dropdown__label--inside {
  top: 7.5px;
}

.tl-dropdown--no-label:is(.tl-dropdown--md, .tl-dropdown--lg):not(:has(.tl-dropdown__helper))
.tl-dropdown__button-value,
.tl-dropdown--no-label:is(.tl-dropdown--md, .tl-dropdown--lg)
:is(.tl-dropdown__button-value--visible, .tl-dropdown__button-placeholder--visible) {
  transform: translateY(1px);
}

.tl-dropdown:not(.tl-dropdown--label-inside):not(.tl-dropdown--no-label)
.tl-dropdown__select
~ .tl-dropdown__chevron {
  transform: translateY(1px);
}

.tl-dropdown--lg:not(.tl-dropdown--no-label):not(.tl-dropdown--label-inside):has(
.tl-dropdown__helper
)
.tl-dropdown__select
~ .tl-dropdown__chevron {
  transform: translateY(1px);
}

.tl-dropdown--sm:not(.tl-dropdown--label-inside):not(.tl-dropdown--no-label)
.tl-dropdown__select
~ .tl-dropdown__chevron {
  transform: translateY(1px);
}

.tl-dropdown--md:not(.tl-dropdown--label-inside):not(.tl-dropdown--no-label):not(
:has(.tl-dropdown__helper)
)
.tl-dropdown__select
~ .tl-dropdown__chevron,
.tl-dropdown--lg:not(.tl-dropdown--label-inside):not(.tl-dropdown--no-label):not(
:has(.tl-dropdown__helper)
)
.tl-dropdown__select
~ .tl-dropdown__chevron {
  top: calc(50% - 12px);
}

.tl-dropdown--sm:not(.tl-dropdown--label-inside):not(.tl-dropdown--no-label):has(
.tl-dropdown__helper
)
.tl-dropdown__select
~ .tl-dropdown__chevron {
  top: calc(50% - 7.8px);
  bottom: auto;
}

.tl-dropdown--sm:not(.tl-dropdown--label-inside):not(.tl-dropdown--no-label):not(
:has(.tl-dropdown__helper)
)
.tl-dropdown__select
~ .tl-dropdown__chevron {
  top: calc(50% + 2.5px);
  bottom: auto;
}
