@import './tl-dropdown-vars';
@import '../../../../../../typography/utilities/typography-utility';

/* Container & layout */
.tl-dropdown {
  width: 208px;
  position: relative;

  &.tl-dropdown--disabled {
    cursor: not-allowed;
  }
}

.tl-dropdown__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

/* Controls */
:is(.tl-dropdown__button, .tl-dropdown__select, .tl-dropdown__input) {
  .tl-dropdown--lg & {
    height: 56px;
  }

  .tl-dropdown--md & {
    height: 48px;
  }

  .tl-dropdown--sm & {
    height: 40px;
  }


  @include detail-02;

  width: 100%;
  border: none;
  appearance: none;
  background: var(--dropdown-background);
  color: var(--dropdown-text);
  box-shadow: inset var(--dropdown-border);
  border-radius: var(--dropdown-border-radius);
  position: relative;
  outline: none;
  text-align: left;
  cursor: pointer;
  padding-inline: var(--tds-spacing-element-16);
  transition: box-shadow 0.2s,
    border-radius 0.2s,
    background 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    box-shadow: inset var(--dropdown-border-hover);
  }

  &:focus-visible {
    box-shadow: inset var(--dropdown-border-focus);
  }

  .tl-dropdown--error & {
    box-shadow: inset var(--dropdown-border-error);

    &:focus-visible {
      box-shadow: inset var(--dropdown-border-error-focus);
    }
  }

  .tl-dropdown--disabled & {
    color: var(--dropdown-disabled);
    background: var(--dropdown-background);
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.tl-dropdown:has(:focus-visible):is(.tl-dropdown__button, .tl-dropdown__input, .tl-dropdown__select) {
  box-shadow: inset var(--dropdown-border-focus);
}

.tl-dropdown:has([aria-expanded='true']) .tl-dropdown__button {
  box-shadow: inset var(--dropdown-border-active);
}

.tl-dropdown__input {
  cursor: text;
}

.tl-dropdown__select {
  padding-top: 3px;
  cursor: pointer;
}

.tl-dropdown__input,
.tl-dropdown__select {
  box-sizing: border-box;
  width: 100%;
  padding-right: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:focus {
    padding-right: 69px;
  }
}

.tl-dropdown__input-clear {
  display: none;
  position: absolute;
  top: calc(50% + 1px);
  right: 45px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: transparent;
  color: var(--dropdown-clear-icon);
  cursor: pointer;
  border: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.tl-dropdown__input-clear .tl-icon--cross {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.tl-dropdown__input-wrapper:has(.tl-dropdown__input[aria-expanded='true']) .tl-dropdown__input:not(:placeholder-shown)~.tl-dropdown__input-clear {
  display: inline-flex;
}

.tl-dropdown__input-clear:focus,
.tl-dropdown__input-clear:focus-visible {
  border: 2px solid var(--color-foreground-border-accent-focus);
}

.tl-dropdown__input-divider {
  position: absolute;
  right: 40px;
  top: 1px;
  bottom: 0;
  margin: auto 0;
  height: 16px;
  width: 1px;
  background: var(--dropdown-clear-icon);
  z-index: 1;
  display: none;
}

.tl-dropdown__input-wrapper:has(.tl-dropdown__input[aria-expanded='true']) .tl-dropdown__input:not(:placeholder-shown)~.tl-dropdown__input-divider {
  display: block;
}

/* Chevron */
.tl-dropdown__chevron {
  position: absolute;
  right: var(--tds-spacing-element-16);
  margin: auto 0;
  pointer-events: auto;
  display: flex;
  align-items: center;
  height: var(--tds-spacing-element-16);
  transition: transform 0.2s;
  cursor: pointer;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  color: var(--dropdown-icon);

  .tl-dropdown--disabled & {
    color: var(--dropdown-disabled);
    cursor: not-allowed;
    pointer-events: none;
  }

  .tl-dropdown:has([aria-expanded='true']) & {
    transform: translateY(-50%) rotate(180deg);
  }
}

.tl-dropdown__select~.tl-dropdown__chevron {
  pointer-events: none;
}

.tl-dropdown:is(.tl-dropdown--label-inside, .tl-dropdown--no-label) .tl-dropdown__select~.tl-dropdown__chevron {
  transform: translateY(calc(-50% - 10.5px));
}

.tl-dropdown:not(:has(.tl-dropdown__helper)) .tl-dropdown__select~.tl-dropdown__chevron {
  transform: translateY(2px);
}

.tl-dropdown:is(.tl-dropdown--label-inside, .tl-dropdown--no-label):not(:has(.tl-dropdown__helper)) .tl-dropdown__select~.tl-dropdown__chevron {
  transform: translateY(-50%);
}

/* Label */
.tl-dropdown__label-outside {
  @include detail-05;

  color: var(--dropdown-text);
  display: block;
  margin-bottom: var(--tds-spacing-element-4);
}

.tl-dropdown__label {
  .tl-dropdown--disabled & {
    color: var(--color-foreground-text-disabled);
  }
}

.tl-dropdown__label-inside {
  @include detail-02;

  position: absolute;
  left: var(--tds-spacing-element-16);
  width: auto;
  pointer-events: none;
  background: transparent;
  z-index: 1;
  transition: transform 0.15s, font-size 0.15s, color 0.15s, top 0.15s;
  transform-origin: top left;
  color: var(--dropdown-label-inside);
  top: 50%;
  transform: translateY(-50%);
}

.tl-dropdown--label-inside:has( :is(.tl-dropdown__input:focus, .tl-dropdown__input:not(:placeholder-shown), .tl-dropdown__button-value:not(:empty))) .tl-dropdown__label-inside,
.tl-dropdown:has(.tl-dropdown__select option:not([value='']):checked) .tl-dropdown__label-inside {
  @include detail-07;

  color: var(--dropdown-label-inside-active, var(--dropdown-label-inside));
  top: 7.5px;
  transform: none;
}

.tl-dropdown--lg.tl-dropdown--label-inside:has( :is(.tl-dropdown__input:focus, .tl-dropdown__input:not(:placeholder-shown), .tl-dropdown__button-value:not(:empty))) .tl-dropdown__label-inside,
.tl-dropdown--lg:has(.tl-dropdown__select option:not([value='']):checked) .tl-dropdown__label-inside {
  top: 12.5px;
}

.tl-dropdown--md.tl-dropdown--label-inside:has( :is(.tl-dropdown__input:focus, .tl-dropdown__input:not(:placeholder-shown), .tl-dropdown__button-value:not(:empty))) .tl-dropdown__label-inside,
.tl-dropdown--md:has(.tl-dropdown__select option:not([value='']):checked) .tl-dropdown__label-inside {
  top: 8.5px;
}

.tl-dropdown--sm.tl-dropdown--label-inside:has( :is(.tl-dropdown__input:focus, .tl-dropdown__input:not(:placeholder-shown), .tl-dropdown__button-value:not(:empty))) .tl-dropdown__label-inside,
.tl-dropdown--sm:has(.tl-dropdown__select option:not([value='']):checked) .tl-dropdown__label-inside {
  display: none;
}

.tl-dropdown--label-inside:not(:has(.tl-dropdown__button-value:not(:empty))):not(:has(.tl-dropdown__input:focus)):not(:has(.tl-dropdown__input:not(:placeholder-shown))):not(:has(.tl-dropdown__select option:not([value='']):checked)) .tl-dropdown__label-inside {
  top: 50%;
  transform: translateY(-50%);
}

.tl-dropdown--label-inside:has(.tl-dropdown__helper):not(:has(.tl-dropdown__button-value:not(:empty))):not(:has(.tl-dropdown__input:focus)):not(:has(.tl-dropdown__input:not(:placeholder-shown))):not(:has(.tl-dropdown__select option:not([value='']):checked)) .tl-dropdown__label-inside {
  top: calc(50% - 9.5px);
}

:is(.tl-dropdown--md, .tl-dropdown--lg).tl-dropdown--label-inside:has( :is(.tl-dropdown__input:focus, .tl-dropdown__input:not(:placeholder-shown))) .tl-dropdown__input {
  padding-top: 10px;
}

:is(.tl-dropdown--md, .tl-dropdown--lg).tl-dropdown--label-inside:has(.tl-dropdown__button-value:not(:empty)) .tl-dropdown__button-value {
  padding-top: 10px;
}

.tl-dropdown--label-inside:has(.tl-dropdown__select option:not([value='']):checked) .tl-dropdown__select {
  padding-top: 12.5px;
}

:is(.tl-dropdown--md, .tl-dropdown--lg).tl-dropdown--label-inside:has(.tl-dropdown__select option:not([value='']):checked) .tl-dropdown__select {
  padding-top: 10px;
}

.tl-dropdown--sm.tl-dropdown--label-inside:has(.tl-dropdown__select option:not([value='']):checked) .tl-dropdown__select {
  padding-top: 2px;
}

.tl-dropdown--label-inside .tl-dropdown__input::placeholder {
  color: transparent;
}

/* List */
.tl-dropdown__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 500;
  width: 100%;
  background: var(--dropdown-background);
  box-shadow: 0 2px 3px 0 var(--dropdown-option-border);
  border-radius: var(--dropdown-list-border-radius-down, var(--dropdown-border-radius-up));
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 320px;
  overflow-y: auto;
  pointer-events: none;
  display: none;
  visibility: hidden;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.tl-dropdown__button[aria-expanded='true']+.tl-dropdown__list,
.tl-dropdown__input-wrapper:has(.tl-dropdown__input[aria-expanded='true'])+.tl-dropdown__list {
  display: block;
  visibility: visible;
  transform: scaleY(1);
  pointer-events: auto;
}

.tl-dropdown--dropup {
  .tl-dropdown__list {
    top: auto;
    bottom: 100%;
    border-radius: var(--dropdown-list-border-radius-up, var(--dropdown-border-radius-up));
  }
}

.tl-dropdown:has(.tl-dropdown__helper) .tl-dropdown__list {
  transform: translateY(-20px) scaleY(0);
}

.tl-dropdown:has(.tl-dropdown__helper) .tl-dropdown__button[aria-expanded='true']+.tl-dropdown__list,
.tl-dropdown:has(.tl-dropdown__helper) .tl-dropdown__input-wrapper:has(.tl-dropdown__input[aria-expanded='true'])+.tl-dropdown__list {
  transform: translateY(-20px) scaleY(1);
}

.tl-dropdown.tl-dropdown--dropup .tl-dropdown__list {
  transform: translateY(-2px) scaleY(0);
}

.tl-dropdown.tl-dropdown--dropup .tl-dropdown__button[aria-expanded='true']+.tl-dropdown__list,
.tl-dropdown.tl-dropdown--dropup .tl-dropdown__input-wrapper:has(.tl-dropdown__input[aria-expanded='true'])+.tl-dropdown__list {
  transform: translateY(-2px) scaleY(1);
}

.tl-dropdown.tl-dropdown--dropup.tl-dropdown--label-outside .tl-dropdown__list {
  transform: translateY(18px) scaleY(0);
}

.tl-dropdown.tl-dropdown--dropup.tl-dropdown--label-outside .tl-dropdown__button[aria-expanded='true']+.tl-dropdown__list,
.tl-dropdown.tl-dropdown--dropup.tl-dropdown--label-outside .tl-dropdown__input-wrapper:has(.tl-dropdown__input[aria-expanded='true'])+.tl-dropdown__list {
  transform: translateY(18px) scaleY(1);
}

/* Options */
.tl-dropdown__option {
  display: flex;
  align-items: center;
  padding-inline: var(--tds-spacing-element-16);
  height: 48px;
  cursor: pointer;
  color: var(--dropdown-text);
  box-sizing: border-box;
  transition: background 0.15s, color 0.15s;
  outline: none;
  position: relative;
  border-bottom: 1px solid var(--dropdown-option-border);

  &:hover {
    background: var(--dropdown-option-background-hover);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--color-foreground-border-accent-focus);
    z-index: 2;
  }

  .tl-icon--tick {
    position: absolute;
    right: var(--tds-spacing-element-16);
    width: 16px;
    height: 16px;
    color: var(--dropdown-icon);
    pointer-events: none;
    display: none;
  }

  &--selected {
    background: var(--dropdown-option-background-selected);

    .tl-icon--tick {
      display: inline-flex;
    }
  }

  &--visible {
    display: flex;
  }

  &:not(&--visible) {
    display: none;
  }

  &--disabled {
    color: var(--dropdown-disabled);
    cursor: not-allowed;
    background: var(--dropdown-background);

    &:hover {
      background: var(--dropdown-background);
    }

    .tl-checkbox__label {
      color: var(--dropdown-disabled);
    }
  }

  &--no-result {
    color: var(--dropdown-disabled);
  }

  .tl-checkbox {
    pointer-events: none;
  }

  &:not(.tl-dropdown__option--disabled) .tl-checkbox__label {
    color: var(--dropdown-text);
  }
}

/* Helper */
.tl-dropdown__helper {
  @include detail-05;

  color: var(--dropdown-helper-text);
  padding-top: 4px;
  display: flex;
  gap: 8px;

  .tl-dropdown--disabled & {
    color: var(--color-foreground-text-disabled);
  }
}

.tl-dropdown--error:not(.tl-dropdown--disabled) {
  --dropdown-border: var(--dropdown-border-error);
  --dropdown-border-hover: var(--dropdown-border-error-hover);
  --dropdown-helper-text: var(--dropdown-error);
}

/* Value & placeholder */
.tl-dropdown__button-value,
.tl-dropdown__button-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 52px);
}

.tl-dropdown__button-value:not(:empty),
.tl-dropdown__button-placeholder:not(:empty) {
  display: inline;
  position: absolute;
}

.tl-dropdown:has(.tl-dropdown__button-value:not(:empty)) .tl-dropdown__button-placeholder {
  display: none;
}

.tl-dropdown--sm.tl-dropdown--label-inside .tl-dropdown__button-value:not(:empty) {
  position: absolute;
  top: 12px;
}

.tl-dropdown__button-placeholder,
.tl-dropdown__input::placeholder,
.tl-dropdown:has(.tl-dropdown__select option[value='']:checked) .tl-dropdown__select {
  color: var(--dropdown-placeholder);
  border-radius: var(--dropdown-border-radius);
  box-shadow: none;
  transition: box-shadow 0.2s;
}

.tl-dropdown--disabled .tl-dropdown__button-placeholder,
.tl-dropdown:has(.tl-dropdown__select option[value='']:checked) .tl-dropdown__select:disabled {
  color: var(--dropdown-disabled);
  cursor: not-allowed;
}

.tl-dropdown:not(.tl-dropdown--label-inside) .tl-dropdown__input:disabled::placeholder {
  color: var(--dropdown-disabled);
  cursor: not-allowed;
}

.tl-dropdown__button-placeholder {
  padding-top: 2px;
}

.tl-dropdown__input::placeholder {
  transform: translateY(0.5px);
}

.tl-dropdown--label-inside .tl-dropdown__button-value:not(:empty) {
  position: relative;
  display: inline;
}

/* Brand variants */
:is(.traton, .scania) .tl-dropdown__select {
  box-shadow: none;

  &:hover {
    border-color: var(--color-foreground-border-strong);
  }

  &:focus-visible {
    border-width: 2px;
    border-color: var(--color-foreground-border-accent-focus);
  }

  &:active {
    border-color: var(--color-foreground-border-strong);
  }
}

.traton .tl-dropdown__select {
  border: 1px solid var(--color-foreground-border-soft);
}

.scania .tl-dropdown__select {
  border-bottom: 1px solid var(--color-foreground-border-soft);
}

:is(.traton, .scania) .tl-dropdown--error .tl-dropdown__select {
  border-color: var(--dropdown-error);

  &:focus-visible {
    border-color: var(--dropdown-error-focus);
  }
}
