tds-table {
  /* Table-text */
  --table-text: var(--color-foreground-text-strong);

  /* Table-body-cell */
  --table-body-cell-hover: var(--component-table-cell-hover);

  /* Table-body-row */
  --table-body-row: var(--component-table-cell);
  --table-body-row-hover: var(--component-table-cell-hover);
  --table-zebra-mode: var(--component-table-secondary-cell);

  &.tds-mode-variant-primary {
    --table-body-row: var(--component-table-cell);
    --table-body-row-hover: var(--component-table-cell-hover);
    --table-zebra-mode: var(--component-table-secondary-cell);
  }

  &.tds-mode-variant-secondary {
    --table-body-row: var(--component-table-secondary-cell);
    --table-body-row-hover: var(--component-table-cell-hover);
    --table-zebra-mode: var(--component-table-cell);
  }

  --table-body-row-selected: var(--color-background-surface-300);
  --table-body-row-selected-hover: var(--color-background-surface-400);

  /* Table input body */
  --table-input-focus: var(--color-background-layer-02);
  --table-input-hover: var(--color-background-layer-03);
  --table-input-disabled: var(--color-background-layer-01);
  --table-input-text-disabled: var(--color-foreground-text-subtle);

  /* Table input header */
  --table-input-header-icon: var(--color-foreground-icon-soft);
  --table-input-header-placeholder: var(--color-foreground-text-subtle);
  --table-input-header-focus: var(--color-background-layer-01);

  /* Table-footer */
  --table-footer: var(--component-table-pagination-base);
  --table-footer-page-selector-input: var(--component-table-pagination-dropdown);
  --table-footer-page-selector-input-hover: var(--color-background-layer-03);
  --table-footer-page-selector-input-disabled: var(--color-background-layer-01);
  --table-footer-page-selector-icon: var(--color-foreground-icon-strong);
  --table-footer-page-selector-icon-disabled: var(--color-foreground-icon-disabled);
  --table-footer-btn-hover: var(--color-background-surface-300);

  /* Table-header */
  --table-header: var(--color-background-surface-300);
  --table-header-hover: var(--color-background-surface-400);
  --table-header-button: var(--color-background-surface-200);
  --table-header-button-hover: var(--color-background-surface-300);
  --table-header-button-focus: var(--color-foreground-border-accent-focus);

  /* Table-toolbar */
  --table-toolbar: var(--color-background-surface-400);
  --table-toolbar-searchbar: var(--component-table-pagination-dropdown);
  --table-toolbar-searchbar-hover: var(--component-table-pagination-base);

  /* Divider */
  --table-divider: var(--color-foreground-border-discrete);

  /* Table-header-input-wrapper */
  --table-input-search-icon: var(--color-foreground-icon-strong);
}
