:root {
  /* Table-color */
  --table-color: var(--tds-grey-958);

  /* Table-body-cell */
  --table-body-cell-background-hover: var(--tds-grey-200);

  /* Table-body-row */
  --table-body-row-background: var(--tds-grey-50);
  --table-body-row-background-hover: var(--tds-grey-200);
  --table-zebra-mode-backround: var(--tds-white);

  .tds-mode-variant-primary {
    --table-body-row-background: var(--tds-grey-50);
    --table-body-row-background-hover: var(--tds-grey-200);
    --table-zebra-mode-backround: var(--tds-white);
  }

  .tds-mode-variant-secondary {
    --table-body-row-background: var(--tds-white);
    --table-body-row-background-hover: var(--tds-grey-100);
    --table-zebra-mode-backround: var(--tds-grey-50);
  }

  --table-body-row-background-selected: var(--tds-grey-300);
  --table-body-row-background-selected-hover: var(--tds-grey-400);

  /* Table input */
  --table-input-background: var(--tds-grey-50);
  --table-input-background-focus: var(--tds-white);
  --table-input-background-hover: rgb(13 15 19 / 5%);
  --table-input-background-disabled: var(--tds-grey-600);
  --table-input-header-icon: var(--tds-grey-700);
  --table-input-header-placeholder: var(--tds-grey-700);
  --table-input-header-background-focus: var(--tds-white);

  /* Table-footer */
  --table-footer-background: var(--tds-grey-100);
  --table-footer-page-selector-input-background: var(--tds-grey-50);
  --table-footer-page-selector-input-background-hover: var(--tds-white);
  --table-footer-page-selector-input-background-disabled: var(--tds-grey-600);
  --table-footer-page-selector-icon: var(--tds-grey-958);
  --table-footer-page-selector-icon-disabled: var(--tds-grey-600);
  --table-footer-btn-hover: var(--tds-grey-300);

  /* Table-header */
  --table-header-background: var(--tds-grey-300);
  --table-header-background-hover: var(--tds-grey-400);
  --table-header-btn-color: var(--tds-grey-958);
  --table-header-btn-background: var(--tds-grey-500);
  --table-header-btn-background-hover: var(--tds-grey-600);
  --table-header-btn-focus: var(--tds-blue-400);

  /* Table-toolbar */
  --table-toolbar-background: var(--tds-grey-400);
  --table-toolbar-searchbar-background: var(--tds-grey-50);
  --table-toolbar-searchbar-background-hover: var(--tds-grey-300);

  /* Divider */
  --table-divider: var(
    --tds-grey-400
  ); // light divider is grey-300 but expandable row is the same color when selected

  /* Table-header-input-wrapper */
  --table-input-search-icon: var(--tds-grey-700);
}
