// TODO - Investigate whether or not this should instead be a Web Component.
@import '../../mixins/box-sizing';

tds-popover-core {
  padding: 16px 6px !important;
}

ul.tds-popover-menu-wrapper {
  @include tds-box-sizing;

  list-style-type: none;
  margin: 0;
  margin-block: 0;
  padding: 0;

  tds-divider {
    display: block;
    padding: 6px;
  }
}
