tds-link {
  --link: var(--color-foreground-text-accent-default);
  --link-hover: var(--color-foreground-text-accent-default);
  --link-focus-outline: 2px solid var(--color-foreground-text-accent-default);
  --link-visited: var(--color-foreground-text-accent-default);
  --link-disabled: var(--color-foreground-text-disabled);

  tds-icon {
    padding-bottom: 4px;
    padding-left: 5px;
  }
}

tds-banner {
  tds-link {
    --link: var(--color-system-info-default);
  }
}

tds-toast tds-link {
  --link: var(--color-system-info-default);
  --link-hover: var(--color-foreground-text-accent-default);
}

.traton {
  tds-link {
    --link-focus-outline: 4px solid var(--color-foreground-text-accent-default);
  }
}
