:root,
.tds-mode-light {
  --tds-link: var(--tds-blue-500);
  --tds-link-hover: var(--tds-blue-400);
  --tds-link-focus: var(--tds-blue-400);
  --tds-link-visited: var(--tds-grey-900);
  --tds-link-disabled: var(--tds-grey-400);
}

.tds-mode-dark {
  --tds-link: var(--tds-blue-300);
  --tds-link-hover: var(--tds-blue-400);
  --tds-link-focus: var(--tds-blue-400);
  --tds-link-visited: var(--tds-blue-100);
  --tds-link-disabled: var(--tds-grey-800);
}
