@import '../../../../../typography/utilities/typography-utility';
@import '../../mixins/focus-state';

:host {
  display: inline;

  ::slotted(*) {
    all: unset;
    cursor: pointer;
    outline: none;
    color: var(--link);
    text-decoration: underline;
  }

  ::slotted(*:focus-visible) {
    @include tds-focus-state;

    outline-width: var(--link-focus-outline-width);
    color: var(--link);
    text-decoration: none;
  }

  ::slotted(*:active) {
    color: var(--link);
    text-decoration: underline;
    text-decoration-color: var(--link);
  }

  ::slotted(*:hover) {
    color: var(--link-hover);
    text-decoration: underline;
    text-decoration-color: var(--link-hover);
  }

  ::slotted(*:visited) {
    color: var(--link-visited);
    text-decoration-color: var(--link-visited);
  }
}

.disabled {
  ::slotted(*),
  ::slotted(*:visited) {
    color: var(--link-disabled);
    text-decoration-color: var(--link-disabled);
    pointer-events: none;
  }
}

.no-underline {
  ::slotted(*) {
    text-decoration: none;
  }
}

.no-underline {
  &:hover {
    ::slotted(*) {
      text-decoration: none;
    }
  }
}

.standalone {
  ::slotted(*) {
    @include detail-02;
  }
}
