:host {
  display: inline;

  ::slotted(*) {
    all: unset;
    cursor: pointer;
    outline: none;
    color: var(--tds-link);
    text-decoration: underline;
  }

  ::slotted(*:hover) {
    color: var(--tds-link-hover);
    text-decoration: none;
  }

  .no-underline {
    ::slotted(*) {
      text-decoration: none;
    }
  }

  .no-underline {
    ::slotted(*:hover) {
      color: var(--tds-link-hover);
      text-decoration: underline;
      text-decoration-color: var(--tds-link-hover);
    }
  }

  ::slotted(*:focus-visible) {
    color: var(--tds-link-focus);
    text-decoration: none;
    box-shadow: 0 0 0 1px var(--tds-white), 0 0 0 3px var(--tds-link-focus);
  }

  ::slotted(*:active) {
    color: var(--tds-link);
    text-decoration: underline;
    text-decoration-color: var(--tds-link);
  }

  ::slotted(*:visited) {
    color: var(--tds-link-visited);
    text-decoration-color: var(--tds-link-visited);
  }
}

.disabled {
  ::slotted(*),
  ::slotted(*:visited) {
    color: var(--tds-link-disabled);
    text-decoration-color: var(--tds-link-disabled);
    pointer-events: none;
  }
}

.standalone {
  ::slotted(*) {
    font: var(--tds-detail-02);
    letter-spacing: var(--tds-detail-02-ls);
  }
}
