tds-link {
  --tds-link: var(--color-system-info-default);
  --tds-link-hover: var(--color-system-info-default);
  --tds-link-focus: var(--color-system-info-default);
  --tds-link-visited: var(--color-system-info-defined);
  --tds-link-disabled: var(--color-text-disabled);

  tds-icon {
    padding-bottom: 4px;
    padding-left: 5px;
  }
}

tds-toast tds-link {
  --tds-link: var(--color-text-inverse-strong);
}

tds-banner tds-link {
  --tds-link: var(--color-text-strong);
}
