:host {
  display: block;
  font: var(--tds-headline-07);
  letter-spacing: var(--tds-headline-07-ls);
  color: var(--tds-sidebar-side-menu-single-item-color);

  .subheading {
    color: var(--tds-grey-500);
  }
}
