// TODO - Check hover states
:root,
.tds-mode-light {
  --tds-footer-top-background-primary: var(--tds-grey-50);
  --tds-footer-top-background-secondary: var(--tds-white);
  --tds-footer-top-background: var(--tds-footer-top-background-primary);
  --tds-footer-top-divider: var(--tds-grey-300);
  --tds-footer-top-links: var(--tds-blue-800);
  --tds-footer-top-links-background-hover: var(--tds-grey-300);
  --tds-footer-top-button-active: var(--tds-grey-300);
  --tds-footer-top-links-opacity: 0.87;
  --tds-footer-top-links-opacity-hover: 0.38;
  --tds-footer-top-title-opacity-mobile: 0.87;
  --tds-footer-top-title-opacity: 0.6;
  --tds-footer-main-background: var(--tds-blue-800);
  --tds-footer-main-links: var(--tds-white);
  --tds-footer-main-divider: var(--tds-blue-600);
  --tds-footer-main-links-opacity: 0.87;
  --tds-footer-main-copyright: rgb(255 255 255 / 60%);

  .tds-mode-variant-primary {
    --tds-footer-top-background: var(--tds-footer-top-background-primary);
  }

  .tds-mode-variant-secondary {
    --tds-footer-top-background: var(--tds-footer-top-background-secondary);
  }
}

.tds-mode-dark {
  --tds-footer-top-background-primary: var(--tds-grey-868);
  --tds-footer-top-background: var(--tds-footer-top-background-primary);
  --tds-footer-top-divider: var(--tds-grey-800);
  --tds-footer-top-links: var(--tds-grey-50);
  --tds-footer-top-links-background-hover: var(--tds-grey-700);
  --tds-footer-top-button-active: var(--tds-grey-700);
  --tds-footer-top-links-opacity: 0.87;
  --tds-footer-top-links-opacity-hover: 0.38;
  --tds-footer-top-title-opacity-mobile: 0.87;
  --tds-footer-top-title-opacity: 0.6;
  --tds-footer-main-background: var(--tds-blue-900);
  --tds-footer-main-links: var(--tds-white);
  --tds-footer-main-divider: var(--tds-blue-600);
  --tds-footer-main-links-opacity: 0.87;
  --tds-footer-main-copyright: rgb(255 255 255 / 60%);

  .tds-mode-variant-primary,
  .tds-mode-variant-secondary {
    --tds-footer-top-background: var(--tds-footer-top-background-primary);
  }
}
