@use '../../../mixins/box-sizing' as *;
@use '../../../mixins/_focus-state' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

:host {
  @include tds-box-sizing;

  display: block;

  .wrapper {
    @include body-01;

    color: var(--tds-popover-menu-color);
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    transition: background-color var(--tds-motion-duration-fast-02) var(--tds-motion-easing-easy);

    &:hover {
      cursor: pointer;
      background-color: var(--tds-popover-menu-background-hover);
      color: var(--tds-popover-menu-color-hover);
    }

    &.disabled {
      cursor: not-allowed;
      opacity: var(--tds-popover-menu-opacity-disabled);

      &:hover {
        background-color: inherit;
      }

      ::slotted(*) {
        pointer-events: none;
      }

      ::slotted(*:focus-visible) {
        &::before {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
    }
  }

  ::slotted(*:not(tds-icon)) {
    all: unset;
    width: 100%;
    display: inline-flex;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
  }

  ::slotted(*:focus-visible) {
    &::before {
      @include tds-focus-state-menu-item;

      content: '';
      display: block;
      position: absolute;
      width: calc(100% - 5px);
      height: 100%;
      left: 1px;
    }
  }
}
