/* Typography Usage mixins */

@mixin display-01 {
  font-family: var(--display-01-font-family);
  font-size: var(--display-01-font-size);
  line-height: var(--display-01-line-height);
  font-weight: var(--display-01-font-weight);
  letter-spacing: var(--display-01-letter-spacing);
  text-transform: var(--display-01-text-transform);
}

@mixin display-02 {
  font-family: var(--display-02-font-family);
  font-size: var(--display-02-font-size);
  line-height: var(--display-02-line-height);
  font-weight: var(--display-02-font-weight);
  letter-spacing: var(--display-02-letter-spacing);
  text-transform: var(--display-02-text-transform);
}

@mixin display-03 {
  font-family: var(--display-03-font-family);
  font-size: var(--display-03-font-size);
  line-height: var(--display-03-line-height);
  font-weight: var(--display-03-font-weight);
  letter-spacing: var(--display-03-letter-spacing);
  text-transform: var(--display-03-text-transform);
}

@mixin display-04 {
  font-family: var(--display-03-font-family);
  font-size: var(--display-03-font-size);
  line-height: var(--display-03-line-height);
  font-weight: var(--display-03-font-weight);
  letter-spacing: var(--display-03-letter-spacing);
  text-transform: var(--display-03-text-transform);
}

@mixin display-05 {
  font-family: var(--display-05-font-family);
  font-size: var(--display-05-font-size);
  line-height: var(--display-05-line-height);
  font-weight: var(--display-05-font-weight);
  letter-spacing: var(--display-05-letter-spacing);
  text-transform: var(--display-05-text-transform);
}

@mixin headline-01 {
  font-family: var(--headline-01-font-family);
  font-size: var(--headline-01-font-size);
  line-height: var(--headline-01-line-height);
  font-weight: var(--headline-01-font-weight);
  letter-spacing: var(--headline-01-letter-spacing);
  text-transform: var(--headline-01-text-transform);
}

@mixin headline-02 {
  font-family: var(--headline-02-font-family);
  font-size: var(--headline-02-font-size);
  line-height: var(--headline-02-line-height);
  font-weight: var(--headline-02-font-weight);
  letter-spacing: var(--headline-02-letter-spacing);
  text-transform: var(--headline-02-text-transform);
}

@mixin headline-03 {
  font-family: var(--headline-03-font-family);
  font-size: var(--headline-03-font-size);
  line-height: var(--headline-03-line-height);
  font-weight: var(--headline-03-font-weight);
  letter-spacing: var(--headline-03-letter-spacing);
  text-transform: var(--headline-03-text-transform);
}

@mixin headline-04 {
  font-family: var(--headline-04-font-family);
  font-size: var(--headline-04-font-size);
  line-height: var(--headline-04-line-height);
  font-weight: var(--headline-04-font-weight);
  letter-spacing: var(--headline-04-letter-spacing);
  text-transform: var(--headline-04-text-transform);
}

@mixin headline-05 {
  font-family: var(--headline-05-font-family);
  font-size: var(--headline-05-font-size);
  line-height: var(--headline-05-line-height);
  font-weight: var(--headline-05-font-weight);
  letter-spacing: var(--headline-05-letter-spacing);
  text-transform: var(--headline-05-text-transform);
}

@mixin headline-06 {
  font-family: var(--headline-06-font-family);
  font-size: var(--headline-06-font-size);
  line-height: var(--headline-06-line-height);
  font-weight: var(--headline-06-font-weight);
  letter-spacing: var(--headline-06-letter-spacing);
  text-transform: var(--headline-06-text-transform);
}

@mixin title-01 {
  font-family: var(--title-01-font-family);
  font-size: var(--title-01-font-size);
  line-height: var(--title-01-line-height);
  font-weight: var(--title-01-font-weight);
  letter-spacing: var(--title-01-letter-spacing);
  text-transform: var(--title-01-text-transform);
}

@mixin title-02 {
  font-family: var(--detail-06-font-family);
  font-size: var(--detail-06-font-size);
  line-height: var(--detail-06-line-height);
  font-weight: var(--detail-06-font-weight);
  letter-spacing: var(--detail-06-letter-spacing);
  text-transform: var(--detail-06-text-transform);
}

@mixin paragraph-01 {
  font-family: var(--paragraph-01-font-family);
  font-size: var(--paragraph-01-font-size);
  line-height: var(--paragraph-01-line-height);
  font-weight: var(--paragraph-01-font-weight);
  letter-spacing: var(--paragraph-01-letter-spacing);
  text-transform: var(--paragraph-01-text-transform);
}

@mixin paragraph-02 {
  font-family: var(--paragraph-02-font-family);
  font-size: var(--paragraph-02-font-size);
  line-height: var(--paragraph-02-line-height);
  font-weight: var(--paragraph-02-font-weight);
  letter-spacing: var(--paragraph-02-letter-spacing);
  text-transform: var(--paragraph-02-text-transform);
}

@mixin body-01 {
  font-family: var(--body-01-font-family);
  font-size: var(--body-01-font-size);
  line-height: var(--body-01-line-height);
  font-weight: var(--body-01-font-weight);
  letter-spacing: var(--body-01-letter-spacing);
  text-transform: var(--body-01-text-transform);
}

@mixin body-02 {
  font-family: var(--body-02-font-family);
  font-size: var(--body-02-font-size);
  line-height: var(--body-02-line-height);
  font-weight: var(--body-02-font-weight);
  letter-spacing: var(--body-02-letter-spacing);
  text-transform: var(--body-02-text-transform);
}

@mixin body-link-01 {
  font-family: var(--body-link-01-font-family);
  font-size: var(--body-link-01-font-size);
  line-height: var(--body-link-01-line-height);
  font-weight: var(--body-link-01-font-weight);
  letter-spacing: var(--body-link-01-letter-spacing);
  text-transform: var(--body-link-01-text-transform);
}

@mixin body-link-02 {
  font-family: var(--body-link-02-font-family);
  font-size: var(--body-link-02-font-size);
  line-height: var(--body-link-02-line-height);
  font-weight: var(--body-link-02-font-weight);
  letter-spacing: var(--body-link-02-letter-spacing);
  text-transform: var(--body-link-02-text-transform);
}

@mixin text-01 {
  font-family: var(--text-01-font-family);
  font-size: var(--text-01-font-size);
  line-height: var(--text-01-line-height);
  font-weight: var(--text-01-font-weight);
  letter-spacing: var(--text-01-letter-spacing);
  text-transform: var(--text-01-text-transform);
}

@mixin text-02 {
  font-family: var(--text-02-font-family);
  font-size: var(--text-02-font-size);
  line-height: var(--text-02-line-height);
  font-weight: var(--text-02-font-weight);
  letter-spacing: var(--text-02-letter-spacing);
  text-transform: var(--text-02-text-transform);
}

@mixin label-01 {
  font-family: var(--label-01-font-family);
  font-size: var(--label-01-font-size);
  line-height: var(--label-01-line-height);
  font-weight: var(--label-01-font-weight);
  letter-spacing: var(--label-01-letter-spacing);
  text-transform: var(--label-01-text-transform);
}

@mixin label-02 {
  font-family: var(--label-02-font-family);
  font-size: var(--label-02-font-size);
  line-height: var(--label-02-line-height);
  font-weight: var(--label-02-font-weight);
  letter-spacing: var(--label-02-letter-spacing);
  text-transform: var(--label-02-text-transform);
}
