.tl-textarea {
  // Background
  --textarea-background-primary: var(--color-background-layer-01);
  --textarea-background-secondary: var(--color-background-layer-02);
  --textarea-background: var(--textarea-background-primary);
  --textarea-text: var(--color-foreground-text-strong);
  --textarea-disabled-background: var(--textarea-background-primary);

  // Disabled
  --textarea-disabled-text: var(--color-foreground-text-disabled);
  --textarea-disabled-placeholder: var(--color-foreground-text-disabled);
  --textarea-disabled-label: var(--color-foreground-text-disabled);

  // Label
  --textarea-label: var(--color-foreground-text-strong);
  --textarea-label-inside: var(--color-foreground-text-strong);
  --textarea-label-inside-left: 16px;

  // Placeholder
  --textarea-placeholder: var(--color-foreground-text-subtle);

  // Helper
  --textarea-helper: var(--color-foreground-text-defined);

  // Error
  --textarea-error: var(--color-system-danger-default);

  // Textcounter
  --textarea-textcounter: var(--color-foreground-text-defined);

  // Resize
  --textarea-resize-icon: var(--color-foreground-text-subtle);

  &--primary {
    --textarea-background: var(--textarea-background-primary);
    --textarea-disabled-background: var(--textarea-background-primary);
  }

  &--secondary {
    --textarea-background: var(--textarea-background-secondary);
    --textarea-disabled-background: var(--textarea-background-secondary);
  }
}

.tl-textarea,
.scania .tl-textarea {
  // Border radius
  --textarea-border-radius: 4px 4px 0 0;

  // Box shadow states
  --textarea-box-shadow: 0 -1px 0 0 var(--color-foreground-border-soft);
  --textarea-box-shadow-hover: 0 -1px 0 0 var(--color-foreground-border-strong);
  --textarea-box-shadow-focus: 0 -2px 0 0 var(--color-foreground-border-accent-focus);
  --textarea-box-shadow-error: 0 -1px 0 0 var(--color-system-danger-default);
  --textarea-box-shadow-error-hover: 0 -1px 0 0 var(--color-system-danger-default);
  --textarea-box-shadow-error-focus: 0 -2px 0 0 var(--color-system-danger-default);
  --textarea-box-shadow-success: 0 -1px 0 0 var(--color-foreground-border-strong);
}

.traton .tl-textarea {
  // Border radius
  --textarea-border-radius: 4px;

  // Box shadow states
  --textarea-box-shadow: 0 0 0 1px var(--color-foreground-border-soft);
  --textarea-box-shadow-hover: 0 0 0 1px var(--color-foreground-border-strong);
  --textarea-box-shadow-focus: 0 0 0 2px var(--color-foreground-border-accent-focus);
  --textarea-box-shadow-error: 0 0 0 1px var(--color-system-danger-default);
  --textarea-box-shadow-error-hover: 0 0 0 1px var(--color-system-danger-default);
  --textarea-box-shadow-error-focus: 0 0 0 2px var(--color-system-danger-default);
  --textarea-box-shadow-success: 0 0 0 1px var(--color-foreground-border-strong);
}
