tds-tag {
  //* Success *//
  --tds-tag-success-background: var(--component-tag-background-success-default);
  --tds-tag-success-color: var(--component-tag-text-success-default);

  //* Warning *//
  --tds-tag-warning-background: var(--component-tag-background-warning-default);
  --tds-tag-warning-color: var(--component-tag-text-warning-default);

  //* New (token name: featured) *//
  --tds-tag-new-background: var(--component-tag-background-featured-default);
  --tds-tag-new-color: var(--component-tag-text-featured-default);

  //* Neutral *//
  --tds-tag-neutral-background: var(--component-tag-background-neutral-default);
  --tds-tag-neutral-color: var(--component-tag-text-neutral-default);

  //* Information *//
  --tds-tag-information-background: var(--component-tag-background-information-default);
  --tds-tag-information-color: var(--component-tag-text-information-default);

  //* Error *//
  --tds-tag-error-background: var(--component-tag-background-error-default);
  --tds-tag-error-color: var(--component-tag-text-error-default);

  //* Border radius *//
  --tds-tag-border-radius: calc(var(--component-tag-border-radius-default) * 1px);
}
