@use '../../../../../../tokens/scss/component/card';

.tl-card {
  --card-background: var(--component-card-background-primary-default);
  --card-border-radius: calc(var(--component-card-border-radius-default) * 1px);
  --card-box-primary: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --card-box-secondary: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 10%);
  --card-box: var(--card-box-primary);
  --card-box-hover: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 20%);
  --card-box-pressed: 0 -1px 1px rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 20%);
  --card-headline: var(--component-card-text-title-default);
  --card-sub-headline: var(--component-card-text-subtitle-default);
  --card-body-color: var(--component-card-text-body-default);
  --card-divider: var(--color-border-soft);
  --card-icon-color: var(--component-card-text-title-default);
  --card-body-padding: 0 16px;
  --card-header-padding: 16px;
  --card-slotted-padding: 16px;
  --card-divider-margin: 16px 16px 0;

  &--primary {
    --card-box: var(--card-box-primary);
    --card-background: var(--component-card-background-primary-default);
  }

  &--secondary {
    --card-box: var(--card-box-secondary);
    --card-background: var(--component-card-background-secondary-default);
  }
}

.tds-mode-dark .tl-card,
.tl-mode-dark .tl-card {
  --card-box-primary: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 10%);
  --card-box-secondary: 0 3px 3px rgb(0 0 0 / 10%), 0 -1px 1px rgb(0 0 0 / 5%);
}

.traton .tl-card {
  --card-box: none;
  --card-box-hover: none;
  --card-box-pressed: none;
  --card-body-padding: 0;
  --card-header-padding: 16px 16px 16px 0;
  --card-slotted-padding: 16px 16px 16px 0;
  --card-divider-margin: 16px 0 0;

  &--primary {
    --card-box: none;
    --card-background: var(--component-card-background-primary-default);
  }

  &--secondary {
    --card-box: none;
    --card-background: var(--component-card-background-secondary-default);
  }
}
