.tl-card {
  --card-background: var(--tds-white);
  --card-background-primary: var(--component-card-primary);
  --card-background-secondary: var(--component-card-secondary);
  --card-box-primary: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --card-box-secondary: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 10%);
  --card-box: var(--card-box-primary); //box shadow
  --card-box-hover: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 20%);
  --card-box-pressed: 0 -1px 1px rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 20%);
  --card-headline: var(--color-foreground-text-strong);
  --card-sub-headline: var(--color-foreground-text-subtle);
  --card-body-color: var(--color-foreground-text-defined);
  --card-divider: var(--color-foreground-border-discrete);
  --card-icon-color: var(--color-foreground-icon-strong);

  /* Paddings */
  --card-body-padding: 0 16px;
  --card-header-padding: 16px;
  --card-slotted-padding: 16px;
  --card-divider-margin: 16px 16px 0;
}

.tds-mode-variant-primary .tl-card,
.tl-mode-variant-primary .tl-card {
  --card-box: var(--card-box-primary);
}

.tds-mode-variant-secondary .tl-card,
.tl-mode-variant-secondary .tl-card {
  --card-box: var(--card-box-secondary);
}

.scania .tds-mode-variant-primary .tl-card,
.scania .tl-mode-variant-primary .tl-card {
  --card-box: var(--card-box-primary);
}

.scania .tds-mode-variant-secondary .tl-card,
.scania .tl-mode-variant-secondary .tl-card {
  --card-box: var(--card-box-primary);
}

.traton .tl-card {
  --card-box: none;
  --card-background: transparent;
  --card-box-hover: none;
  --card-box-pressed: none;

  /* Paddings and margins */
  --card-body-padding: 0;
  --card-header-padding: 16px 16px 16px 0;
  --card-slotted-padding: 16px 16px 16px 0;
  --card-divider-margin: 16px 0 0;
}

.traton .tds-mode-variant-primary .tl-card,
.traton .tl-mode-variant-primary .tl-card {
  --card-box: none;
  --card-background: transparent;
}

.traton .tds-mode-variant-secondary .tl-card,
.traton .tl-mode-variant-secondary .tl-card {
  --card-box: none;
  --card-background: transparent;
}

/* Dark mode */
.tds-mode-dark,
.tl-mode-dark {
  --card-background-primary: var(--tds-grey-900);
  --card-background-secondary: var(--tds-grey-850);

  .tl-card,
  .tds-card {
    --card-background: var(--card-background-primary);
  }
}

.tds-mode-dark.tds-mode-variant-primary .tl-card,
.tl-mode-dark.tds-mode-variant-primary .tl-card,
.tds-mode-dark.tl-mode-variant-primary .tl-card,
.tl-mode-dark.tl-mode-variant-primary .tl-card,
.tds-mode-dark.tds-mode-variant-primary .tds-card,
.tl-mode-dark.tds-mode-variant-primary .tds-card,
.tds-mode-dark.tl-mode-variant-primary .tds-card,
.tl-mode-dark.tl-mode-variant-primary .tds-card {
  --card-box: var(--card-box-primary);
  --card-background: var(--card-background-primary);
}

.tds-mode-dark.tds-mode-variant-secondary .tl-card,
.tl-mode-dark.tds-mode-variant-secondary .tl-card,
.tds-mode-dark.tl-mode-variant-secondary .tl-card,
.tl-mode-dark.tl-mode-variant-secondary .tl-card,
.tds-mode-dark.tds-mode-variant-secondary .tds-card,
.tl-mode-dark.tds-mode-variant-secondary .tds-card,
.tds-mode-dark.tl-mode-variant-secondary .tds-card,
.tl-mode-dark.tl-mode-variant-secondary .tds-card {
  --card-box: var(--card-box-primary);
  --card-background: var(--card-background-secondary);
}

.traton .tds-mode-dark.tds-mode-variant-primary .tl-card,
.traton .tl-mode-dark.tds-mode-variant-primary .tl-card,
.traton .tds-mode-dark.tl-mode-variant-primary .tl-card,
.traton .tl-mode-dark.tl-mode-variant-primary .tl-card,
.traton .tds-mode-dark.tds-mode-variant-primary .tds-card,
.traton .tl-mode-dark.tds-mode-variant-primary .tds-card,
.traton .tds-mode-dark.tl-mode-variant-primary .tds-card,
.traton .tl-mode-dark.tl-mode-variant-primary .tds-card {
  --card-background: transparent;
}

.traton .tds-mode-dark.tds-mode-variant-secondary .tl-card,
.traton .tl-mode-dark.tds-mode-variant-secondary .tl-card,
.traton .tds-mode-dark.tl-mode-variant-secondary .tl-card,
.traton .tl-mode-dark.tl-mode-variant-secondary .tl-card,
.traton .tds-mode-dark.tds-mode-variant-secondary .tds-card,
.traton .tl-mode-dark.tds-mode-variant-secondary .tds-card,
.traton .tds-mode-dark.tl-mode-variant-secondary .tds-card,
.traton .tl-mode-dark.tl-mode-variant-secondary .tds-card {
  --card-background: transparent;
}
