.tl-datetime {
  // Colors - Base
  --datetime-background-primary: var(--color-background-layer-01);
  --datetime-background-secondary: var(--color-background-layer-02);
  --datetime-background: var(--datetime-background-primary);
  --datetime-text: var(--color-foreground-text-strong);
  --datetime-icon: var(--color-foreground-icon-strong);
  --datetime-placeholder: var(--color-foreground-text-subtle);

  // Disabled
  --datetime-background-disabled-primary: var(--color-background-layer-01);
  --datetime-background-disabled-secondary: var(--color-background-layer-02);
  --datetime-background-disabled: var(--datetime-background-disabled-primary);
  --datetime-text-disabled: var(--color-foreground-text-subtle);
  --datetime-placeholder-disabled: var(--color-foreground-text-subtle);
  --datetime-label-disabled: var(--color-foreground-text-subtle);
  --datetime-icon-disabled: var(--color-foreground-text-subtle);

  // Label
  --datetime-label: var(--color-foreground-text-strong);
  --datetime-label-inside: var(--color-foreground-text-strong);
  --datetime-placeholder-focus: var(--tds-grey-500);

  // Highlight bar
  --datetime-highlight-bar: var(--color-foreground-border-accent-focus);

  // helper
  --datetime-helper: var(--color-foreground-text-defined);

  // error
  --datetime-helper-error: var(--color-system-danger-default);
  --datetime-icon-error: var(--color-system-danger-default);

  &--primary {
    --datetime-background: var(--datetime-background-primary);
    --datetime-background-disabled: var(--datetime-background-disabled-primary);
  }

  &--secondary {
    --datetime-background: var(--datetime-background-secondary);
    --datetime-background-disabled: var(--datetime-background-disabled-secondary);
  }
}

.tl-datetime,
.scania .tl-datetime {
  /* Datetime: units */
  --datetime-border-radius: 4px 4px 0 0;

  /* Datetime: box-shadow */
  --datetime-box-shadow: 0 -1px 0 0 var(--color-foreground-border-soft);
  --datetime-box-shadow-hover: 0 -1px 0 0 var(--color-foreground-border-strong);
  --datetime-box-shadow-focus: 0 -2px 0 0 var(--color-foreground-border-accent-focus);
  --datetime-box-shadow-error: 0 -1px 0 0 var(--color-system-danger-default);
  --datetime-box-shadow-error-hover: 0 -1px 0 0 var(--color-system-danger-default);
  --datetime-box-shadow-error-focus: 0 -2px 0 0 var(--color-system-danger-default);
  --datetime-highlight: var(--datetime-highlight-bar);
  --datetime-highlight-error: var(--color-system-danger-default);

  /* Datetime: border colors */
  --datetime-border-color-left: transparent;
  --datetime-border-color-right: transparent;
  --datetime-border-color-bottom: var(--color-foreground-border-soft);
  --datetime-border-color-top: transparent;

  /* Datetime: border colors on hover */
  --datetime-border-color-left-hover: transparent;
  --datetime-border-color-right-hover: transparent;
  --datetime-border-color-bottom-hover: var(--color-foreground-border-strong);
  --datetime-border-color-top-hover: transparent;

  /* Datetime: border colors on success */
  --datetime-border-color-left-success: transparent;
  --datetime-border-color-right-success: transparent;
  --datetime-border-color-bottom-success: var(--color-foreground-border-strong);
  --datetime-border-color-top-success: transparent;

  /* Datetime: border colors on focus */
  --datetime-border-color-left-focus: transparent;
  --datetime-border-color-right-focus: transparent;
  --datetime-border-color-bottom-focus: var(--color-foreground-border-strong);
  --datetime-border-color-top-focus: transparent;
  --datetime-outline-color-focus: none;

  /* Datetime: border colors on error */
  --datetime-border-color-left-error: transparent;
  --datetime-border-color-right-error: transparent;
  --datetime-border-color-bottom-error: var(--color-system-danger-default);
  --datetime-border-color-top-error: transparent;

  /* Datetime: bar colors */
  --datetime-bar-color-focus: var(--color-foreground-border-accent-focus);
  --datetime-bar-color-error: var(--color-system-danger-default);

  /* Datetime: disabled */
  --datetime-disabled-bottom-bar: transparent;
}

.traton .tl-datetime {
  /* Datetime: units */
  --datetime-border-radius: 4px 4px 4px 4px;

  /* Datetime: box-shadow */
  --datetime-box-shadow: 0 0 0 1px var(--color-foreground-border-soft);
  --datetime-box-shadow-hover: 0 0 0 1px var(--color-foreground-border-strong);
  --datetime-box-shadow-focus: 0 0 0 2px var(--color-foreground-border-accent-focus);
  --datetime-box-shadow-error: 0 0 0 1px var(--color-system-danger-default);
  --datetime-box-shadow-error-hover: 0 0 0 1px var(--color-system-danger-default);
  --datetime-box-shadow-error-focus: 0 0 0 2px var(--color-system-danger-default);
  --datetime-highlight: transparent;
  --datetime-highlight-error: transparent;

  /* Datetime: border colors */
  --datetime-border-color-left: var(--color-foreground-border-soft);
  --datetime-border-color-right: var(--color-foreground-border-soft);
  --datetime-border-color-bottom: var(--color-foreground-border-soft);
  --datetime-border-color-top: var(--color-foreground-border-soft);

  /* Datetime: border colors on hover */
  --datetime-border-color-left-hover: var(--color-foreground-border-strong);
  --datetime-border-color-right-hover: var(--color-foreground-border-strong);
  --datetime-border-color-bottom-hover: var(--color-foreground-border-strong);
  --datetime-border-color-top-hover: var(--color-foreground-border-strong);

  /* Datetime: border colors on success */
  --datetime-border-color-left-success: var(--color-foreground-border-strong);
  --datetime-border-color-right-success: var(--color-foreground-border-strong);
  --datetime-border-color-bottom-success: var(--color-foreground-border-strong);
  --datetime-border-color-top-success: var(--color-foreground-border-strong);

  /* Datetime: border colors on focus */
  --datetime-border-color-left-focus: var(--color-foreground-border-accent-focus);
  --datetime-border-color-right-focus: var(--color-foreground-border-accent-focus);
  --datetime-border-color-bottom-focus: var(--color-foreground-border-accent-focus);
  --datetime-border-color-top-focus: var(--color-foreground-border-accent-focus);
  --datetime-outline-color-focus: var(--color-foreground-border-accent-focus);

  /* Datetime: border colors on error */
  --datetime-border-color-left-error: var(--color-system-danger-default);
  --datetime-border-color-right-error: var(--color-system-danger-default);
  --datetime-border-color-bottom-error: var(--color-system-danger-default);
  --datetime-border-color-top-error: var(--color-system-danger-default);

  /* Datetime: bar colors */
  --datetime-bar-color-focus: transparent;
  --datetime-bar-color-error: transparent;

  /* Datetime: disabled */
  --datetime-disabled-bottom-bar: none;
}
