:root,
.tds-mode-light {
  // Banner text color
  --tds-banner-text-color: var(--tds-grey-958);

  // Banner "X" color
  --tds-banner-x-color: var(--tds-black);

  // Type: Default
  --tds-banner-background-default: var(--tds-grey-50);
  --tds-banner-prefix-default-color: var(--tds-grey-700);

  // Type: Info
  --tds-banner-background-info: var(--tds-grey-300);
  --tds-banner-prefix-info-color: var(--tds-blue-400);

  // Type: Error
  --tds-banner-background-error: var(--tds-red-100);
  --tds-banner-prefix-error-color: var(--tds-red-500);
}

.tds-mode-dark {
  // Banner text color
  --tds-banner-text-color: var(--tds-grey-50);

  // Banner "X" color
  --tds-banner-x-color: var(--tds-white);

  // Type: Default
  --tds-banner-background-default: var(--tds-grey-900);
  --tds-banner-prefix-default-color: var(--tds-grey-400);

  // Type: Info
  --tds-banner-background-info: var(--tds-blue-700);
  --tds-banner-prefix-info-color: var(--tds-information);

  // Type: Error
  --tds-banner-background-error: var(--tds-red-900);
  --tds-banner-prefix-error-color: var(--tds-negative);
}
