.tl-breadcrumbs {
  // Colors
  --breadcrumb-label: var(--color-foreground-text-strong);
  --breadcrumb-hover: var(--color-foreground-text-strong);
  --breadcrumb-current: var(--color-foreground-text-subtle);
  --breadcrumb-separator-color: var(--color-foreground-text-subtle);

  // Spacing
  --breadcrumb-separator-margin: 4px;
  --breadcrumb-separator-width: 4px;
  --breadcrumb-separator-height: 8px;
}
