.ag-theme-quartz {
  --ag-browser-color-scheme: light !important; // necessary?
  --ag-font-family: inherit !important;
  --ag-header-font-family: 'Scania Sans Semi Condensed' !important;
  --ag-header-font-size: 14px !important;
  --ag-header-font-weight: 700 !important;
  // --ag-row-vertical-padding-scale: 5;
  --ag-row-height: 200px !important;
  --ag-wrapper-border: none !important;
  --ag-wrapper-border-radius: 4px !important;
}

.tds-mode-light .ag-theme-quartz
// .ag-theme-quartz
{
  --ag-cell-text-color: var(--tds-grey-958) !important;
  --ag-header-background-color: var(--tds-grey-300) !important;
  --ag-header-text-color: var(--tds-grey-958) !important;

  //

  --ag-background-color: var(--tds-grey-50) !important;
  --ag-odd-row-background-color: var(--tds-grey-50) !important;

  --ag-row-hover-color: var(--tds-grey-200) !important;

  /* Primary mode variant variables, light mode */
  .tds-mode-variant-primary {
    // --ag-background-color: var(--tds-grey-50) !important;
    // --ag-odd-row-background-color: var(--tds-grey-50) !important;

    // --ag-row-hover-color: var(--tds-grey-200) !important;
  }

  /* Secondary mode variant variables, light mode */
  .tds-mode-variant-secondary {
  }
}

.tds-mode-dark .ag-theme-quartz {
  /* Dark mode variables */
  --ag-cell-text-color: var(--tds-grey-50) !important;
  --ag-header-background-color: var(--tds-grey-800) !important;
  --ag-header-text-color: var(--tds-grey-50) !important;

  //

  --ag-background-color: var(--tds-grey-868) !important;
  // --ag-background-color: orange !important;
  --ag-odd-row-background-color: var(--tds-grey-868) !important;

  --ag-row-hover-color: var(--tds-grey-846) !important;

  // lägger till detta utan att ha testat i theme builder: {
  --ag-foreground-color: var(--tds-grey-50) !important;
  --ag-header-foreground-color: var(--tds-grey-50) !important;
  // }

  /* Primary mode variant variables, dark mode */
  .tds-mode-variant-primary {
    // --ag-background-color: var(--tds-grey-868) !important;
    // --ag-odd-row-background-color: var(--tds-grey-868) !important;

    // --ag-row-hover-color: var(--tds-grey-846) !important;
  }

  /* Secondary mode variant variables, dark mode */
  .tds-mode-variant-secondary {
  }
}

// .ag-theme-quartz {
//   --ag-browser-color-scheme: light !important; // necessary?
//   --ag-font-family: inherit !important;
//   --ag-header-font-family: 'Scania Sans Semi Condensed' !important;
//   --ag-header-font-size: 14px !important;
//   --ag-header-font-weight: 700 !important;
//   --ag-row-vertical-padding-scale: 1.29 !important;
//   --ag-wrapper-border: none !important;
//   --ag-wrapper-border-radius: 4px !important;

//   background-color: orange !important;

//   --ag-background-color: red !important;
//   --ag-odd-row-background-color: green !important;
// }
