:root {
  --ag-browser-color-scheme: light;
  --ag-font-family: inherit;
  --ag-header-font-family: 'Scania Sans Semi Condensed';
  --ag-header-font-size: 14px;
  --ag-header-font-weight: 700;
  --ag-row-height: 49px;
  --ag-wrapper-border: none;
  --ag-wrapper-border-radius: 4px;
}

:root,
.tds-mode-light {
  /* Light mode variables */
  --ag-cell-text-color: var(--tds-grey-958);
  --ag-header-background-color: var(--tds-grey-200);
  --ag-header-foreground-color: var(--tds-grey-958);
  --ag-header-text-color: var(--tds-grey-958);
  --ag-row-hover-color: var(--tds-grey-200);
  --ag-border-color: var(--tds-grey-400);
  --ag-background-color: var(--tds-grey-50);
  --ag-odd-row-background-color: var(--tds-grey-50);

  /* Primary mode variant variables, light mode */
  .tds-mode-variant-primary {
    --ag-background-color: var(--tds-grey-50);
    --ag-odd-row-background-color: var(--tds-grey-50);
  }

  /* Secondary mode variant variables, light mode */
  .tds-mode-variant-secondary {
    --ag-background-color: var(--tds-white);
    --ag-odd-row-background-color: var(--tds-white);
  }
}

.tds-mode-dark {
  /* Dark mode variables */
  --ag-cell-text-color: var(--tds-grey-50);
  --ag-foreground-color: var(--tds-grey-50);
  --ag-header-background-color: var(--tds-grey-800);
  --ag-header-foreground-color: var(--tds-grey-50);
  --ag-header-text-color: var(--tds-grey-50);
  --ag-row-hover-color: var(--tds-grey-846);
  --ag-border-color: var(--tds-grey-700);
  --ag-background-color: var(--tds-grey-850);
  --ag-odd-row-background-color: var(--tds-grey-850);

  /* Primary mode variant variables, dark mode */
  .tds-mode-variant-primary {
    --ag-background-color: var(--tds-grey-850);
    --ag-odd-row-background-color: var(--tds-grey-850);
  }

  /* Secondary mode variant variables, dark mode */
  .tds-mode-variant-secondary {
    --ag-background-color: var(--tds-grey-900);
    --ag-odd-row-background-color: var(--tds-grey-900);
  }
}
