:root,
.tds-mode-light {
  /* Table-color */
  --tds-table-color: var(--tds-grey-958);

  /* Table-body-cell */
  --tds-table-body-cell-background-hover: var(--tds-grey-200);

  /* Table-body-row */
  --tds-table-body-row-background: var(--tds-grey-50);
  --tds-table-body-row-background-hover: var(--tds-grey-200);

  .tds-mode-variant-primary {
    --tds-table-body-row-background: var(--tds-grey-50);
    --tds-table-body-row-background-hover: var(--tds-grey-200);
  }

  .tds-mode-variant-secondary {
    --tds-table-body-row-background: var(--tds-white);
    --tds-table-body-row-background-hover: var(--tds-grey-100);
  }

  --tds-table-body-row-background-selected: var(--tds-grey-300);
  --tds-table-body-row-background-selected-hover: var(--tds-grey-400);

  /* Table-footer */
  --tds-table-footer-background: var(--tds-grey-100);
  --tds-table-footer-page-selector-input-background: var(--tds-grey-50);
  --tds-table-footer-page-selector-input-background-hover: var(--tds-white);
  --tds-table-footer-page-selector-input-background-disabled: var(
    --tds-grey-600
  ); //Should this be 400?

  --tds-table-footer-btn-hover: var(--tds-grey-300);

  /* Table-header */
  --tds-table-header-background: yellow;
  --tds-table-header-background-hover: var(--tds-grey-400);
  --tds-table-header-btn-color: var(--tds-grey-958);
  --tds-table-header-btn-background: var(--tds-grey-500);
  --tds-table-header-btn-background-hover: var(--tds-grey-600);
  --tds-table-header-btn-focus: var(--tds-blue-400);

  /* Table-toolbar */
  --tds-table-toolbar-background: var(--tds-grey-400);
  --tds-table-toolbar-searchbar-background: var(--tds-grey-50);
  --tds-table-toolbar-searchbar-background-hover: var(--tds-grey-300);

  /* Divider */
  --tds-table-divider: var(
    --tds-grey-400
  ); // light divider is grey-300 but expandable row is the same color when selected
}

.tds-mode-dark {
  /* Table-body */
  --tds-table-color: var(--tds-grey-50);

  /* Table-body-cell */
  --tds-table-body-cell-background-hover: var(--tds-grey-846);

  /* Table-body-row */
  --tds-table-body-row-background: var(--tds-grey-868);
  --tds-table-body-row-background-hover: var(--tds-grey-846);

  .tds-mode-variant-primary {
    --tds-table-body-row-background: var(--tds-grey-868);
    --tds-table-body-row-background-hover: var(--tds-grey-846);
  }

  .tds-mode-variant-secondary {
    --tds-table-body-row-background: var(--tds-grey-900);
    --tds-table-body-row-background-hover: var(--tds-grey-846);
  }

  --tds-table-body-row-background-selected: var(--tds-grey-800);
  --tds-table-body-row-background-selected-hover: var(--tds-grey-700);

  /* Table-footer */
  --tds-table-footer-background: var(--tds-grey-846);
  --tds-table-footer-page-selector-input-background: var(--tds-grey-900);
  --tds-table-footer-page-selector-input-background-hover: var(--tds-grey-958);
  --tds-table-footer-page-selector-input-background-disabled: var(--tds-grey-700);
  --tds-table-footer-btn-hover: var(--tds-grey-900);

  /* Table-header */
  --tds-table-header-background: blue;
  --tds-table-header-background-hover: var(--tds-grey-700);
  --tds-table-header-btn-color: var(--tds-grey-50);
  --tds-table-header-btn-background: var(--tds-grey-600);
  --tds-table-header-btn-background-hover: var(--tds-grey-700);
  --tds-table-header-btn-focus: var(--tds-blue-400);

  /* Table-toolbar */
  --tds-table-toolbar-background: var(--tds-grey-700);
  --tds-table-toolbar-searchbar-background: var(--tds-grey-900);
  --tds-table-toolbar-searchbar-background-hover: var(--tds-grey-800);

  /* Divider */
  --tds-table-divider: var(--tds-grey-700);
}
