@import '../../mixins/box-sizing';
@import '../../../../../typography/utilities/typography-utility';
@import '../../mixins/focus-state';

//  Mixins
@mixin card-detail-03 {
  /* !important is needed here to prevent this from being overwritten by our CSS-reset. */
  font-family: var(--detail-03-font-family) !important;
  letter-spacing: var(--detail-03-letter-spacing) !important;
  font-size: var(--detail-03-font-size);
  line-height: var(--detail-03-line-height);
  font-weight: var(--detail-03-font-weight);
  text-transform: var(--detail-03-text-transform);
}

.card {
  @include tds-box-sizing;

  box-shadow: var(--card-box);
  background-color: var(--card-background);
  display: block;
  border-radius: 4px;
  overflow: hidden;

  &.clickable {
    &:hover {
      box-shadow: var(--card-box-hover);
      cursor: pointer;
    }
  }

  .card-header {
    @include headline-06;

    padding: 16px;
    display: flex;
    align-items: center;

    slot[name='thumbnail']::slotted(*) {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      margin-right: 16px;
    }

    .card-top-header {
      padding-left: 16px;
      display: flex;
      flex-direction: column;

      &.no-header-img {
        padding-left: 0;
      }
    }

    &.below {
      padding-top: 16px;
    }
  }

  .header-subheader {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .header,
    slot[name='header'] {
      color: var(--card-headline);
    }

    .subheader,
    slot[name='subheader'] {
      color: var(--card-sub-headline);
    }
  }

  .card-body-img {
    width: 100%;
  }

  tds-divider {
    display: block;
    margin: 16px 16px 0;
    background-color: var(--card-divider);
    height: 1px;
  }

  .card-body {
    display: block;
    word-wrap: break-word;
  }

  slot[name='body']::slotted(*) {
    @include card-detail-03;

    color: var(--card-body-color);
    padding: 0 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    max-width: 336px;
  }

  slot[name='actions']::slotted(*) {
    display: flex;
    padding: 16px;
    color: var(--card-icon-color);
  }
}

button {
  width: 100%;
  border: none;
  text-align: left;
  padding: 0;

  &:focus-visible {
    outline: 2px solid var(--tds-blue-400);
    outline-offset: -2px;
  }

  &:active {
    box-shadow: var(--card-box-pressed);
  }
}

.below-header-stretch,
.above-header-stretch {
  display: flex;
  flex-direction: column;

  .stretch {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    slot[name='body']::slotted(*) {
      max-width: unset;
      flex-grow: 1;
    }
  }
}
