tds-card {
  --tds-card-background: var(--component-card-background-primary-default);
  --tds-card-border-radius: calc(var(--component-card-border-radius-default) * 1px);
  --tds-card-box-primary: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --tds-card-box-secondary: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 10%);
  --tds-card-box: var(--tds-card-box-primary);
  --tds-card-box-hover: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 20%);
  --tds-card-box-pressed: 0 -1px 1px rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 20%);
  --tds-card-headline: var(--component-card-text-title-default);
  --tds-card-sub-headline: var(--component-card-text-subtitle-default);
  --tds-card-body-color: var(--component-card-text-body-default);
  --tds-card-divider: var(--color-border-soft);
  --tds-card-icon-color: var(--component-card-text-title-default);
}

.tds-mode-dark tds-card {
  --tds-card-box-primary: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 10%);
  --tds-card-box-secondary: 0 3px 3px rgb(0 0 0 / 10%), 0 -1px 1px rgb(0 0 0 / 5%);
}

.tds-mode-variant-primary tds-card {
  --tds-card-box: var(--tds-card-box-primary);
  --tds-card-background: var(--component-card-background-primary-default);
}

.tds-mode-variant-secondary tds-card {
  --tds-card-box: var(--tds-card-box-secondary);
  --tds-card-background: var(--component-card-background-secondary-default);
}

.traton tds-card {
  --tds-card-box-primary: none;
  --tds-card-box-secondary: none;
  --tds-card-box: none;
  --tds-card-box-hover: none;
  --tds-card-box-pressed: none;
}
