tds-card {
  --card-background: var(--component-card-background);
  --card-box: var(--component-card-box); //box shadow
  --card-box-hover: var(--component-card-box-hover);
  --card-box-pressed: var(--component-card-box-pressed);
  --card-headline: var(--color-foreground-text-strong);
  --card-sub-headline: var(--color-foreground-text-subtle);
  --card-body-color: var(--color-foreground-text-defined);
  --card-divider: var(--color-foreground-border-discrete);
  --card-icon-color: var(--color-foreground-icon-strong);

  /* Paddings */
  --card-body-padding: var(--component-card-body-padding);
  --card-header-padding: var(--component-card-header-padding);
  --card-slotted-padding: var(--component-card-slotted-padding);
}
