@use '../../../../mixins/focus-state' as *;
@use '../../../../mixins/box-sizing' as *;
@use '../../../../../../../typography/mixins/type-styles' as *;

:host {
  @include tds-box-sizing;

  display: block;
  position: relative;

  ::slotted(*) {
    all: unset;

    @include title-01;

    color: var(--tds-inline-tabs-tab-color);
    text-decoration: none;
    display: block;
    position: relative;
    transition: color 0.15s ease-in-out 0s;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    padding: 20px 8px;
  }

  ::slotted(*:focus-visible) {
    @include tds-focus-state;

    outline-offset: -2px;
  }

  .inline-tab-item:not(.selected)::after {
    width: 0%;
    transition: width 0.15s ease-in-out 0s;
  }

  .inline-tab-item {
    position: relative;

    &:hover {
      cursor: pointer;

      ::slotted(*) {
        color: var(--tds-inline-tabs-tab-color-hover);
      }

      &::after {
        width: 100%;
      }
    }
  }

  .inline-tab-item::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    width: 0%;
    margin-right: auto;
    height: 2px;
    background-color: var(--tds-inline-tabs-tab-indicator-background-hover);
    z-index: 1;
  }

  .selected {
    ::slotted(*) {
      color: var(--tds-inline-tabs-tab-color-selected);
    }

    &::after {
      width: 100%;
      background-color: var(--tds-inline-tabs-tab-indicator-background-active);
    }
  }

  .disabled {
    ::slotted(*) {
      color: var(--tds-inline-tabs-tab-color);
      opacity: var(--tds-inline-tabs-tab-opacity-disabled);
    }

    &::after {
      content: none;
    }

    ::slotted(*:hover) {
      cursor: not-allowed;
      color: var(--tds-inline-tabs-tab-color);
    }

    ::slotted(*:focus-visible)::before {
      outline: none;
    }
  }
}

:host(.last) {
  margin-right: 32px;
}
