@import '../../../../../../grid-deprecated/vars';

:host {
  color: var(--tds-white);

  .tds-header__item {
    display: block;
  }

  .icon {
    position: relative;
    margin-left: -6px;
    left: 3px;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

@media screen and (min-width: $grid-lg) {
  :host .tds-header__item {
    display: none;
  }

  :host([persistent]) .tds-header__item {
    display: block;
  }
}
