.tl-tooltip {
  --tooltip-text: var(--component-tooltip-text-default);
  --tooltip-background: var(--component-tooltip-background-default);
  --tooltip-border-radius: calc(var(--component-tooltip-border-radius-radius-default) * 1px);
}
