.tl-tooltip {
  --tooltip-text: var(--color-foreground-text-inverse-strong);
  --tooltip-background: var(--color-background-inverse-layer-03);
}

.scania {
  --tl-tooltip-line-height: 17px;
}

.traton {
  --tl-tooltip-line-height: 16px;
}
