.tl-tooltip {
  --tooltip-color: var(--component-tooltip-text-default);
  --tooltip-background: var(--component-tooltip-background-default);
  --tooltip-border-radius: calc(var(--component-tooltip-border-radius-radius-default) * 1px);
  --tooltip-border-radius-none: calc(var(--component-tooltip-border-radius-radius-none) * 1px);
}

.scania {
  --tl-tooltip-line-height: 17px;
}

.traton {
  --tl-tooltip-line-height: 16px;
}
