@use './tl-tooltip-vars' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-tooltip {
  @include detail-05;

  position: relative;
  display: inline-block;
}

.tl-tooltip__popup {
  position: absolute;
  z-index: var(--tds-z-index-tooltip, 1000);
  padding: 8px;
  max-width: 204px;
  width: max-content;
  white-space: normal;
  word-wrap: break-word;
  background-color: var(--tooltip-background, #333);
  color: var(--tooltip-text, #fff);
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease, visibility 0.2s ease;

  &--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .tl-tooltip--bottom & {
    top: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
  }

  .tl-tooltip--bottom-end & {
    top: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    right: var(--tl-tooltip-offset-skidding, 0);
    border-radius: 4px 0 4px 4px;
  }

  .tl-tooltip--bottom-start & {
    top: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    left: var(--tl-tooltip-offset-skidding, 0);
    border-radius: 0 4px 4px;
  }

  .tl-tooltip--left & {
    right: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
  }

  .tl-tooltip--left-end & {
    right: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    bottom: 0;
    border-radius: 4px 4px 0;
  }

  .tl-tooltip--left-start & {
    right: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    top: 0;
    border-radius: 4px 0 4px 4px;
  }

  .tl-tooltip--right & {
    left: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
  }

  .tl-tooltip--right-end & {
    left: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    bottom: 0;
    border-radius: 4px 4px 4px 0;
  }

  .tl-tooltip--right-start & {
    left: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    top: 0;
    border-radius: 0 4px 4px;
  }

  .tl-tooltip--top & {
    bottom: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
  }

  .tl-tooltip--top-end & {
    bottom: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    right: var(--tl-tooltip-offset-skidding, 0);
    border-radius: 4px 4px 0;
  }

  .tl-tooltip--top-start & {
    bottom: calc(100% + var(--tl-tooltip-offset-distance, 8px));
    left: var(--tl-tooltip-offset-skidding, 0);
    border-radius: 4px 4px 4px 0;
  }
}
