@use '../../../../mixins/box-sizing' as *;
@use '../../../../mixins/focus-state' as *;
@use '../../../../../../../typography/mixins/type-styles' as *;

.tl-inline-tabs__tab {
  all: unset;
  @include tds-box-sizing;
  @include title-01;

  color: var(--inline-tabs-tab-color);
  text-decoration: none;
  display: block;
  position: relative;
  transition: color 0.15s ease-in-out 0s;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  padding: 20px 8px;

  &:focus-visible {
    @include tds-focus-state-inset;

    outline-offset: -2px;
  }

  &::after {
    background-color: var(--inline-tabs-tab-indicator-hover);
    content: ' ';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    width: 0%;
    margin-right: auto;
    height: 2px;
    z-index: 1;
    transition: width 0.15s ease-in-out 0s;
  }

  &:not(&--selected)::after {
    width: 0%;
  }

  &:hover:not(.tl-inline-tabs__tab--disabled, .tl-inline-tabs__tab--selected) {
    cursor: pointer;
    color: var(--inline-tabs-tab-color-hover);

    &::after {
      width: 100%;
    }
  }

  &--selected {
    color: var(--inline-tabs-tab-color-selected);

    &::after {
      background-color: var(--inline-tabs-tab-indicator-active);
      width: 100%;
    }
  }

  &--disabled {
    opacity: var(--inline-tabs-tab-opacity-disabled);
    cursor: not-allowed;
    user-select: none;

    &::after {
      content: none;
    }

    &:focus-visible::before {
      outline: none;
      box-shadow: none;
    }
  }
}
