.tl-inline-tabs {
  /* Horizontal divider */
  --inline-tabs-horizontal-divider: var(--color-foreground-icon-discrete);

  /* Mode variant backgrounds */
  --inline-tabs-primary: var(--color-background-base);
  --inline-tabs-secondary: var(--color-background-layer-01);
  --inline-tabs: var(--inline-tabs-primary);

  /* Scroll button */
  --inline-tabs-scroll-button-text: var(--color-foreground-icon-strong);
  --inline-tabs-scroll-button: var(--inline-tabs);
  --inline-tabs-scroll-button-hover: var(--inline-tabs);
  --inline-tabs-scroll-button-active: var(--inline-tabs);

  &--primary {
    --inline-tabs: var(--inline-tabs-primary);
    --inline-tabs-scroll-button: var(--inline-tabs-primary);
  }

  &--secondary {
    --inline-tabs: var(--inline-tabs-secondary);
    --inline-tabs-scroll-button: var(--inline-tabs-secondary);
  }
}

.tl-inline-tabs__tab {
  /* Tab */
  --inline-tabs-tab: var(--color-foreground-text-soft);
  --inline-tabs-tab-selected: var(--color-foreground-text-strong);
  --inline-tabs-tab-disabled: var(--color-foreground-text-disabled);
  --inline-tabs-tab-hover: var(--color-foreground-text-strong);
  --inline-tabs-tab-focus: var(--color-foreground-border-accent-focus);
  --inline-tabs-tab-indicator-active: var(--color-foreground-border-accent-focus);
  --inline-tabs-tab-indicator-hover: var(--color-foreground-border-discrete);
}
