.tl-inline-tabs {
  /* Horizontal divider */
  --inline-tabs-horizontal-divider: var(--color-foreground-icon-discrete);

  /* Mode variant backgrounds */
  --inline-tabs-tab-background-primary: var(--scania-color-transparent-invisible-light);
  --inline-tabs-tab-background-secondary: var(--scania-color-transparent-invisible-dark);
  --inline-tabs-tab-background: var(--inline-tabs-tab-background-primary);

  /* Scroll button */
  --inline-tabs-scroll-button-text: var(--color-foreground-icon-strong);
  --inline-tabs-scroll-button-background: var(--inline-tabs-tab-background);
  --inline-tabs-scroll-button-background-hover: var(--inline-tabs-tab-background);
  --inline-tabs-scroll-button-background-active: var(--inline-tabs-tab-background);

  &--primary {
    --inline-tabs-tab-background: var(--inline-tabs-tab-background-primary);
  }

  &--secondary {
    --inline-tabs-tab-background: var(--inline-tabs-tab-background-secondary);
  }
}

.traton {
  .tl-inline-tabs {
    --inline-tabs-tab-background-primary: var(--traton-color-transparent-invisible-light);
    --inline-tabs-tab-background-secondary: var(--traton-color-transparent-invisible-dark);
  }
}

.tl-inline-tabs__tab {
  /* Tab */
  --inline-tabs-tab: var(--color-foreground-text-soft);
  --inline-tabs-tab-selected: var(--color-foreground-text-strong);
  --inline-tabs-tab-disabled: var(--color-foreground-text-disabled);
  --inline-tabs-tab-hover: var(--color-foreground-text-strong);
  --inline-tabs-tab-focus: var(--color-foreground-border-accent-focus);
  --inline-tabs-tab-indicator-active: var(--color-foreground-border-accent-focus);
  --inline-tabs-tab-indicator-hover: var(--color-foreground-border-discrete);
}
