@use '../../../../mixins/focus-state' as *;
@use '../../../../mixins/box-sizing' as *;
@use './tl-inline-tabs-vars' as *;
@use './_tl-inline-tab' as *;

.tl-inline-tabs {
  @include tds-box-sizing;

  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  position: relative;
  border-bottom: 1px solid var(--inline-tabs-horizontal-divider);

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus-visible {
    @include tds-focus-state;
  }
}

.tl-inline-tabs__scroll-button {
  background-color: var(--inline-tabs-scroll-button-background);
  color: var(--inline-tabs-scroll-button-color);
  cursor: pointer;
  min-width: 48px;
  border: 0;
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: sticky;

  &:focus-visible {
    @include tds-focus-state-inset;

    outline-offset: -2px;
  }
}

.tl-inline-tabs__scroll-button--right {
  right: 0;
  z-index: 1;
}

.tl-inline-tabs__scroll-button--left {
  left: 0;
  z-index: 1;
}

svg {
  .tl-inline-tabs__scroll-button & {
    fill: var(--inline-tabs-scroll-button-color);
  }
}
