tds-header {
  --tds-header-height: var(--tds-spacing-layout-64);
  --tds-header-list-item-md-height: var(--tds-spacing-layout-48);

  /* header item */
  --tds-header-background: var(--component-header-background-main-standard-default);
  --tds-header-item-color: var(--component-header-icon-nav-item-link-default);
  --tds-header-item-hover: var(--component-header-background-nav-item-link-hover);
  --tds-header-item-active: var(--component-header-background-nav-item-link-active);
  --tds-header-item-border-hover: var(--component-header-border-nav-item-indicator-default);
  --tds-header-item-border: var(--component-header-border-divider-default);
  --tds-header-item-border-open: var(--component-header-background-nav-item-current-default);
  --tds-header-item-background-open: var(--component-header-background-nav-item-current-default);
  --tds-header-item-background-hover: var(--component-header-background-menu-item-link-hover);
  --tds-header-item-open-color: var(--component-header-text-nav-item-current-default);

  /* header title */
  --tds-header-title-font-family: var(--headline-01-font-family);
  --tds-header-title-font-weight: 400;

  /* header dropdowm item */
  --tds-header-dropdown-item-background: var(--component-header-background-menu-item-link-default);
  --tds-header-dropdown-item-border-color: var(--color-border-discrete);
  --tds-header-dropdown-item-color: var(--component-header-text-menu-item-link-default);
  --tds-header-dropdown-item-background-hover: var(
    --component-header-background-menu-item-link-hover
  );
  --tds-header-dropdown-item-background-selected: var(
    --component-header-background-menu-item-current-default
  );
  --tds-header-dropdown-item-border-color-selected: var(
    --component-header-border-menu-item-indicator-default
  );
  --tds-header-dropdown-menu-box: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --tds-header-dropdown-background: var(--component-header-background-popover-default);

  /* Avatar */
  --tds-header-avatar-item-background: var(--component-header-background-popover-default);
  --tds-header-avatar-item-color: var(--component-header-text-subtitle-default);
  --tds-header-avatar-item-padding: calc(var(--component-header-size-avatar-padding) * 1px);
  --tds-header-avatar-item-size: calc(var(--component-header-size-avatar-default) * 1px);

  /* App Launcher */
  --tds-header-app-launcher-menu-background: var(
    --component-header-background-menu-item-link-default
  );
  --tds-header-app-launcher-category-title-color: var(--component-header-text-category-default);
  --tds-header-app-launcher-grid-category-title-color: var(
    --component-header-text-category-default
  );
  --tds-header-app-launcher-item-color: var(--component-header-text-menu-item-link-default);
  --tds-header-app-launcher-grid-color: var(--component-header-text-menu-item-link-default);
  --tds-header-app-launcher-grid-hover-background: var(
    --component-header-background-menu-item-tile-hover
  );

  /* Header Symbol */
  --tds-header-logotype-local: var(--tds-background-image-scania-symbol-svg-local);
  --tds-header-logotype-cdn: var(--tds-background-image-scania-symbol-svg);
  --tds-header-brand-logo-size: 32px;
  --tds-header-brand-item-width: unset;
}

.scania {
  tds-header {
    --tds-header-title-font-weight: 400;
    --tds-header-logotype-local: var(--tds-background-image-scania-symbol-svg-local);
    --tds-header-logotype-cdn: var(--tds-background-image-scania-symbol-svg);
    --tds-header-brand-logo-size: 32px;
    --tds-header-brand-item-width: unset;
  }
}

.traton {
  tds-header {
    --tds-header-title-font-weight: 500;
  }

  .tl-mode-light tds-header,
  .tds-mode-light tds-header {
    --tds-header-logotype-local: var(--traton-logotype-black-svg-local);
    --tds-header-logotype-cdn: var(--traton-logotype-black-svg);
    --tds-header-brand-logo-size: 117px;
    --tds-header-brand-item-width: 149px;
  }

  .tl-mode-dark tds-header,
  .tds-mode-dark tds-header {
    --tds-header-logotype-local: var(--traton-logotype-white-svg-local);
    --tds-header-logotype-cdn: var(--traton-logotype-white-svg);
    --tds-header-brand-logo-size: 117px;
    --tds-header-brand-item-width: 149px; // 117px + 16 * 2 (padding)
  }
}
