//@import '../theme/core/spacing/vars';
@import '../../../../../grid-deprecated/vars';
@import '../../mixins/box-sizing';
@import '../../mixins/flex-center';
@import '../../mixins/scrollbar';
@import '../../mixins/z-index';

html,
:root {
  --tds-nav-dropdown-menu-box: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --tds-nav-dropdown-item-border-radius: 0 0 4px 4px;
  --tds-font-family-headline: 'Scania Sans Headline', arial, helvetica, sans-serif;
}

.tds-header__header {
  display: block;
  height: var(--tds-header-height);
  background-color: var(--tds-header-background);
  width: 100%;
  z-index: tds-z-index(header);
}

nav {
  @include tds-box-sizing;

  background-color: var(--tds-header-background);
  width: 100%;
  display: block;

  .tds-header-component-list {
    height: var(--tds-header-height);
    all: unset;
    @include tds-flex-center;
  }

  .tds-header__dropdown,
  .tds-header__item {
    display: none;
  }

  .tds-header-middle-spacer {
    all: unset;
    display: block;
    flex-grow: 1;
    height: var(--tds-header-height);
    border-right: 1px solid var(--tds-header--basic-element-border);
  }

  @media screen and (min-width: $grid-lg) {
    .tds-header__dropdown,
    .tds-header__item {
      display: block;
    }
  }

  .tds-header__item:nth-child(3),
  .tds-header__dropdown:nth-child(3) {
    /* Adds a left border to the button after the title, if any */
    border-left: 1px solid var(--tds-header--basic-element-border);
  }
}
