@import '../../../mixins/focus-state';
@import '../../../mixins/disabled-style';
@import '../../../mixins/box-sizing';

.tds-accordion-item {
  @include tds-box-sizing;

  list-style: none;
  color: var(--tds-accordion-color);
  position: relative;

  &:focus {
    border-top: 1px solid var(--tds-accordion-border-focus);
  }

  &[disabled='true']:focus {
    border-color: var(--tds-accordion-border);
  }

  button.tds-accordion-header-icon-start,
  button.tds-accordion-header-icon-end {
    all: unset;
  }

  .tds-accordion-header-icon-start,
  .tds-accordion-header-icon-end,
  button.tds-accordion-header-icon-start,
  button.tds-accordion-header-icon-end {
    @include tds-box-sizing;

    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    font: var(--tds-headline-07);
    letter-spacing: var(--tds-headline-07-ls);
    padding: var(--tds-spacing-element-16);
    background-color: var(--tds-accordion-background);
    transition: background-color var(--tds-motion-duration-fast-02) var(--tds-motion-easing-scania);

    .tds-accordion-icon {
      transform-origin: center;
      transition: transform var(--tds-motion-duration-fast-02) var(--tds-motion-easing-scania);
      color: var(--tds-accordion-icon-color);

      & > tds-icon {
        display: block;
      }
    }
  }

  .tds-accordion-title {
    flex-grow: 2;
  }

  &.tds-accordion-item-animation-open-slide .tds-accordion-panel {
    animation: tds-slide-expand var(--tds-motion-duration-moderate-01)
      var(--tds-motion-easing-enter) forwards;
  }

  &.tds-accordion-item-animation-close-slide .tds-accordion-panel {
    animation: tds-slide-close var(--tds-motion-duration-moderate-01) var(--tds-motion-easing-exit)
      forwards;
  }

  // Because the component has shadow 'true' we need to define the animation here
  @keyframes tds-slide-expand {
    0% {
      max-height: 0;
      padding: 0 var(--tds-spacing-layout-64) 0 var(--tds-spacing-element-16);
    }

    100% {
      max-height: 500px;
      padding: var(--tds-spacing-element-8) var(--tds-spacing-layout-64) 31px
        var(--tds-spacing-element-16);
    }
  }

  @keyframes tds-slide-close {
    0% {
      max-height: 500px;
      padding: var(--tds-spacing-element-8) var(--tds-spacing-layout-64) 31px
        var(--tds-spacing-element-16);
    }

    100% {
      max-height: 0;
      padding: 0 var(--tds-spacing-layout-64) 0 var(--tds-spacing-element-16);
    }
  }

  .tds-accordion-panel {
    cursor: default;
    overflow: hidden;
    max-height: 0;
    padding: 0 var(--tds-spacing-layout-64) 0 var(--tds-spacing-element-16);
    font: var(--tds-detail-03);
    letter-spacing: var(--tds-detail-03-ls);

    p {
      margin: 0;
      padding: 0;
    }

    &--padding-reset {
      padding-right: var(--tds-spacing-element-16);
    }
  }

  .tds-accordion-header-icon-end {
    .tds-accordion-icon {
      margin: 0 0 0 var(--tds-spacing-element-32);
    }
  }

  .tds-accordion-header-icon-start {
    .tds-accordion-title {
      order: 1;
    }

    .tds-accordion-icon {
      order: 0;
      margin: 0 var(--tds-spacing-element-16) 0 0;
    }
  }

  &.disabled {
    &,
    .tds-accordion-header-icon-end,
    .tds-accordion-header-icon-start,
    .tds-accordion-panel {
      color: var(--tds-accordion-color-disabled);
      cursor: not-allowed;

      .tds-accordion-icon {
        color: var(--tds-accordion-color-disabled);
      }
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      @include tds-disabled-style;
    }
  }

  &.expanded {
    .tds-accordion-panel {
      max-height: 500px;

      /* Set this to a value larger than the content height */
      padding: var(--tds-spacing-element-8) var(--tds-spacing-layout-64) 31px
        var(--tds-spacing-element-16);
    }

    .tds-accordion-icon {
      transform: rotate(180deg);
    }

    .tds-accordion-header-icon-end {
      .tds-accordion-icon {
        margin-right: 0;
        margin-left: var(--tds-spacing-element-32);
      }
    }

    .tds-accordion-header-icon-start {
      .tds-accordion-icon {
        margin-left: 0;
        margin-right: var(--tds-spacing-element-16);
      }
    }
  }

  border-top: 1px solid var(--tds-accordion-border);

  &:focus {
    border-top: 1px solid var(--tds-accordion-border-focus);
  }

  &[disabled='true']:focus {
    border-color: var(--tds-accordion-border);
  }
}

:host(:focus) {
  .tds-accordion-item {
    @include tds-focus-state;

    .tds-accordion-header-icon-start,
    .tds-accordion-header-icon-end {
      background-color: var(--tds-accordion-background-focus);
      outline: none;
    }
  }
}

:host(:hover) {
  .tds-accordion-header-icon-start,
  .tds-accordion-header-icon-end {
    background-color: var(--tds-accordion-background-hover);
  }
}

:host(:active) {
  .tds-accordion-header-icon-start,
  .tds-accordion-header-icon-end {
    background-color: var(--tds-accordion-background-active);
    outline: none;
  }
}
