@import '../../../../../../typography/utilities/typography-utility';

:host {
  display: block;

  // Custom variables for dropdown colors when not collapsed:
  --side-menu-dropdown-list-item-custom-background: var(--side-menu-background-cover);
  --side-menu-dropdown-list-item-custom-background-hover: var(--side-menu-item-state-hover);
  --side-menu-dropdown-list-item-custom-background-active: var(--side-menu-item-state-active);
  --side-menu-dropdown-list-item-custom-background-selected: var(--side-menu-item-state-selected);

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .dropdown-icon {
    margin-left: auto;
    transition: all 0.2s ease-in-out;
  }

  .state-open {
    .dropdown-icon {
      transform: rotateZ(180deg);
    }

    .menu {
      display: block;
    }
  }

  .state-collapsed {
    // Custom variables for dropdown colors when collapsed:
    --side-menu-dropdown-list-item-custom-background: var(
      --side-menu-collapsed-dropdown-background
    );
    --side-menu-dropdown-list-item-custom-background-hover: var(
      --side-menu-collapsed-dropdown-background-hover
    );
    --side-menu-dropdown-list-item-custom-background-active: var(
      --side-menu-collapsed-dropdown-background-active
    );
    --side-menu-dropdown-list-item-custom-background-selected: var(
      --side-menu-collapsed-dropdown-background-selected
    );

    .menu {
      --side-menu-width: 69px;

      position: absolute;
      left: var(--side-menu-width);
      box-shadow: var(--side-menu-subnav-box-shadow);
      background-color: var(--side-menu-subnav-background);
      padding: var(--component-side-menu-space-top-level-left);
      padding-top: 0;
      border-radius: var(--side-menu-subnav-border-radius);

      .heading-collapsed {
        all: unset;
        box-sizing: border-box;
        padding: 16px var(--side-menu-collapsed-dropdown-heading-padding-left) 15px;
        min-height: 48px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--side-menu-bottom-menu-border-top);
      }
    }
  }

  :not(.state-collapsed) {
    .menu {
      ::slotted(tds-side-menu-dropdown-list) {
        width: 100%;
      }
    }
  }

  .menu {
    display: none;
    flex-direction: column;
  }
}
