@use '../../../mixins/box-sizing' as *;
@use '../../../mixins/focus-state' as *;
@use './tl-header-vars' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-header__item-wrapper {
  all: unset;
  @include tds-box-sizing;
  @include title-01;

  background-color: var(--header-background);
  border-right: 1px solid var(--header-item-border-right);
  color: var(--header-item-text-color);
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0 24px;
  display: flex;
  align-items: center;
  gap: 8px;

  &:has(.tl-header__brand) {
    padding: 0 19px;
  }

  &:hover {
    background-color: var(--header-item-background-hover);
  }

  &:focus-visible {
    @include tds-focus-state-side-menu;
  }

  &:active {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--header-item-background-active);
  }

  &:selected {
    background-color: var(--header-item-background-selected);
  }
}

// Modifier styles in affected elements
.tl-link__icon {
  .tl-header__item-wrapper & {
    position: relative;
    margin-left: -6px;
    left: 3px;
    transition:
      background 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }
}
