@use './tl-header-vars' as *;
@use '../../../mixins/box-sizing' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

.tl-header__title {
  all: unset;

  @include tds-box-sizing;

  border-right: 1px solid var(--header-item-border-right);
  height: 100%;
}

.tl-header__title-text {
  font-size: var(--header-title-font-size);
  padding: 4px 32px 0 16px;
  color: var(--header-item-text-color);
  font-weight: var(--header-title-font-weight);
  font-family: var(--header-title-font-family);
  line-height: var(--header-title-line-height);
  letter-spacing: var(--header-title-letter-spacing);
  letter-spacing: normal;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
