@use './tl-header-vars' as *;
@use '../../../mixins/box-sizing' as *;

.tl-header__title {
  all: unset;

  @include tds-box-sizing;

  border-right: 1px solid var(--header-basic-element-border);
  height: 100%;
}

.tl-header__title-text {
  font-size: 14px;
  padding: 4px 32px 0 16px;
  color: var(--header-nav-item);
  font-weight: var(--header-font-weight);
  font-family: var(--header-font-family-headline);
  text-transform: var(--header-text-transform);
  letter-spacing: normal;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
