tds-side-menu {
  --tds-sidebar-item-state-hover: var(--color-background-layer-01); // done
  --tds-sidemenu-item-state-active: var(--color-background-surface-100);
  --tds-sidebar-item-state-selected: var(--color-background-layer-01);
  --tds-sidebar-side-menu-background-cover: var(--color-background-base); // done
  --tds-sidebar-side-menu-bottom-menu-border-top: var(--component-side-menu-color-divider); // done
  --tds-sidebar-side-menu-single-item-color: var(
    --color-foreground-text-strong
  ); // done, textfärgen

  --tds-sidebar-side-menu-subnav-background: var(--color-background-layer-01); // yellow;

  --tds-sidebar-side-menu-single-subitem-selected-border-color: var(
    --color-foreground-border-accent-focus
  );

  --side-menu-single-item-height: var(--component-side-menu-single-item-height);

  --side-menu-dropdown-list-item-height: var(--component-side-menu-dropdown-list-item-height);

  --side-menu-radius-corner: var(--component-side-menu-radius-corner);

  --side-menu-selected-left-border: var(--component-side-menu-selected-left-border);

  --side-menu-dropdown-list-item: var(--color-background-base); // <------- rename to -background?
  --side-menu-dropdown-list-item-color: var(--color-foreground-text-defined);

  --side-menu-text-items-font-weight: var(--component-side-menu-text-items-font-weight);

  //använda dessa två i scss-filerna:
  --side-menu-space-sub-page-left-with-icon: var(
    --component-side-menu-space-sub-page-left-with-icon
  );
  --side-menu-space-sub-page-left-no-icon: var(--component-side-menu-space-sub-page-left-no-icon);

  --side-menu-space-top-level-vertical-gap-padding: var(
    --component-side-menu-space-top-level-vertical-gap-padding
  );

  // --side-menu-size-icon: var(--component-side-menu-size-icon);

  --side-menu-space-top-level-left: var(--component-side-menu-space-top-level-left);

  --side-menu-collapsed-button-size: var(--component-side-menu-collapsed-button-size);

  --side-menu-space-sub-page-top-group: var(--component-side-menu-space-sub-page-top-group);
}

// width: var(--component-side-menu-size-icon, 16px); // 24px för scania
// height: var(--component-side-menu-size-icon, 16px);

// pressed => surface-200
