tds-side-menu {
  // core
  --tds-side-menu-background: var(--component-side-menu-background-default);
  --tds-side-menu-border-right-color: var(--component-side-menu-border-divider-default);
  --tds-side-menu-border-thickness: var(--unit-1); // 1px

  // side menu item
  --tds-side-menu-item-background: var(--component-side-menu-background-item-link-default);
  --tds-side-menu-item-border-bottom-color: var(--component-side-menu-border-divider-default);
  --tds-side-menu-item-border-thickness: var(--unit-1); // 1px
  --tds-side-menu-item-border-radius: calc(var(--component-side-menu-border-radius-default) * 1px);
  --tds-side-menu-item-text-color: var(--component-side-menu-text-item-link-default); // title-01
  --tds-side-menu-item-background-hover: var(--component-side-menu-background-item-link-hover);
  --tds-side-menu-item-background-active: var(--component-side-menu-background-item-link-active);
  --tds-side-menu-item-background-selected: var(
    --component-side-menu-background-item-current-default
  );
  --tds-side-menu-item-border-left-color-selected: var(
    --component-side-menu-border-item-indicator-default
  );
  --tds-side-menu-item-icon-color: var(--component-side-menu-icon-item-link-default);

  // side menu item user
  --tds-side-menu-item-user-subheading-color: var(--component-side-menu-text-subtitle-default);

  // side menu sub item - font: body-01

  // dropdown
}

.scania tds-side-menu {
  --tds-side-menu-width-collapsed: 68px;
  --tds-side-menu-horizontal-padding: calc(var(--scania-unit-0) * 1px); // 0px
  --tds-side-menu-gap: 0;
  --tds-side-menu-dropdown-box-shadow: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --tds-side-menu-item-horizontal-padding: 22px; // 0px
  --tds-side-menu-item-height: 68px; // 0px
  --tds-side-menu-item-icon-size: 24px;

  // side menu sub-item
  --tds-side-menu-sub-item-height: 48px;
  --tds-side-menu-sub-item-padding-icon: 16px 48px 16px 58px;
  --tds-side-menu-sub-items-gap: 0;

  // side menu user image
  --tds-side-menu-user-image-size: 34px;
}

.traton tds-side-menu {
  --tds-side-menu-width-collapsed: 72px;
  --tds-side-menu-horizontal-padding: calc(var(--traton-unit-16) * 1px); // 16px
  --tds-side-menu-gap: 16px;
  --tds-side-menu-dropdown-box-shadow: none;

  // side menu item
  --tds-side-menu-item-horizontal-padding: calc(var(--traton-unit-12) * 1px); // 16px
  --tds-side-menu-item-height: 40px;
  --tds-side-menu-item-icon-size: 16px;

  // side menu sub-item
  --tds-side-menu-sub-item-height: 32px;
  --tds-side-menu-sub-item-padding-icon: 8px 48px 8px 40px;
  --tds-side-menu-sub-items-gap: 10px;

  // side menu user image
  --tds-side-menu-user-image-size: 24px;
}
