$border-types: top, right, bottom, left;

:root,
.tds-mode-light {
  --tds-divider-background: var(--tds-grey-300);
}

.tds-mode-dark {
  --tds-divider-background: var(--tds-grey-700);
}

.tds-theme-colored {
  --tds-divider-background: var(--tds-blue-700);
}
