@import './tokens';
@import '../globals';
@import './vars';

// generate color class for background (.tds-background-{token-name})
@each $key, $value in $all-colors {
  $val: '' + $key;
  .#{$prefix}-background-#{$val} {
    background-color: $value;
  }
}

// generate color class for text (.tds-text-{token-name})
@each $key, $value in $all-colors {
  $val: '' + $key;
  .#{$prefix}-text-#{$val} {
    color: $value;
  }
}
