@import './mixins';

$black: (
  black-100: rgb(0 0 0 / 100%),
  black-87: rgb(0 0 0 / 87%),
  black-48: rgb(0 0 0 / 48%),
  black-38: rgb(0 0 0 / 38%),
);
$white: (
  white-100: rgb(255 255 255 / 100%),
  white-87: rgb(255 255 255 / 87%),
  white-48: rgb(255 255 255 / 48%),
  white-38: rgb(255 255 255 / 38%),
  white-05: rgb(255 255 255 / 5%),
);
$grey: (
  grey-1000: #000000,
  grey-958: #0b0c0f,
  // just for safety, same as 950
  grey-950: #0b0c0f,
  grey-900: #15181d,
  grey-850: #1c222b,
  grey-800: #242c37,
  grey-750: #2d3643,
  grey-700: #3a4554,
  grey-650: #475467,
  grey-600: #4e5e75,
  grey-500: #5f728c,
  grey-400: #6e829f,
  grey-350: #7e90a9,
  grey-300: #93a2b7,
  grey-250: #b4becd,
  grey-200: #d1d7e0,
  grey-150: #e0e5eb,
  grey-100: #edeff3,
  grey-50: #f6f7f9,
  grey-00: #ffffff,
);
$blue: (
  blue-900: #001533,
  blue-800: #041e42,
  blue-700: #0f3263,
  blue-600: #16417f,
  blue-500: #2058a8,
  blue-400: #2a6ecf,
  blue-300: #4a89f3,
  blue-200: #87afe8,
  blue-100: #bacde8,
  blue-50: #d8dde5,
);
$red: (
  red-900: #350004,
  red-800: #480008,
  red-700: #6c0011,
  red-600: #8a0012,
  red-500: #b20018,
  red-400: #d1001b,
  red-300: #ea4851,
  red-200: #fc8a88,
  red-100: #ffb9b8,
  red-50: #ffdfe3,
);

//TODO: Remove this later on when the time is right
$green: (
  green-900: #001a12,
  green-800: #00251b,
  green-700: #0a382e,
  green-600: #004c3b,
  green-500: #00664f,
  green-400: #008064,
  green-300: #009e7e,
  green-200: #65bda5,
  green-100: #9bd9c2,
  green-50: #d3eee7,
);
$yellow: (
  yellow-900: #ffdfe3,
  yellow-800: #4d260a,
  yellow-700: #6b3b10,
  yellow-600: #975717,
  yellow-500: #b87c14,
  yellow-400: #eaad06,
  yellow-300: #f1c21b,
  yellow-200: #f4d65d,
  yellow-100: #f8e596,
  yellow-50: #f9eec3,
);
$original-colors: map-collect($black, $white, $grey, $blue, $red, $green, $yellow);

//TODO: Should we keep brand pallete?
$brand-pallete: (
  black: #000,
  white: #fff,
  blue: get-color-original(blue-800),
  red: get-color-original(red-600),
);

//TODO: CTA color should be removed
//TODO: change token name to be $sementic-negative
$semantic: (
  cta: get-color-original(blue-700),
  negative: #ff2340,
  warning: #f1c21b,
  positive: #1dab8b,
  information: get-color-original(blue-400),
);
$all-colors: map-collect($original-colors, $semantic, $brand-pallete);
