@import './mixins';

$black: (
  black-100: rgb(0 0 0 / 100%),
  black-87: rgb(0 0 0 / 87%),
  black-48: rgb(0 0 0 / 48%),
  black-38: rgb(0 0 0 / 38%),
);
$white: (
  white-100: rgb(255 255 255 / 100%),
  white-87: rgb(255 255 255 / 87%),
  white-48: rgb(255 255 255 / 48%),
  white-38: rgb(255 255 255 / 38%),
  white-05: rgb(255 255 255 / 5%),
);
$grey: (
  grey-1000: #000000,
  grey-950: #0B0C0F,
  grey-900: #15181D,
  grey-850: #1C222B,
  grey-800: #242C37,
  grey-750: #2D3643,
  grey-700: #3A4554,
  grey-650: #475467,
  grey-600: #4E5E75,
  grey-500: #5F728C,
  grey-400: #6E829F,
  grey-350: #7E90A9,
  grey-300: #93A2B7,
  grey-250: #B4BECD,
  grey-200: #D1D7E0,
  grey-150: #E0E5EB,
  grey-100: #EDEFF3,
  grey-50: #F6F7F9,
  grey-00: #FFFFFF,
);
$blue: (
  blue-900: #001533,
  blue-800: #041E42,
  blue-700: #0F3263,
  blue-600: #16417F,
  blue-500: #2058A8,
  blue-400: #2A6ECF,
  blue-300: #4A89F3,
  blue-200: #87AFE8,
  blue-100: #BACDE8,
  blue-50: #D8DDE5,
  
);
$red: (
  red-900: #350004,
  red-800: #480008,
  red-700: #6C0011,
  red-600: #8A0012,
  red-500: #B20018,
  red-400: #D1001B,
  red-300: #EA4851,
  red-200: #FC8A88,
  red-100: #FFB9B8,
  red-50: #FFDFE3,
);

//TODO: Remove this later on when the time is right
$green: (
  green-900: #001A12,
  green-800: #00251B,
  green-700: #0A382E,
  green-600: #004C3B,
  green-500: #00664F,
  green-400: #008064,
  green-300: #009E7E,
  green-200: #65BDA5,
  green-100: #9BD9C2,
  green-50: #D3EEE7,
);

$yellow: (
  yellow-900: #FFDFE3,
  yellow-800: #4D260A,
  yellow-700: #6B3B10,
  yellow-600: #975717,
  yellow-500: #B87C14,
  yellow-400: #EAAD06,
  yellow-300: #F1C21B,
  yellow-200: #F4D65D,
  yellow-100: #F8E596,
  yellow-50: #F9EEC3,
);

$original-colors: map-collect($black, $white, $grey, $blue, $red, $green, $yellow);

//TODO: Should we keep brand pallete?
$brand-pallete: (
  black: #000,
  white: #fff,
  blue: get-color-original(blue-800),
  red: get-color-original(red-600),
);

//TODO: CTA color should be removed
//TODO: change token name to be $sementic-negative
$semantic: (
  cta: get-color-original(blue-700),
  negative: #ff2340,
  warning: #f1c21b,
  positive: #1dab8b,
  information: get-color-original(blue-400),
);
$all-colors: map-collect($original-colors, $semantic, $brand-pallete);
