// Traton color primitives

:root {
  // Traton Blue
  --traton-blue-1000: rgba(0, 18, 20, 1);
  --traton-blue-950: rgba(0, 29, 33, 1);
  --traton-blue-900: rgba(0, 36, 41, 1);
  --traton-blue-850: rgba(0, 49, 55, 1);
  --traton-blue-800: rgba(0, 72, 82, 1);
  --traton-blue-700: rgba(0, 99, 113, 1);
  --traton-blue-600: rgba(0, 130, 148, 1);
  --traton-blue-500: rgba(45, 158, 173, 1);
  --traton-blue-400: rgba(102, 184, 196, 1);
  --traton-blue-300: rgba(140, 202, 210, 1);
  --traton-blue-200: rgba(179, 220, 225, 1);
  --traton-blue-150: rgba(217, 237, 240, 1);
  --traton-blue-100: rgba(233, 245, 246, 1);
  --traton-blue-50: rgba(248, 252, 252, 1);

  // Traton Yellow
  --traton-yellow-1000: rgba(26, 19, 0, 1);
  --traton-yellow-950: rgba(36, 27, 0, 1);
  --traton-yellow-900: rgba(48, 36, 3, 1);
  --traton-yellow-850: rgba(67, 50, 4, 1);
  --traton-yellow-800: rgba(89, 67, 5, 1);
  --traton-yellow-700: rgba(115, 86, 6, 1);
  --traton-yellow-600: rgba(153, 115, 8, 1);
  --traton-yellow-500: rgba(191, 144, 10, 1);
  --traton-yellow-400: rgba(229, 173, 12, 1);
  --traton-yellow-300: rgba(255, 192, 13, 1);
  --traton-yellow-200: rgba(255, 208, 74, 1);
  --traton-yellow-150: rgba(255, 220, 122, 1);
  --traton-yellow-100: rgba(255, 233, 170, 1);
  --traton-yellow-50: rgba(255, 246, 219, 1);

  // Traton Warm Grey
  --traton-warm-grey-1000: rgba(16, 15, 15, 1);
  --traton-warm-grey-950: rgba(26, 26, 25, 1);
  --traton-warm-grey-900: rgba(37, 36, 35, 1);
  --traton-warm-grey-850: rgba(51, 50, 48, 1);
  --traton-warm-grey-800: rgba(69, 68, 65, 1);
  --traton-warm-grey-700: rgba(89, 88, 84, 1);
  --traton-warm-grey-600: rgba(115, 113, 108, 1);
  --traton-warm-grey-500: rgba(140, 138, 132, 1);
  --traton-warm-grey-400: rgba(166, 164, 156, 1);
  --traton-warm-grey-300: rgba(194, 191, 182, 1);
  --traton-warm-grey-200: rgba(214, 212, 201, 1);
  --traton-warm-grey-150: rgba(235, 231, 221, 1);
  --traton-warm-grey-100: rgba(246, 243, 233, 1);
  --traton-warm-grey-50: rgba(252, 251, 247, 1);

  // Traton Transparent
  --traton-transparent-950: rgba(0, 29, 33, 1);
  --traton-transparent-700: rgba(26, 26, 25, 0.76);
  --traton-transparent-600: rgba(26, 26, 25, 0.62);
  --traton-transparent-500: rgba(26, 26, 25, 0.5);
  --traton-transparent-400: rgba(26, 26, 25, 0.36);
  --traton-transparent-200: rgba(26, 26, 25, 0.15);

  // Traton Transparent Inverse
  --traton-transparent-inverse-950: rgba(255, 255, 255, 1);
  --traton-transparent-inverse-700: rgba(217, 237, 240, 0.87);
  --traton-transparent-inverse-600: rgba(217, 237, 240, 0.75);
  --traton-transparent-inverse-500: rgba(217, 237, 240, 0.63);
  --traton-transparent-inverse-subtle: rgba(217, 237, 240, 0.6);
  --traton-transparent-inverse-400: rgba(217, 237, 240, 0.49);
  --traton-transparent-inverse-200: rgba(217, 237, 240, 0.33);

  // Traton Base
  --traton-base-warm-white: rgba(252, 251, 247, 1);
  --traton-base-neutral-white: rgba(255, 255, 255, 1);
  --traton-base-neutral-black: rgba(0, 0, 0, 1);

  // Traton Extended Red
  --traton-extended-red-1000: rgba(20, 8, 8, 1);
  --traton-extended-red-950: rgba(36, 13, 13, 1);
  --traton-extended-red-900: rgba(49, 17, 17, 1);
  --traton-extended-red-850: rgba(65, 22, 22, 1);
  --traton-extended-red-800: rgba(85, 27, 27, 1);
  --traton-extended-red-700: rgba(109, 35, 35, 1);
  --traton-extended-red-600: rgba(133, 41, 41, 1);
  --traton-extended-red-500: rgba(160, 47, 46, 1);
  --traton-extended-red-400: rgba(188, 48, 47, 1);
  --traton-extended-red-300: rgba(216, 59, 58, 1);
  --traton-extended-red-200: rgba(236, 86, 85, 1);
  --traton-extended-red-150: rgba(242, 134, 134, 1);
  --traton-extended-red-100: rgba(247, 186, 186, 1);
  --traton-extended-red-50: rgba(255, 224, 224, 1);

  // Traton Extended Green
  --traton-extended-green-1000: rgba(8, 12, 8, 1);
  --traton-extended-green-950: rgba(13, 27, 14, 1);
  --traton-extended-green-900: rgba(16, 35, 17, 1);
  --traton-extended-green-850: rgba(21, 50, 23, 1);
  --traton-extended-green-800: rgba(29, 68, 31, 1);
  --traton-extended-green-700: rgba(35, 87, 39, 1);
  --traton-extended-green-600: rgba(43, 108, 46, 1);
  --traton-extended-green-500: rgba(49, 128, 53, 1);
  --traton-extended-green-400: rgba(56, 148, 60, 1);
  --traton-extended-green-300: rgba(59, 166, 63, 1);
  --traton-extended-green-200: rgba(90, 191, 92, 1);
  --traton-extended-green-150: rgba(129, 213, 133, 1);
  --traton-extended-green-100: rgba(173, 235, 177, 1);
  --traton-extended-green-50: rgba(209, 250, 209, 1);
}
