:root,
.tds-mode-light {
  --tds-chips-color: var(--tds-grey-958);
  --tds-chips-color-active: var(--tds-white);
  --tds-chips-background: var(--tds-grey-200);
  --tds-chips-background-active: var(--tds-blue-500);
  --tds-chips-background-active-hover: var(--tds-blue-600);
  --tds-chips-background-hover: var(--tds-grey-400);
  --tds-chips-background-focus: var(--tds-grey-50);
  --tds-chips-icon-fill: var(--tds-grey-958);
  --tds-chips-icon-fill-active: var(--tds-white);
}

.tds-mode-dark {
  --tds-chips-color: var(--tds-white);
  --tds-chips-color-active: var(--tds-white);
  --tds-chips-background: var(--tds-grey-800);
  --tds-chips-background-hover: var(--tds-grey-600);
  --tds-chips-background-active: var(--tds-blue-500);
  --tds-chips-background-active-hover: var(--tds-blue-300);
  --tds-chips-background-focus: var(--tds-grey-900);
  --tds-chips-icon-fill: var(--tds-white);
  --tds-chips-icon-fill-active: var(--tds-white);
}
