:host {
  display: block;
  width: 190px;

  margin-top: var(--side-menu-space-sub-page-top-group);
  margin-bottom: calc(var(--side-menu-space-top-level-vertical-gap-padding) * -1);

  [role='list'] {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: none;
    background-color: var(--tds-header-app-launcher-menu-bg);
  }

  .state-collapsed {
    ::slotted(*) {
      border-bottom: 1px solid var(--tds-sidebar-side-menu-bottom-menu-border-top);
    }
  }
}
