:host {
  display: block;
  width: 190px;
  margin-top: var(--side-menu-space-sub-page-top-group);

  [role='list'] {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: none;
    background-color: var(--tds-header-app-launcher-menu-bg);
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--side-menu-space-top-level-vertical-gap-padding);
  }

  .state-collapsed {
    ::slotted(*) {
      border-bottom: var(--side-menu-bottom-menu-border-top-collapsed);
    }
  }
}
