//TODO: Import color and typography from color and typography folder like it is done in global.scss ?
// COLORS

// Neutral scale
$white: #fff;
$black: #000;

// Grey scale
$grey-50: #f9fafb;
$grey-100: #edeff3;
$grey-200: #e7e9ee;
$grey-300: #dbdfe6;
$grey-400: #cdd1db;
$grey-500: #b0b7c4;
$grey-600: #868fa2;
$grey-700: #56657a;
$grey-800: #37414f;
$grey-846: #2b323d;
$grey-868: #242a33;
$grey-900: #1d2229;
$grey-958: #0d0f13;

// Blue scale
$blue-50: #e4e9f1;
$blue-100: #bacde8;
$blue-200: #87afe8;
$blue-300: #4a89f3;
$blue-400: #2b70d3;
$blue-500: #2058a8;
$blue-600: #16417f;
$blue-700: #0f3263;
$blue-800: #041e42;
$blue-900: #001533;

// TYPOGRAPHY

// Headline
$tds-headline-01: 'Scania Sans Headline', arial, helvetica, sans-serif;
$tds-headline-01-size: 40px;
$tds-headline-01-weight: bold;
$tds-headline-01-ls: 0; // letter spacing
$tds-headline-01-lh: 40px; // line height
$tds-headline-02: 'Scania Sans', arial, helvetica, sans-serif;
$tds-headline-02-size: 32px;
$tds-headline-02-weight: bold;
$tds-headline-02-ls: -0.04em;
$tds-headline-02-lh: 32px;
$tds-headline-03: 'Scania Sans', arial, helvetica, sans-serif;
$tds-headline-03-size: 24px;
$tds-headline-03-weight: bold;
$tds-headline-03-ls: -0.03em;
$tds-headline-03-lh: 24px;
$tds-headline-04: 'Scania Sans', arial, helvetica, sans-serif;
$tds-headline-04-size: 20px;
$tds-headline-04-weight: bold;
$tds-headline-04-ls: -0.02em;
$tds-headline-04-lh: 24px;
$tds-headline-05: 'Scania Sans', arial, helvetica, sans-serif;
$tds-headline-05-size: 16px;
$tds-headline-05-weight: bold;
$tds-headline-05-ls: -0.02em;
$tds-headline-05-lh: 24px;
$tds-headline-06: 'Scania Sans', arial, helvetica, sans-serif;
$tds-headline-06-size: 14px;
$tds-headline-06-weight: bold;
$tds-headline-06-ls: -0.02em;
$tds-headline-06-lh: 16px;
$tds-headline-07: 'Scania Sans Semi Condensed', arial, helvetica, sans-serif;
$tds-headline-07-size: 14px;
$tds-headline-07-weight: bold;
$tds-headline-07-ls: -0.01em;
$tds-headline-07-lh: 16px;

// Paragraph
$tds-paragraph-01: 'Scania Sans', arial, helvetica, sans-serif;
$tds-paragraph-01-size: 24px;
$tds-paragraph-01-ls: -0.03em;
$tds-paragraph-01-lh: 32px;
$tds-paragraph-02: 'Scania Sans', arial, helvetica, sans-serif;
$tds-paragraph-02-size: 20px;
$tds-paragraph-02-ls: -0.01em;
$tds-paragraph-02-lh: 24px;

// Body
$tds-body-01: 'Scania Sans', arial, helvetica, sans-serif;
$tds-body-01-size: 16px;
$tds-body-01-ls: -0.02em;
$tds-body-01-lh: 24px;
$tds-body-02: 'Scania Sans', arial, helvetica, sans-serif;
$tds-body-02-size: 14px;
$tds-body-02-ls: -0.02em;
$tds-body-02-lh: 20px;

// Detail
$tds-detail-01: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica, sans-serif;
$tds-detail-01-size: 16px;
$tds-detail-01-ls: -0.01em;
$tds-detail-01-lh: 24px;
$tds-detail-02: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica, sans-serif;
$tds-detail-02-size: 14px;
$tds-detail-02-ls: -0.01em;
$tds-detail-02-lh: 16px;
$tds-detail-03: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica, sans-serif;
$tds-detail-03-size: 14px;
$tds-detail-03-ls: -0.01em;
$tds-detail-03-lh: 20px;
$tds-detail-04: 'Scania Sans', arial, helvetica, sans-serif;
$tds-detail-04-size: 12px;
$tds-detail-04-weight: bold;
$tds-detail-04-ls: 0.08em;
$tds-detail-04-lh: 16px;
$tds-detail-04-tt: uppercase; // text transformation
$tds-detail-05: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica, sans-serif;
$tds-detail-05-size: 12px;
$tds-detail-05-ls: 0;
$tds-detail-05-lh: 16px;
$tds-detail-06: 'Scania Sans', arial, helvetica, sans-serif;
$tds-detail-06-size: 10px;
$tds-detail-06-weight: bold;
$tds-detail-06-ls: 0.08em;
$tds-detail-06-lh: 16px;
$tds-detail-06-tt: uppercase;
$tds-detail-07: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica, sans-serif;
$tds-detail-07-size: 10px;
$tds-detail-07-ls: 0;
$tds-detail-07-lh: 8px;

// Spacing
$tds-spacing-element-16: 16px;

:root {
  --white: #{$white};
  --black: #{$black};
  --grey-50: #{$grey-50};
  --grey-100: #{$grey-100};
  --grey-200: #{$grey-200};
  --grey-300: #{$grey-300};
  --grey-400: #{$grey-400};
  --grey-500: #{$grey-500};
  --grey-600: #{$grey-600};
  --grey-700: #{$grey-700};
  --grey-800: #{$grey-800};
  --grey-846: #{$grey-846};
  --grey-868: #{$grey-868};
  --grey-900: #{$grey-900};
  --grey-958: #{$grey-958};
  --blue-50: #{$blue-50};
  --blue-100: #{$blue-100};
  --blue-200: #{$blue-200};
  --blue-300: #{$blue-300};
  --blue-400: #{$blue-400};
  --blue-500: #{$blue-500};
  --blue-600: #{$blue-600};
  --blue-700: #{$blue-700};
  --blue-800: #{$blue-800};
  --blue-900: #{$blue-900};
  --tds-headline-01-font: #{$tds-headline-01};
  --tds-headline-01-size: #{$tds-headline-01-size};
  --tds-headline-01-weight: #{$tds-headline-01-weight};
  --tds-headline-01-ls: #{$tds-headline-01-ls};
  --tds-headline-01-lh: #{$tds-headline-01-lh};
  --tds-headline-02-font: #{$tds-headline-02};
  --tds-headline-02-size: #{$tds-headline-02-size};
  --tds-headline-02-weight: #{$tds-headline-02-weight};
  --tds-headline-02-ls: #{$tds-headline-02-ls};
  --tds-headline-02-lh: #{$tds-headline-02-lh};
  --tds-headline-03-font: #{$tds-headline-03};
  --tds-headline-03-size: #{$tds-headline-03-size};
  --tds-headline-03-weight: #{$tds-headline-03-weight};
  --tds-headline-03-ls: #{$tds-headline-03-ls};
  --tds-headline-03-lh: #{$tds-headline-03-lh};
  --tds-headline-04-font: #{$tds-headline-04};
  --tds-headline-04-size: #{$tds-headline-04-size};
  --tds-headline-04-weight: #{$tds-headline-04-weight};
  --tds-headline-04-ls: #{$tds-headline-04-ls};
  --tds-headline-04-lh: #{$tds-headline-04-lh};
  --tds-headline-05-font: #{$tds-headline-05};
  --tds-headline-05-size: #{$tds-headline-05-size};
  --tds-headline-05-weight: #{$tds-headline-05-weight};
  --tds-headline-05-ls: #{$tds-headline-05-ls};
  --tds-headline-05-lh: #{$tds-headline-05-lh};
  --tds-headline-06-font: #{$tds-headline-06};
  --tds-headline-06-size: #{$tds-headline-06-size};
  --tds-headline-06-weight: #{$tds-headline-06-weight};
  --tds-headline-06-ls: #{$tds-headline-06-ls};
  --tds-headline-06-lh: #{$tds-headline-06-lh};
  --tds-headline-07-font: #{$tds-headline-07};
  --tds-headline-07-size: #{$tds-headline-07-size};
  --tds-headline-07-weight: #{$tds-headline-07-weight};
  --tds-headline-07-ls: #{$tds-headline-07-ls};
  --tds-headline-07-lh: #{$tds-headline-07-lh};
  --tds-paragraph-01-font: #{$tds-paragraph-01};
  --tds-paragraph-01-size: #{$tds-paragraph-01-size};
  --tds-paragraph-01-ls: #{$tds-paragraph-01-ls};
  --tds-paragraph-01-lh: #{$tds-paragraph-01-lh};
  --tds-paragraph-02-font: #{$tds-paragraph-02};
  --tds-paragraph-02-size: #{$tds-paragraph-02-size};
  --tds-paragraph-02-ls: #{$tds-paragraph-02-ls};
  --tds-paragraph-02-lh: #{$tds-paragraph-02-lh};
  --tds-body-01-font: #{$tds-body-01};
  --tds-body-01-size: #{$tds-body-01-size};
  --tds-body-01-ls: #{$tds-body-01-ls};
  --tds-body-01-lh: #{$tds-body-01-lh};
  --tds-body-02-font: #{$tds-body-02};
  --tds-body-02-size: #{$tds-body-02-size};
  --tds-body-02-ls: #{$tds-body-02-ls};
  --tds-body-02-lh: #{$tds-body-02-lh};
  --tds-detail-01-font: #{$tds-detail-01};
  --tds-detail-01-size: #{$tds-detail-01-size};
  --tds-detail-01-ls: #{$tds-detail-01-ls};
  --tds-detail-01-lh: #{$tds-detail-01-lh};
  --tds-detail-02-font: #{$tds-detail-02};
  --tds-detail-02-size: #{$tds-detail-02-size};
  --tds-detail-02-ls: #{$tds-detail-02-ls};
  --tds-detail-02-lh: #{$tds-detail-02-lh};
  --tds-detail-03-font: #{$tds-detail-03};
  --tds-detail-03-size: #{$tds-detail-03-size};
  --tds-detail-03-ls: #{$tds-detail-03-ls};
  --tds-detail-03-lh: #{$tds-detail-03-lh};
  --tds-detail-04-font: #{$tds-detail-04};
  --tds-detail-04-size: #{$tds-detail-04-size};
  --tds-detail-04-weight: #{$tds-detail-04-weight};
  --tds-detail-04-ls: #{$tds-detail-04-ls};
  --tds-detail-04-lh: #{$tds-detail-04-lh};
  --tds-detail-04-tt: #{$tds-detail-04-tt};
  --tds-detail-05-font: #{$tds-detail-05};
  --tds-detail-05-size: #{$tds-detail-05-size};
  --tds-detail-05-ls: #{$tds-detail-05-ls};
  --tds-detail-05-lh: #{$tds-detail-05-lh};
  --tds-detail-06-font: #{$tds-detail-06};
  --tds-detail-06-size: #{$tds-detail-06-size};
  --tds-detail-06-weight: #{$tds-detail-06-weight};
  --tds-detail-06-ls: #{$tds-detail-06-ls};
  --tds-detail-06-lh: #{$tds-detail-06-lh};
  --tds-detail-06-tt: #{$tds-detail-06-tt};
  --tds-detail-07-font: #{$tds-detail-07};
  --tds-detail-07-size: #{$tds-detail-07-size};
  --tds-detail-07-ls: #{$tds-detail-07-ls};
  --tds-detail-07-lh: #{$tds-detail-07-lh};
  --tds-spacing-element-16: #{$tds-spacing-element-16};
}
