@use '../../../mixins/z-index' as *;
@use '../../../mixins/box-sizing' as *;
@use '../../../mixins/focus-state' as *;
@use '../../../mixins/scrollbar' as *;
@use '../../../../../../typography/mixins/type-styles' as *;
@use './tl-modal-vars' as *;

// Screen breakpoints
$screen-s: 320px;
$screen-md: 672px;
$screen-l: 1056px;
$screen-xl: 1312px;
$screen-xxl: 1584px;

// Modal dimensions
$modal-max-height: 85vh;
$modal-actions-height: 36px;
$scrollbar-width: 6px;
$scrollbar-radius: 3px;

// Modal width mappings
$modals: (
  $screen-s: (
    xs: 100%,
    sm: 100%,
    md: 100%,
    lg: 100%,
  ),
  $screen-md: (
    xs: 50%,
    sm: 62.5%,
    md: 75%,
    lg: 100%,
  ),
  $screen-l: (
    xs: 31.25%,
    sm: 43.75%,
    md: 62.5%,
    lg: 75%,
  ),
  $screen-xl: (
    xs: 31.25%,
    sm: 37.5%,
    md: 62.5%,
    lg: 75%,
  ),
  $screen-xxl: (
    xs: 25%,
    sm: 37.5%,
    md: 50%,
    lg: 75%,
  ),
);

/* MIXINS */

@mixin modal-scrollbar {
  @include tds-scrollbar;
}

.tl-modal {
  @include tds-box-sizing;

  background-color: var(--modal-background);
  box-shadow: var(--modal-shadow);
  margin: auto;
  position: relative;
  border-radius: 4px;
  max-height: $modal-max-height;
  overflow-y: auto;
  pointer-events: auto;
  z-index: 1001;
  @include modal-scrollbar;

  display: none;

  &--visible {
    display: block;
  }

  &--visible#{&}--sticky {
    display: flex;
    flex-direction: column;
  }

  &--sticky {
    overflow: hidden;
  }
}

// Responsive width classes
@each $screen, $modals in $modals {
  @media (min-width: $screen) {
    @each $modal, $value in $modals {
      .tl-modal--#{$modal} {
        width: $value;
      }
    }
  }
}

@media (max-width: $screen-s) {
  .tl-modal--md,
  .tl-modal--lg,
  .tl-modal--sm {
    height: 100%;
  }
}

.tl-modal__header {
  display: flex;
  padding: 16px;
  position: sticky;
  top: 0;
  background-color: var(--modal-background);
  z-index: 1;
}

.tl-modal__title {
  @include headline-05;

  color: var(--modal-text);
  margin: 0;
  flex: 1;
}

.tl-modal__body {
  @include body-01;

  color: var(--modal-text);
  padding: 0 16px 16px;
  @include modal-scrollbar;

  .tl-modal--sticky & {
    max-height: calc(#{$modal-max-height} - #{$modal-actions-height});
    overflow-y: auto;
  }
}

.tl-modal__actions {
  background-color: var(--modal-background);
  padding: 24px 16px 16px;
  display: flex;
  gap: 16px;

  .tl-modal--sticky & {
    position: sticky;
    bottom: 0;
  }
}

.tl-modal__close {
  margin: 0 0 auto auto;
  background-color: transparent;
  border: 0;
  padding: 0;
  appearance: unset;
  display: inline-block;
  height: auto;
  color: var(--modal-text);
  cursor: pointer;

  &:focus {
    @include tds-focus-state;
  }
}

.tl-modal__overlay {
  @include tds-box-sizing;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-backdrop);
  pointer-events: auto;
  z-index: 1000;
  display: none;

  &.tl-modal--visible {
    display: block;
  }
}
