html {
  height: 100%;
}

body,
#root {
  min-height: 100%;
}

h1 {
  font-family: var(--headline-01-font-family);
}

h2 {
  font-family: var(--headline-02-font-family);
}

h3 {
  font-family: var(--headline-03-font-family);
}

h4 {
  font-family: var(--headline-04-font-family);
}

h5 {
  font-family: var(--headline-05-font-family);
}

h6 {
  font-family: var(--headline-06-font-family);
}

p,
ul>li {
  font-family: var(--body-01-font-family);
}

*:has(> .docblock-code-toggle) {
  /* This is the "show code" buttons that appears in examples under the docs tab. */
  /* Known issue: :has is not currently supported in firefox */
  position: relative;
  z-index: 100000 !important;
  /* show above things like modals, headers, etc */
}

::-webkit-scrollbar {
  width: 4px;
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tds-grey-300);
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* TODO: Find a way to apply dark mode to the docs story and notes that will cover all its elements, toolbars and controls*/

:root,
.tds-mode-light .docs-story {
  color: var(--color-text-strong);
  background-color: var(--color-background-base);
}

.tds-mode-light.tds-mode-variant-secondary .docs-story {
  background-color: var(--color-background-layer-01);
}

.tds-mode-dark .docs-story {
  color: var(--color-text-strong);
  background-color: var(--color-background-base);
}

.tds-mode-dark.tds-mode-variant-secondary .docs-story {
  background-color: var(--color-background-layer-01);
}

/* Force code examples in markdown (readme/notes) to use white background with dark text */
.sbdocs-content pre code {
  background-color: white !important;
  color: var(--tds-grey-950) !important;
}