:root,
.tds-mode-light {
  /* NEW THEME VARS */
  --tds-folder-tab-background-selected: var(--tds-white);
  --tds-folder-tab-background: var(--tds-grey-100);
  --tds-folder-tab-background-hover: var(--tds-grey-200);
  --tds-folder-tab-color: var(--tds-blue-900);
  --tds-folder-tab-color-opacity: 0.6;
  --tds-folder-tab-color-opacity-disabled: 0.16;
  --tds-folder-tab-color-opacity-selected: 1;
  --tds-folder-tab-color-opacity-focus: 1;
  --tds-folder-tab-color-opacity-hover: 1;
  --tds-folder-tab-border-selected: var(--tds-blue-400);
  --tds-folder-tabs-scroll-btn-background: var(--tds-folder-tab-background-primary);
  --tds-folder-tabs-scroll-btn-background-hover: var(--tds-grey-300);
  --tds-folder-tabs-scroll-btn-background-active: var(--tds-grey-400);
  --tds-folder-tabs-scroll-btn-color: var(--tds-grey-958);
  --tds-folder-tab-background-primary: var(--tds-grey-100);
  --tds-folder-tab-background-secondary: var(--tds-grey-100);
  --tds-folder-tab-background: var(--tds-folder-tab-background-primary);
  --tds-folder-tab-background-selected-primary: var(--tds-white);
  --tds-folder-tab-background-selected-secondary: var(--tds-grey-50);
  --tds-folder-tab-divider-color: rgb(0 21 51 / 16%);
  --tds-folder-tab-item-color: rgb(0 21 51 / 60%);
  --tds-folder-tab-item-color-disabled: rgb(0 21 51 / 16%);

  .tds-mode-variant-primary {
    --tds-folder-tab-background-selected: var(--tds-folder-tab-background-selected-primary);
    --tds-folder-tab-background: var(--tds-folder-tab-background-primary);
  }

  .tds-mode-variant-secondary {
    --tds-folder-tab-background-selected: var(--tds-folder-tab-background-selected-secondary);
    --tds-folder-tab-background: var(--tds-folder-tab-background-secondary);
  }
}

.tds-mode-dark {
  /* NEW THEME VARS */
  --tds-folder-tab-background-selected: var(--tds-grey-900);
  --tds-folder-tab-background: var(--tds-grey-846);
  --tds-folder-tab-background-hover: var(--tds-grey-800);
  --tds-folder-tab-color: var(--tds-grey-50);
  --tds-folder-tab-color-opacity: 0.6;
  --tds-folder-tab-color-opacity-disabled: 0.16;
  --tds-folder-tab-color-opacity-selected: 1;
  --tds-folder-tab-color-opacity-focus: 1;
  --tds-folder-tab-color-opacity-hover: 1;
  --tds-folder-tab-border-selected: var(--tds-blue-400);
  --tds-folder-tabs-scroll-btn-color: var(--tds-grey-50);
  --tds-folder-tabs-scroll-btn-background: var(--tds-folder-tab-background-primary);
  --tds-folder-tabs-scroll-btn-background-hover: var(--tds-grey-900);
  --tds-folder-tabs-scroll-btn-background-active: var(--tds-grey-900);
  --tds-folder-tab-background-primary: var(--tds-grey-846);
  --tds-folder-tab-background-secondary: var(--tds-grey-846);
  --tds-folder-tab-background: var(--tds-folder-tab-background-primary);
  --tds-folder-tab-background-selected-primary: var(--tds-grey-900);
  --tds-folder-tab-background-selected-secondary: var(--tds-grey-868);
  --tds-folder-tab-divider-color: var(--tds-blue-100);
  --tds-folder-tab-item-color: rgb(228 233 241 / 60%);
  --tds-folder-tab-item-color-disabled: rgb(228 233 241 / 60%);

  .tds-mode-variant-primary {
    --tds-folder-tab-background-selected: var(--tds-folder-tab-background-selected-primary);
    --tds-folder-tab-background: var(--tds-folder-tab-background-primary);
  }

  .tds-mode-variant-secondary {
    --tds-folder-tab-background-selected: var(--tds-folder-tab-background-selected-secondary);
    --tds-folder-tab-background: var(--tds-folder-tab-background-secondary);
  }
}
