@use '../../../../../../tokens/scss/component/link';

/* Component variables */

.tl-link {
  --link: var(--component-link-text-accent-default);
  --link-hover: var(--component-link-text-accent-hover);
  --link-focus-outline-width: 2px;
  --link-visited: var(--component-link-text-accent-visited);
  --link-opacity-disabled: calc(var(--component-link-opacity-disabled) / 100);
  --link-focus-outline-color: var(--color-system-info-default);
}

.tl-banner .tl-link {
  --link: var(--color-text-strong);
  --link-hover: var(--color-text-strong);
  --link-visited: var(--color-text-strong);
}

.tl-toast .tl-link {
  --link: var(--color-text-inverse-strong);
  --link-hover: var(--color-text-inverse-strong);
  --link-visited: var(--color-text-inverse-strong);
}

.traton .tl-link {
  --link-focus-outline-width: 2px;
}
