@import '../../../mixins/box-sizing';

:host,
.tds-table {
  border-collapse: collapse;
  display: table;
  @include tds-box-sizing;
}

:host(.tds-table--responsive),
.tds-table--responsive {
  width: 100%;
}
