@use '../../../mixins/box-sizing' as *;
@use '../../../../../../typography/mixins/type-styles' as *;

:host {
  display: contents;
}

:host(.tds-table__body-cell) td {
  @include tds-box-sizing;
  @include type-system-body-01;

  box-sizing: border-box;
  color: var(--tds-table-body-cell-text-color);
  padding: var(--unit-16);
  min-width: 192px;
  background-color: var(--tds-table-background);
  transition: background-color 200ms ease;
}

:host(.tds-table__body-cell--hover) td {
  background-color: var(--tds-table-body-cell-background-hover);
}

:host(.tds-table__compact) td {
  padding: var(--unit-8) var(--unit-16);
}

:host(.tds-table--divider) td {
  border-right: 1px solid var(--tds-table-divider);
}

:host(.tds-table--divider:last-of-type) td {
  border-right: none;
}

:host(.tds-table--no-min-width) td {
  min-width: unset;
}
