@import '../../../mixins/box-sizing';

:host(.tds-table__body-cell) {
  @include tds-box-sizing;

  font: var(--tds-detail-02);
  letter-spacing: var(--tds-detail-02-ls);
  display: table-cell;
  box-sizing: border-box;
  color: var(--tds-table-color);
  padding: var(--tds-spacing-element-16);
  min-width: 192px;
  vertical-align: top;
  background-color: transparent;
  transition: background-color 200ms ease;
}

:host(.tds-table__body-cell--no-padding) {
  padding: 0;
}

:host(.tds-table__body-cell--hover) {
  background-color: var(--tds-table-body-cell-background-hover);
}

:host(.tds-table__compact) {
  padding: var(--tds-spacing-element-8) var(--tds-spacing-element-16);
}

:host(.tds-table--divider) {
  border-right: 1px solid var(--tds-table-divider);
}

:host(.tds-table--divider:last-of-type) {
  border-right: none;
}

:host(.tds-table--no-min-width) {
  min-width: unset;
}
