name: "Chromatic"
on: push

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v1
        - name: Install dependencies
          run: npm install
        - name: Publish to Chromatic
          working-directory: packages/core 
          run: |
            npm install
            npm run build
            npm run build-storybook
            npx chromatic --project-token=${{secrets.CHROMATIC_PROJECT_TOKEN}} 
          
