name: Release @scania/tegel
on:
  workflow_dispatch:
    inputs:
      nodeVersion:
        description: 'Node version'
        required: true
        default: '20.9.0'
        type: string

      tags:
        description: 'Tag'
        required: true
        default: 'beta'
        type: choice
        options:
          - latest
          - beta
          - dev

      dryRun:
        description: 'Dry run'
        required: false
        default: true
        type: boolean

jobs:
  release-core:
    runs-on: ubuntu-latest
    env:
      WORKING_DIRECTORY: packages/core
    steps:

      - name: Fail if branch is not main
        if: github.event_name == 'workflow_dispatch' && github.ref != 'refs/heads/main'
        run: |
          echo "This workflow should not be triggered on a branch other than main"
          exit 1

      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up node
        # Setup .npmrc file to publish to npm
        uses: actions/setup-node@v3
        with:
          node-version: ${{ github.event.inputs.nodeVersion }}
          registry-url: 'https://registry.npmjs.org'

      - name: Set Tegel user
        run: git config --global user.name "Tegel - Scania" && git config --global user.email "tegel.design.system@gmail.com"

      - name: Core - Read Package.json Version
        id: version
        run: echo "::set-output name=version::$(jq -r .version package.json)"
        working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Core - npm install
        run: npm install
        working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Core - Run build
        run: npm run build
        working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Core - Publish
        run: |
          if [ "${{ github.event.inputs.dryRun }}" == "true" ]; then
            npm publish --tag ${{ github.event.inputs.tags }} --dry-run
          else
            npm publish --tag ${{ github.event.inputs.tags }}
          fi
        working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Core - Create git tag
        run: git tag @scania/tegel@${{ steps.version.outputs.version }}

      - name: Core - Push git tag
        run: git push origin @scania/tegel@${{ steps.version.outputs.version }}
        
    outputs:
      version: ${{ steps.version.outputs.version }}


  on-failure:
    needs: release-core
    runs-on: ubuntu-latest
    if: always() && needs.release-core.result == 'failure'

    steps:
      - name: Remove branch and git tag on failure
        run: |
          tagname="@scania/tegel@${{ needs.release-core.outputs.version }}"
          git push --delete origin $tagname
