@import '../../../../../typography/utilities/typography-utility';
@import './box-shadow';

:host {
  // compensate for box shadow
  padding-bottom: 1px;

  button {
    all: unset;
    @include box-shadow;

    height: 100%;
    width: 100%;
    background-color: var(--dropdown-background);
    border-radius: var(--dropdown-border-radius);
    transition: box-shadow var(--tds-motion-duration-fast-02) var(--tds-motion-easing-scania);

    &:hover {
      @include box-shadow('hover');
    }

    .value-wrapper {
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.placeholder {
      color: var(--dropdown-placeholder);
      line-height: 1.3;
    }

    &.value {
      @include detail-02;

      color: var(--dropdown-text);

      /** Needed to not get be affected by overflow:hidden
      The original line-height is 1.14 */
      line-height: 1.3;
    }

    &:focus {
      @include box-shadow('focus');
    }

    &:active {
      @include box-shadow('active');
    }

    &.error {
      @include box-shadow('error');

      &:hover {
        @include box-shadow('error-hover');
      }

      &:focus {
        @include box-shadow('error-focus');
      }
    }

    &:disabled {
      @include box-shadow('disabled');

      color: var(--dropdown-disabled);
    }

    .menu-icon {
      margin-right: 0;
    }
  }
}
