@use '../../mixins/z-index' as *;
@use '../../mixins/dropdown-border' as *;
@use './dropdown-button' as *;
@use './dropdown-filter' as *;
@use '../../mixins/scrollbar' as *;
@use '../../mixins/focus-state' as *;
@use '../../../../../typography/mixins/type-styles' as *;

:host {
  @include type-system-body-01;

  display: block;
  position: relative;

  .label-outside {
    @include label-01;

    color: var(--tds-dropdown-label-color);
    margin-bottom: 4px;

    &.disabled {
      opacity: var(--tds-dropdown-disabled-opacity);
      color: var(--tds-dropdown-disabled-color);
    }
  }

  .dropdown-select {
    position: relative;

    button {
      @include tds-dropdown-border;
    }

    &:not(.disabled) {
      button {
        transition: border-color var(--tds-motion-duration-fast-02) var(--tds-motion-easing-scania);

        &:hover {
          @include tds-dropdown-border-hover;
        }

        &:focus {
          @include tds-focus-state;
        }

        &.error {
          @include tds-dropdown-border-error;
        }
      }
    }

    &.disabled {
      opacity: var(--tds-dropdown-disabled-opacity);

      .label-inside,
      .placeholder,
      .label-inside-as-placeholder,
      .value-wrapper,
      .menu-icon {
        color: var(--tds-dropdown-disabled-color);
      }
    }

    .label-inside {
      @include type-system-body-01;

      position: absolute;
      color: var(--tds-dropdown-label-inside-color);
      left: 16px;
      transition: all 0.2s ease-in-out;

      &.lg {
        top: 20px;
      }

      &.sm.floated {
        display: none;
      }

      &.xs.floated {
        display: none;
      }

      & + .placeholder:not(.sm) {
        margin-top: 8px;
      }

      &.floated {
        @include label-02;

        &.lg {
          top: 12px;
        }

        &.md {
          top: 8px;
        }
      }
    }

    .placeholder {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: var(--tds-placeholder-margin);
      margin-top: 4px;

      /* To center the text vertically */
      &.xs {
        line-height: 1;
        margin-top: 0;
      }
    }

    .label-inside-as-placeholder {
      color: var(--tds-dropdown-placeholder-color);

      &.selected {
        @include label-02;

        position: absolute;
        transition: all 0.2s ease-in-out;

        &.lg {
          top: 12px;
        }

        &.md {
          top: 8px;
        }

        &.sm {
          display: none;
        }

        & + .placeholder:not(.sm) {
          margin-top: 8px;
        }
      }
    }

    &.lg {
      height: 56px;
    }

    &.md {
      height: 48px;
    }

    &.sm {
      height: 40px;
    }

    &.xs {
      height: 30px;
    }
  }

  .helper {
    @include label-01;

    margin-top: 4px;
    color: var(--tds-dropdown-helper-color);
    display: flex;
    align-items: center;
    gap: 8px;

    &.error {
      color: var(--tds-dropdown-error);
    }

    &.disabled {
      opacity: var(--tds-dropdown-disabled-opacity);
      color: var(--tds-dropdown-disabled-color);
    }
  }

  .dropdown-list {
    z-index: tds-z-index(dropdown);
    position: absolute;
    width: 100%;
    transform-origin: top;
    box-shadow: var(--tds-dropdown-list-box-shadow);
    border-radius: var(--tds-dropdown-list-border-radius);
    overflow-y: auto;
    transform: scaleY(0);
    pointer-events: none;
    background-color: var(--tds-dropdown-bg);
    @include tds-scrollbar;

    &.lg {
      max-height: 312px;
    }

    &.md {
      max-height: 312px;
    }

    &.sm {
      max-height: 260px;
    }

    &.xs {
      max-height: 260px;
    }

    &.up {
      bottom: 100%;
      margin-top: 0;
      margin-bottom: 1px;
      transform-origin: bottom;
      display: flex;
      flex-direction: column-reverse;
      border-radius: var(--tds-dropdown-list-border-radius);

      &.label-outside {
        bottom: calc(100% - 24px);
      }
    }

    &.closed {
      transform: scaleY(0);
      pointer-events: none;
    }

    &.open {
      transform: scaleY(1);
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    &.animation-enter-slide {
      transition: transform var(--tds-motion-duration-moderate-01) var(--tds-motion-easing-enter);
    }

    &.animation-exit-slide {
      transition: transform var(--tds-motion-duration-moderate-01) var(--tds-motion-easing-exit);
    }

    .no-result {
      @include type-system-body-01;

      display: flex;
      align-items: center;
      padding: 0 16px;
      background-color: var(--tds-dropdown-bg);

      &.lg {
        height: 56px;
      }

      &.md {
        height: 48px;
      }

      &.sm {
        height: 40px;
      }

      &.xs {
        height: 40px;
      }
    }
  }

  .menu-icon {
    color: var(--tds-dropdown-menu-icon-color);
  }

  .clear-icon {
    cursor: pointer;
    flex-shrink: 0;
    margin: 0;
    margin-right: 8px;
    color: var(--tds-dropdown-clear-icon-color);
    padding-right: 8px;
    border-right: 1px solid var(--tds-dropdown-clear-icon-color);

    &:hover {
      color: var(--tds-dropdown-clear-icon-hover-color);
    }

    &.hide {
      display: none;
      visibility: hidden;
    }
  }

  tds-icon {
    transition: transform var(--tds-motion-duration-fast-02) var(--tds-motion-easing-scania);

    &.open {
      transform: rotateZ(180deg);
    }
  }
}
