@import '../../mixins/z-index';
@import './dropdown-button';
@import './dropdown-filter';
@import '../../mixins/scrollbar';
@import '../../../../../typography/utilities/typography-utility';

:host {
  @include detail-02;

  display: block;
  position: relative;

  .label-outside {
    @include detail-05;

    color: var(--dropdown-text);
    margin-bottom: 8px;

    &.disabled {
      color: var(--dropdown-disabled);
    }
  }

  .dropdown-select {
    position: relative;

    &.disabled {
      .label-inside,
      .placeholder,
      .label-inside-as-placeholder,
      .value-wrapper {
        color: var(--dropdown-disabled);
      }
    }

    .label-inside {
      @include detail-07;

      position: absolute;
      color: var(--dropdown-text);

      &.lg {
        top: 12px;
        left: 16px;
      }

      &.md {
        top: 8px;
        left: 16px;
      }

      &.sm,
      &.xs {
        display: none;
      }

      & + .placeholder:not(.sm) {
        margin-top: 8px;
      }
    }

    .placeholder {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: var(--tds-placeholder-margin);

      /* To center the text vertically */
      &.xs {
        line-height: 1;
      }
    }

    .label-inside-as-placeholder {
      color: var(--dropdown-placeholder);

      &.selected {
        @include detail-07;

        position: absolute;
        transition: all 0.2s ease-in-out;

        &.lg {
          top: 12px;
        }

        &.md {
          top: 8px;
        }

        &.sm {
          display: none;
        }

        & + .placeholder:not(.sm) {
          margin-top: 8px;
        }
      }
    }

    &.lg {
      height: 55px;
    }

    &.md {
      height: 47px;
    }

    &.sm {
      height: 39px;
    }

    &.xs {
      height: 29px;
    }
  }

  .helper {
    @include detail-05;

    padding-top: var(--tds-spacing-element-4);
    color: var(--dropdown-helper-text);
    display: flex;
    align-items: center;
    gap: 8px;

    &.error {
      color: var(--dropdown-error);
    }

    &.disabled {
      color: var(--dropdown-disabled);
    }
  }

  .dropdown-list {
    @include tds-scrollbar;

    z-index: tds-z-index(dropdown);
    position: absolute;
    margin-top: 2px;
    width: 100%;
    transform-origin: top;
    box-shadow: rgb(0 0 0 / 10%) 0 2px 3px 0;
    border-radius: var(--dropdown-list-border-radius-down);
    overflow-y: auto;
    transform: scaleY(0);
    pointer-events: none;

    &.lg {
      max-height: 312px;
    }

    &.md {
      max-height: 312px;
    }

    &.sm,
    &.xs {
      max-height: 260px;
    }

    &.up {
      bottom: 100%;
      margin-top: 0;
      margin-bottom: 1px;
      transform-origin: bottom;
      display: flex;
      flex-direction: column-reverse;
      box-shadow: rgb(0 0 0 / 10%) 0 -1px 3px 0;
      border-radius: var(--dropdown-list-border-radius-up);

      &.label-outside {
        bottom: calc(100% - 24px);
      }
    }

    &.closed {
      transform: scaleY(0);
      pointer-events: none;
    }

    &.open {
      transform: scaleY(1);
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    &.animation-enter-slide {
      transition: transform var(--tds-motion-duration-moderate-01) var(--tds-motion-easing-enter);
    }

    &.animation-exit-slide {
      transition: transform var(--tds-motion-duration-moderate-01) var(--tds-motion-easing-exit);
    }

    .no-result {
      @include detail-02;

      display: flex;
      align-items: center;
      padding: 0 16px;
      background-color: var(--dropdown-background);

      &.lg {
        height: 56px;
      }

      &.md {
        height: 48px;
      }

      &.sm,
      &.xs {
        height: 40px;
      }
    }
  }

  .menu-icon {
    color: var(--dropdown-icon);

    &.disabled {
      color: var(--dropdown-disabled);
    }
  }

  tds-icon {
    transition: transform var(--tds-motion-duration-fast-02) var(--tds-motion-easing-scania);

    &.open {
      transform: rotateZ(180deg);
    }
  }
}
