@import '../../mixins/z-index';
@import './dropdown-button';
@import './dropdown-filter';

// TODO: Use specific scrollbar styling to begin with instead of common mixin
// @import '../../mixins/scrollbar';
@mixin tds-dropdown-scrollbar {
  &:hover {
    &::-webkit-scrollbar-thumb {
      // Decrease the transparent border to widen the thumb
      border: var(--tds-dropdown-scrollbar-thumb-border-hover-width) solid rgb(0 0 0 / 0%);
      background-clip: padding-box;
    }
  }

  &::-webkit-scrollbar {
    width: var(--tds-dropdown-scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--tds-dropdown-scrollbar-track-color);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background: var(--tds-dropdown-scrollbar-thumb-color);

    // Since padding does not seem to work we create a transparent border on the thumb
    border: var(--tds-dropdown-scrollbar-thumb-border-width) solid rgb(0 0 0 / 0%);
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }
}

:host {
  // Only used by Firefox yet..
  --tds-dropdown-scrollbar-width-standard: thin;
  --tds-dropdown-scrollbar-width: 10px;
  --tds-dropdown-scrollbar-thumb-border-width: 3px; // => thumb thickness: 4px(10-2*3)
  --tds-dropdown-scrollbar-thumb-border-hover-width: 2px; // => thumb thickness: 6px(10-2*2)

  display: block;
  position: relative;
  font: var(--tds-detail-02);
  letter-spacing: var(--tds-detail-02-ls);

  .label-outside {
    font: var(--tds-detail-05);
    letter-spacing: var(--tds-detail-05-ls);
    color: var(--tds-dropdown-label-color);
    margin-bottom: 8px;

    &.disabled {
      color: var(--tds-dropdown-disabled-color);
    }
  }

  .dropdown-select {
    position: relative;

    &.disabled {
      .label-inside,
      .placeholder,
      .label-inside-as-placeholder,
      .value-wrapper {
        color: var(--tds-dropdown-disabled-color);
      }
    }

    .label-inside {
      position: absolute;
      font: var(--tds-detail-07);
      letter-spacing: var(--tds-detail-07-ls);
      color: var(--tds-dropdown-label-inside-color);

      &.lg {
        top: 12px;
        left: 16px;
      }

      &.md {
        top: 8px;
        left: 16px;
      }

      &.sm {
        display: none;
      }

      & + .placeholder:not(.sm) {
        margin-top: 8px;
      }
    }

    .placeholder {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .label-inside-as-placeholder {
      color: var(--tds-dropdown-placeholder-color);

      &.selected {
        position: absolute;
        font: var(--tds-detail-07);
        letter-spacing: var(--tds-detail-07-ls);
        transition: all 0.2s ease-in-out;

        &.lg {
          top: 12px;
        }

        &.md {
          top: 8px;
        }

        &.sm {
          display: none;
        }

        & + .placeholder:not(.sm) {
          margin-top: 8px;
        }
      }
    }

    &.lg {
      height: 55px;
    }

    &.md {
      height: 47px;
    }

    &.sm {
      height: 39px;
    }
  }

  .helper {
    margin-top: 4px;
    color: var(--tds-dropdown-helper-color);
    font: var(--tds-detail-05);
    letter-spacing: var(--tds-detail-05-ls);
    display: flex;
    align-items: center;
    gap: 8px;

    &.error {
      color: var(--tds-negative);
    }

    &.disabled {
      color: var(--tds-dropdown-disabled-color);
    }
  }

  .dropdown-list {
    z-index: tds-z-index(dropdown);
    position: absolute;
    margin-top: 1px;
    width: 100%;
    transform-origin: top;
    transition: transform 0.2s ease-in-out;
    box-shadow: rgb(0 0 0 / 10%) 0 2px 3px 0;
    border-radius: 0 0 4px 4px;
    overflow-y: auto;
    @include tds-dropdown-scrollbar;

    // Standard version, not webkit (Firefox only for now)
    @supports not selector(::-webkit-scrollbar) {
      scrollbar-color: var(--tds-dropdown-scrollbar-thumb-color)
        var(--tds-dropdown-scrollbar-track-color);

      // Yes, there is no way to set a specific width
      scrollbar-width: var(--tds-dropdown-scrollbar-width-standard);
    }

    &.lg {
      max-height: 312px;
    }

    &.md {
      max-height: 312px;
    }

    &.sm {
      max-height: 260px;
    }

    &.up {
      bottom: 100%;
      margin-top: 0;
      margin-bottom: 1px;
      transform-origin: bottom;
      display: flex;
      flex-direction: column-reverse;
      box-shadow: rgb(0 0 0 / 10%) 0 -1px 3px 0;
      border-radius: 4px 4px 0 0;

      &.label-outside {
        bottom: calc(100% - 24px);
      }
    }

    &.closed {
      transform: scaleY(0);
      visibility: hidden;
    }

    &.open {
      transform: scaleY(1);
    }

    .no-result {
      font: var(--tds-detail-02);
      letter-spacing: var(--tds-detail-02-ls);
      display: flex;
      align-items: center;
      padding: 0 16px;
      background-color: var(--tds-dropdown-bg);

      &.lg {
        height: 56px;
      }

      &.md {
        height: 48px;
      }

      &.sm {
        height: 40px;
      }
    }
  }

  tds-icon {
    transition: transform 0.2s ease-in-out;

    &.open {
      transform: rotateZ(180deg);
    }
  }
}
