@import '../../mixins/z-index';
@import '../../../../../typography/utilities/typography-utility';
@import './box-shadow';

:host {
  // compensate for box shadow
  padding-bottom: 1px;

  .filter {
    @include box-shadow;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: var(--dropdown-background);
    padding-left: 16px;
    border-radius: var(--dropdown-border-radius);
    transition: box-shadow var(--tds-motion-duration-fast-02) var(--tds-motion-easing-scania);

    &:hover {
      @include box-shadow('hover');
    }

    &.disabled {
      @include box-shadow('disabled');

      color: var(--dropdown-disabled);
    }

    .value-wrapper {
      display: flex;
      width: 100%;
      height: 100%;

      input {
        color: var(--dropdown-text);
      }
    }

    .label-inside-as-placeholder {
      @include detail-02;

      color: var(--dropdown-placeholder);
      position: absolute;

      /* Overwrite in order to display ÅÄÖ and similar sign correctly */
      line-height: 1.3;

      &.lg {
        top: 20px;
      }

      &.md {
        top: 16px;
      }

      &.sm {
        display: none;
      }

      &.selected {
        @include detail-07;

        transition: all 0.2s ease-in-out;

        &.lg {
          top: 12px;
        }

        &.md {
          top: 8px;
        }

        &.sm {
          display: none;
        }

        & + .placeholder:not(.sm) {
          margin-top: 8px;
        }
      }
    }

    &.focus {
      @include box-shadow('focus');

      // compensate for box shadow
      padding-bottom: 2px;
    }

    &.error {
      @include box-shadow('error');

      &.focus {
        @include box-shadow('error-focus');
      }
    }

    input {
      flex: 1;
      all: unset;
      width: 100%;

      &::placeholder {
        color: var(--dropdown-placeholder);
      }

      &:disabled {
        &::placeholder {
          color: var(--dropdown-disabled);
        }
      }
    }

    tds-icon {
      cursor: pointer;

      &.disabled {
        color: var(--dropdown-disabled);
      }
    }

    .menu-icon {
      margin-right: 16px;

      &.disabled {
        color: var(--dropdown-disabled);
      }
    }

    .clear-icon {
      margin: 0 8px;
      padding-right: 8px;
      border-right: 1px solid var(--dropdown-icon);
      color: var(--dropdown-clear-icon);

      &:hover {
        color: var(--dropdown-icon);
      }

      &.hide {
        display: none;
        visibility: hidden;
      }

      &.disabled {
        color: var(--dropdown-disabled);
      }
    }
  }
}
