@import '../../../mixins/box-sizing';
@import '../../../mixins/scrollbar';
@import './tl-table-vars';
@import '../../../../../../typography/utilities/typography-utility';
@import 'footer';

// Mixin for text alignment modifiers
@mixin text-align-modifiers($prefix) {
  .tl-table--#{$prefix}-text-align-left & {
    text-align: left;
  }

  .tl-table--#{$prefix}-text-align-start & {
    text-align: start;
  }

  .tl-table--#{$prefix}-text-align-center & {
    text-align: center;
  }

  .tl-table--#{$prefix}-text-align-right & {
    text-align: right;
  }

  .tl-table--#{$prefix}-text-align-end & {
    text-align: end;
  }
}

// Mixin for zebra striping
@mixin zebra-striping($type) {
  .tl-table--zebra-#{$type}-odd &:nth-child(odd) {
    background-color: var(--table-zebra-mode);
  }

  .tl-table--zebra-#{$type}-even &:nth-child(even) {
    background-color: var(--table-zebra-mode);
  }
}

.tl-table {
  @include tds-box-sizing;

  border-collapse: collapse;
  display: table;
  color: var(--table-text);

  &--responsive {
    width: 100%;
  }

  &--horizontal-scroll {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    @include tds-scrollbar(horizontal);
  }

  &--primary {
    --table-body-row: var(--component-table-cell);
    --table-body-row-hover: var(--component-table-cell-hover);
    --table-zebra-mode: var(--component-table-secondary-cell);
  }

  &--secondary {
    --table-body-row: var(--component-table-secondary-cell);
    --table-body-row-hover: var(--component-table-cell-hover);
    --table-zebra-mode: var(--component-table-cell);
  }
}

.tl-table__header {
  display: table-header-group;
}

.tl-table__body {
  display: table-row-group;
}

.tl-table__row {
  display: table-row;
  border-bottom: 1px solid var(--table-divider);
  background-color: var(--table-body-row);
  transition: background-color 200ms ease;
  color: var(--table-text);

  &:hover {
    background-color: var(--table-body-row-hover);
    border-bottom-color: var(--table-divider);
  }

  &--selected {
    background-color: var(--table-body-row-selected);

    &:hover {
      background-color: var(--table-body-row-selected-hover);
    }
  }

  &--clickable {
    cursor: pointer;
  }

  &--clickable:focus-visible {
    outline: 2px solid var(--table-header-button-focus);
    outline-offset: -2px;
  }

  .tl-table--zebra-rows-odd .tl-table__body &:nth-child(odd) {
    background-color: var(--table-zebra-mode);
  }

  .tl-table--zebra-rows-even .tl-table__body &:nth-child(even) {
    background-color: var(--table-zebra-mode);
  }

  .tl-table--clickable & {
    cursor: pointer;
  }
}

.tl-table__header-cell {
  display: table-cell;
  padding: 16px;
  background-color: var(--table-header);
  border-bottom: 1px solid var(--table-divider);
  @include headline-07;

  color: var(--table-text);
  text-align: left;
  transition: background-color 200ms ease;
  min-width: 192px;

  &:hover:not(&--checkbox) {
    background-color: var(--table-header-hover);
  }

  &:first-of-type {
    border-top-left-radius: 4px;
  }

  &:last-of-type {
    border-top-right-radius: 4px;
  }

  .tl-table:has(.tl-table__toolbar) &,
  &:has(.tl-table__header-input-wrapper) {
    padding: 0;

    &:first-of-type {
      border-top-left-radius: 0;
    }

    &:last-of-type {
      border-top-right-radius: 0;
    }
  }

  &--checkbox {
    min-width: 48px;
    width: 48px;
    padding: 0;
    text-align: center;
    background-color: var(--table-header);
  }

  .tl-table--compact & {
    height: 32px;
    padding: 8px 16px;

    &:has(.tl-table__header-input-wrapper) {
      padding: 0;
    }
  }

  .tl-table--vertical-dividers &:not(:last-child) {
    border-right: 1px solid var(--table-divider);
  }

  @include text-align-modifiers('header');

  .tl-table--no-min-width & {
    min-width: unset;
  }

  .tl-table--no-header-padding & {
    padding: 0;
  }

  &--sortable {
    padding: 0;
  }
}

.tl-table__header-button {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: start;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease;
  @include headline-07;

  color: var(--table-text);
  text-align: left;

  &:focus-visible {
    outline: 2px solid var(--table-header-button-focus);
    outline-offset: -2px;

    .tl-table__header-button-icon {
      opacity: 1;
    }
  }

  &:hover {
    .tl-table__header-button-icon {
      opacity: 1;
    }
  }

  .tl-table--compact & {
    padding: 0;
  }
}

.tl-table__header-button-text {
  color: var(--table-text);
  text-align: left;
}

.tl-table__header-button-icon {
  flex: 0 0 16px;
  height: 16px;
  width: 16px;
  opacity: 0;
  transform-origin: center;
  transition: opacity 200ms ease-in, transform 200ms ease;
  color: var(--table-text);
}

.tl-table__header-cell--is-sorted {
  background-color: var(--table-header-button);

  &:hover {
    background-color: var(--table-header-button-hover);
  }

  .tl-table__header-button-icon {
    opacity: 1;
  }

  .tl-table__header-button-icon--rotate {
    transform: rotate(180deg);
  }
}

.tl-table__body-cell {
  display: table-cell;
  padding: 16px;
  background-color: transparent;
  color: var(--table-text);
  @include detail-02;

  transition: background-color 200ms ease;
  min-width: 192px;

  &:hover:not(&--checkbox) {
    background-color: var(--table-body-cell-hover);
  }

  &--column-highlight {
    background-color: var(--table-body-cell-hover);
  }

  &--checkbox {
    min-width: 48px;
    width: 48px;
    padding: 0;
    text-align: center;
    background-color: inherit;
  }

  .tl-table--compact & {
    height: 32px;
    padding: 8px 16px;
  }

  .tl-table--vertical-dividers &:not(:last-child) {
    border-right: 1px solid var(--table-divider);
  }

  @include zebra-striping('columns');

  @include text-align-modifiers('cell');

  .tl-table--no-min-width & {
    min-width: unset;
  }

  .tl-table--no-padding & {
    padding: 0;
  }

  .tl-table__row:hover & {
    background-color: var(--table-body-row-hover);
  }

  .tl-table__row--selected:hover & {
    background-color: var(--table-body-row-selected-hover);
  }
}

.tl-table__toolbar {
  @include tds-box-sizing;

  display: table-caption;
  position: relative;
  background-color: var(--table-toolbar);
  color: var(--table-text);
  padding: 0 var(--tds-spacing-element-16);
  height: 64px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .tl-table--compact & {
    height: 56px;
  }
}

.tl-table__upper-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.tl-table__actionbar-left {
  display: flex;
  align-items: center;
}

.tl-table__title {
  @include headline-07;

  display: flex;
  align-self: baseline;
  text-align: left;
  letter-spacing: var(--tds-headline-07-ls);
  padding-top: var(--tds-spacing-element-16);
  margin-right: var(--tds-spacing-element-8);
}

.tl-table__actionbar-right {
  display: flex;
  align-self: center;
  column-gap: 8px;
}

.tl-table__header-input-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .tl-icon {
    color: var(--table-input-header-icon);
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;
  }
}

.tl-table__header-input {
  box-sizing: border-box;
  @include detail-02;

  color: var(--table-text);
  padding: 0 var(--tds-spacing-element-16);
  padding-left: 35px;
  height: 48px;
  width: 100%;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  outline: none;

  &::placeholder {
    color: var(--table-input-header-placeholder);
  }

  &:focus {
    background-color: var(--table-input-header-focus);
    border-bottom: 2px solid var(--color-foreground-border-accent-focus);
  }

  .tl-table--compact & {
    height: 32px;
  }
}
