@import '../../../mixins/box-sizing';
@import '../../../mixins/scrollbar';
@import './tl-table-vars';
@import '../../../../../../typography/utilities/typography-utility';

.tl-table {
  @include tds-box-sizing;

  border-collapse: collapse;
  display: table;
  color: var(--table-text);

  &--responsive {
    width: 100%;
  }

  &--horizontal-scroll {
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-background-layer-01);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 40px;
      background: var(--color-foreground-icon-subtle);
      border: 3px solid transparent;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-button {
      height: 0;
      width: 0;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        background: var(--color-foreground-icon-soft);
        background-clip: padding-box;
      }
    }

    // Firefox support
    @supports not selector(::-webkit-scrollbar) {
      scrollbar-color: var(--color-foreground-icon-subtle) var(--color-background-layer-01);
      scrollbar-width: thin;
    }
  }

  &--primary {
    --table-body-row: var(--component-table-cell);
    --table-body-row-hover: var(--component-table-cell-hover);
    --table-zebra-mode: var(--component-table-secondary-cell);
  }

  &--secondary {
    --table-body-row: var(--component-table-secondary-cell);
    --table-body-row-hover: var(--component-table-cell-hover);
    --table-zebra-mode: var(--component-table-cell);
  }
}

.tl-table__header {
  display: table-header-group;
}

.tl-table__body {
  display: table-row-group;
}

.tl-table__row {
  display: table-row;
  border-bottom: 1px solid var(--table-divider);
  background-color: var(--table-body-row);
  transition: background-color 200ms ease;
  color: var(--table-text);

  &:hover {
    background-color: var(--table-body-row-hover);
    border-bottom-color: var(--table-divider);
  }

  &--selected {
    background-color: var(--table-body-row-selected);

    &:hover {
      background-color: var(--table-body-row-selected-hover);
    }
  }

  &--clickable {
    cursor: pointer;
  }

  &--clickable:focus-visible {
    outline: 2px solid var(--table-header-button-focus);
    outline-offset: -2px;
  }

  .tl-table--zebra-rows-odd .tl-table__body &:nth-child(odd) {
    background-color: var(--table-zebra-mode);
  }

  .tl-table--zebra-rows-even .tl-table__body &:nth-child(even) {
    background-color: var(--table-zebra-mode);
  }

  .tl-table--clickable & {
    cursor: pointer;
  }
}

.tl-table__header-cell {
  display: table-cell;
  padding: 16px;
  background-color: var(--table-header);
  border-bottom: 1px solid var(--table-divider);
  @include headline-07;

  color: var(--table-text);
  text-align: left;
  transition: background-color 200ms ease;
  min-width: 192px;

  &:hover:not(&--checkbox) {
    background-color: var(--table-header-hover);
  }

  &:first-of-type {
    border-top-left-radius: 4px;
  }

  &:last-of-type {
    border-top-right-radius: 4px;
  }

  &--checkbox {
    min-width: 48px;
    width: 48px;
    padding: 0;
    text-align: center;
    background-color: var(--table-header);
  }

  .tl-table--compact & {
    height: 32px;
    padding: 8px 16px;
  }

  .tl-table--vertical-dividers &:not(:last-child) {
    border-right: 1px solid var(--table-divider);
  }

  .tl-table--header-text-align-left & {
    text-align: left;
  }

  .tl-table--header-text-align-start & {
    text-align: start;
  }

  .tl-table--header-text-align-center & {
    text-align: center;
  }

  .tl-table--header-text-align-right & {
    text-align: right;
  }

  .tl-table--header-text-align-end & {
    text-align: end;
  }

  .tl-table--no-min-width & {
    min-width: unset;
  }

  .tl-table--no-header-padding & {
    padding: 0;
  }
}

.tl-table__body-cell {
  display: table-cell;
  padding: 16px;
  background-color: transparent;
  color: var(--table-text);
  @include detail-02;

  transition: background-color 200ms ease;
  min-width: 192px;

  &:hover:not(&--checkbox) {
    background-color: var(--table-body-cell-hover);
  }

  &--column-highlight {
    background-color: var(--table-body-cell-hover);
  }

  &--checkbox {
    min-width: 48px;
    width: 48px;
    padding: 0;
    text-align: center;
    background-color: inherit;
  }

  .tl-table--compact & {
    height: 32px;
    padding: 8px 16px;
  }

  .tl-table--vertical-dividers &:not(:last-child) {
    border-right: 1px solid var(--table-divider);
  }

  .tl-table--zebra-columns-odd &:nth-child(odd) {
    background-color: var(--table-zebra-mode);
  }

  .tl-table--zebra-columns-even &:nth-child(even) {
    background-color: var(--table-zebra-mode);
  }

  .tl-table--cell-text-align-left & {
    text-align: left;
  }

  .tl-table--cell-text-align-start & {
    text-align: start;
  }

  .tl-table--cell-text-align-center & {
    text-align: center;
  }

  .tl-table--cell-text-align-right & {
    text-align: right;
  }

  .tl-table--cell-text-align-end & {
    text-align: end;
  }

  .tl-table--no-min-width & {
    min-width: unset;
  }

  .tl-table--no-padding & {
    padding: 0;
  }

  .tl-table__row:hover & {
    background-color: var(--table-body-row-hover);
  }

  .tl-table__row--selected:hover & {
    background-color: var(--table-body-row-selected-hover);
  }
}
