@import '../../../mixins/box-sizing';
@import '../../../mixins/scrollbar';
@import './tl-table-vars';
@import '../../../../../../typography/utilities/typography-utility';

.tl-table {
  @include tds-box-sizing;

  border-collapse: collapse;
  display: table;
  color: var(--table-text);

  &--responsive {
    width: 100%;
  }

  &--horizontal-scroll {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    @include tds-scrollbar(horizontal);
  }

  &--compact {
    .tl-table__header-cell,
    .tl-table__body-cell {
      height: 32px;
      padding: 8px 16px;
    }
  }

  &--vertical-dividers {
    .tl-table__header-cell:not(:last-child),
    .tl-table__body-cell:not(:last-child) {
      border-right: 1px solid var(--table-divider);
    }
  }

  &--zebra-rows-odd {
    .tl-table__body .tl-table__row:nth-child(odd) {
      background-color: var(--table-zebra-mode);
    }
  }

  &--zebra-rows-even {
    .tl-table__body .tl-table__row:nth-child(even) {
      background-color: var(--table-zebra-mode);
    }
  }

  &--zebra-columns-odd {
    .tl-table__body-cell:nth-child(odd) {
      background-color: var(--table-zebra-mode);
    }
  }

  &--zebra-columns-even {
    .tl-table__body-cell:nth-child(even) {
      background-color: var(--table-zebra-mode);
    }
  }

  &--primary {
    --table-body-row: var(--component-table-cell);
    --table-body-row-hover: var(--component-table-cell-hover);
    --table-zebra-mode: var(--component-table-secondary-cell);
  }

  &--secondary {
    --table-body-row: var(--component-table-secondary-cell);
    --table-body-row-hover: var(--component-table-cell-hover);
    --table-zebra-mode: var(--component-table-cell);
  }

  &--header-text-align-left {
    .tl-table__header-cell {
      text-align: left;
    }
  }

  &--header-text-align-start {
    .tl-table__header-cell {
      text-align: start;
    }
  }

  &--header-text-align-center {
    .tl-table__header-cell {
      text-align: center;
    }
  }

  &--header-text-align-right {
    .tl-table__header-cell {
      text-align: right;
    }
  }

  &--header-text-align-end {
    .tl-table__header-cell {
      text-align: end;
    }
  }

  &--cell-text-align-left {
    .tl-table__body-cell {
      text-align: left;
    }
  }

  &--cell-text-align-start {
    .tl-table__body-cell {
      text-align: start;
    }
  }

  &--cell-text-align-center {
    .tl-table__body-cell {
      text-align: center;
    }
  }

  &--cell-text-align-right {
    .tl-table__body-cell {
      text-align: right;
    }
  }

  &--cell-text-align-end {
    .tl-table__body-cell {
      text-align: end;
    }
  }

  &--clickable {
    .tl-table__row {
      cursor: pointer;
    }
  }

  &--no-min-width {
    .tl-table__header-cell,
    .tl-table__body-cell {
      min-width: unset;
    }
  }

  &--no-padding {
    .tl-table__body-cell {
      padding: 0;
    }
  }

  &--no-header-padding {
    .tl-table__header-cell {
      padding: 0;
    }
  }
}

.tl-table__header {
  display: table-header-group;
}

.tl-table__body {
  display: table-row-group;
}

.tl-table__row {
  display: table-row;
  border-bottom: 1px solid var(--table-divider);
  background-color: var(--table-body-row);
  transition: background-color 200ms ease;
  color: var(--table-text);

  &:hover {
    background-color: var(--table-body-row-hover);
    border-bottom-color: var(--table-divider);

    .tl-table__body-cell {
      background-color: var(--table-body-row-hover);
    }
  }

  &--selected {
    background-color: var(--table-body-row-selected);

    &:hover {
      background-color: var(--table-body-row-selected-hover);

      .tl-table__body-cell {
        background-color: var(--table-body-row-selected-hover);
      }
    }
  }

  &--clickable {
    cursor: pointer;
  }

  &--clickable:focus-visible {
    outline: 2px solid var(--table-header-button-focus);
    outline-offset: -2px;
  }
}

.tl-table__header-cell {
  display: table-cell;
  padding: 16px;
  background-color: var(--table-header);
  border-bottom: 1px solid var(--table-divider);
  @include headline-07;

  color: var(--table-text);
  text-align: left;
  transition: background-color 200ms ease;
  min-width: 192px;

  &:hover:not(&--checkbox) {
    background-color: var(--table-header-hover);
  }

  &:first-of-type {
    border-top-left-radius: 4px;
  }

  &:last-of-type {
    border-top-right-radius: 4px;
  }

  &--checkbox {
    min-width: 48px;
    width: 48px;
    padding: 0;
    text-align: center;
    background-color: var(--table-header);
  }
}

.tl-table__body-cell {
  display: table-cell;
  padding: 16px;
  background-color: transparent;
  color: var(--table-text);
  @include detail-02;

  transition: background-color 200ms ease;
  min-width: 192px;

  &:hover:not(&--checkbox) {
    background-color: var(--table-body-cell-hover);
  }

  &--column-highlight {
    background-color: var(--table-body-cell-hover);
  }

  &--checkbox {
    min-width: 48px;
    width: 48px;
    padding: 0;
    text-align: center;
    background-color: inherit;
  }
}
