@import '../../../../../../typography/utilities/typography-utility';

.tds-header-launcher-grid-title {
  all: unset;
  box-sizing: border-box;
  @include detail-04;

  color: var(--header-app-launcher-grid-category-title);
  text-transform: uppercase;
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-nav-dropdown-item-border);
  margin: 0;
}
