:root,
.tds-mode-light {
  --tds-radio-button-color: var(--tds-grey-958);
  --tds-radio-button-interaction-01: var(--tds-blue-800);
  --tds-radio-button-interaction-02: var(--tds-white);
  --tds-radio-button-background-hover: var(--tds-blue-800);
  --tds-radio-button-background-focus: var(--tds-blue-800);
  --tds-radio-button-disabled: var(--tds-grey-600);
  --tds-radio-button-border-color-disabled-after: var(--tds-grey-700);
  --tds-radio-button-color-disabled-after: var(--tds-grey-700);
  --tds-radio-button-color-disabled-before: var(--tds-grey-700);
}

.tds-mode-dark {
  --tds-radio-button-color: var(--tds-white);
  --tds-radio-button-interaction-01: var(--tds-white);
  --tds-radio-button-interaction-02: var(--tds-grey-958);
  --tds-radio-button-background-hover: var(--tds-white);
  --tds-radio-button-background-focus: var(--tds-white);
  --tds-radio-button-disabled: var(--tds-grey-600);
  --tds-radio-button-border-color-disabled-after: var(--tds-grey-700);
  --tds-radio-button-color-disabled-after: var(--tds-grey-700);
}
